<body class="list">
<div class="html">
  <div class="main">
    <header>
      <div class="header">
        <a class="ico ico-left" href="index.html"><i></i>首页</a>
        <a class="ico ico-list ico-right">分类</a>
      </div>
    </header><!-- header end -->
    <section>
      <div class="box-list">
        <div class="list-li">
          <div class="hd"><a href="detail.html"><img src="../assets/images/5.png"/></a><span class="ft">000.00</span></div>
          <div class="bd"><a href="detail.html">韩都衣舍韩国2013秋装新款女装宽松条纹拼接针织衫GW2786</a><a href="comment.html" class="ico-comment fr">8</a></div>
        </div>
        <div class="list-li">
          <div class="hd"><a href="detail.html"><img src="../assets/images/1.jpg"/></a><span class="ft">000.00</span></div>
          <div class="bd"><a href="detail.html">韩都衣舍韩国2013秋装新款女装宽松条纹拼接针织衫GW2786</a><a href="comment.html" class="ico-comment fr">8</a></div>
        </div>
        <div class="list-li">
          <div class="hd"><a href="detail.html"><img src="../assets/images/1.jpg"/></a><span class="ft">000.00</span></div>
          <div class="bd"><a href="detail.html">韩都衣舍韩国2013秋装新款女装宽松条纹拼接针织衫GW2786</a><a href="comment.html" class="ico-comment fr">8</a></div>
        </div>
        <p class="tcenter"><span class="loading">点击加载更多</span></p>
      </div>
    </section><!-- section end -->
  </div><!-- main end -->
</div><!-- html end -->
</body>