body{background:#fff799;}
.sec-text,
.sec-info,
.sec-list a{background:#fffde6; margin: 8px;padding:10px;}
.sec-text b,
.sec-list a{color:#ff6648;}
/*btn*/
.btn{
    background:#ff9500;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.btn-block{box-shadow: none; background: #ff6648;}
/*sec-game*/
.sec-game{ position: relative; background: url(/assets/app/rotor/sec-clound.png?20833sss) no-repeat center bottom, url(/assets/app/rotor/bg.jpg) no-repeat center top; background-size: 100% auto, 100% auto; background-color: #ff9500; height: 544px; padding: 190px 0 0 0; overflow: hidden;}
.sec-index{width:300px; height:300px; background:#a40000; margin:0 auto;border-radius: 1000000px; position: relative;}
.sec-index:after{ content: " "; position: absolute; width: 100%; height: 20px; background:url(/assets/app/rotor/shadow.png) no-repeat center bottom; background-size: auto 20px; bottom: -10px; left:0;}
.sec-bg img{ max-width: 100%;}
.rotor,
.rotor-wrap{ width: 100%; height: 100%; border-radius: 1000px; overflow: hidden;}
.rotor{padding: 30px;background: url(/assets/app/rotor/rotor.png) no-repeat center center #a40000; background-size: contain;}

.rotor-wrap ul,
.rotor-wrap li{ list-style: none; overflow: hidden;}
.rotor-wrap ul{ width: 100%; height: 100%; border-radius: 10000px;}
.rotor-wrap li{ width: 50%; float: left; position: relative; height: 100%;}
.rotor-wrap li:first-child{}
.rotor-wrap li:last-child{}
.rotor-wrap li a{position:absolute; display:block; width:240px; height:240px;border-radius:0 0 240px 0; display: block;top: 120px;

    background-repeat: no-repeat;
    background-size: auto 82px;
    background-position:2px 32px;
}
.rotor-wrap li a,
.rotor-wrap span{-webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -ms-transform-origin:0 0;
    -o-transform-origin:0 0;
    transform-origin:0 0;}
.rotor-wrap li:first-child a{right:-240px;}
.rotor-wrap li:last-child a{left:-240;}
.rotor-wrap li:first-child a:nth-child(2n),
.rotor-wrap li:last-child a:nth-child(2n){ }
.rotor-wrap li:first-child a:nth-child(1){-webkit-transform:rotate(-180deg);}
.rotor-wrap li:first-child a:nth-child(2){-webkit-transform:rotate(-210deg);}
.rotor-wrap li:first-child a:nth-child(3){-webkit-transform:rotate(-240deg);}
.rotor-wrap li:first-child a:nth-child(4){-webkit-transform:rotate(-270deg);}
.rotor-wrap li:first-child a:nth-child(5){-webkit-transform:rotate(-300deg);}
.rotor-wrap li:first-child a:nth-child(6){-webkit-transform:rotate(-330deg);}

.rotor-wrap li:last-child a:nth-child(6){-webkit-transform:rotate(-150deg);}
.rotor-wrap li:last-child a:nth-child(5){-webkit-transform:rotate(-120deg);}
.rotor-wrap li:last-child a:nth-child(4){-webkit-transform:rotate(-90deg);}
.rotor-wrap li:last-child a:nth-child(3){-webkit-transform:rotate(-60deg);}
.rotor-wrap li:last-child a:nth-child(2){-webkit-transform:rotate(-30deg);}
.rotor-wrap li:last-child a:nth-child(1){-webkit-transform:rotate(0deg);}
.rotor-wrap a>*,
.rotor-wrap span >*{ display: block;}
.rotor-wrap span{ position:absolute; top:0; left:0; padding: 50px 0 0 0; margin: 20px 20px 0 0px; color: #6a3906;-webkit-transform:rotate(-16deg); width: auto;
    -webkit-transform-origin:0 50%;
    -moz-transform-origin:0 50%;
    -ms-transform-origin:0 50%;
    -o-transform-origin:50%;
    transform-origin:0 50%;}
.rotor-wrap b{ font-size: 26px; padding: 0 0 0 10px; font-weight: bolder;}
.rotor-wrap small{ font-size: 18px; width:40px; font-weight: bolder;}
.rotor-wrap li:first-child a:nth-child(2n) span,
.rotor-wrap li:last-child a:nth-child(2n) span{ color: #fff;}
.rotor-btn{width: 120px; height: 120px; position: absolute; top:50%; left:50%; margin: -70px 0 0 -60px; border-radius: 1000px; background:url(/assets/app/rotor/pointer.png) no-repeat center top; background-size: contain;}


.sec-end,
.sec-start,
.sec-share{ font-size: 24px; color: #fff; text-shadow: 0 0 3px rgba(0,0,0,0.5); position: relative;line-height: 40px; padding: 0 20px; }
.stage-end .sec-game{ height: 300px;}
.sec-end{text-align: center;font-weight:bold; }
.stage-start .sec-game{ height: 420px;}
.sec-start{padding: 5% 5% 5% 0; font-size: 20px;}
.sec-start .td{text-align: right;}
.sec-start:after{ content: " "; position: absolute; width:100px; height: 67px; left: 5%; top:80px; background: url(/assets/app/rotor/sec-start.png) no-repeat left bottom; background-size: contain;}
.sec-start em{font-weight:bold;  font-style: normal; font-size: 26px;}
.sec-start span{color: #fef5aa;font-weight:bold;  }
.stage-share .sec-game{height: 420px;}
.sec-share{text-align: center;}
.sec-share>*{display:block; margin: 5px auto;}
.share-img{background: url(/assets/app/bg-share.png) no-repeat center center; width:100%; height: 142px; background-size: 100% 100%; overflow: hidden; padding: 7px;}
.share-img img{width: 100%; height:100%;}
.share-btn{background: url(/assets/app/btn-share.png) no-repeat center center; width: 178px; height: 30px; background-size: 100% 100%; overflow: hidden; margin-top: 20px;}
/*sec-bg*/
.sec-bg-bottom,
.sec-bg-top{color:#a2a2a2;position:relative; margin: 8px;}
.sec-bg-bottom{ padding:10px 10px 10px 10px;}
.sec-bg-bottom em{ position:absolute; background:url(/assets/app/rotor/sec-info.png) no-repeat right bottom; width:51px; height:55px; background-size:contain; right:-5px; bottom:-5px;}
.sec-bg-top{ padding:40px 10px 10px 10px;}
.sec-bg-top i{ font-style: normal; position:absolute; background:url(/assets/app/rotor/sec-text.png) no-repeat left top; width:141px; height:40px; background-size:contain; top:-4px; left:-8px; padding:15px 0 0 10px; color:#fff; font-weight:bold;}
/*sec-text*/
.sec-text{color:#666; line-height:20px;}
.sec-text > *{display: inline-block;}
.sec-text b{ font-weight: 100;}

/*sec-info*/
.sec-info{}
.sec-info p{ padding:5px 0;}
.sec-info p>*{display: block;}
.sec-info b{ color:#666; font-weight:300; padding: 0 0 5px 0;}

/*sec-detail*/
.sec-detail{background:#fffde1; padding-bottom: 40px;}


/*sec-list*/
.sec-list a{text-align:center; display: block;}
.sec-result{ overflow: hidden;background:#fffde6;}
.result-hd{ height: 40px; line-height: 40px; text-align: center; color: #fff;background:#ff9500; font-size: 16px;}
.mod-list{padding:10px;}
/*pop*/
.result-success .box-pop { background-image:url(/assets/app/rotor/bg-success.png); }
.result-fail .box-pop { background-image:url(/assets/app/rotor/bg-fail.png); }
.result-success .box-pop .btn{ display: block; width: 100px; margin-top: 5px;}
@media screen and (orientation:landscape) {
    .rotor{ padding: 40px;}
    .sec-index{width: 400px; height: 400px; background: #fff;}
    .rotor-wrap li a{width:320px; height:320px;border-radius:0 0 320px 0; top: 160px;background-size: auto 100px;
        background-position:5px 40px;}
    .rotor-wrap li:first-child a{right:-320px;}
    .rotor-wrap li:last-child a{left:-320;}
    .rotor-wrap span{ padding: 40px 0 0 10px;}
    .rotor-wrap span{ position:absolute; top:0; left:0; padding: 60px 0 0 5px; margin: 40px 20px 0 0px; font-size: 24px;}
    .rotor-wrap small{width:48px;}
    .rotor-btn{ width: 180px; height: 180px; margin: -100px 0 0 -90px;}

    .sec-game{ padding: 340px 0 0 0; height: 860px;}
    .stage-end .sec-game{ height: 460px;}
    .stage-start .sec-game{ height: 600px;}
    .stage-share .sec-game{height: 700px;}
    .share-img{height: 200px;}
}
