.html{overflow:auto;}
body{ background: #f0f0f0;}
.box{border: 1px solid #ccc; border-left: 0; border-right: 0; background: #fff; width: 100%; margin: 0 0 5px 0;}
.btn{
    border: 0;
    background:#ff6600;
    box-shadow: 0 1px 1px #f0843b inset;
    border-radius: 5px;
    display: block;
    width: 60%;
    color: #fff;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: auto;
    font-size: 16px;
}
.btn-gray{
    background:#bbb;
    box-shadow: 0 1px 1px #eee inset;
}
.input{ width: 100%; height: 32px; border:1px solid #ccc; border-radius: 5px; background: #fff; padding: 0 10px;}
textarea.input{ height: auto; padding: 10px;}
.fred{ color: #ff0000;}
.dirL,
.dirR,
.dirT,
.dirB{ padding: 0;}
header{ height: 40px; position: fixed; top:0; left: 0; z-index: 100; display: block;}
.dirL header,
.dirR header,
.dirT header,
.dirB header{ position: absolute; display: none;}
#sec-index{ padding: 45px 0 0 0;}
.mod-nav{ width: 100%; height: 40px; line-height: 38px; text-align: center; overflow: hidden;}
.mod-nav a{ color: #444;}
.mod-nav a.active,
.mod-nav a:active,
.mod-nav a.current{ background: #f0843b; color: #fff;}
.mod-box{word-spacing:normal; word-break:normal; word-break:break-all;}
.box-comment{border:0; background: none;}
.mod-box dl{ border-bottom: 1px solid #ccc;padding:10px; overflow: hidden;}
.mod-box dl:last-child,
.box-detail dl,
.box-comment-type{ border: 0;}
.box-detail dl:nth-child(3){ padding-bottom: 5px;}
.box-detail dl:nth-child(4){ padding-top: 0;}
.box-comment dl{ border-bottom-style: dashed;}
.mod-box dl > *{ display: table-cell; vertical-align: top; line-height: 20px; color: #888;}
.mod-box dl > *:last-child{ width: 100%;}
.box-comment dd{ width: 100%; float: left;}
.box-comment dl > *:first-child,
.box-comment-type dl > *:first-child{ padding-right: 10px;}
.mod-box dt{ color: #000;}
.mod-box dt span{ width: 80px; display: block;}
.box-comment-type dt span,
.box-comment dt span{ background: #eee; height: 80px;}
.mod-box p{word-spacing:normal;word-break:normal;word-break:break-all;}
.mod-nav img{ width: 100%; height: 100%;}
.mod-box img,
.box-detail img{ max-width: 100%; height: auto; width: auto;}
.mod-box img{float: left;}
.mod-box .btn{float: left; width: 80%;}
.box-comment p{ width: 100%; overflow: hidden; float: left;}
.box-comment dd p:first-child{color: #000;}
.box-comment dd span{font-size: 12px;}
.commetn-img img{max-width:100%;}
p.fa{ position: relative; display: block; width: 100%; height: 100%;padding-right: 20px;}
p.fa::before{ float: right; width: 20px; height: 20px; line-height: 20px; right:0; top:50%; margin: -10px 0 0 0; text-align: right; position: absolute; color: #ccc;}
i.fa{ margin-right: 5px;}
.mod-member > p{ line-height: 30px; color: #333; padding: 0 10px;}
.mod-card{ position: relative; height: 150px; overflow: hidden;margin: 10px auto;}
.mod-card::before{ position: absolute; z-index: 1; content: " "; bottom: 0; left: 0; width: 100%; height: 10px; background:url(/assets/mobile/wbusiness/bg-card.png) no-repeat center bottom; background-size:100% auto; }
.card-null{height: 100px;margin: 30px auto;}
.card-box{ width: 80%; height: 100%; border-radius: 12px 12px 0 0; margin: auto; position:relative; z-index: 0; overflow: hidden;}
.card-box img{ width: 100%; min-height: 100%; float: left; border-radius: 12px;}
.card-box p{position: absolute; padding:10px; line-height: 20px; color: #fff; }
.card-box p >*{display: block;}
.card-box p.card-logo{ top: 0; left: 0; width:100%;}
.card-box p.card-logo>*{ width: 50%; float: left;}
.card-box p img{width: 60px; height: 60px; min-height: 60px;}
.card-box p.card-info{ position: absolute; bottom:0; right: 0; width: 40%;}
.card-box p.card-info> *{ display: block; text-align: right; height: 20px; overflow: hidden;}
.mod-form{ background: #fff; color: #666;}
.mod-form .hd{ height: 40px; line-height: 40px; color: #fff;background: #f0843b; font-size: 16px;}
.mod-form .bd{ padding:10px; background: #fff;}
.form-comment{ margin:0 0 20px 0;}
.form-comment .hd{ background: none; color: #ff6600; text-align: left; border-top:1px solid #ccc; font-weight: 300;}
.form-comment .bd{padding: 5px;}
.mod-form .bd p{line-height: 30px; color: #888;}
.mod-form .ft{ border-top: 1px solid #ccc; background: #f0f0f0; text-align: center; padding:15px 15px 30px 15px;}
.mod-form .ft .btn{ display: inline-block; width: 40%; margin: 0 5px;}
.form-li{ padding: 5px 0;}
.box-comment-type .form-li{padding: 0;}
.form-li > *{ display: table-cell; line-height: 20px;}
.form-li > *:first-child{ vertical-align: top;}
.li-l b{width:60px; max-width:80px; display: block; font-weight: 100;}
.li-r{ width: 100%;}
.form-li .btn{ margin: 10px auto; width: 100%;}
.mod-list{ color: #888;word-spacing:normal; word-break:normal; word-break:break-all;}
.mod-list .list-title,
.mod-list dt,
.mod-list dd{ padding: 5px;}
.mod-list .list-title{line-height: 30px;}
.mod-list dt p{ min-height: 30px; line-height: 20px; padding-top:5px; padding-bottom: 5px;}
.mod-list dt p .fa{font-size: 16px; color: #ffcd02;}
.mod-list .list-title{color: #444;}
.mod-list dl{ border-top: 1px solid #ccc; overflow: hidden;}
.mod-list dd{height: 0; display: none; padding: 20px;}
.mod-list dl.active dd{ height: auto; display: block; border-top:1px solid #ccc;background:-webkit-gradient(linear, 0% 0%, 0% 10,from(rgba(0,0,0,0.1)),to(transparent));}
.mod-list dd > p{line-height: 30px;}
.mod-list img{ max-width: 100%;}
.mod-env{ width: 50%; text-align: center;}
.mod-env a{ width: 98%; border: 1px solid #ccc; display: inline-block; margin:5px 0; background: #fff;}
.mod-env img{max-width: 100%;}
.mod-product{ display: inline-block; width: 46%; margin:2% 1% 1% 2%; border:1px solid #ccc; height: 200px; background: #fff; overflow: hidden; color: #888;word-spacing:normal; word-break:normal; word-break:break-all;}
.mod-product:nth-child(2n){ margin: 2% 2% 1% 1%;}
.list-img{height: 120px; text-align: center; overflow: hidden;}
.list-img img{width: 100%; min-height: 100%;}
.list-text{padding:5px; line-height: 20px;}
.list-text b,
.list-text span{display: block;white-space:nowrap; overflow: hidden;}
.list-text b{height: 40px; color: #000; font-weight: 100;}
.list-text span{font-size: 18px; line-height: 30px;}
div.ps-caption,
div.ps-caption-content{font-size: 16px;}
.mod-null{ padding:30px 0; text-align:center; color:#888;}

@media screen and (orientation:landscape) {
    .mod-product{height: 280px;}
    .list-img{ height: 200px;}
}
.back{height:40px;padding:0 10px;line-height:40px;}
.back img{width:20px;height:20px;}