/*
 *= require mobile/jquery-ui-1.10.3.custom.min
 *= require_self
*/
body {
    background:#fff;
}
body.index{ background:#d4d3d2;}
body.comment{ background:#fff;}
footer,
footer a{ color:#8d8d8d;}
footer a{ width:100%; height:20px; line-height:20px; padding:5px 0 0 0;}
input,
select{-webkit-appearance:none;}
input[type="text"],
input[type="date"],
.input{ height:28px; padding:0 5px;}
textarea{ padding:2%; line-height:20px;}
/*ico*/
.ico-comment{ background:url(/assets/mobile/ico-comment.png) no-repeat left center; background-size:16px 15px; padding:0 0 0 20px; color:#444; font-size:12px;}
/*btn*/
.btn-up{ background-color:#ff6600; border-radius:5px;color:#fff; font-size:40px; padding:0 8px;opacity:0.8;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity:0.8;}
.btn{ background:#ed7525; border:0; border-radius:5px; box-shadow:0 0 5px rgba(0, 0, 0, 0.25);-webkit-appearance:none; text-align:center; color:#fff;text-shadow:0 1px 1px rgba(0, 0, 0, 0.25); font-size:16px; height:30px; line-height:30px; width:100%;}
.btn.btn-red{background:#d10000;}
.btn-fw{ width:96%; margin:10px 2%;}
.btn.btn-gray{background:#666;}
/*box-list*/
.box-list{ width:100%; margin: 0 0 10px 0; float: left;}
.box-list .list-li{float:left; background:#fff; margin: 10px 0; position: relative;}
.index .box-list .list-li{ width: 41%;margin:10px 2% 0 3%; overflow:hidden; padding:2% 2% 0 2%;}
.index .box-list .list-li:nth-child(2n){margin:10px 3% 0 2%;}
.list .box-list .list-li{ width:95%; margin:10px 2.5% 5px 2.5%; border-bottom:1px dashed #ccc;}
.box-list .hd,
.box-list .bd{ float:left; overflow:hidden; width:100%;}
.box-list .hd{ position:relative; text-align:center; z-index:0;}
.box-list .hd span:first-child{ width: 100%; height: 100%; overflow: hidden; color: #ccc; vertical-align: middle; font-size: 20px;}
.box-list .hd img{ max-width:100%; vertical-align:top;}
.list .box-list .hd a.img-null{ color:#999; padding: 30px 0;}
.list .box-list .hd img{ max-height:auto; max-width:100%; vertical-align:top;}
.detail .box-list .hd{ height: auto;}
.detail .box-list .hd img{ width: 100%;}
.box-list .hd span.ft{ position:absolute; background:#444; right:5px; bottom:5px; color:#e6e7e1; font-size:12px; padding:0 5px; line-height:30px;}
.detail .box-list .hd span.ft{ left:4%; right:auto;}
.index .box-list .bd{padding:5px 0;}
.index .box-list .bd b{text-overflow: ellipsis;white-space:nowrap; overflow:hidden; width:100%;}
.list .box-list .bd{ text-align:left; padding:5px 0;}
.box-list .bd,
.box-list .bd a{ font-size:12px; line-height:20px; color:#888;}
.box-list .bd span.fred{ font-size:16px; text-align:left;}
.box-list .bd a:first-child{}
.list .box-list .bd .ico-comment{ }
.box-list .bd .ico{ font-size:20px; color:#fff; background-image:url(/assets/mobile/icon/ico-heart-white.png); background-color:#c9c9c9; background-size:20px auto; background-position: center center; width:40px; height:40px; line-height:40px; border-radius:80px; margin:5px 0; padding:0;}
.box-list .bd .fw{ width: 100%;}
.box-list .bd .fl{ width:80%;}
.box-list .bd .fr.icon-heart{ width:40px; text-align:center;}
.box-list .bd .ico:active,
.box-list .bd .ico:visited,
.box-list .bd .ico.active{ color:#fff; background-color:#ff6600;}
/*box-wrap*/
.box-wrap{ border:1px solid #ccc; background:#fff;}
.box-wrap .hd,
.box-wrap .bd{ padding:10px 5%; line-height:20px; width:90%; position:relative; color:#666;float:left;}
.box-wrap .hd{ border-bottom:1px solid #ccc;}
.box-wrap .hd:last-child{ border:0;}
.box-wrap .hd .arrow{ margin-top:-10px;}
.box-wrap .hd.active{ background:#eee;}
/*box-comment*/
.box-comment{ background:#fff; padding:0 0 10px 0; margin:10px 2%; width:96%;}
.box-comment .hd,
.box-comment .bd{ width:100%; float:left;}
.box-comment .hd{ height:40px; line-height:40px; padding:0 5%; width:90%;position:relative;}
.box-comment .hd h2{ color:#ff6600; float:left; line-height:30px; width:90%;}
.box-comment .ico{ font-size:20px; color:#444444; margin:10px 0;}
.box-comment .bd{ background:#f9f7f5; border-top:1px solid #d5d4d2;}

.box-comment .hd h2{ width:60%; float:left; height:40px; line-height:40px;}
.box-comment .ico{color:#ff6600; font-size:15px;}
.box-comment .hd .fr{ border-radius:5px; border:1px solid #ccc; height:20px; line-height:20px; margin:8px 0; padding:0 10px 0 20px; background-position: 5px center;}
.box-comment .hd .ico em{ font-size:12px; color:#444; padding:0 0 0 5px;}
.box-comment .bd{ padding:10px 0; background:#f8f7f5;}
.box-comment .bd .fl{ width:30%; text-align:center;}
.box-comment .bd .fr{ width:70%;}
.box-comment .bd label{ width:92%; float:left; margin:10px 0 0 0;}
.box-comment .bd label .btn{ width:80%;}
/*box-form*/
.box-form p{ padding:5px 0; float:left; overflow:hidden; width:90%; margin:0 5%;}
.box-form span.fl{text-align:right; vertical-align:top; line-height:30px;}
.box-form span.fr{ width:65%; border-radius:5px; border:1px solid #ccc; overflow:hidden; height:auto; padding:0 5%;}
.box-form span.fr-inline{ width:70%; float:right;}
.box-form span.fr-inline select{border:1px solid #ccc; height:28px; padding:0 5%; width:47.7%; background:#fff;}
.box-form span.fr-inline select:first-child{ margin:0 5% 0 0;}
.box-form input[type="text"],
.box-form input[type="date"],
.box-form textarea,
.box-form .input,
.box-form input[type="text"]:focus,
.box-form input[type="date"]:focus,
.box-form textarea:focus,
.box-form .input:focus{ width:100%; padding:0; border:0;-webkit-tap-highlight-color:rgba(0,0,0,0); }
.box-form textarea,
.box-form textarea:focus{ padding:5px 0;}
/*ft-comment*/
.ft.ft-comment{ width:100%; float:left;color:#444; height:auto; padding:0;}
.ft-comment h3{ height:30px; line-height:30px; border-bottom:2px solid #ff6600; width:96%; padding:0 2%;}
.ft-null{ padding:20px 0;}
/*ft-list*/
.ft-list{ width:100%; border-bottom:1px dashed #ccc; padding:10px 0; float:left; overflow:hidden; position:relative;}
.ft-list:last-child{ border:0;}
.ft-list .fl{ width:30%; text-align:center;}
.ft-list .fr{ width:68%; padding:0 2% 0 0;}
.ft-list .fr b,
.ft-list .fr span,
.ft-list .fr p{ width:100%; overflow:hidden;}
.ft-list .fr b,
.ft-list .fr a,
.ft-list .fr .ico {color:#ff6600;}
.ft-list .fr i{ font-size:12px; color:#999; text-align:left; display:block; width:100%;}
.ft-list .fr i em{ color:#888;}
.ft-list .fr i.fl{ width:70%;}
.ft-list .fr i.fr{ width:30%; padding:0; margin:0;}
.ft-list .fr a{ line-height:30px;}
.ft-list .fr span{ padding:5px 0 0 0;}
/*bd-img*/
.bd-img{ width:60px; height:60px; line-height:60px; border-radius:5px; overflow:hidden;}
.bd-img img{ max-width:100%;}
.bd-comment,
.bd-text{ background:#fff;border-radius:5px; border:1px solid #ccc;overflow:hidden; float:left;}
/*bd-comment*/
.bd-comment{padding:2%; width:94%;}
.bd-comment textarea,
.bd-comment textarea:focus{ border:0; width:96%; line-height:20px; padding:5px 2%;}
.bd-comment .bd-face{ border-top:1px dashed #ccc; height:30px; line-height:30px; color:#ccc; padding:0 2%; width:96%;}
.bd-comment .bd-face .fr{ text-align:right; width:auto;}
/*bd-text*/
.bd-text{ padding:0 2%; width:94%; height:28px; margin:10px 0;}
.bd-text input,
.bd-text input:focus{ border:0; width:96%; overflow:hidden;}
/*bd-btn*/
.bd-btn{ width:98.15%; float:left; overflow:hidden;}
/*section*/
.bd-title{ background:#fff; height:33px; line-height:33px; text-align:center; width:100%; float:left; box-shadow:0 0 5px rgba(0,0,0,0.25);}
.bd-title a{ width:100%; height:100%; color:#444;}
section{ padding:45px 0 0 0;}
.member section{ padding:0;}
section p.tcenter{ width:100%;}
/*header*/
header{background:rgba(0,0,0,0.8); box-shadow:none; border:0; z-index:1000; position:fixed; width:100%; top:0; left:0; overflow:hidden; height:45px;}
.index header{box-shadow:0 0 5px rgba(0, 0, 0, 0.5);}
header a,
header h1{ width:33%; height:45px; line-height:45px; display:block; float:left; text-align:center;text-overflow: ellipsis;white-space:nowrap; overflow: hidden; color:#fff8ec;}
header h1{width:34%; font-size:16px;}
header a{ font-size:16px;}
.detail header a,
.index header a,
.member header a{ width:25%;}
header a:active,
header a.active,
header a.ico-edit{background:rgba(0,0,0,0.22);}
header a img{ max-height:20px; vertical-align:middle;}
/*box-img*/
.index .box-img{ height:170px;}
.index .box-img img{ max-height: 170px;}
.detail .box-img{ height:220px;}
.detail .box-img-page{ width:100%; height:30px; bottom:-6px; left:0; text-align: center;}
.detail .box-img-page a{ width:20px; height: 2px; border-radius: 0;}
.detail .box-img-page a.active{background: #999;}
.detail-wrap{ width:100%; height:220px; white-space: nowrap; text-align:center; vertical-align:text-top;-ms-overflow-x: auto;
    overflow-x: auto;
    -ms-overflow-y: hidden; /* IE8 */
    overflow-y: hidden;-webkit-overflow-x:auto}
.detail-wrap a,
.detail .box-img li a{ height:198px; width:198px; line-height:198px; margin:10px;overflow:hidden; border:1px solid #ccc; text-align:center; display:inline-block;}
.detail-wrap img,
.detail .box-img img{ max-height:100%; vertical-align:middle;}
/*box-shopcar*/
.box-shopcar dt,
.box-shopcar dd{padding:15px 5%; width:90%; overflow:hidden;}
.box-shopcar dt{ height:30px; background:#fff8ec; line-height:30px; position:fixed; top:45px; left:0; box-shadow:0 0 5px rgba(0,0,0,0.25);}
.box-shopcar dd{ background:#fff; padding-top:60px;}
.box-shopcar dt .btn{ width:auto; padding:0 10px;}
.box-shopcar input[type="checkbox"],
.box-shopcar dt span{ float:left;color:#444;}
.box-shopcar dt span b{ color:#d10000;}
.box-shopcar input[type="checkbox"]{ margin:5px 5px 5px 0;}
input[type="checkbox"]{background-color:#fff; border-radius:20px; width:20px; height:20px; border:1px solid #ccc; background-position:center center; background-repeat:no-repeat; background-size:10px auto; }
input[type="checkbox"]:checked{ background-color:#71c93d; background-image:url(/assets/mobile/wshop/ico-right.png); border-color:#71c93d; color:#fff;}
input[type="checkbox"].input-detele{background-image:url(/assets/mobile/wshop/ico-wrong.png); background-color:#d10000;}
/*.shopcar-list*/
.shopcar-list li{ width:100%; float:left; overflow:hidden; background:#fff;}
.shopcar-list .td{ width:auto;}
.shopcar-list .li-fw{width: 100%;}
.shopcar-info{ border-bottom:1px solid #ccc; padding:15px 0;}
.shopcar-list li:last-child .shopcar-info,
.shopcar-list li.shopcar-info:last-child{ border:0;}
.shopcar-info,
.shopcar-info p{ color:#666; overflow:hidden; text-align:left;}
.shopcar-info p,
.shopcar-info .info-fl{display:inline-block; float:left;}
.shopcar-info .info-fl{width:30%;overflow:hidden;text-align: center;}
.shopcar-info .info-fl img{ max-width:100%;}
.shopcar-info .img-null{color:#999; height:40px; padding: 30px 0; line-height:20px; font-size: 12px; background: #eee;}
.shopcar-info p{ width:65%; padding:0 2% 0 2%; word-spacing: normal; word-break: normal; word-break: break-all;}
.shopcar-info p b{ width:100%; float:left; padding:0 0 5px 0;}
.shopcar-info p span{ color:#999;}
.shopcar-info p span.fr{ color:#d10000;}
.shopcar-info.td a{ display:inline;}
.shopcar-list .box-number{ width:100%;}
.shopcar-list .box-number input,
.shopcar-list .box-number input:focus{ width:40px; padding:0 5px;}
.shopcar-list span{color:#ff0000;}
.shopcar-list li.shopcar-total{ padding:10px 0 20px 0; width:100%; color:#444;}
.shopcar-total .btn{ width:30%;}
.shopcar-total p{ margin:0 0 10px 0;}
.shopcar-total b{ color:#d10000;}
/*box-detail*/
.box-detail{}
.detail-name,
.detail-btn,
.detail-tab .bd{ padding:10px 2%; width:96%; float:left; overflow:hidden;}
.detail-name{ border-top:1px solid #ccc; color:#666;}
.detail-btn{ border-top:1px dashed #ccc; text-align:center;}
.detail-name b{ padding:0 0 5px 0; width:100%;}
.detail-name .fl{ color:#d10000;}
.detail-name .fr{ color:#999;}
.detail-name .fw{width: 100%;}
.detail-btn .btn{ height:40px; line-height:40px; width:45%; display:inline-block;}
.detail-btn .btn:first-child{ margin:0 2% 0 0;}
.detail-btn .btn:last-child{ margin:0 0 0 2%;}
.detail-btn .btn img{ max-height:16px; vertical-align:middle; padding:0 5px 0 0;}
.detail-tab{ width:100%; float:left; overflow:hidden;}
.detail-tab .hd{ border:1px solid #ccc; border-left:0; border-right:0; height:33px; padding:1px 0;}
.detail-tab .hd a{ height:33px; line-height:33px; width:50%; text-align:center; color:#333;}
.detail-tab .hd a:active,
.detail-tab .hd a.current{background:#ccc; }
.detail-tab .bd .detail-bd{ line-height:20px; height:auto; margin:0 0 20px 0; overflow:hidden;}
.detail-tab .bd .detail-bd.active{ height:auto;}
.detail-tab .bd{ position:relative; height:auto;}
.detail-tab .box-more{ position:absolute; width:100%; height:25px; left:0; bottom:0; background:url(/assets/mobile/wshop/bg-more.png) no-repeat center bottom; background-size:auto 25px;}
.detail-tab .box-more.active{-webkit-transform: rotate(180deg);}
/*pop*/
.pop{background:rgba(0,0,0,0.5);}
.pop-bd,
.pop-form .pop-bd{background:rgba(255,255,255,0.5); top:50%; left:50%; border-radius:10px; padding:1%; overflow:hidden;}
.pop-bd .box-pop,
.pop-form .pop-bd .box-pop{ width:100%; height:100%; background:#fff; border-radius:10px; overflow:hidden;}
.pop-form .box-pop .hd{ height:35px; line-height:35px; background:#feeeba; font-size:16px; text-shadow:0 1px 1px #fff; border-radius:10px 10px 0 0; text-align:center; width:100%;}
.pop-form .box-pop .bd{ background:#fff; border-radius:0 0 10px 10px; width:80%; overflow:hidden; padding:10px 10%;}
.box-pop b{color:#da8d13; font-weight:normal;}
.box-pop p{ padding:5px 0; overflow:hidden;}
.box-pop p span{ width:100%; line-height:25px;}
.box-pop input{ width:94%;}
.box-pop .btn{ width:100%;}
.pop-result .pop-bd{width:78%; height:70px;margin:-35px 0 0 -40%;}
.pop-result .box-pop{line-height:30px; padding:20px 0; text-align:center; height:30px;}
.pop-result .box-pop span{ background-position:left center; background-repeat:no-repeat;padding:0 0 0 40px; background-size:auto 30px; font-size:18px; color:#444;}
.result-success .box-pop span{ background-image:url(/assets/mobile/icon/ico-success.png); }
.result-fail .box-pop span{ background-image:url(/assets/mobile/icon/ico-fail.png); }
/*pop-form*/
.pop-form .box-form{ position:fixed; height:100%; width:100%; left:0; top:0;}
.pop-form .box-form .box{ height:auto;}
.pop-form .box-form .btn{ display:block;}
.pop-form .box-form input[type="text"],{ background:#fff; margin:0 5%; width:90%;}
.pop-form .hd-btn{ background:#eee; border:0; height:40px;}
.btn-back{ border:1px solid #ccc; height:30px; line-height:30px; border-radius:5px; margin:4px 2%; padding:0 10px; color:#888;}
/*pop-list*/
.pop-list .hd{ background:#000; color:#fff; height:45px; line-height:45px;}
.pop-list .hd span{ margin:0 0 0 5%;}
.pop-list .bd{ padding: 45px 0 10px 0; height: 100%;}
.pop-list .arrow:after{ border-color:#666;}
.pop-list dt b{color:#000;}
.pop-list dt span{ color:#666; font-size:12px;}
.pop-list dl.active dt{ /*background:#000;*/}
.pop-list dl.active dt,
.pop-list dl.active dt b,
.pop-list dl.active dt span,
.pop-list dl.active dt a{color: #fff;}
.pop-list dl.active dt .arrow:after{ border-color:#666;}
.pop-list dd a:active{ color: #000;}
/*box-adress*/
.box-adress{ background:url(/assets/mobile/wshop/bg-adress.png) no-repeat right top,url(/assets/mobile/wshop/bg-adress2.png) repeat-x center top; background-size:auto 50px, auto 3px; background-color:#fff; color:#666;}
.box-adress .td{ width:auto; padding:20px 5%; text-align:left;}
.arrow:after{ border-color:#999;}
.box-adress b{ color:#333; width:100%;}
.box-adress span{ font-size:12px; width:100%;}
.box-adress .arrow{ position:static;}
/*box-orderList*/
.box-orderList{ background:#fff; width:100%; overflow:hidden;}
.box-orderList dt{ height:35px; line-height:35px; background:#eee; color:#333;}
.box-orderList dt,
.box-orderList dd{ padding:0 2%; width:96%;}
/*box-p*/
.box-p{ color:#666; background:#fff; position:relative; width:100%; padding:0 0 10px 0;}
.box-p p{ line-height:30px; width:90%; padding:0 5%;}
.box-p p b{ color:#999; font-weight:normal;}
.box-p .p-title,
.box-order{background:#ffefd0;}
.box-p .p-title input[type="checkbox"]{ margin:5px 5px 0 0; float:left;}
.p-title .ico{ margin:0 0 0 15px; color:#999;}
.p-title .ico img{ max-height:20px; vertical-align:middle; padding:0 5px 0 0;}
.arrow{ margin:0 0 0 0; position:absolute; top:50%; right:5%; }
.box-order{ padding:10px 0;}
.box-order .btn{ width:30%; float:right;}
/*other*/
.fred,
.shopcar-info p span.fred{ color:#d10000;}
@media screen and (orientation:landscape) {
    .ft-list .fl{ width:20%;}
    .ft-list .fr{ width:78%; padding:0 2% 0 0;}
    .box-comment .bd .fl{ width:20%;}
    .box-comment .bd .fr{ width:80%;}

    .box-form input[type="text"],
    .box-form .input{ width:69%;}
    .box-form textarea{ width:67.5%;}
    .box-form span.fr-inline select{border:1px solid #ccc; height:28px; padding:0 5%; width:47.6%;}
}
.ui-datepicker {
    width: 96% ! important;
    left: 1% ! important;
}
