*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{ background: #f4f4f4;}
body.null{
    background:url(/assets/mobile/wtrave/bg.jpg);
}
footer,
footer a{ color:#8d8d8d;}
footer a{ width:100%; height:20px; line-height:20px; padding:5px 0 0 0;}
input,
select{-webkit-appearance:none;}
input[type="text"],
input[type="date"],
input[type="tel"],
select{ height:30px; padding:0 5px; border-radius: 0;}
textarea{ padding:2%; line-height:20px;}
/*ico*/
.ico-comment{ background:url(/assets/mobile/ico-comment.png) no-repeat left center; background-size:16px 15px; padding:0 0 0 20px; color:#444; font-size:12px;}
/*btn*/
.btn-up{ background-color:#ff6600; border-radius:5px;color:#fff; font-size:40px; padding:0 8px;opacity:0.8;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity:0.8;}
.btn{ background:#ed7525; border:0; border-radius:5px; box-shadow:0 0 5px rgba(0, 0, 0, 0.25);-webkit-appearance:none; text-align:center; color:#fff;text-shadow:0 1px 1px rgba(0, 0, 0, 0.25); font-size:16px; height:40px; line-height:40px; width:100%; cursor: pointer;}
.btn.btn-red{background:#d10000;}
.btn.btn-green{background:#71c93d;}
.btn.btn-gray{background:#aaa;}
/*box-list*/
.box-list{ width:100%; margin: 0 0 10px 0; float: left;}
.box .box-list{width:99.9999%; border-radius:5px; overflow: hidden; background:#fff; border:1px solid #ccc;}
.box-list .list-li{float:left; background:#fff; position: relative; padding:10px 2%; width:100%; border-bottom:1px solid #ccc;}
.box-list .list-li.active{ background:#eee; box-shadow: 1px 1px 1px #fff inset,-1px -1px 1px #fff inset;}
.box .box-list .list-li{border:0;}
.box-list .hd,
.box-list .bd{ float:left; overflow:hidden;}
.box-list .hd{text-align:center; width:110px; }
.box-list .img-null{ color: #999; background: #eee;line-height: 70px;height: 70px;}
.box-list .hd img{ max-width: 100%; vertical-align:top;}
.box-list .bd{width:64%; padding:0 0 0 2%; margin:-3px 0 0 0;}
.box-list .bd,
.box-list .bd a{ line-height:20px; color:#999; font-size:12px;}
.box-list .bd .fred{ font-size:16px; text-align:left; color:#d10000;}
.box-list .bd .li-name{font-size:14px; color:#333;}
.box-list .bd .li-intro{}
.box-list .fw{ width: 100%;}
.box-list p{width:100%; float: left; overflow: hidden;}
.box-list .li-sale{ line-height: 30px; height: 40px;}
.box-list a.btn{ color: #fff; line-height:30px; height: 30px; font-size: 14px; width: 40%;}
/*box-wrap*/
.box-wrap{ border:1px solid #ccc; background:#fff;}
.box-wrap .hd,
.box-wrap .bd{ padding:10px 5%; line-height:20px; width:90%; position:relative; color:#666;float:left;}
.box-wrap .hd{ border-bottom:1px solid #ccc;}
.box-wrap .hd:last-child{ border:0;}
.box-wrap .hd .arrow{ margin-top:-10px;}
.box-wrap .hd.active{ background:#eee;}
/*box-comment*/
.box-comment{ background:#fff; padding:0 0 10px 0; margin:10px 2%; width:96%; float:left; overflow: hidden;}
.box-comment .hd,
.box-comment .bd{ width:100%; float:left;}
.box-comment .hd{ height:40px; line-height:40px; padding:0 5%; width:90%;position:relative;}
.box-comment .hd h2{ color:#ff6600; float:left; line-height:30px; width:90%;}
.box-comment .ico{ font-size:20px; color:#444444; margin:10px 0;}
.box-comment .bd{ background:#f9f7f5; border-top:1px solid #d5d4d2;}

.box-comment .hd h2{ width:60%; float:left; height:40px; line-height:40px;}
.box-comment .ico{color:#ff6600; font-size:15px;}
.box-comment .hd .fr{ border-radius:5px; border:1px solid #ccc; height:20px; line-height:20px; margin:8px 0; padding:0 10px 0 20px; background-position: 5px center;}
.box-comment .hd .ico em{ font-size:12px; color:#444; padding:0 0 0 5px;}
.box-comment .bd{ padding:10px 0; background:#f8f7f5;}
.box-comment .bd .fl{ width:30%; text-align:center;}
.box-comment .bd .fr{ width:70%;}
.box-comment .bd label{ width:92%; float:left; margin:10px 0 0 0;}
.box-comment .bd label .btn{ width:80%;}
/*box-form*/
.box-form p{ padding:5px 0; float:left; overflow:hidden; width:90%; margin:0 5%;}
.box-form span.fl{text-align:right; vertical-align:top; line-height:30px;}
.box-form span.fr{ width:60%; border-radius:5px; border:1px solid #ccc; overflow:hidden; height:auto; padding:0 5%;}
.box-form span.fr-inline{ width:70%; float:right;}
.box-form span.fr-inline select{border:1px solid #ccc; height:28px; padding:0 5%; width:47.7%; background:#fff;}
.box-form span.fr-inline select:first-child{ margin:0 5% 0 0;}
.box-form input[type="text"],
.box-form input[type="date"],
.box-form textarea,
.box-form input[type="text"]:focus,
.box-form input[type="date"]:focus,
.box-form textarea:focus{ width:100%; padding:0; border:0;-webkit-tap-highlight-color:rgba(0,0,0,0); }
.box-form textarea,
.box-form textarea:focus{ padding:5px 0;}
/*ft-comment*/
.ft.ft-comment{ width:100%; float:left;color:#444; height:auto; padding:0;}
.ft-comment h3{ height:30px; line-height:30px; border-bottom:2px solid #ff6600; width:96%; padding:0 2%;}
.ft-null{ padding:20px 0;}
/*ft-list*/
.ft-list{ width:100%; border-bottom:1px dashed #ccc; padding:10px 0; float:left; overflow:hidden; position:relative;}
.ft-list:last-child{ border:0;}
.ft-list .fl{ width:30%; text-align:center;}
.ft-list .fr{ width:68%; padding:0 2% 0 0;}
.ft-list .fr b,
.ft-list .fr span,
.ft-list .fr p{ width:100%; overflow:hidden;}
.ft-list .fr b,
.ft-list .fr a,
.ft-list .fr .ico {color:#ff6600;}
.ft-list .fr i{ font-size:12px; color:#999; text-align:left; display:block; width:100%;}
.ft-list .fr i em{ color:#888;}
.ft-list .fr i.fl{ width:70%;}
.ft-list .fr i.fr{ width:30%; padding:0; margin:0;}
.ft-list .fr a{ line-height:30px;}
.ft-list .fr span{ padding:5px 0 0 0;}
/*bd-img*/
.bd-img{ width:60px; height:60px; line-height:60px; border-radius:5px; overflow:hidden;}
.bd-img img{ max-width:100%;}
.bd-comment,
.bd-text{ background:#fff;border-radius:5px; border:1px solid #ccc;overflow:hidden; float:left;}
/*bd-comment*/
.bd-comment{padding:2%; width:94%;}
.bd-comment textarea,
.bd-comment textarea:focus{ border:0; width:96%; line-height:20px; padding:5px 2%;}
.bd-comment .bd-face{ border-top:1px dashed #ccc; height:30px; line-height:30px; color:#ccc; padding:0 2%; width:96%;}
.bd-comment .bd-face .fr{ text-align:right; width:auto;}
/*bd-text*/
.bd-text{ padding:0 2%; width:94%; height:28px; margin:10px 0;}
.bd-text input,
.bd-text input:focus{ border:0; width:96%; overflow:hidden;}
/*bd-btn*/
.bd-btn{ width:98.15%; float:left; overflow:hidden;}
/*section*/
section{ padding:45px 0 0 0;}
.member section,
.index section{ padding:0;}
section p.tcenter{ width:100%;}
/*header*/
header{background:rgba(0,0,0,0.8); box-shadow:none; border:0; z-index:1000; position:fixed; width:100%; top:0; left:0; overflow:hidden; height:45px;}
.index header{box-shadow:0 0 5px rgba(0, 0, 0, 0.5);}
header a,
header h1{ width:33%; height:45px; line-height:45px; display:block; float:left; text-align:center;text-overflow: ellipsis;white-space:nowrap; overflow: hidden; color:#fff8ec;}
header h1{width:34%; font-size:16px;}
header a{ font-size:16px;}
header a.tleft{ padding:0 0 0 2%; width:31%;}
header a.tright{ padding:0 2% 0 0; width:31%;}
header a:active,
header a.active,
header a.ico-edit{background:rgba(0,0,0,0.22);}
header a img{ max-height:20px; vertical-align:middle;}
/*box-img*/
.index .box-img{ height:170px;}
.index .box-img img{ max-height: 170px;}
.box-img .box-text .fr{ padding:0 5%; width:50%; text-align:right;}
.box-img .box-bd{ padding:0 5%; width:100%;}
/*box-shopcar*/
.box-shopcar dt,
.box-shopcar dd{padding:15px 5%; width:90%; overflow:hidden;}
.box-shopcar dt{ height:30px; background:#fff8ec; line-height:30px; position:fixed; top:45px; left:0; box-shadow:0 0 5px rgba(0,0,0,0.25);}
.box-shopcar dd{ background:#fff; padding-top:60px;}
.box-shopcar dt .btn{ width:auto; padding:0 10px;}
.box-shopcar input[type="checkbox"],
.box-shopcar dt span{ float:left;color:#444;}
.box-shopcar dt span b{ color:#d10000;}
.box-shopcar input[type="checkbox"]{ margin:5px 5px 5px 0;}
input[type="checkbox"],
input[type="radio"]{background-color:#fff; border-radius:20px; width:20px; height:20px; border:1px solid #ccc; background-position:center center; background-repeat:no-repeat; background-size:10px auto; }
input[type="checkbox"]:checked,
input[type="radio"]:checked{ background-color:#71c93d; background-image:url(/assets/mobile/wshop/ico-right.png); border-color:#71c93d; color:#fff;}
input[type="checkbox"].input-detele,
input[type="radio"].input-detele{background-image:url(/assets/mobile/wshop/ico-wrong.png); background-color:#d10000;}
/*.shopcar-list*/
.shopcar-list li{ width:100%; float:left; overflow:hidden; background:#fff;}
.shopcar-list .td{ width:auto;}
.shopcar-info{ border-bottom:1px solid #ccc; padding:15px 0;}
.shopcar-list li:last-child .shopcar-info,
.shopcar-list li.shopcar-info:last-child{ border:0;}
.shopcar-info,
.shopcar-info p{ color:#666; overflow:hidden; text-align:left;}
.shopcar-info img{ max-width:20%; float:left;}
.shopcar-info p{ width:75%; float:left; padding:0 0 0 5%;}
.shopcar-info p b{ width:100%; float:left; padding:0 0 5px 0;}
.shopcar-info p span{ color:#999;}
.shopcar-info p span.fr{ color:#d10000;}
.shopcar-info.td a{ display:inline;}
.shopcar-list .box-number{ width:100%;}
.shopcar-list .box-number input,
.shopcar-list .box-number input:focus{ width:40px; padding:0 5px;}
.shopcar-list span{color:#ff0000;}
.shopcar-list li.shopcar-total{ padding:10px 0 20px 0; width:100%; color:#444;}
.shopcar-total .btn{ width:30%;}
.shopcar-total p{ margin:0 0 10px 0;}
.shopcar-total b{ color:#d10000;}
/*box-detail*/
.box-detail{}
.detail-name{ padding:10px 2%; width:96%; float:left; overflow:hidden;}
.detail-name{ border-top:1px solid #ccc; color:#666;}
.detail-name span.fred{ color:#d10000;}
.detail-btn{ padding: 20px 0; width: 100%; float:left; overflow: hidden; text-align:center;}
.detail-name b{ padding:0 0 5px 0; width:100%; font-size:14px;}
.detail-name .fl{font-size:18px; font-weight:bold;}
.detail-name small,
.detail-name del{ font-size:12px; font-weight: normal;}
.box-detail .btn{ width:45%; display:inline-block;}
.box-detail .btn img{ max-height:16px; vertical-align:middle; padding:0 5px 0 0;}
.detail-tab{ width:100%; float:left; overflow:hidden;}
.detail-tab .hd{ border:1px solid #ccc; border-left:0; border-right:0; height:33px; padding:1px 0;}
.detail-tab .hd a{ height:33px; line-height:33px; width:50%; text-align:center; color:#333;}
.detail-tab .hd a:active,
.detail-tab .hd a.current{background:#ccc; }
.detail-tab .bd .detail-bd{ line-height:20px; overflow:hidden; border-bottom:1px dashed #ccc; padding: 10px;}
.detail-tab .bd-title{padding:5px 0; color:#ff9c00;}
.detail-tab .bd-ck{font-size:12px; color:#999;}
.detail-tab .bd img{ max-width: 100%; padding: 5px 0;}
.detail-tab .bd-table{margin:0 0 10px 0;}
.detail-tab .bd-table table{ width:100%; border-collapse:collapse;}
.detail-tab .bd-table table,
.detail-tab .bd-table th,
.detail-tab .bd-table td{border:1px solid #ccc;}
.detail-tab .bd-table th,
.detail-tab .bd-table td{padding: 10px; text-align:center; color:#666; font-weight: normal;}
.detail-tab .bd-table th{background: #eee; box-shadow:1px 1px 1px #fff inset, -1px -1px 1px #fff inset;}
.bd-ck ul,
.bd-ck li,
.bd-ck ol{ list-style: disc;}
/*pop*/
.pop{background:rgba(0,0,0,0.5);}
.pop-bd,
.pop-form .pop-bd{background:rgba(255,255,255,0.5); top:50%; left:50%; border-radius:10px; padding:1%; overflow:hidden;}
.pop-bd .box-pop,
.pop-form .pop-bd .box-pop{ width:100%; height:100%; background:#fff; border-radius:10px; overflow:hidden;}
.pop-form .box-pop .hd{ height:35px; line-height:35px; background:#feeeba; font-size:16px; text-shadow:0 1px 1px #fff; border-radius:10px 10px 0 0; text-align:center; width:100%;}
.pop-form .box-pop .bd{ background:#fff; border-radius:0 0 10px 10px; width:80%; overflow:hidden; padding:10px 10%;}
.box-pop b{color:#da8d13; font-weight:normal;}
.box-pop p{ padding:5px 0; overflow:hidden;}
.box-pop p span{ width:100%; line-height:25px;}
.box-pop input{ width:94%;}
.box-pop .btn{ width:100%;}
.pop-result .pop-bd{width:78%; height:70px;margin:-35px 0 0 -40%;}
.pop-result .box-pop{line-height:30px; padding:20px 0; text-align:center; height:30px;}
.pop-result .box-pop span{ background-position:left center; background-repeat:no-repeat;padding:0 0 0 40px; background-size:auto 30px; font-size:18px; color:#444;}
.result-success .box-pop span{ background-image:url(/assets/mobile/icon/ico-success.png); }
.result-fail .box-pop span{ background-image:url(/assets/mobile/icon/ico-fail.png); }
/*pop-form*/
.pop-form .box-form{ position:fixed; height:100%; width:100%; left:0; top:0;}
.pop-form .box-form .box{ height:auto;}
.pop-form .box-form .btn{ display:block;}
.pop-form .box-form input[type="text"]{ background:#fff; margin:0 5%; width:90%;}
.pop-form .hd-btn{ background:#eee; border:0; height:40px;}
.btn-back{ border:1px solid #ccc; height:30px; line-height:30px; border-radius:5px; margin:4px 2%; padding:0 10px; color:#888;}
/*box-adress*/
.box-adress{ background:url(/assets/mobile/wshop/bg-adress.png) no-repeat right top,url(/assets/mobile/wshop/bg-adress2.png) repeat-x center top; background-size:auto 50px, auto 3px; background-color:#fff; color:#666;}
.box-adress .td{ width:auto; padding:20px 5%; text-align:left;}
.arrow:after{ border-color:#999;}
.box-adress b{ color:#333; width:100%;}
.box-adress span{ font-size:12px; width:100%;}
.box-adress .arrow{ position:static;}
/*box-orderList*/
.box-orderList{ background:#fff; width:100%; overflow:hidden;}
.box-orderList dt{ height:35px; line-height:35px; background:#eee; color:#333;}
.box-orderList dt,
.box-orderList dd{ padding:0 2%; width:96%;}
/*box-order*/
/*box-order*/
.box-order dl{ margin:0 0 15px 0;}
.box-order dt{padding: 10px 2%; font-size: 16px;}
.box-order dt{color:#333;}
.box-order dd{font-size:14px; color:#666; border:1px solid #ccc; background:#fff; border-radius:5px; padding:0 2%; width:100%; overflow:hidden;}
.box-order .order-row{ padding:10px 0; width:100%; float:left; overflow: hidden; border-bottom:1px solid #ccc; min-height:30px;}
.box-order .order-row:first-child{}
.box-order .order-row:last-child{border:0;}
.box-order .order-row .fl,
.box-order .order-row .fr span,
.box-order .order-row .forange a{ padding: 5px 0; line-height: 20px;}
.box-order .order-row .fr small{ line-height: 20px; margin: 5px 0; float:right;}
.box-order .order-row .fr input[type="radio"]{ margin: 5px 0 0 0;}
.box-order .order-row .fr{ width:75%; }
.box-order .order-row p{ line-height: 20px;}
.box-order .arrow{ margin: 0 5px 0 0;}
.box-order .arrow:after{ margin: -3px 0 0 0;}
.order-btn .fl{ padding: 5px 0;}
.order-btn .btn{ padding: 0 10px; height: 30px; line-height: 30px; font-size:12px; margin:0 0 0 10px; width: auto;}
.box-order .box-number{ height: 30px; margin: 0; float: right;}
.order-row b{ font-weight:normal; color:#333; font-size:14px;}
.order-row small{ color: #999; font-size: 12px;}
.box-order input[type="text"],
.box-order input[type="date"],
.box-order input[type="tel"],
.box-order input[type="text"]:focus,
.box-order input[type="tel"]:focus,
.box-order input[type="date"]:focus,
.box-order select{ border:1px solid #ccc; width: 100%;}
.box-number input[type="tel"],
.box-number input[type="tel"]:focus{ width:40px;}
/*order-li*/
.order-li{ background: #fff; box-shadow: 0 0 5px rgba(0,0,0,0.1),0 5px 5px rgba(0,0,0,0.25); position: relative;width: 100%; padding: 5px 2%; margin: 10px 0 15px 0; float: left; color: #333;}
.order-li .fw{ width: 100%;}
.order-li .hd,
.order-li .bd{ background: #fff; width: 100%; float: left; overflow: hidden; padding: 5px 0; line-height: 20px;}
.order-li .order-bg{ position: absolute; left:0; bottom: -4px; width: 100%; height: 4px;background:url(/assets/mobile/wtrave/order-li.png) repeat-x left bottom; background-size:auto 4px; }
.order-li .hd{}
.order-li .bd{ border-top:1px dashed #ccc;}
.order-li .bd .fl{ width: 30%;padding: 5px; border:1px solid #ccc;text-align:center; overflow: hidden; color: #999;}
.order-li .bd .fr{ width: 70%; padding: 0 0 0 5px;}
.order-li .bd .fl img{ max-width: 100%;}
.order-li .bd span{ float:left; padding: 0 5% 0 0;}
.order-li .bd b{ float:right; color: #333; text-align: right;}
.order-li p{ float:left; overflow:hidden; width: 100%; color: #666;}
.order-li .img-null{ background: #eee; line-height: 100px;}
/*box-note*/
.box-note{ background: #fffaee; width: 96%; margin: 10px 2%; padding: 10px; float:left; overflow: hidden; color: #999; line-height: 20px;}
.box-note b{ color: #666; font-weight: normal; background: url(/assets/mobile/wtrave/ico-note.png) no-repeat left center; background-size: auto 15px; padding: 0 0 0 15px;}
.box-note p{text-indent: 15px;}
/*other*/
.fred,
.shopcar-info p span.fred,
.order-li .bd b.fred{ color:#d10000;}
.forange,
.forange a{color:#ff9c00;}
.forange .arrow:after{border-color:#ff9c00;}
.box-null,
.order-null{ padding: 25% 0; margin: 20px 0; text-align: center; background: url(/assets/mobile/wtrave/bg-null.png) no-repeat center 10%; background-size: auto 50px;}
.order-null{background: url(/assets/mobile/wtrave/order-null.png) no-repeat center 10%; background-size: auto 50px;}
@media screen and (orientation:landscape) {
    .ft-list .fl{ width:20%;}
    .ft-list .fr{ width:78%; padding:0 2% 0 0;}
    .box-comment .bd .fl{ width:20%;}
    .box-comment .bd .fr{ width:80%;}

    .box-form input[type="text"]{ width:69%;}
    .box-form textarea{ width:67.5%;}
    .box-form span.fr-inline select{border:1px solid #ccc; height:28px; padding:0 5%; width:47.6%;}
}


.order-title{width:100%;height:45px;overflow:hidden;border-bottom:1px solid #ccc;position:relative;background:#fff;}
.order-title ul{display:table;position:absolute;}
.order-title li{display:table-cell;}
.order-title a{display: block;font-size: 16px;color: #666;line-height: 44px;white-space: nowrap;border-right: 1px solid #ccc;text-align: center;height: 40px; padding:0px 10px;}
.order-title .active{height:44px;line-height:43px;border-bottom:2px solid #00a0e9;color:#00a0e9;}
.order-list li{list-style:none;margin-top:10px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#fff;}





.order-titles{width:100%;height:30px;overflow:hidden;border-bottom:1px solid #ccc;position:relative;background:#fff;}
.order-titles ul{display:table;position:absolute;}
.order-titles li{display:table-cell;}
.order-titles a{display: block;font-size: 16px;color: #666;line-height: 30px;white-space: nowrap;border-right: 1px solid #ccc;text-align: center;height: 30px; padding:0px 10px;}
.order-titles .active{height:30px;line-height:30px;color:#00a0e9; background-color:#ccc; color:#333;}
.order-list li{list-style:none;margin-top:10px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#fff;}


