<% provide(:title, "支付失败") %>
<div class="html" id="html">
  <div class="stage" id="stage">
    <section id="sec-index">
      <div class="body">
        <div class="mod-null mod-result result-fail tcenter">
          <p class="table">
                        <span>
                            <i class="fa fa-exclamation-circle"></i>
                        </span>
                        <span>
                            <b>支付失败!</b><br/>
                            <em>订单金额：<%= f @payment.amount %>元</em>
                        </span>
          </p>
          <a href="<%= wxpay_pay_url(supplier_id: @payment.supplier_id, out_trade_no: @payment.out_trade_no,showwxpaytitle: 1) %>" class="btn btn-shopcar">重新支付</a>
          <a href="javascript:void(0);" class="btn btn-buy" id="supplier">返回商家页面</a>
        </div>
      </div>
    </section>
  </div>
</div>

<%= render 'pay' %>