body {
    background:#d4d3d2;
}
body.comment{ background:#fff;}
footer,
footer a{ color:#8d8d8d;}
footer a{ width:100%; height:20px;line-height:20px; padding:5px 0 0 0;}
/*ico*/
.ico-comment{ background:url(/assets/life/ico-comment.png) no-repeat left center; background-size:16px 15px; padding:0 0 0 20px; color:#444; font-size:12px;}
/*btn*/
.btn-up{ background-color:#ff6600; border-radius:5px;color:#fff; font-size:40px; padding:0 8px;opacity:0.8;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity:0.8;}
.btn{ background:#ed7525; border:1px solid #ff6600; border-radius:5px; box-shadow:0 0 5px rgba(0, 0, 0, 0.25);-webkit-appearance:none; text-align:center; color:#fff;text-shadow:0 1px 1px rgba(0, 0, 0, 0.25); font-size:16px; height:30px; line-height:30px; width:100%;}

/*box-list*/
.box-list{ width:100%; margin: 0 0 10px 0; float: left;}
.box-list .list-li{float:left; background:#fff; margin: 10px 0; position: relative;}
.index .box-list .list-li{ width: 45%;margin:10px 2% 0 3%;}
.index .box-list .list-li:nth-child(2n){margin:10px 3% 0 2%;}
.list .box-list .list-li{ width:95%; margin:10px 2.5% 0 2.5%; }
.box-list .hd,
.box-list .bd{ width:92%; float:left; overflow:hidden; padding: 5px 4% 0 4%;}
.box-list .hd{ position:relative; height: 140px; text-align:center; z-index:0; padding: 10px 4% 0 4%;}
.box-list .hd span:first-child{ width: 100%; height: 100%; overflow: hidden;}
.box-list .hd img{ max-height:100%; vertical-align:top;}
.detail .box-list .hd{ height: auto;}
.detail .box-list .hd img{ width: 100%;}
.box-list .hd span.ft{ position:absolute; background:#444; right:4%; bottom:5px; color:#e6e7e1; font-size:12px; padding:0 5px; line-height:30px;}
.detail .box-list .hd span.ft{ left:4%; right:auto;}
.index .box-list .bd{text-overflow: ellipsis;white-space:nowrap;}
.box-list .bd,
.box-list .bd a{ font-size:12px; line-height:20px; color:#888;}
.box-list .bd .ico{ font-size:20px; color:#fff; background-image:url(/assets/life/ico-heart-white.png); background-color:#c9c9c9; background-size:20px auto; background-position: center center; width:40px; height:40px; line-height:40px; border-radius:80px; margin:5px 0; padding:0;}
.box-list .bd .fw{ width: 100%;}
.box-list .bd .fl{ width:80%;}
.box-list .bd .fr.icon-heart{ width:40px; text-align:center;}
.box-list .bd .ico:active,
.box-list .bd .ico:visited,
.box-list .bd .ico.active{ color:#fff; background-color:#ff6600;}

/*box-comment*/
.box-comment{ background:#fff; padding:0 0 10px 0; margin:10px 2%; width:96%;}
.box-comment .hd,
.box-comment .bd{ width:100%; float:left;}
.box-comment .hd{ height:40px; line-height:40px; padding:0 5%; width:90%;position:relative;}
.box-comment .hd h2{ color:#ff6600; float:left; line-height:30px; width:90%;}
.box-comment .ico{ font-size:20px; color:#444444; margin:10px 0;}
.box-comment .bd{ background:#f9f7f5; border-top:1px solid #d5d4d2;}

.box-comment .hd h2{ width:60%; float:left; height:40px; line-height:40px;}
.box-comment .ico{color:#ff6600; font-size:15px;}
.box-comment .hd .fr{ border-radius:5px; border:1px solid #ccc; height:20px; line-height:20px; margin:8px 0; padding:0 10px 0 20px; background-position: 5px center;}
.box-comment .hd .ico em{ font-size:12px; color:#444; padding:0 0 0 5px;}
.box-comment .bd{ padding:10px 0; background:#f8f7f5;}
.box-comment .bd .fl{ width:30%; text-align:center;}
.box-comment .bd .fr{ width:70%;}
.box-comment .bd label{ width:92%; float:left; margin:10px 0 0 0;}
.box-comment .bd label .btn{ width:80%;}

/*ft-comment*/
.ft.ft-comment{ width:100%; float:left;color:#444; height:auto; padding:0;}
.ft-comment h3{ height:30px; line-height:30px; border-bottom:2px solid #ff6600; width:96%; padding:0 2%;}
/*ft-list*/
.ft-list{ width:100%; border-bottom:1px dashed #ccc; padding:10px 0; float:left; overflow:hidden; position:relative;}
.ft-list:last-child{ border:0;}
.ft-list .fl{ width:30%; text-align:center;}
.ft-list .fr{ width:68%; padding:0 2% 0 0;}
.ft-list .fr b,
.ft-list .fr span,
.ft-list .fr p{ width:100%; overflow:hidden;}
.ft-list .fr b,
.ft-list .fr a,
.ft-list .fr .ico {color:#ff6600;}
.ft-list .fr i{ font-size:12px; color:#ccc; text-align:left; display:block; width:100%;}
.ft-list .fr i em{ color:#888;}
.ft-list .fr i.fl{ width:70%;}
.ft-list .fr i.fr{ width:30%; padding:0; margin:0;}
.ft-list .fr a{ line-height:30px;}
/*bd-img*/
.bd-img{ width:60px; height:60px; line-height:60px; border-radius:5px; overflow:hidden;}
.bd-img img{ max-width:100%;}
/*bd-comment*/
.bd-comment{ border-radius:5px; border:1px solid #ccc; width:92%;}
.bd-comment textarea{ border:0; width:96%; line-height:20px; padding:5px 2%;}
.bd-comment .bd-face{ border-top:1px dashed #ccc; height:30px; line-height:30px; color:#ccc; padding:0 2%; width:96%;}
.bd-comment .bd-face .fr{ text-align:right; width:auto;}
/*bd-text*/
.bd-text{ height:32px; line-height:32px;}
.bd-text img,
.bd-text input{ float:left; }
.bd-text input{ border:1px solid #ccc; height:30px; line-height:30px; margin:0 0 0 5px; width:81.6%;}

/*section*/
.bd-title{ background:#fff; height:33px; line-height:33px; text-align:center; border-bottom:1xp solid #f27e2f; width:100%; float:left;}
.bd-title a{ width:100%; height:100%; color:#444;}
.list section{ padding:46px 0 0 0;}
section p.tcenter{ width:100%;}
/*header*/
.header{ background:#fff; height:45px; line-height:45px; position:fixed; z-index:888; border-bottom:1px solid #939292; width:100%; top:0;}
.list .header{box-shadow:0 0 5px rgba(0, 0, 0, 0.5); overflow: hidden;}
header h1{ width:55%; float:left; line-height:45px; text-align:center; color:#444; text-overflow: ellipsis;white-space:nowrap; overflow: hidden;}
header .ico{float:left;color:#444; background:#fff; border:1px solid #cccccc; border-radius:5px; height:30px; line-height:30px; padding:0 2%; position:relative;}
header .ico-left{margin:7.5px 2% 7.5px 5%;}
header .ico-left i{ width:13px; height:30px; position:absolute; top:0; left:-12px; display:block; float:left; background:url(/assets/life/ico.png) no-repeat left center; background-size:13px 30px;}
header .ico-right{margin:7.5px 2% 7.5px 2%; float: left; position: absolute; right: 0;}
.box-img{ margin:46px 0 0 0;}
/*pop*/
.pop-nav .pop-bd .hd{background:#fff; border-bottom:1px solid #b1b1b1; height:45px; color:#444; line-height:45px; width:95%;}
.pop-nav .pop-bd .hd input{ height:30px; line-height:30px; border:1px solid #ccc; float:left; margin:6px 5px 6px 0; padding:0 5px;}
@media screen and (orientation:landscape) {
    .ft-list .fl{ width:20%;}
    .ft-list .fr{ width:78%; padding:0 2% 0 0;}
    .box-comment .bd .fl{ width:20%;}
    .box-comment .bd .fr{ width:80%;}
    .bd-comment,
    .box-comment .bd label{ width:95%;}
    .bd-text input{ width:89.6%;}
}
