/*.chose_content{ padding: 200px 20px 0;}*/
.chose_content{ padding: 10px 20px 0;}
.chose_content a{ display: block; height: 70px; border-radius: 5px 5px; margin: 0 0 10px; padding: 0 40px 0 27px; background: url(/assets/activity_enroll/bg_left.png) no-repeat 8px center, url(/assets/activity_enroll/bg_ico_gored.png) no-repeat /*wng 560px*/ 95% center #fff; border: 2px solid #c2c2c2;}
.chose_content a p{ float: left; height: 50px; line-height: 30px; font-size: 24px;}
.chose_content a p.name{ color: #444; padding:20px 0 0 10px; border-left: 2px solid #c2c2c2; width: 130px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.chose_content a p.num{ color: #888; padding:20px 0 0 10px; border-left: 2px dotted #c2c2c2; /*wng width: 210px;*/ width:32%; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.chose_content a p.phone{ color: #888; padding:20px 0 0 10px; font-size: 20px;}
.chose_content a:hover{  background: url(/assets/activity_enroll/bg_left.png) no-repeat 8px center, url(/assets/activity_enroll/bg_ico_gowri.png) no-repeat /*wng 560px*/ 95% center #e8645a; border: 2px solid #c2c2c2;}
.chose_content a:hover p{ color: #fff;}

.reserve{background: #fff;}
/*wng .reserve_content{padding: 85px 0 0; }*/
.reserve_content{padding: 0px 0 0; }
.reserve_contenttopimg{ position: relative;}
.reserve_contenttopimg img{ width: 100%;}
.reserve_contenttopimg p{ position: absolute; left: 0; bottom: 0; width: 100%; height: 7px; background: url(/assets/activity_enroll/bg_but_bg.png) repeat-x;}
.reserve_content .list{/*wng width: 512px;*/ width:100%; margin: 20px auto;height:200px;}
.reserve_content .list p,.reserve_content .list a{ display: block; border-bottom: 2px dotted #c2c2c2; padding: 15px 40px 15px 60px; white-space: nowrap; color: #666; font-size: 24px; line-height: 26px;}
.reserve_content .list p span,.reserve_content .list a span{ color: #888;}
.reserve_content .list a.adress{background: url(/assets/activity_enroll/bg_ico_adress.png) no-repeat 10px center, url(/assets/activity_enroll/bg_ico_gored.png) no-repeat /*wng 490px*/ 95% center;}
.reserve_content .list a.phone{background: url(/assets/activity_enroll/bg_ico_phone.png) no-repeat 10px center, url(/assets/activity_enroll/bg_ico_gored.png) no-repeat /*wng 490px*/ 95% center;}
.reserve_content .list p.time{background: url(/assets/activity_enroll/bg_ico_time.png) no-repeat 10px center, url(/assets/activity_enroll/bg_ico_gored.png) no-repeat /*wng 490px*/ 95% center;}
.reserve_content .form{ width: 512px; margin: 30px auto 0;}
.reserve_content .form p.inp{ height: 56px; width: 512px; background: url(/assets/activity_enroll/bg_inp_01.png) no-repeat; overflow: hidden; }
.reserve_content .form p.inp input.text{ display: inline-block; float: left; border: none; margin: 0; padding: 0; width: 420px; color: #333; padding:0 10px 0 20px; font-size: 24px; line-height: 24px; vertical-align: middle; height: 56px; background: none;}
.reserve_content .form p.inp input.reset{display: inline-block; border: none; float: right; margin: 0; padding: 0; width: 55px;height: 56px; background: none; cursor: pointer;}
.reserve_content .form p.sub{ margin: 20px 0 0;}
.reserve_content .shadow{ height: 90px;margin-top: -90px;position: relative;background-color: #666666;background-color: #000000;left: 0;opacity: 0.7;}
.reserve_content .shadow .shop{margin-left:20px;color:#ffffff;font-size:28px;}
.reserve_content .shadow .address{margin-left:20px;color:#ffffff;font-size:20px;}


.sign{background: #fff;}
/*wng .sign_content{padding: 85px 0 0; }*/
.sign_content{padding: 10px 20px 0; }
.sign_content .topimg{ position: relative;}
.sign_content .topimg img{ width: 100%;}
.sign_content .topimg p{ position: absolute; left: 0; bottom: 0; width: 100%; height: 7px; background: url(/assets/activity_enroll/bg_but_bg.png) repeat-x;}

.sign_content .tall{ background: #fff;border-radius: 5px 5px; padding:20px; position: relative;/*wng width: 472px;*/ margin: 0 auto;}
.sign_content .tall p{ left: 10px;font-size: 24px; line-height: 26px; color: #444; position: relative; padding: 10px 0 10px 0px;}
.sign_content .tall .title{  border-bottom: 2px dotted #c2c2c2;margin-bottom:20px;}
/*.sign_content .tall p.phone{padding: 20px 0 20px 0px; position: relative;}
.sign_content .tall p.phone img{ position: absolute; right: 20px; top: 20px; z-index: 1;}
.sign_content .tall p.phone input{ margin: 0; padding: 0; line-height: 32px; font-size: 24px; color: #999; width: 300px; border: none; background: none; position: relative; z-index: 3;}
.sign_content .tall p span{ color: #444; position: absolute; left: 10px; top: 20px;}
.sign_content .tall p.bot{position: absolute; left: 0; bottom: -7px; width: 100%; height: 7px; background: url(/assets/activity_enroll/bg_but_bgf.png) repeat-x; padding: 0; border: none;}*/
.sign_content .tall textarea{ width: 320px; height: 60px; font-size: 24px; line-height: 30px; color: #999;}

.sign_content .tall2{ background: #fff;border-radius: 5px 5px; padding:20px; position: relative;/*wng width: 472px;*/ margin: 0 auto;}
.sign_content .tall2 p{ left: 10px;font-size: 24px; line-height: 26px; color: #444; position: relative; padding: 0px 0 10px 0px;}
.sign_content .tall2 .title{  border-bottom: 2px dotted #c2c2c2;margin-bottom:20px;}
.sign_content .form{ margin: 30px auto 0;}
.sign_content .form p.inp{ height: 56px; width: 512px; background: url(/assets/activity_enroll/bg_inp_01.png) no-repeat; overflow: hidden; margin:auto}
.sign_content .form p.inp input.text{ display: inline-block; float: left; border: none; margin: 0; padding: 0; width: 420px; color: #333; padding:0 10px 0 20px; font-size: 24px; line-height: 24px; vertical-align: middle; height: 56px; background: none;}
.sign_content .form p.inp input.reset{display: inline-block; border: none; float: right; margin: 0; padding: 0; width: 55px;height: 56px; background: none; cursor: pointer;}
.sign_content .form p.sub{ text-align:center}




/*.details_content{ padding: 100px 20px 0;}*/
.details_content{ padding: 10px 20px 0;}
.details_content .tall{ background: #fff;border-radius: 5px 5px; padding:20px; position: relative;/*wng width: 472px;*/ margin: 0 auto;}
.details_content .tall p{ font-size: 24px; line-height: 26px; color: #444; position: relative; padding: 20px 0 20px 140px; border-bottom: 2px dotted #c2c2c2;}
.details_content .tall p.phone{padding: 20px 0 20px 160px; position: relative;}
.details_content .tall p.phone img{ position: absolute; right: 20px; top: 20px; z-index: 1;}
.details_content .tall p.phone input{ margin: 0; padding: 0; line-height: 32px; font-size: 24px; color: #999; width: 300px; border: none; background: none; position: relative; z-index: 3;}
.details_content .tall p span{ color: #444; position: absolute; left: 10px; top: 20px;}
.details_content .tall p.bot{position: absolute; left: 0; bottom: -7px; width: 100%; height: 7px; background: url(/assets/activity_enroll/bg_but_bgf.png) repeat-x; padding: 0; border: none;}
.details_content .tall textarea{ width: 320px; height: 60px; font-size: 24px; line-height: 30px; color: #999;}
.details_content .but{ padding: 30px 0 0; width: 512px; margin: 0 auto;}

/*.map_content{padding: 100px 20px 0;}*/
.map_content{padding: 10px 20px 0;}
.map_content .mapbox{ /*wng width: 600px;*/ margin: 0 auto;}

/*.order_content{padding: 100px 0 0;}*/
.order_content{padding: 10px 0 0;}
.order_content .list{border-top: 2px solid #c2c2c2; border-bottom: 2px solid #c2c2c2;}
.order_content a{ display: block; overflow: hidden; line-height: 40px; font-size: 24px; color: #888; background: url(/assets/activity_enroll/bg_ico_gored.png) no-repeat /*wng 600px*/ 93% center #fff;border-top: 2px dotted #c2c2c2; padding: 10px 0;}
.order_content a:first-child{ border: none;}
.order_content a:hover{ color: #fff; background: url(/assets/activity_enroll/bg_ico_gowri.png) no-repeat /*wng 600px*/ 93% center #e8645a;}
.order_content a p{ float: left;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.order_content a p.top{ width: 350px; padding: 0 0 0 20px;}
.order_content a p.bot{ /*wng width: 220px;*/ width:34%; padding: 0 0 0 20px;}

/*.success_content{padding: 100px 0 0;}*/
.success_content{padding:30px 0 0;}
.success_content .mess{/*wng width: 480px;*/ width:75%; background: #fff; border-radius: 5px 5px; margin: 0 auto; padding: 20px; position: relative;}
.success_content .mess p.name{ font-size: 24px; color: #444; line-height: 24px; vertical-align:middle;border-bottom: 2px dotted #c2c2c2; padding: 0 0 10px 0;}
.success_content .mess p.name span{ font-size: 32px; color: #e8645a;line-height: 32px;}
.success_content .mess p.use{ font-size: 24px; color: #888; line-height: 32px; vertical-align:middle;border-bottom: 2px dotted #c2c2c2; padding: 15px 0;}
.success_content .mess p.rule{font-size: 24px; color: #888; line-height: 32px; vertical-align:middle;border-bottom: 2px dotted #c2c2c2; padding: 15px 0;}
.success_content .mess p.rule span{ display: block; color: #444;}
.success_content .mess p.bot{position: absolute; left: 0; bottom: -7px; width: 100%; height: 7px; background: url(/assets/activity_enroll/bg_but_bgf.png) repeat-x; padding: 0; border: none;}

.success_content .mess p.map{/*wng width: 480px;*/ width:100%; /*wng height: 175px;*/ padding: 15px 0 0;}
.success_content .but{padding: 30px 0 0; width: 512px; margin: 0 auto; }
.success_content{ position:relative;}
.success_content .arrow_right{ display:block; width:120px; height:101px; background:url(/assets/activity_enroll/arrow_right.png) no-repeat; position:absolute; right:-40px; top:-30px;}

/*.desk_content{padding: 100px 0 0; position: relative;}*/
.desk_content{padding: 10px 0 0; position: relative;}
.desk_content .form{ /*wng width: 562px;*/ width:85%; padding: 16px 16px 60px; background: #fff; border-radius: 5px 5px; margin: 0 auto; height: 100%;}
.desk_content .form .title{ font-size: 28px; line-height: 32px; color: #444; padding: 0 0 0 0;}
.desk_content .form .time{ height: 61px; padding: 20px 0 2px 0; background: url(/assets/activity_enroll/bg_line_bot01.png) no-repeat bottom, url(/assets/activity_enroll/bg_line_bot02.png) no-repeat 290px top;}
.desk_content .form .time p{display: inline-block;}
.desk_content .form .time p.day{ height: 48px; /*wng width: 255px;*/ width:230px; padding: 0 0 0 60px; background: url(/assets/activity_enroll/bg_ico_day.png) no-repeat left 0; color: #888; line-height: 46px;}
.desk_content .form .time p.day select{ display: block; border: 1px solid #c5c5c5; border-radius: 20px 20px; background: #f5f5f5; padding: 0 20px; height: 46px; width: 200px; font-size: 24px;  line-height: 46px; color: #666;}
.desk_content .form .time p.shi{ height: 48px; width: 180px; padding: 0 0 0 60px; background: url(/assets/activity_enroll/bg_ico_shi.png) no-repeat left center; color: #888; line-height: 46px;}
.desk_content .form .time p.shi select{ display: inline-block; border: 1px solid #c5c5c5; border-radius: 20px 20px; background: #f5f5f5; padding: 0 15px; height: 46px; width: 80px; font-size: 24px;color: #666; line-height: 46px;}
.desk_content .form .time p.shi span{ font-size: 38px; display: inline-block;}
.desk_content .form .titles{ font-size: 28px; line-height: 32px; color: #444; padding: 30px 0 20px 0;}
.desk_content .form .whe{ overflow: hidden;}
.desk_content .form .whe label{ display: inline-block; font-size: 28px; line-height: 32px; height: 32px; padding:10px 0; width: 300px; color: #888;vertical-align: middle;}
.desk_content .form .whe label.f{ width: 240px;}
.desk_content .form .whe label input[type="radio"] { margin: 0 15px 0 0; position: relative; top: -5px; }
.desk_content .form .but{ text-align: center; padding: 30px 0 0;}
.desk_content .form .numbox{ position: relative; width: 551px; margin: 0 auto;}
.desk_content .form .numbox span.getnum_span{ display: block; height: 60px; width: 60px;  background: url(/assets/activity_enroll/bg_but_hover.png) no-repeat; position: absolute; left: 50%; top:0; margin: -5px 0 0 -30px; border: none; z-index: 5; line-height: 60px; font-size: 28px; color: #fff; font-weight: bold; text-align: center;}
.desk_content .form .numbox p.left{ position: absolute; left: 1px; top: 0px; z-index: 5; cursor: pointer; height: 45px; text-align: left; width: 235px; padding: 5px 0 0 5px;}
.desk_content .form .numbox p.right{ position: absolute; right: 1px; top: 0px; z-index: 5; cursor: pointer; height: 45px; text-align: right;width: 235px; padding: 5px 5px 0 0;}
.desk_content .form .num{ height: 50px; width: 549px; position: relative; margin: 0 auto; overflow: hidden; border: 1px solid #c5c5c5; border-radius: 30px 30px; cursor: pointer; background: #f5f5f5; box-shadow: inset 3px 3px 3px 0 #ccc; }
.desk_content .form .num ul{line-height: 50px; font-size: 24px; color: #6d7173; position: absolute; left: 0; top: 0; width: 5000px;}
.desk_content .form .num ul li{ float: left; width: 61px; text-align: center;}
.desk_content .form select.a{ display: block; height: 25px; width: 50px; border-radius: 5px 5px; border: 1px solid #222;background: #f5f5f5;}
.desk_content .chose_time{ position: absolute; /*wng width: 640px;*/ width:100%;  top: 250px; left: 0; z-index: 10;line-height: 36px; font-size: 32px; color: #666; margin: 0; background: #d2d1cd; padding: 40px 0; text-align: center; display: none;}
.desk_content .chose_time select{ display: inline-block; height: 32px; line-height: 32px; font-size: 28px; color: #666; margin: 0;}
.desk_content .chose_time p{ width: 120px; border: 1px solid #999; background: #eee; border-radius: 10px 10px; font-size: 24px; line-height: 32px; height: 32px; margin: 30px auto 0; }

.menu_content .mess2{/*wng width: 480px;*/ width:75%; background: #fff; border-radius: 5px 5px; margin: 0 auto; padding: 20px; margin-bottom:10px;}


.jiazai{/*wng width: 480px;*/ width:75%;margin: 0 auto; padding:6px; text-align:center;}

.jiazai p span{ position:relative; top:-5px; color:#b0b0b0; font-size:18px; padding-left:5px;}
.menu_list2 div.outer{ border-bottom:1px dashed #c2c2c2; padding:5px 0;}
.menu_list2 div .c_img{ float:left; width:48%; }
.menu_list2 div .c_img img{ float:left; width:100%;}
.menu_list2 div .c_info{ float:right; width:51%; text-indent:0; padding-left:0; color:#666; height:161px; display:block; line-height:100%}
.menu_list2 div.c_info h1{ text-indent:0; color:#444444; font-size:24px; line-height:28px; padding-top:8px; padding-left:10px; margin-bottom:15px;}
.menu_list2 div.c_info p{  text-indent:0; color:#888; font-size:20px; line-height:36px; padding-left:10px;}
.menu_list2 div.c_info p strong{ font-weight:normal; color:#444;}
.menu_list2 div.c_info p strong.price_a{ font-weight:normal; text-decoration:line-through;}
.menu_list2 div.c_info p strong.price_b{ font-weight:normal; color:#e8645a;}
.menu_list2 div.outer h1{ position:relative; font-weight:normal;}
.menu_list2 div.outer h1 .close-ico{ position:absolute;  right:-10px; top:0px; display:block; height:42px; width:95px;}
.menu_list2 div.outer h1 .close-ico a{ display:block; width:41px; height:42px; float:left; padding-left:6px; text-indent:-99999em;}
.menu_list2 div.outer h1 .close-ico a.ico_a{ background:url(/assets/activity_enroll/cai_no.jpg) no-repeat;}
.menu_list2 div.outer h1 .close-ico a.ico_b{ background:url(/assets/activity_enroll/cai_ok.jpg) no-repeat;}
.e8645a{ color:#e8645a;}
.c888{ color:#888;}
.c444{ color:#444;}
.btn_c{ position:absolute; right:-8px; top:10px; display:block; width:133px; height:52px; line-height:48px; background:url(/assets/activity_enroll/btn_bg3.png) no-repeat;font-size:28px; color:#fff;text-shadow:1px 1px 1px #999; text-align:center;}
.mess2 .f_left{ float:left; background:url(/assets/activity_enroll/ico_4.png) no-repeat left center; height:60px; position:relative; text-indent:65px; position:relative; left:-10px;}
.mess2 .f_left h1{ color:#888; font-size:20px; padding-top:10px;}
.mess2 .f_left p{ text-align:center;}
.mess2 .f_left .sub_nav_a{ position:absolute;}
.mess2 .r_right{ float:right; position:relative; padding-left:5px; width:62%; border-left:1px dashed #c2c2c2;}
.mess2 .r_right .t_b{ font-size:20px; line-height:70px; color:#888;}
.mess2 .r_right .gwc{ display:block; background:url(/assets/activity_enroll/che.png) no-repeat; width:36px; height:39px; float:left; margin-top:20px; margin-right:4px; position:relative;}
.mess2 .r_right .gwc .num{ display:block; color:#fff; text-align:center; background:url(/assets/activity_enroll/che2.png) no-repeat; width:23px; height:28px; position:absolute; right:-9px; top:-18px;}

.mess2 .f_left{ position:relative;}
.sub_nav_a{background: #76caca; border:1px solid #6cbbbb; padding:8px; border-radius: 5px 5px; position:absolute; left:-10px; top:70px;}
.sub_nav_a p a{ color:#888;}
.sub_nav_a p{background: #fff; border:1px solid #6cbbbb; border-radius: 5px 5px; padding:3px 5px; text-align:center; color:#888; font-size:18px; width:170px; padding-left:0; text-indent:0; margin-bottom:6px;} 