body{ background:#00635a;}
.btn{ background:#e36b2c; border-color:#dc5925; height:29px; line-height:29px;}
.arrow.arr-small:after {
	border-width: 3px 3px 0 0;
	height: 8px;
	width: 8px;
	border-color: #e36b2c;
}
.box-relative .arrow{ margin:-10px 0 0 0; right:20%;}
/*box*/

/*header*/
header .box{ background:#01463e;}
.show-hd,
.nav-hd{ float:left; width:100%; overflow:hidden;}
.show-hd{ border-radius:10px 10px 0 0;}
.nav-hd{ border-radius:0 0 10px 10px;}
.show-hd img{ border-radius:5px;}
.nav-hd a{ background-repeat:no-repeat; width:32.8%; height:27px; line-height:27px; background-size:auto 15px; background-color:#029083; background-position:center center; border-radius:5px;}
.nav-hd a:active,
.nav-hd a.current{ background-color:#01463e;}
.ico-major{ background:url(/assets/albums/weducation/ico-major.png);}
.ico-teacher{ background:url(/assets/albums/weducation/ico-teacher.png);}
.ico-intro{ background:url(/assets/albums/weducation/ico-intro.png);}
.ico-environment{ background:url(/assets/albums/weducation/ico-environment.png);}
.ico-job{ background:url(/assets/albums/weducation/ico-job.png);}
.ico-adress{ background:url(/assets/albums/weducation/ico-adress.png);}
.ico-phone{ background:url(/assets/albums/weducation/ico-phone.png) no-repeat left center; background-size:18px 20px; padding:20px 25px; color:#fff; font-size:10px;}
.ico-phone b{ font-size:14px; color:#e36b2c; padding:0 0 0 5px;}
/*box*/
.box-teacher{ width:100%; overflow:hidden; float:left; margin:0 auto 10px auto;}
.box-teacher .bd{ width:100%; overflow:hidden; padding:10px 0; border-bottom:1px dashed #ccc;}
.box-teacher .bd:last-child{ border:0;}
/*list-major*/
.list-major p{ width:86%; border:1px solid #ccc; border-radius:5px; margin:5px auto; padding:0 5%;}
.list-major a.tleft{ width:75%; color:#888;}
/*list-adress*/
.list-adress a{ position:relative; width:86%;border:1px solid #ccc; border-radius:5px;margin:5px auto; padding:10px 5%;}
.list-adress b{ color:#029083;}
.list-adress span{ color:#888;}
.list-adress b,
.list-adress span{ width:80%;}
.list-adress .arrow{ right:10px; top:50%; margin:-10px 0 0 0;}
/*map*/
#dituContent{ position:fixed; width:100%; height:100%; top:0; left:0;}
@media screen and (orientation:landscape) {
	.nav-hd a{ width:33%;}
}
