<% title '公众账号绑定流程-第二步' %>
<div class="header">
  <a class="title">微信公众号智能升级中...</a>
</div>
<div class="body">
  <div class="box-step  step-1-1 step-title">
    <div class="hd">
      <p>
        <span>为爱升级，微信公众号智能蜕变</span>
        <a href="/" class="logo"></a>
      </p>
    </div>
    <div class="bd">
      <a href="<%= binds_url %>" class="btn-step-fair">未收到回复？重新绑定</a>
    </div>
    <div class="ft">
      <p>用个人微信账号往您的公众号发送一条信息<a>“为爱升级”</a>，如收到回复<a>“升级成功”</a>，说明您已经升级成功。</p>
      <a href="<%= binded_binds_path %>" class="btn-step">升级成功，下一步</a>
    </div>
  </div>
</div>
