<% title '公众账号绑定流程-第三步' %>
<div class="header">
	<a class="title">微信公众号智能升级中...</a>
</div>
<div class="body">
	<div class="box-step  step-3">
    	<div class="hd">
        	<p>
            	<span>为爱升级，微信公众号智能蜕变</span>
                <a href="/" class="logo"></a>
            </p>
        </div>
        <div class="bd">
        	<h1>亲~~您的账号已经完成智能升级</h1>
            <!-- <p><span>马上去设置：</span><a href="<%= welcome_wx_mp_users_url %>">粉丝关注回复 >></a></p> -->
            <p><span>回到：</span><a href="<%= account_url %>">账户首页 >></a></p>
        </div>
    </div>
</div>
<script src="/javascripts/step/step.js"></script>
