<div class="gl-ct-inner1">
  <a class="g_pass" data-toggle="modal" data-target="#myModal" href="javascript:;">跳过</a>
  <!-- Modal -->
  <div class="modal fade g_guied_tanchu" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
         <h4 class="modal-title">&nbsp;<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h4>
        </div>
        <div class="modal-body g_padv50" align="center">
         必须跟公众号绑定才能正常使用微枚迪后台功能，建议完成绑定
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-sm btn-primary" data-dismiss="modal" href="javascript:;">继续绑定</a>
          <a href="/" class="btn  btn-sm">稍后绑定</a>
        </div>
      </div>
    </div>
  </div>

  <%= form_tag rebind_binds_url, class: 'form' do %>
    <h3>升级微信公众号<small style="padding-left: 10px;"><a href="/sign_out">返回首页</a></small></h3>
    <div class="gl-ct-description">
      <div class="pull-left">
      <img src="/assets/guide_line/1.jpg" style="width: 100px;height: 100px"></div>
      <div class="info margin-left-10 margin-top-10" style="width:350px">
        <!-- 系统需要实现微枚迪账号和微信公众账号的对接才可以正常使用。请使用微枚迪一键智能升级功能，整个过程异常简单，只需要输入您的公众账号和密码，即可帮助您实现微信公众账号的蜕变。 -->
        绑定微信公众平台公众号微枚迪系统需要和微信公众平台绑定后才能实现在微枚迪后台设置公众平台的展示内容和相关功能，可以点击下面按钮去绑定。
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="form-group">
      <label><!-- 微信公众平台登录账号 --><span class="required-star"><!-- * --></span></label><span class="pull-right font-size13 grey">尚未申请微信公众平台账号？<a href="https://mp.weixin.qq.com/" target="_blank" >点击申请</a></span>

      <!-- <div class="clearfix">
        <%#= text_field_tag :username, params[:username], class: "form-control", placeholder: "此处为微信公众平台账号（非微枚迪账号）", autocomplete: 'off' %>
      </div> -->
    </div>

    <!-- <div class="form-group">
      <label>微信公众平台登录密码<span class="required-star">*</span></label>

      <div class="clearfix">
        <%#= password_field_tag :password, nil, class: "form-control", placeholder: "此处为微信公众平台账号密码（非微枚迪账号密码）" %>
      </div>
    </div> -->

    <!-- <div id="login-msg" style="text-align:center;color:red"></div>

    <div class="align-center grey" style="margin-top: 70px">
      <label>不想输入账号密码？您可以选择<a href="<%#= step1_binds_url %>">手动绑定</a></label>
    </div> -->

    <div class="form-group">
      <!--<input type="submit" class="btn btn-primary btn-large form-control" value="一键智能升级">-->
      <!-- <a href="javascript:;" class="btn btn-primary form-control" id="sumbit">一键智能升级</a> -->
      <input type="button" class="btn btn-primary btn-large form-control go_bind" value="去微信公众平台绑定" onclick="javascript:window.location.href = '<%= bind_platforms_url %>';">
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>

<% content_for :custom_js do %>
<script>
$(function(){
  $('#sumbit').click(function(e){
    $('form').submit();
    if( confirm('重新绑定新公众账号后，原有微会员数据、电商数据将不再显示，其它功能模块数据可正常使用。确定吗？') ) {
      $('form').submit();
    }
  });
  
  jbody = <%= raw (@response_body || {}) %>;
  show_msg(jbody);

  $('.go_bind').click(function(e){
    if(!$('#username').val()){
      $('#login-msg').text('微信公众平台账号不能为空');
      e.preventDefault();
    }else if(!$('#password').val()){
      $('#login-msg').text('密码不能为空');
      e.preventDefault();
    }else if('<%= @verify_img %>' && !$('#imgcode').val()){
      $('#login-msg').text('验证码不能为空');
      e.preventDefault();
    }else{
      $('#login-msg').text('');
      $('form').submit();
    }
  });
});

function show_msg(jbody){
  var n = jbody.ErrCode + "", i;
  switch (n) {
    case "-1":
    i = "系统错误，请稍候再试。";
    break;
    case "-2":
    i = "帐号或密码错误。";
    break;
    case "-3":
    i = "您输入的帐号或者密码不正确，请重新输入。";
    break;
    case "-4":
    i = "不存在该帐户。";
    break;
    case "-5":
    i = "您目前处于访问受限状态。";
    break;
    case "-6":
    i = "请输入图中的验证码";
    break;
    case "-7":
    i = "此帐号已绑定私人微信号，不可用于公众平台登录。";
    break;
    case "-8":
    i = "邮箱已存在。";
    break;
    case "-32":
    i = "您输入的验证码不正确，请重新输入";
    break;
    case "-200":
    i = "因频繁提交虚假资料，该帐号被拒绝登录。";
    break;
    case "-94":
    i = "请使用邮箱登录。";
    break;
    case "10":
    i = "该公众会议号已经过期，无法再登录使用。";
    break;
    case "65201":
    case "65202":
    i = "成功登录，正在跳转...";//, location.href = t.ErrMsg;
    break;
    case "0":
    i = "成功登录，正在跳转...";//, location.href = t.ErrMsg;
    break;
    case "-100":
    i = '海外帐号请在公众平台海外版登录,<a href="http://admin.wechat.com/">点击登录</a>';
    break;
    case "-9901":
    i = '初始化绑定失败';
    break;
    case "-9902":
    i = '初始化绑定失败';
    break;
    case "-9903":
    i = '初始化绑定失败';
    break;
    case "-9904":
    i = '登录超时';
    break;
    case "-9905":
    i = '登录时出现异常';
    break;
    case "-9911":
    i = '此公众账号已被使用，无法绑定。';
    break;
    case "-9912":
    i = '此公众账号已被使用，无法绑定。';
    break;
    default:
    i = "未知的返回。";
    return;
  }
  $('#login-msg').text(i);
}
</script>
<% end %>