body{ background:#f4f4f4;}
.box{overflow: hidden;display: inline-block; padding: 10px; margin: 1%;}
.box,
.box a{color:#fff;}
.index{width:100%;text-align:center;overflow: hidden;padding:10px;}
.index a{ float: left; position: relative; height: 160px; text-align: center;position:relative;overflow:hidden;}
.index a i{display:block;width:100%;height:100%;overflow:hidden;}
.mod-index{background: #424342;}
.mod-index:nth-child(4n+1){background:#7062af;width:31.33333%;}
.mod-index:nth-child(4n+2),.mod-index:nth-child(4n+3){background:#fff;width:64.6667%; padding: 0;}
.mod-index:nth-child(4n+4){background:#cd8bad;width:31.33333%;}

.mod-index small{ font-size: 18px; line-height: 20px; display: block; width: 100%; font-size: 14px; overflow: hidden;word-spacing:normal; word-break:normal; word-break:break-all;}
.mod-index:nth-child(4n+1) small,.mod-index:nth-child(4n) small{width:48px;height:140px;line-height:20px;font-size:20px;text-align:left;}
.mod-index img{ width: 100%; min-height: 100%; vertical-align: top;}
.mod-index:nth-child(4n+1) .fa,.mod-index:nth-child(4n) .fa{display:block;width:24px;height:24px;border:2px solid  #fff;border-radius:50%; font-size: 14px;line-height:20px;text-align:center;position:absolute;right:8px;bottom:8px;}
.mod-index:nth-child(4n+2) .fa,.mod-index:nth-child(4n+3) .fa{ font-size: 100px;margin: 30px 0;color:#8a448b;}

.btn-up-1{ background: #999;}
.btn-up-1 .fa{ background: #fff; color: #999;}
.navPop-1 .navPop-btn{ background: #999;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #999;}
.navPop-wrap>div a{
    background: #999;
    color: #fff;
}
@media screen and (orientation:landscape) {

}
