body{
    background-color:#3e86af;
    background-repeat: no-repeat;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(#3e86af),to(#e4a186),to(#4e3a5f));
    background:-webkit-linear-gradient(top,#4e3a5f,#e4a186,#3e86af);
    background:-moz-linear-gradient(top,#4e3a5f,#e4a186,#3e86af);
    background:-ms-linear-gradient(top,#4e3a5f,#e4a186,#3e86af);
    background:-o-linear-gradient(top,#4e3a5f,#e4a186,#3e86af);
}
footer,
footer a{color: #fff;}
footer{margin: -18px 0 0 0; height: 18px; line-height: 18px;}
.stage{width: 100%; position: absolute;}
#sec-index,
.body{position: absolute; height: 100%;width: 100%;}
.slider-ver{position: absolute;}
.index{ margin:10px; max-width: 300px; margin:0 auto;}
.index .hd{ height: 50px; line-height: 50px; position: relative; background: rgba(255,255,255,0.1); text-align: left;}
.index .hd>*{display: inline-block; font-size: 16px; color: #fff; height: 100%; vertical-align: top; float: left;}
.index .hd .fa{ width: 20%; text-align: left; padding: 0 10px; font-size: 30px; line-height: 50px;}
.index .hd .fa:last-of-type{text-align: right;}
.index .hd h1{width: 60%; text-align: center;}
.index .bd{ height: 167px; overflow: hidden; border:3px solid #fff; border-left: 0; border-right:0;}
.index .bd .fa{font-size:150px;line-height:167px;color:#d33117;}
.index .bd img{width: 100%; min-height: 100%;}
.index .ft{ padding: 4px 0;}

.mod-index{padding:0; width:32%; height: 60px; margin:0 0 4px 0; display: inline-block;text-align: center;background:rgba(255,255,255,0.3);vertical-align: text-top; color: #fff;}
.mod-index > *{vertical-align: middle; display: table-cell; width: 100%; text-align: center; overflow: hidden;}
.mod-index small{ font-size: 14px; line-height: 20px; padding: 0 5px; display: block; height: 20px;word-spacing:normal; word-break:normal; word-break:break-all; margin: -5px 0 0 0;}
.mod-index i{height: 40px; line-height:40px; overflow: hidden;text-align: center; display: block;}
.mod-index img{ max-height:30px; vertical-align: top; margin: 5px 0;}
.mod-index .fa{ font-size: 30px;}
.index.active{-webkit-transform:scale(1.025,1.025);}
.mod-index:active,
.mod-index.active{-webkit-transform:scale(0.9,0.9);background:rgba(255,255,255,0.8);}
.btn-up-1{ background: #fff;}
.btn-up-1 .fa{ background: #000; color: #fff;}
.navPop-1 .navPop-btn{ background: #fff;}
.navPop-1 .navPop-btn .fa{ background: #000; color: #fff;}
.navPop-wrap>div a{
    background: #fff;
    color: #000;
}
@media screen and (orientation:landscape) {
    .index .ft .mod-index:nth-of-type(4),
    .index .ft .mod-index:nth-of-type(5),
    .index .ft .mod-index:nth-of-type(6){ display: none;}
    .mod-index{height: 70px;}
    .mod-index i{ height: 50px; line-height: 50px;}
    .mod-index .fa{ font-size: 40px;}
    .mod-index img{ max-height:40px;}
}
@media screen and (orientation:landscape) {
    .index{max-width: 620px;}
}