body{background:#fff;font-family:"\5FAE\8F6F\96C5\9ED1";}
.slider-hor{height:200px;}
.slider-hor img{max-height:200px;}
.index{padding:0 3px;}
.box{border-radius:8px;background:#2f2f2f;overflow:hidden;display:block;text-align:center;}
.box,.box a{color:#fff;}
.mod-btn{width:100%;font-size:18px;padding:10px;margin:3px 0;}
.mod-index{display:block;width:100%;height:180px;margin-top:3px;position:relative;background-color:#bbbbbb;background-repeat:repeat-x;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#bbbbbb),to(#e5e5e5));background:-webkit-linear-gradient(top,#e5e5e5,#bbbbbb);}
.mod-index > *{vertical-align:middle;display:table-cell;width:100%;text-align:center;overflow:hidden;}
.mod-index small{display:block;font-size:18px;padding:5px 0;line-height:25px;height:35px;border-radius:8px 8px 0 0;position:absolute;left:0;top:0;background:rgba(0,0,0,.5);overflow:hidden;text-overflow:ellipsis;}
.mod-index i{display:block;height:180px;overflow:hidden;text-align:center;display:block;}
.mod-index img{width:100%;min-height:100%;vertical-align:top;border-radius:8px;}
.mod-index .fa{font-size:120px;line-height:145px;padding-top:35px;color:#333;}
.mod-btn .fa{margin:0 5px 0 0;}
.btn-up-1{background:#fff;}
.btn-up-1 .fa{background:#000;color:#fff;}
.navPop-1 .navPop-btn{background:#fff;}
.navPop-1 .navPop-btn .fa{background:#000;color:#fff;}
.navPop-wrap>div a{background:#fff;color:#000;}
@media only screen and (max-width:1080px){
}
@media only screen and (min-width:1224px){
}
@media only screen and (max-width:320px){
}