.html{background-position:center top; background-size: 100% auto; background-repeat: no-repeat;}
.stage{position:static;}
.index{width:300px;height:400px;top:50%;left:50%;margin:-200px 0 0 -150px;position:absolute;}
.mod-index{width: 64px; height: 84px;overflow: hidden; display: block; position: absolute;text-align: center; color: #666; z-index: 1;}
.mod-index i,
.mod-index small{display:block;width:64px;overflow: hidden; font-style: normal;}
.mod-index i{font-size: 40px;height: 64px;line-height:64px;color:#e34953;}
.mod-index small{height:20px; font-size: 12px; line-height:20px;color:#3f3b37;}
.mod-index img{max-height: 100%; vertical-align: top;}
.mod-index:nth-of-type(1){left:40px;top:0;}
.mod-index:nth-of-type(2){left:10px;top:90px;}
.mod-index:nth-of-type(3){left:50px;top:170px;}
.mod-index:nth-of-type(4){left:110px;top:240px;}
.mod-index:nth-of-type(5){left:200px;top:260px;}
.mod-logo{left:160px;top:140px;position:absolute;}
.mod-logo img{width:72px;height:28px;}
.index-main{z-index: 2;}
.index-main.on{-webkit-transform: translate(0, 0) rotate(0deg);}
@media only screen and (max-width:1080px){
}
@media only screen and (min-width:1224px){
}
@media only screen and (max-width:320px){
}