.html{ background:url(/assets/mobile/vweisiteV01/42/header.png?2013)no-repeat center top, url(/assets/mobile/vweisiteV01/42/bg.png) no-repeat center bottom,url(/assets/mobile/vweisiteV01/42/bg.gif); background-size: 100% auto, 100% auto,auto 10px;}
footer,
footer a{ color: #b17204;}
.index{padding:140px 0px 20px 0px;}
.index li{text-align:center;}
.mod-index{ width: 70px; min-height:180px;  background: url(/assets/mobile/vweisiteV01/42/index.png) no-repeat center top; display: inline-block; margin: 20px 0px; background-size: 100% auto; padding: 80px 26px 0 26px; color: #fdcf82; vertical-align: text-top;}
.mod-index small{ font-size: 16px; display: block; max-height: 100px; overflow: hidden;word-spacing:normal; word-break:normal; word-break:break-all;}
.mod-index:nth-child(1){ margin-top: 0px;}
.mod-index:nth-child(2){ margin-top: 30px;}
.mod-index:nth-child(3){ margin-top: 0px;}
.mod-index:nth-child(4){ margin-top: 20px;}
.btn-up-1{ background: #999;}
.btn-up-1 .fa{ background: #fff; color: #999;}
.navPop-1 .navPop-btn{ background: #999;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #999;}
.navPop-wrap>div a{
    background: #999;
    color: #fff;
}
@media screen and (orientation:landscape) {
    .index{padding:300px 20px 20px 20px;}
    .mod-index{ margin: 20px;width: 80px; padding: 80px 30px 0 30px; }
}

