<div class="box-list">
  <% website_menu.sub_menus.each do |child| %>
      <a href="<%= menu_url child %>" class="bg-arrow table">
        <% if child.pic? %>
            <span class="fl td">
              <b><img src="<%= child.pic.try(:thumb) %>"/></b>
            </span>
        <% end %>
        <span class="<%= child.pic? ? "fr td" : "fw td"%>">
          <b><%= child.name %></b>
          <!--<i><%#= date_format_full_l(child.created_at)  %></i>-->
        </span>
      </a>
  <% end %>
</div>


