<div class="box box-list">
  <% website_menu.sub_menus.each do |child| %>
      <a href="<%= menu_url child %>" class="bg-arrow table">
          <span class="fl box-circle td">
            <b style="background-image:url(<%= child.pic.try(:thumb) if child.pic? %>)"></b>
          </span>
          <span class="fr td">
            <b><%= child.name %></b>
          </span>
      </a>
  <% end %>
</div>


