<div class="box-list">
  <% website_menu.sub_menus.each do |child| %>
      <a class="table" href="<%= menu_url child %>">
        <% if child.pic_url %>
            <span class="fl td">
                <b><%= image_tag child.is_a?(Assistant) ? child.pic_url : child.pic_url %></b>
            </span>
        <% end %>
        <span class="<%= child.pic_url ? "fr td" : "fw td"%>">
            <b><%= child.name %></b>
            <!--<i><%#= date_format_full_l(child.created_at)  %></i>-->
            <em class="arrow"></em>
        </span>
      </a>
  <% end %>
</div>
