* {margin:0;padding:0;}
html, body {
    height: 100%
}
body {
    position: relative;
    overflow-x: hidden;
    font-size: 14px;
    font-family: arial, "\5FAE\8F6F\96C5\9ED1";
    -webkit-text-size-adjust: none;
}
body, p, form, h1, h2, h3, h4, h5, h6, ul, ol, li, section, div, * {
    padding: 0;
    margin: 0
}
ul, ol, li {
    list-style: none
}
img {
    border: 0
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
video {
    display: inline-block;
    width:100%;
    background:#000;
}
::-moz-selection {
    background: none;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: none;
    color: #fff;
    text-shadow: none;
}
img {
    -ms-interpolation-mode: bicubic;
}
h1, h2, h3 {
    color: #444;
}
h1 {
    /*-webkit-text-stroke: 1px #fff;*/
    font: 18px "\5FAE\8F6F\96C5\9ED1";
}
h2 {
    /*-webkit-text-stroke: 1px #fff;*/
    font: 16px "\5FAE\8F6F\96C5\9ED1";
}
h3 {
    /*-webkit-text-stroke: 1px #fff;*/
    font: 15px "\5FAE\8F6F\96C5\9ED1";
    color:#333;
}
i,em,b,span,label,a{ display:inline-block; font-style:normal;}
img{ }
.hide {
    display: none;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.break {
    word-spacing: normal;
    word-break: normal;
    word-break: break-all;
}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.fixed-top {
    position: fixed;
    bottom: auto;
    top: 0px;
}
.fixed-bottom {
    position: fixed;
    bottom: 0px;
    top: auto;
}
.fixed-left {
    position: fixed;
    right: auto;
    left: 0px;
}
.fixed-right {
    position: fixed;
    right: 0px;
    left: auto;
}
.tleft {
    text-align: left;
}
.tright {
    text-align: right;
}
.tcenter {
    text-align: center;
}
.fred{ color:#fe4773;}
.fl{ float:left;}
.fr{ float:right;}
/*table*/
.table {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
}
.tr{ display:table-row;}
.td {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
/*plug-div*/
.plug-div {
    position:fixed;
    bottom:0;
    left:0;
    z-index:900;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.plug-menu{
    -webkit-appearance:button;
    display:inline-block;
    width:36px!important;
    height:36px!important;
    border-radius:36px;
    position: absolute;
    bottom:17px;
    left: 17px;
    z-index:999;
    -moz-box-shadow:0 0 0 4px #333, 0 2px 5px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0 0 0 4px #333, 0 2px 5px 4px rgba(0, 0, 0, 0.25);
    box-shadow:0 0 0 4px #333, 0 2px 5px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: -webkit-transform 200ms;
    -webkit-transform:rotate(1deg);
    color:#333;
    background-image:url(/assets/website/plugmenu-black.png);
    background-repeat: no-repeat;
    -webkit-background-size: 80% auto;
    background-size: 80% auto;
    background-position: center center;
    background-color:#fff;
}
.plug-menu:before{
    font-size:20px;
    margin:9px 0 0 9px;
}
.plug-menu:checked{
    -webkit-transform:rotate(135deg);
}

.plug-phone>div {
    width:40px;
    height:40px;
    border-radius:40px;
    position:absolute;
    bottom:0;
    left:0;
    margin-bottom:16px;
    margin-left:16px;
    z-index:900;
    -webkit-transition: -webkit-transform 200ms;

}
.plug-phone>div a{
    color:#333;
    font-size:20px;
    display: block;
    height: 100%;
    width: 100%;
    border-radius:40px;
    background-size: auto 40px;
    background-repeat: no-repeat;
    background-position: center center;
}
.plug-phone>div.on:nth-of-type(1) {-webkit-transform: translate(0, -100px) rotate(720deg);}

.plug-phone>div.on:nth-of-type(2) {-webkit-transform: translate(47px, -81px) rotate(720deg);}

.plug-phone>div.on:nth-of-type(3) {-webkit-transform: translate(81px, -45px) rotate(720deg);}

.plug-phone>div.on:nth-of-type(4) {-webkit-transform: translate(100px, 0) rotate(720deg);}
/*layout*/
.html {min-height: 100%;}
.main {overflow:auto;
    padding-bottom: 50px;}
footer {position: relative;
    margin-top: -50px;
    height: 30px;
    clear:both;
    text-align:center; padding:20px 0 0 0;}
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}
header,
footer,
.body{ width:100%;}
/*footer*/
footer a{ color:#888;}
/*modua*/
/*bg*/
.bg-arrow{background:url(/assets/website/arrow.png) no-repeat right center; background-size:10px 15px; padding:0 15px 0 0;}
.bg-arrow .td,
.box-list .td{ height:100%; clear:both; float:none;}
.box-text,
.box-bg,
.box-bd{position:absolute; width:100%; height:100%;}
.box-bg{ background-color:#000; 	opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;}
.box-bd{ z-index:10; color:#fff; text-shadow:0 0 3px #000;}
.box-img{ width:100%; position:relative; overflow:hidden; text-align:center;}
.box-img img{ width:100%;}
.box-img-list,
.box-img-list li{ }
.box-img-list{}
.box-img-list li,
.box-img-list li a{width:100%; height:100%; text-align:center;}
.box-img-page{z-index:10; position:absolute; right:0;}
.box-img-page a{ width:10px; height:10px; line-height:9999px; overflow:hidden; background:#413b2d; border-radius:10px; margin:0 5px;}
.box-img-page a.active{ background:#fff;}
.box{ width:96%; margin:2%; border-radius:5px;}
.box-block,
.box a.box-block{ position:absolute; width:100%; height:100%;}
.box-article{ padding:2%; width:96%; font-size:12px; color:#333;}
.box-article img{ max-width:100%; margin:1% 0;}
.box-article .hd{ padding:2%; border-bottom:1px dashed #333; line-height:30px;}
.box-article .bd{ line-height:20px;padding:2%; color:#666;}
.box-article .bd span,
.box-article .bd a,
.box-article .bd b,
.box-article .bd i,
.box-article .bd em,
.box-article .bd label{ display: inline;}
.box-article .hd h3{ font-size:18px;}
.box-article .hd span{ font-size:12px;}
.box-article,
.box-article p{ font-size:14px;}
.box-list{ background:#f2f1f0; overflow:hidden;}
.box-list a{ width:92%; padding:10px 15px 10px 0; margin:0 auto; overflow:hidden;}
.box-list .fl{ width:25%; text-align:center;}
.box-list .fr{ width:73%; padding:0 0 0 2%;text-align:left;}
.box-list .fw{ width:98%; padding:0 0 0 2%; text-align:left;}
.box-list .fr b,
.box-list .fw b{ font-size:15px; color:#333;}
.box-list .fr i,
.box-list .fw i{ color:#e8645a; font-size:12px;}
.box-list .fr b,
.box-list .fr i{ width:95%;}
.box-list .fw b,
.box-list .fw i{ width:96%;}
.box-circle b {
    width:60px;
    height:60px;
    border:2px solid #dddddd;
    text-align:center;
    border-radius:60px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:auto 60px;
}
/*btn*/
.btn{ text-align:center; height:48px; line-height:48px; color:#fff; background:#e45245;}
.btn a{ margin:1px; background:#e8645a; width:99.2%; height:95%; border-radius:5px; font-size:15px; color:#fff;}
.btn-phone{}
.btn-phone a{ background:url(/assets/website/ico-phone.png) no-repeat 15% center #e8645a; background-size:18px auto;}
.btn-up{ background:url(/assets/website/btn-up.png) no-repeat; right:17px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);background-size:44px 44px; position:fixed;bottom:17px; width:44px; height:44px; z-index:100;}
/*arrow*/
.arrow{
    border-style:solid;
    border-width:0;
    border-color:transparent transparent transparent;
}
.arrow:after{
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: " ";
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    width: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-radius:0 0 0 0;
}
/*ico*/
.ico-phone,
.btn .ico-phone{ background:url(/assets/website/ico-phone2.png) no-repeat 5% center; background-size:auto 20px;}
.ico-angle-right{background-image:url(/assets/website/ico-angle-right.png); background-repeat: no-repeat; background-position: center center; background-size: auto 15px;}
.ico-angle-down{background-image:url(/assets/website/ico-angle-down.png); background-repeat: no-repeat; background-position: center center; background-size: 15px auto;}
/*header*/
header .box-img{ height:170px; overflow:hidden;}
header .box-img img{ max-width:100%; min-height: 170px;}
header .box-text{ height:45px; width:100%; left:0; bottom:0; line-height:45px; text-align:left;}
header .box-bd{ padding:0 2%; width:96%;}
header .box-text .fl{ width:50%;}
header .box-text .fr{ padding:0 5%; width:40%; text-align:right;}
/*pageShow*/
.pageShow,
.pagebg{min-height: 100%;width: 100%; overflow: hidden;left:0; top:0; }
.pageShow{position:fixed; z-index: 999;}
.pagebg{position: absolute; z-index: 998;}
.pageShow img{ max-width: 100%;}
/*pop*/
.pop,
.pop-bg,
.pop-bd{ width:100%; height:100%; left:0; top:0; z-index:999;}
.pop{position:absolute; display:none;}
.pop-bg{ position:absolute; background:#000;opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;z-index:999;}
.pop-bd{position:fixed;  z-index:1000; }
/*pop-nav*/
.pop-nav .pop-bd{background:#fff; width:80%; right:0; left:auto; box-shadow:0 0 20px #000; overflow-y:auto; overflow-x:hidden; -webkit-transition: -webkit-transform 200ms; bottom:0;}
.pop-nav .pop-bd.on{-webkit-transform: translate(2px, 0);}
/*.pop-bd hd*/
.pop-nav .pop-bd .hd{padding:0 0 0 5%;width:95%; z-index:1100; left:0;background: #76caca;}
.pop-nav .pop-bd .hd span{ border:1px solid #ccc; border-radius:5px; padding:0 10px; height:30px; line-height:30px; background:#fff; color:#444;}
/*.pop-bd bd*/
.pop-nav .pop-bd .bd{ width:100%; position:relative;}
.pop-nav .pop-bd dl dt,
.pop-nav .pop-bd dl dd a{padding:0 0 0 5%;height:40px; border-bottom:1px solid #ccc; width:95%; line-height:40px; color:#888; overflow: hidden;}
.pop-nav .pop-bd dl dt{font-size:18px;}
.pop-nav .pop-bd dl dt a{ width:100%; height:100%;color:#888;}
.pop-nav .pop-bd dl dd{ background:#efeeed; display:none;}
.pop-nav .pop-bd dl dd a{ border-top:1px dashed #ccc; border-bottom:0; margin:-1px 0 0 0;text-overflow: ellipsis; white-space:nowrap;}
.pop-nav .pop-bd dl dd a i{ font-size:20px; padding:0 5px 0 10px; color:#aaa;}

.pop-nav .pop-bd dl dt.active{ background:#ff6600; color:#fff; font-size:18px;}
.pop-nav .pop-bd dl dt.active .ico{ color:#fff;}
.pop-nav .pop-bd dl.active dd{ display:block;}
.pop-nav .pop-bd dl dd a:active,
.pop-nav .pop-bd dl dd a.active{ color:#444;}
.pop-nav .pop-bd dl dd a:active i,
.pop-nav .pop-bd dl dd a.active i{ color:#666;}
.pop-nav .pop-bd dl dt span{ width: 90%; overflow: hidden; float: left;text-overflow: ellipsis; white-space:nowrap;}
.pop-nav .pop-bd dl dt .ico{ width: 10%; height: 100%;}
/*box-share*/
.ico-share{ background:url(/assets/website/ico-share.png) no-repeat  0 center; background-size:22px 19px; padding:0 0 0 27px;}
.ico-pyq{ background:url(/assets/website/ico-pyq.png) no-repeat 0 center; background-size:20px 19px; padding:0 0 0 25px;}
.box-share .btn-share{ border-radius:5px; background:#d6d6d6; height:30px; border:1px solid #ccc; text-align:center; line-height:30px;}
.box-share{  padding:10px 2%; width:96%; overflow:hidden;}
.box-share .btn-share{ width:48%; color:#444; float:left;}
.box-share .btn-share:first-child{ margin:0 3% 0 0;}
.box-share .btn-share:last-child{ margin:0 0 0 0;}
.box-article .bd .box-share span{ display:inline-block;}
.note-share{ background:url(/assets/website/text.png) no-repeat right center; width:100%; height:155px; background-size:contain; top:0;}
@media screen and (orientation:landscape) {
    .btn-phone{ margin-bottom:-4px;}
}
