body {
    background:#fff;
}
.main {padding-bottom: 60px;}
.plug-div{ bottom:35px;}
.btn-up{ bottom:48px;}
.box-article .hd {
    border-color:#ccc;
}
.box-article .hd span {
    color:#aaa;
}
.box-article .bd {
    color:#333;
}
.box-article img {
    max-width:100%;
}

.box-index {
    overflow:hidden;
    margin:0 0 5px 0;
    text-align:center;
}
.box-index .hd{ height:30px; line-height:30px; color:#394165; font-size:12px; padding:0 5%; text-align:left;}
.box-index .bd{ text-align:center;}
.box-index a{ padding:4% 0; width:32%; margin:0 0 4px 0;}
/*.box-index a {
	width:32.5%;
	margin:0 0 2px 2px;
	text-align:center;
	overflow:hidden;
    padding:4% 0;
    display:block;
    float:left;
}
.box-index.index-half a{ width:49.2%;}*/
.box-index a.index-half{ width:48.5%;}
.box-index a.index-one{ width:98.5%;}
.box-index b,
.box-index span{
    color:#fff;
    width:100%;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.box-index span {
    font-size:15px;
    color:#fff;
    line-height:30px;
    padding:0 5%;
    width:90%;
}
.box-index b img{ max-height:38px;}
.arrow{width:20px;
    height:35px;position: absolute; right:0; top:0;}
.arrow:after{border-color: #fff;}
.box-list{ background:none; margin:5px 0;}
.box-list a,
.box-list .fr b,
.box-list .fw b{ color: #394165;}
.box-list a{ width: 100%; padding: 10px 0 10px 0; position: relative; margin:0 0 5px 0;background-color: #ebecef; border-radius:0;}
.box-list .fr i,
.box-list .fw i{ color:#394165;}

.box-list .arrow{ height: 100%; top: 0; margin: 0 0 0 0; width: 6%; background:#d7d9e0;}
.box-list .arrow:after{border-color: #394165; position:absolute; height:10px; width:10px; top:50%; left:50%; margin:-5px 0 0 -8px;}
.box-list .fw b, .box-list .fw i{ width:90%;}
.box-list .fr b, .box-list .fr i{ width:90%;}
.box-list .fl img{max-width:85%; vertical-align:top;}

.box{ width:100%; margin:2% 0;}
.btn{ text-align:center; height:48px; line-height:48px; color:#fff; background:#2f2f2f;}
.btn a{
    background:#2f2f2f;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    line-height: 48px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.btn a:before {
    font-size: 25px;
    left: 10px;
    margin-left: 0;
    position: absolute;
    top: 2px;
}
.btn .ico-phone{ background:url(/assets/website/template14/ico-phone2.png) no-repeat 30% center; background-size:auto 20px; padding:0 0 0 5%; width:auto;}
.box-text .box-bg{ background:#394165;}
header .box-text{ height:30px; line-height:30px;}
/*box-nav-ft*/
.box-nav-ft{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:40px;
    line-height:40px;
    background:#394165;
    text-align:center;
}
.box-nav-ft a{width:25%; text-align:center; color:#fff;}
.box-nav-ft a:active,
.box-nav-ft a.active{ background:#535a79;}
.box-nav-ft a span{background-position:left center; background-repeat:no-repeat; background-size:auto 20px; padding:0 0 0 20px;}
.index .box-nav-ft a{width:33%; }
header .box-img{ height:170px;}
@media screen and (orientation:landscape) {
    /*.box-index a {
	   width:32.9%;
    }*/
    .box-index a{ width:32.2%;}
    .box-index a.index-one{ width:97.5%;}
}





