body{ background:#f2f0d9;}
body.article{ background:#fff;}
/*box-list*/
.box-list{ border:1px solid #ccc; background:#fff; padding:2%; width:92%; box-shadow:0 2px 2px rgba(0,0,0,0.25)}
.box-list b,
.box-list span{ width:100%;}
.box-list b{ font-size:15px; line-height:20px; color:#000; padding:5px 0;}
.box-list span{ font-size:12px; color:#999; padding:0 0 5px 0;}
.box-list img{ max-width:100%;}
.box-list .ft{ color:#666; width:100%; font-size:12px; border-top:1px solid #ebebeb; margin:5px 0 0 0;}
.box-list .arrow{ float:right; margin:4px 5px 0 0;}
.box-list .arrow:after{border-color:#aaa; width:8px; height:8px; margin:0 0 0 0; float:right;}
/*box-ft*/
.box-ft{ width:100%; height:40px; position:fixed; left:0; bottom:0; text-align:center; border-top:1px solid #b5b5b5; background:#d5d5d5;}
.box-ft a,
.box-ft p{ color:#fff; display:inline-block; height:40px; line-height:40px; color:#444; border-right:1px solid #b5b5b5; font-size:16px; box-shadow:0 0 2px #fff inset; position:relative; float:left;}
.box-ft.ft-3 a,
.box-ft.ft-3 p{ width:33.3%;}
.box-ft.ft-2 a,
.box-ft.ft-2 p{ width:49.8%;}
.box-ft.ft-1 a,
.box-ft.ft-1 p{ width:100%;}
.box-ft a.last,
.box-ft p.last{ border:0;}
.box-ft a.active,
.box-ft p.active{ background:#00a8ff; color:#fff;}
.box-ft a img,
.box-ft p img{ max-height:9px; vertical-align:middle; padding:0 5px 0 0;}
.box-ft p span{ position:absolute; width:94%; margin:0 3%; bottom:50px; left:0; background:#e3e4e6;border:1px solid #b5b5b5; border-radius:5px;box-shadow:0 0 5px rgba(0,0,0,0.25); z-index:10; display:none;}
.box-ft p.open span{ display:block;}
.box-ft span i,
.box-ft span em{position:absolute;border-style:solid dashed dashed;width:0px;height:0px;left:50%;}
.box-ft span i{ bottom:-16px; margin:0 0 0 -4px;
border-width:8px;
border-color:#e3e4e6 transparent transparent;
 z-index:12;}
.box-ft span em{ bottom:-18px; margin:0 0 0 -5px;
border-width:9px;
border-color:#b5b5b5 transparent transparent;
 z-index:11;}
.box-ft span a,
.box-ft.ft-3 span a,
.box-ft.ft-2 span a,
.box-ft.ft-1 span a{ border:0; width:90%; padding:0 5%; background:url(/assets/website/template16/bg-nav-span.png) no-repeat center bottom; background-size:auto 2px;text-overflow: ellipsis;white-space:nowrap; overflow:hidden;}
.box-ft span a:active,
.box-ft.ft-3 span a:active,
.box-ft.ft-2 span a:active,
.box-ft.ft-1 span a:active{ background:#00a8ff; color:#fff;}
.box-ft span a:visited{ color:#444;}
.box-ft span a:last-child{ background:none;}