body {
    background:#4a5068;
}
footer,
footer a{color:#69708b;}
.list .box-img{ height: 170px;}
.list .box-img img{ max-height: 170px; width: 100%;}
.index header .box-img{ height: 100%; position:fixed; top: 0; left: 0;}
.index header .box-img img{max-width: 100%;}
/*ico*/
.ico-music{ background:url(/assets/website/template12/ico-music.png) no-repeat; width:30px; height:23px; background-size:30px auto;}
.ico-music.active{ background-image:url(/assets/website/template12/ico-music-active.png);}
.btn-music{ position:fixed; right:15px; top:15px;}
/*box*/
.box-index-list{position:fixed; right:0; top:10px; bottom:60px; width: 20%; z-index: 100; overflow: auto; height: 252px; border-radius:5px 0 0 5px;}
.box-index-list a{ color:#fff; width:100%;border:1px solid #346140; border-top-color:#9bd1a8; border-bottom-color:#1f572c;background:#1f572c;box-shadow:0 0 5px rgba(0,0,0,0.25); height:30px; line-height:30px; padding:5px 0; text-align:center;}
.box-index-list a.active{
    background-color:#506a5d;
    background-repeat:repeat-x;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(#506a5d),to(#36483e));
    background:-webkit-linear-gradient(top,#36483e,#506a5d);
    background:-moz-linear-gradient(top,#36483e,#506a5d);
    background:-ms-linear-gradient(top,#36483e,#506a5d);
    background:-o-linear-gradient(top,#36483e,#506a5d);
    border-top-color:#506a5d;
    border-bottom-color:#36483e;
    box-shadow:0 0 5px rgba(49,74,66,0.25) inset;
}

.box-index-list a:first-child,
.box-index-list a.first{ border-radius:5px 0 0 0; border-top-color:#346140;}
.box-index-list a:last-child,
.box-index-list a.last{ border-radius:0 0 0 5px;border-bottom-color:#346140;}
.box-index{ position:fixed; left:50%; top:50%; width: 80%; z-index: 100; overflow: auto; height: 90%; margin:-50% 0 0 -40%;}
.box-index p{}
.box-index a{ overflow: hidden; position: relative; margin: 2%; width: 42%; padding:0 2%; float:left; box-shadow:0 0 5px rgba(0,0,0,0.25); background:#6865ac; color:#fff; height:50px; line-height:50px; overflow:hidden; text-align:center;}
.arrow{width:20px;
    height:35px;position: absolute; right:0; top:0;}
.arrow:after{border-color: #fff;}
.box-list{ background: none;}
.box-list a,
.box-list .fr b,
.box-list .fw b{ color: #444;}
.box-list a{ width: 100%; padding: 10px 0 10px 0; position: relative; margin:0 0 10px 0;background-color: #fff; border-radius:5px;}
.box-list .fr i,
.box-list .fw i{ color:#999;}
.box-list .fl img{ max-width:80%;}
.box-list .arrow{ height: 20px; top: 50%; margin: -10px 0 0 0; width: 6%;}
.box-list .arrow:after{border-color: #777;}
.box-list .fw b, .box-list .fw i{}
.box-article{ background:#fff; width:92%;}
.box-article .hd h3{ color: #444;}
.box-article .hd span{ color: #6764ab;}
.box-article,
.box-article p{ color:#444;}
.box-article .hd{border-color:#ccc;}

/*box-page*/
.index .box-page{}
.list .box-page{margin:5px 0;}
.article .box-page{margin:15px 0;}
.box-page{ text-align:center;}
.box-page .btn{ width:45%; border:1px solid #346241; height:30px; line-height:30px; display:inline-block;
    border-radius:5px;
    background-color:#3c814a;
    background-repeat:repeat-x;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(#3c814a),to(#59a76d));
    background:-webkit-linear-gradient(top,#59a76d,#3c814a);
    background:-moz-linear-gradient(top,#59a76d,#3c814a);
    background:-ms-linear-gradient(top,#59a76d,#3c814a);
    background:-o-linear-gradient(top,#59a76d,#3c814a);
    box-shadow:0 0 1px rgba(95,184,114,0.5) inset, 0 0 5px rgba(0,0,0,0.25);
    color:#fff;
}
.box-page .btn:active,
.box-page .btn.active{
    background-color:#2e3347;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(#2e3347),to(#2f3448));
    background:-webkit-linear-gradient(top,#2f3448,#2e3347);
    background:-moz-linear-gradient(top,#2f3448,#2e3347);
    background:-ms-linear-gradient(top,#2f3448,#2e3347);
    background:-o-linear-gradient(top,#2f3448,#2e3347);
    box-shadow:0 0 1px rgba(0,0,0,0.5) inset, 0 0 5px rgba(0,0,0,0.25);
    border-color:#262a3a;
    color:#3e4459;
}
/*box-nav*/
.box-nav{ border-top:1px solid #272558;
    background:url(/assets/website/template12/bg-nav.png) repeat-x;
    height:50px;
    line-height:50px;
    overflow:hidden;
    margin:10px 0 0 0;
    position:fixed; left:0; bottom:0; width:100%; z-index:100;
}
.box-nav a{ width:20%; color:#444; text-align:center; float:left; cursor:pointer;overflow:hidden; background:url(/assets/website/template12/bg-nav-line.png) no-repeat right center;}
.box-nav a.last{ background:none;}
.box-nav a:active,
.box-nav a.active,
.box-nav a.last:active,
.box-nav a.last.active{
    background:url(/assets/website/template12/bg-nav-active.png) repeat-x;
}
.box-nav a img{ max-height:30px; vertical-align:middle;}
.list .plug-div,
.article .plug-div{ bottom:60px;}
.list .btn-up,
.article .btn-up{ bottom:77px;}
.list .body{ padding-bottom:10px;}
.article .body{ padding-bottom:0;}
@media screen and (orientation:landscape) {

}
