<div class="box-template fr" id="qcode">
  <span>扫描二维码预览</span>
  <div class="box-code" style="display: none;">
    <img src="/assets/gm/loading.gif" alt="预览地址二维码" />
  </div>
</div>

<script type="text/javascript">
    $(function(){
        $("#qcode").on("mouseenter","span",function(){
            $('#qcode .box-code').show();
            $.get("/websites/qrcode", {menu_id: 0}, function(result){
                $('#qcode .box-code img').attr("src", result);

            });
        });
        $("#qcode").on("mouseleave","span",function(){
            $('#qcode .box-code').hide();
            $('#qcode .box-code img').attr("src", "/assets/gm/loading.gif");
        });
    });
</script>

<style>
    #qcode .box-code img{
        height: auto;
        width: auto;
    }
    #qcode .box-code{
        margin-right: 88px;
        margin-top: -15px;
        z-index: 1;
    }
</style>