body{ background:#00635a;}
.btn{ background:#e36b2c; border-color:#dc5925; height:29px; line-height:29px;}
.arrow.arr-small:after {
	border-width: 3px 3px 0 0;
	height: 8px;
	width: 8px;
	border-color: #e36b2c;
}
.box-relative .arrow{ margin:-10px 0 0 0; right:0;}
/*box*/
.footer {
	text-align: center;
	width: 100%;
	display: inline-block;
	padding: 0;
	margin: 0;
	float: left;
}
/*header*/
header .box{ background:#01463e;}
.show-hd,
.nav-hd{ float:left; width:100%; overflow:hidden;}
.show-hd{ border-radius:10px 10px 0 0;}
.nav-hd{ border-radius:0 0 10px 10px; padding:3px 0 0 0;}
.show-hd img{ border-radius:5px; max-width:100%;}
.nav-hd a{ background-repeat:no-repeat; width:32.8%; height:28px;float:left;margin:5px .5% 0 0; line-height:28px; background-size:auto 15px; background-color:#029083; background-position:center center; border-radius:5px;}
.nav-hd a:nth-child(3n){margin:5px 0 0;}
.nav-hd a:active,
.nav-hd a.current{ background-color:#01463e;}
.ico-major{ background:url(/assets/education/ico-major.png);}
.ico-teacher{ background:url(/assets/education/ico-teacher.png);}
.ico-intro{ background:url(/assets/education/ico-intro.png);}
.ico-environment{ background:url(/assets/education/ico-environment.png);}
.ico-job{ background:url(/assets/education/ico-job.png);}
.ico-adress{ background:url(/assets/education/ico-adress.png);}
.ico-phone{ background:url(/assets/education/ico-phone.png) no-repeat left center; background-size:18px 20px; padding:20px 25px; color:#fff; font-size:10px; overflow:hidden; word-spacing: normal;
word-break: normal;
word-break: break-all; text-align:left; max-width:80%;}
.ico-phone b{ font-size:14px; color:#e36b2c;}
/*box*/
.box-teacher{ width:100%; overflow:hidden; float:left; margin:0 auto 10px auto;}
.box-teacher .bd{ width:100%; overflow:hidden; padding:10px 0; border-bottom:1px dashed #ccc; position:relative;}
.box-teacher .bd:last-child{ border:0;}
.box-teacher .bd p.tright .btn{ position:absolute; right:0; bottom:0;}
/*list-major*/
.list-major p{ width:100%; border:1px solid #ccc; border-radius:5px; margin:5px 0; padding:5px 2%; overflow:hidden; min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.list-major p.table{ display:table;}
.list-major a.tleft{color:#888; padding:0 10px 0 0;}
.list-major p.table .btn{ width:40px; padding:0;}
/*list-adress*/
.list-adress a{ position:relative; width:90%;border:1px solid #ccc; border-radius:5px;margin:5px auto; padding:10px 5%;}
.list-adress b{ color:#029083;}
.list-adress span{ color:#888;}
.list-adress b,
.list-adress span{ width:95%;}
.list-adress .arrow{ right:8px; top:50%; margin:-10px 0 0 0;}
/*map*/
#dituContent{ position:fixed; width:100%; height:100%; top:0; left:0;}
@media screen and (orientation:landscape) {
	.nav-hd a{ width:33%;}
}
