<body class="list comment">
<div class="html">
  <div class="main">
    <header>
      <div class="header">
        <a class="ico ico-left" href="<%= app_ecategory_url(:id => @item.ec_seller_cat.id)  %>"><i></i>返回</a>
        <a class="ico ico-right" href="<%= new_app_ecomment_url(:id => @item.id) %>">写评论</a>
      </div>
    </header><!-- header end -->
    <section>
      <div class="box-comment">
        <div class="ft-comment">
             <%= render :partial=> "comment", :object => @comments %>
        </div>
      </div>
    </section><!-- section end -->
  </div><!-- main end -->
</div><!-- html end -->

</body>