/*body*/
body{padding:0;}
.pos-static{position:static;}
.head.pos-static{margin-top:-131px;}
/*banner*/
.top-banner{width:100%;overflow:hidden;margin-bottom:131px;}
.top-banner img{display:block;position:relative;left:50%;margin-left:-1250px;}
.banner{margin-top: 125px;width:100%;height:405px;position:relative;}
.marquee{width:100%;height:405px;overflow:hidden;}
.marquee li{width:100%;height:405px;text-align:center;background:center top no-repeat;}
.marquee li a{display:block;width:100%;height:100%;}
.marquee-nav{position:absolute;width:100%;height:10px;text-align:center;bottom:20px;}
.marquee-nav li{display:inline-block;width:100px;height:10px;margin:0 10px;background:#515151;text-indent:-999em;overflow:hidden;}
.marquee-nav .navOn{background:#00b2ca;}
/*news*/
.hot-news{height:22px;padding:10px 0;line-height:22px;text-align:center;background:#f8f8f8;}
.hot-news a{color:#6a685c;}
.hot-news i{display:inline-block;width:14px;height:16px;margin-right:5px;vertical-align:-2px;background:url(/images/home/main.png) 0 0 no-repeat;*vertical-align:middle;}
/*hot service*/
.hot-service{width:320px;margin-left:20px;*margin-left:6px;}
.hot-service:nth-child(1){margin:0;}
.hot-service:nth-child(1) .service-info{background:#fdfae7;}
.hot-service:nth-child(2) .service-info{background:#e8f8f9;}
.hot-service:nth-child(3) .service-info{background:#fceff5;}
.service-img{float:left;width:100px;}
.service-info{float:left;height:100px;font-family:"Microsoft Yahei";font-size:14px;color:#333;width:210px;line-height:22px;padding:0 5px;}
.service-info h1{font:bold 20px/45px "Microsoft Yahei";color:#006279;}
/*service title*/
.service-t{height:40px;line-height:40px;padding:0 110px 0 25px;margin-top:20px;position:relative;}
.service-t .left-icon{display:block;width:5px;height:4px;border-width:5px 0;border-style:solid;position:absolute;left:1px;top:13px;}
.service-t h1{font-size:16px;font-family:"Microsoft Yahei";color:#666;}
.service-btn{position:absolute;right:5px;top:0;right:10px;}
.service-btn i{width:10px;height:6px;display:inline-block;margin-left:5px;background:url(/images/home/main.png) no-repeat;background-position:-20px 0;}
.close i{background-position:-40px 0;}
/*service list*/
.service-list{overflow:hidden;}
.service-list li{width:199px;height:220px;margin-top:20px;text-align:right;float:left;border-top:6px solid #e6f0d5;border-right:1px dashed #d5e1c5;}
.service-list li:nth-child(5n){border-right:none;}
.service-list h1{height:69px;padding:0 30px 0 0;font:normal 30px/69px "Microsoft Yahei";border-bottom:1px solid #ccc;}
.service-list p{padding:0 30px 0 0px;font-size:14px;margin:20px 0 5px;}
.service-list img{margin-right:30px;}
/*service user-defined*/
.service-first .service-t{background:#e6f0d5;}
.service-first .left-icon{border-color:#83b62b;}
.service-first li{border-top-color:#e6f0d5;}
.service-first li.active,.service-first li:hover{border-top-color:#83b62b;background:#F1F893;}
.service-last .service-t{background:#cce6ec;}
.service-last .left-icon{border-color:#0083a1;}
.service-last li{border-top-color:#cce6ec;}
.service-last li.active,.service-last li:hover{border-top-color:#0083a1;background:#D4F0F6;}
/*news*/
.news{min-width:1000px;padding:20px 0 50px;margin-bottom:-10px;border-top:2px solid #dfe7d5;background:#f8f8f8;}
.news-block{width:230px;float:left;margin-right:115px;}
.news-block:last-child,.last-news{margin-right:0;}
.news-block li:before{display:inline-block;content:"";width:4px;height:4px;margin:0 7px;background:#8ea967;}
.news-block li:first-child:before,.news-block .before-none:before{display:none;}
.news-block h1{margin:15px 0;font:bold 18px/18px "microsoft yahei";color:#8ea967;}
.news-block img{padding:3px;border:1px solid #d3d5d1;background:#fff;}
.first-news{display:block;height:44px;font:normal 14px/22px "microsoft yahei";color:#a37314;overflow:hidden;}
.more-news{display:block;height:28px;margin-top:10px;color:#fff;text-align:center;font:normal 14px/28px "microsoft yahei";background:#8ea967;}
/*fixed weixin code*/
.fixed-code{width:265px;height:290px;position:absolute;top:50px;left:50%;margin-left:235px;}
.fixed-bg{width:100%;height:100%;position:absolute;left:0;top:0;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;/}
.fixed-cont{position:relative;padding:15px 25px;z-index:1;}
.code-img{text-align:center;}
.fixed-cont p{font:normal 16px/26px "microsoft yahei";color:#fff;}
.fixed-btn{display:block;height:56px;margin-top:10px;text-align:center;color:#fff;font:normal 30px/56px "microsoft yahei";background:#9ec73a;}
