.banner {
  width: 100%;
  height: 213px;
  background: center top no-repeat;
  position: relative;
}
/*layout*/
.news-cont{box-shadow:inset 0 4px 10px 0 #e5e5e5;}
.left{width:175px;float:left;}
.right{width:825px;float:left;padding-bottom:50px;box-shadow:inset 4px 4px 10px 0 #e5e5e5;}
.contactus{padding:40px 0 0 50px;width:775px;min-height:350px;_height:350px;float:left;padding-bottom:50px;box-shadow:inset 4px 4px 10px 0 #e5e5e5;}
/*subnav*/
.subnav{margin-top:30px;}
.subnav li{height:40px;margin-top:10px;}
.subnav a{display:block;line-height:40px;font-size:18px;}
.subnav .active,.subnav a:hover{border-right:5px solid #83b62b;background:#f5f5f5;}
.subnav a:before{display:inline-block;width:20px;height:20px;margin:0 15px;vertical-align:middle;content:"";background:url(/assets/home/main.png) no-repeat;}
.subnav .icon-1:before{background-position:-120px 0;}
.subnav .icon-2:before{background-position:-140px 0;}
.subnav .icon-3:before{background-position:-160px 0;}
.subnav .icon-4:before{background-position:-205px 0;}
.subnav .icon-5:before{background-position:-225px 0;}
.subnav .icon-6:before{background-position:-245px 0;}
.subnav .icon-7:before{background-position:-265px 0;}
/*news list*/
.news-list{padding:40px 40px 30px 60px;}
.news-list li{height:34px;font-size:14px;padding:0 100px 0 15px;line-height:34px;position:relative;}
.news-list li:nth-child(even){background:#f5f5f5;}
.news-list .even{background:#f5f5f5;}
.news-list a{display:block;width:100%;color:#333;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.news-list span{position:absolute;right:15px;top:0;}
/*news detail*/
.title{font-size: 24px; color: #333333; font-weight: normal; line-height: 48px; margin: 0; border-bottom: 1px solid #dddddd; height: 48px;}
.edit-main h2{font-size:16px;color:#333;margin-top:1em;position:relative;}
.edit-main h2 span{position:absolute;right:0;}
.edit-main p{margin-top:0.5em;font-size:12px;color:#888;}
.edit-main p span{display:block;font-size:16px;color:#333;}
.part-2{width:48%;float:left;margin-right:2%;}
.seach{line-height:28px;color:#000;}
.input-text{height:26px;border:1px solid #ccc;padding:0 3px;}
.input-btn{height:28px;border:1px solid #ccc;padding:0 7px;color:#fff;background:#9ec73a;}
/*list*/
.list li{margin-top:10px;color:#444;line-height:24px;}
.list b{display:inline-block;width:120px;}
/*crumbs*/
.crumbs{height:30px;line-height:30px;border-bottom:1px dashed #ccc;}
.news-title{margin:20px 0;text-align:center;color:#333;font-size: 24px;}