/*layout*/
.regedit-cont{padding:30px 65px;font-size:14px;line-height:24px;color:#333;border-left:2px solid #cce7ed;border-right:2px solid #cce7ed;background:#edf8fb;}
.regedit-cont input:-moz-placeholder {font-size:14px;}
.regedit-cont ::-webkit-input-placeholder {font-size:14px;}
.regedit-t{margin:10px 0;}
.regedit-t h1{font-size:16px;font-weight:bold;color:#00667d;}
/*regedit-info*/
.regedit-info{border-top:1px dashed #0083a1;border-bottom:1px dashed #0083a1;padding:30px 0;background:url(/images/home/edit.png) 55px 160px no-repeat;}
.regedit-info li{margin-bottom:15px;}
.regedit-info span{display:inline-block;width:40%;padding-right:20px;text-align:right;}
.regedit-info li b{font-weight:normal;font-family:YouYuan;color:#f00;margin-right:5px;}
.text-input{width:310px;height:30px;padding:0 3px;border:1px solid #ccc;}
.text-input:focus,.select:focus{border-color:#0083a1;}
.select{height:32px;padding:2px;border:1px solid #ccc;margin:0 10px 0 0;line-height:28px;}
/*survey*/
.survey label{display:inline-block;margin:0 40px 10px 0;white-space:nowrap;}
.survey input{margin:0 3px;}
.regedit-submit{display:block;width:360px;height:58px;margin:60px auto;line-height:58px;border-radius:5px;font-size:18px;color:#fff;background:#83b62b;}
/*error message*/
.error-message{color:#f00;margin-left:10px;}
