/*layout*/
.solution-cont{overflow:hidden;}
.left{width:165px;height:100%;float:left;padding:0 0 1000px 1000px;margin:0 0 -1000px -1000px;box-shadow:2px 0 4px #c7c7c7;}
.right{width:805px;float:left;padding:30px 0 0 30px;}
/*subnav*/
.subnav{text-align:center;font-size:14px;border-left:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;}
.subnav li{height:40px;line-height:40px;}
.subnav li:nth-child(odd){background:#f2f9fa;}
.subnav a{display:block;height:26px;padding:7px 0;line-height:26px;color:#333;font-size: 16px;}
.subnav .active{color:#fff;background:#0083a1;}
.subnav a:hover{background:#e5f2f5;}
/*title*/
.title{margin:10px 0;}
.title span{display:block;float:left;width:85px;font:normal 14px/30px "simsun";color:#00667d;}
.title hr{height:1px;margin-top:14px;width:720px;border:none;float:left;overflow:hidden;background:#00667d;}
/*edit information*/
.edit{margin-left:85px;overflow:hidden;}
/*case*/
.case-list li{width:75px;text-align:center;margin:0 20px;float:left;}
.case-list a{color:#333;}