<!-- 会员卡首页 start -->
<section id="sec-index">
  <div class="mod-success c-6">
    <i class="img img-5"></i>
    <%= flash[:error]%>
  </div>

  <div class="form-btn p10 mt">
    <%= link_to "返回", @vip_user_payment.try(:callback_url_with_trade_result), class: "btn btn-small btn-gray"%>
  </div>
</section>
<!-- 会员卡首页 end -->
