<div class="ft ft-comment">
  <h3>评论  <%= @comment.commentable.reload.comments_count %></h3>
  <% if @comments.count > 0 %>
    <% @comments.each do |comment| %>
      <div class="ft-list">
        <div class="fr">
          <b><%= comment.commenter.name %></b>
          <span>
            <i class="fl"><%= date_format_full comment.created_at %></i>
          </span>
          <p><%= comment.comment %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="ft-list" style="text-align: center">暂无评论</div>
  <% end %>
</div>
