<div class="box box-index box-comment">
  <%= render "mobile/comments/form", comment: @comment if @user %>
  <%= render "mobile/comments/comment", comment: @comment, comments: @comments %>
</div>

<style type="text/css">
  /*
    修改文章页面布局，使之跟页面底部保留距离
  */
  footer {
    padding-bottom: 40px;
  }

  /* 评论功能样式 */
  .box-index {
    background: #fff;
    padding: 0 0 10px 0;
  }
  .box {
      width: 96%;
      margin: 10px 2%;
      border-radius: 5px;
      float: left;
  }
  .box-index .hd {
    border-top: 2px solid #ff6600;
    height: 30px;
    line-height: 30px;
    padding: 0 2% 0 5%;
    width: 100%;
    position: relative;
  }
  .box-comment .hd h2 {
    width: 60%;
  }
  .box-index .hd h2 {
    float: left;
    line-height: 30px;
    width: 70%;
  }
  .box-comment .bd {
    padding: 10px 0;
  }
  .box-comment .bd {
    border-bottom: 0;
  }
  .box-index .bd {
    background: #f9f7f5;
    border-top: 1px solid #d5d4d2;
  }
  .box-comment .bd .frb {
    width: 80%;
  }
  .bd-comment {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 125%;
  }
  .box-comment .bd label .btn {
    width: 125%;
    margin-top: 10px;
  }
  .btn {
    background: #ed7525;
    border: 1px solid #ff6600;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    width: 100%;
  }
  .ft-comment h3 {
    height: 30px;
    line-height: 30px;
    border-bottom: 2px solid #ff6600;
    width: 100%;
    padding: 0 5%;
  }
  .bd-comment textarea {
    border: 0;
    width: 98%;
    line-height: 15px;
    padding: 5px 2%;
    margin: 5px 1%;
  }
  .bd-comment .bd-face {
    border-top: 1px dashed #ccc;
    height: 30px;
    line-height: 30px;
    color: #ccc;
    padding: 0 2%;
    width: 100%;
  }
  .bd-comment .bd-face .frb {
    width: 80%;
    text-align: right;
    width: auto;
  }
  .ft-list {
    width: 100%;
    border-bottom: 1px dashed #ccc;
    padding: 10px 0;
    float: left;
    overflow: hidden;
  }
  .ft-list .frb b, .ft-list .frb a, .ft-list .frb .ico {
    color: #ff6600;
  }
  .ft-list .frb b, .ft-list .frb span, .ft-list .frb p {
    width: 100%;
    overflow: hidden;
    float: left;
  }
  .ft-list .frb i.fl {
    width: 100%;
  }
  .ft-list .frb i {
    font-size: 12px;
    color: #ccc;
    text-align: left;
  }
</style>
