

	<p class="tr">
		<em class="td"><%= shop_product_comment.user.nickname ||= "匿名" %></em>
		<b class="td"><%= shop_product_comment.content %></b>
		<span class="td"><%= shop_product_comment.created_at.strftime("%H:%M %m-%d") %></span>
	</p>

