<div class="p-note">
  <p>提示：1、图片建议尺寸：720像素*400像素，可支持上传格式为：jpg、png、bmp、gif；</p>
  <p>2、以下“<em style="color: #ff0000; padding: 0 3px;"> * </em>”均为必填项；</p>
</div>
<div class="box-form form-row fl">
  <%= render 'form' %>
</div>
