body {
	background:#e8e8e8;
}
.box-logo {
	width:100%;
	height:48px;
	overflow:hidden;
	text-align:center;
	float: left;
	background: #1064ad;
	color: #fff;
	line-height: 48px;
	font-size: 20px;
}
.box-logo img {
	max-width:100%;
}
.box-index {
	width:100%;
	background-color:#bdbcba;
	background-repeat:repeat-x;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfdeda), to(#bdbcba));
	background:-webkit-linear- gradient(top, #bdbcba, #dfdeda);
	background:-moz-linear-gradient(top, #bdbcba, #dfdeda);
	background:-ms-linear-gradient(top, #bdbcba, #dfdeda);
	background:-o-linear-gradient(top, #bdbcba, #dfdeda);
	height:50px;
	overflow:hidden;
	padding:10px 0;
}
.box-index.first{border-bottom:3px solid #9c9c9c;}
.box-index.last{border-top:3px solid #d2d1d1;}
.box-index a {
	width:49.6%;
	text-align:center;
	float:left;
	height:50px;
	overflow:hidden;
}
.box-index a:first-child{ border-right:1px solid #b7b7b6;}
.box-index a:last-child{ border-left:1px solid #dedddb;}
.box-index a span:first-child{ width:40%; line-height:50px; padding:0 5%;}
.box-index a span:last-child{ width:50%;}
.box-index a span{ float:left; text-align:left;}
.box-index a span b,
.box-index a span i{width: 95%;}
.box-index a span b{ font-size:15px; color:#1064ad; line-height:25px; padding:0 5px 0 0;}
.box-index a span i{ font-size:12px; color:#666666;}
.box-index img{ max-height:50px; max-width:100%; vertical-align:middle;}
.box-ft{
	background:#063f70; border-top:1px solid #444d56;
	text-align:center; padding:5px 2%; float: left; width: 96%;}
.box-ft a{ height:30px; line-height:30px; color:#fff; background:#0c5595; border-top:1px solid #4d7fab; box-shadow:0 0 3px rgba(0,0,0,0.25); width:42.8%; margin:0; text-align: left; padding: 0 0 0 6%;}
.box-ft a:first-child{ margin:0 1% 0 0;}
.ico-phone,
.box-ft .ico-phone{ background:url(../../img/icon/ico-phone.png) no-repeat left center; padding:0 0 0 20px; background-size:auto 20px;}
.ico-setting{ background:url(../../img/icon/ico-setting.png) no-repeat left center; padding:0 0 0 25px; background-size:auto 24px;}
.ico-address{ background:url(../../img/icon/ico-address.png) no-repeat left center; padding:0 0 0 20px; background-size:auto 20px;}
.box-header{ height:35px; text-align:center; background:#5e9dc8; float: left; width: 100%;white-space:nowrap; overflow: auto;}
.box-header a{ color:#1064ad; border-radius:5px; padding:2px 5px; margin:7px 0;}
.box-header a:active,
.box-header a.active{ background:#e8e8e8;}
.box-article{ overflow: hidden; float: left;}
.box-article img{ border-radius:5px; max-width:100%; box-shadow:0 0 5px #ccc;}
.box-article .hd{ border:0; padding:1% 2% 0 2%;}
.box-article .hd h1{ color:#444;}
.box-article .hd span{ color:#1064ad;}
.box-title{ width:100%; border:1px solid #b9bfbf; height:24px; border-left:0; border-right:0;}
.box-title b{ color:#666; width:90%; padding:0 5%; height:22px; line-height:22px; border-top:1px solid #f4f4f6; border-bottom:1px solid #dedede;}
.box-list:first-child a{border-top:1px solid #d2d1d1;}
.box-list a{border-bottom:1px solid #d2d1d1; width:93%; padding:10px 5% 10px 2%; margin:0; float:left; display:block; background-position:98% center;}
.box-list .fr{ text-align: left;}
.box-list .fr i, .box-list .fw i{ color:#1064ad;}
.box-list .fl{ width:24%;}
.box-list .fl img{ max-height:50px; padding:0 5px;}
.box-pro .tr{ width:100%; float:left;}
.box-pro .td{ width:auto; padding:10px; color:#1064ad;}
.box-pro .td img{ max-width:90%;}
.box-pro .td b{ font-size:12px;}
header .box-img{ height:170px;}