body {
	background:#fff;
}
.box-article .hd {
	border-color:#ccc;
}
.box-article .hd span {
	color:#aaa;
}
.box-article .bd {
	color:#333;
}
.box-article img {
	max-width:100%;
}

.box-index {
	overflow:hidden;
    margin:0 0 5px 0;
    text-align:center;
}
.box-index a{ width: 94%; overflow: hidden; display: table; margin:4% 4% 4% 4%;}
.box-index a:active,
.box-index a.active{ opacity:0.8;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity:0.8;}
.box-index p{ width: 100%; height: 100%; vertical-align: middle; display: table-cell;}
.box-index i,
.box-index small{ display: block; text-align: center; width: 100%; display:block;color: #fff;}
.box-index small{ height: 20px; line-height: 20px; padding: 5px 0 0 0; font-size: 14px;}
.box-index i { height: 40px;}
.box-index i img{ max-height: 100%;}
.index-r a:nth-child(1) i,
.index-r a:nth-child(1) small{ width: 50%; float: left; line-height: 20px; padding: 0;}
.index-r a:nth-child(1) i{ height:20px;}
.index-l,
.index-r{ width: 50%; float: left; height: 300px;overflow: hidden;}
.index-l a{ margin-right:2%;}
.index-r a{ margin-left: 2%;}
.index-l a:nth-child(1){ background: #f9677a; height: 40%;}
.index-l a:nth-child(2){ background: #fa801d; height: 57%; margin-top: 0;}
.index-r a:nth-child(1){ background: #de445e; height: 15%;}
.index-r a:nth-child(2){ background: #01cad4; height: 46%; margin-top: 0;}
.index-r a:nth-child(3){ background: #23bc6a; height: 33%; margin-top: 0;}
header .box-img{ height:170px;}
.arrow{width:20px;
    height:35px;position: absolute; right:0; top:0;}
.arrow:after{border-color: #fff;}
.box-list{ background:none; margin: 10px 0;}
.box-list a,
.box-list .fr b,
.box-list .fw b{ color: #333;}
.box-list a{ width: 100%; padding: 10px 0 10px 0; position: relative; margin:0 0 5px 0;background-color: #fff; border-radius:0; border-bottom: 1px solid #ccc;}
.box-list a:last-child{ border: 0;}
.box-list .fr i,
.box-list .fw i{ color:#999;}

.box-list .arrow{ height: 100%; top: 0; margin: 0 0 0 0; width: 6%;}
.box-list .arrow:after{border-color: #999; position:absolute; height:10px; width:10px; top:50%; left:50%; margin:-5px 0 0 -8px;}
.box-list .fw b, .box-list .fw i{ width:90%;}
.box-list .fr b, .box-list .fr i{ width:90%;}
.box-list .fl img{max-width:85%; vertical-align:top;}

.box{ width:100%; margin:2% 0;}
.box-article .hd {
    border-color:#ccc;
}
.box-article .hd span {
    color:#aaa;
}
.box-article .bd {
    color:#333;
}
.box-article img {
    max-width:100%;
}
@media screen and (orientation:landscape) {

}
