body {
	background:#666667;
}
.list .box-img{ height: 170px;}
.list .box-img img{ max-height: 170px; width: 100%;}
.index header .box-img{ height: 100%; position:fixed; top: 0; left: 0;}
.index header .box-img img{max-width: 100%;}
.index header .box-text{ top: 0; height: 50px; line-height: 50px;}
.index header .box-bd{ text-align: center; font-size: 15px;}
.box-img-page{ width: 100%; height: 30px; z-index: 99; left:0; line-height: 30px; top:80px;}
.box-index{ position:fixed; left:50%; width: 50%; z-index: 100; overflow: auto; height: 60%; bottom:5px; margin: 0 0 0 -25%;}
.box-index a{ overflow: hidden; position: relative; margin: 2px 0; width: 100%; height: 35px; line-height: 35px;}

.box-index .box-bg{ left: 0; top: 0; z-index: 100;}
.box-index a span{color:#fff; z-index: 101; position: absolute; padding: 0 10px;text-overflow: ellipsis;white-space:nowrap; width: 85%; overflow: hidden;}
.arrow{width:20px;
height:35px;position: absolute; right:0; top:0;}
.arrow:after{border-color: #fff;}

.box-list{ background-color: #393c40;}
.box-list a,
.box-list .fr b, 
.box-list .fw b{ color: #fff;}
.box-list a{ width: 100%; padding: 10px 0 10px 0; position: relative;}
.box-list a:nth-child(2n){ background-color: #2e3033;}
.box-list .arrow{ height: 20px; top: 50%; margin: -10px 0 0 0; width: 6%;}
.box-list .arrow:after{border-color: #999;}
.box-list .fw b, .box-list .fw i{}
.box-article,
.box-article .bd,
.box-article .hd h3{ color: #fff;}
.box-article .hd span{ color: #999;}
.box-article .hd{ border-color: #999;}
@media screen and (orientation:landscape) {

}
