body {
	background:#0F0E0C;
}
body.article,
body.list {
	background:#fff;
}
.box-article .hd {
	border-color:#ccc;
}
.box-article .hd span {
	color:#aaa;
}
.box-article .bd {
	color:#333;
}
.box-article img {
	max-width:100%;
}

.box-index {
	overflow:hidden;
}
.box-index a {
	width:49.1%;
	margin:0 1.8% 2% 0;
	float:left;
	background:#2f2f2f;
	text-align:center;
	padding:4% 0;
	overflow:hidden;
}
.box-index a:nth-child(2n) {
	margin:0 0 2% 0;
}
.box-index span {
	font-size:15px;
	color:#666;
	line-height:30px;
	padding:5px 0 0 0;
}
.box-index b,
.box-index span{
	color:#fff;
	width:100%;
}
.box-index b img{ max-height:38px;}

.bg-arrow,
.bg-arrow.table,
.box-list a,
.box-list a.table{ padding:10px 0 12px 0;height:50px; text-align:left; width:100%; margin:0 0 8px 0;}
.bg-arrow,
.box-list .bg-arrow{ background:url(../../img/arrow3.png) no-repeat 98% center #F2F4F3; background-size:10px 15px;}
.box-list{ background:none; overflow:hidden; border-radius:0;}
.box-list a,
.box-list a.table{ }
.box-list .fl{ width:24%;}
.box-list .fl img{ max-height:50px; padding:0 5px;}
.box-list .fr i,
.box-list .fw i{ color:#666;}

.box{ width:100%; margin:2% 0;}
.btn{ text-align:center; height:48px; line-height:48px; color:#fff; background:#2f2f2f;}
.btn a{
    background:#2f2f2f;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    line-height: 48px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.btn a:before {
    font-size: 25px;
    left: 10px;
    margin-left: 0;
    position: absolute;
    top: 2px;
}
.btn .ico-phone{ background:url(../../img/ico-phone2.png) no-repeat 30% center; background-size:auto 20px; padding:0 0 0 5%; width:auto;}
header .box-img{ height:170px;}
@media screen and (orientation:landscape) {
.box-index a {
	width:49%;
	margin:0 2% 2% 0;
	padding:4% 0
}
.box-index a:nth-child(2n) {
	margin:0 0 1% 0;
}

}
