<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">序号</Data></Cell>
        <Cell><Data ss:Type="String">是否兴业银行帐户</Data></Cell>
        <Cell><Data ss:Type="String">收款帐号</Data></Cell>
        <Cell><Data ss:Type="String">收款户名</Data></Cell>
        <Cell><Data ss:Type="String">收款银行及营业网点</Data></Cell>
        <Cell><Data ss:Type="String">是否同城</Data></Cell>
        <Cell><Data ss:Type="String">汇入地址</Data></Cell>
        <Cell><Data ss:Type="String">转账金额</Data></Cell>
        <Cell><Data ss:Type="String">转账用途</Data></Cell>
        <Cell><Data ss:Type="String">备注</Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>