var bd = '<%= j render "form" %>';
name = 'group_item';
w = 1600;
h = 1000;
title = '添加商品';
var html='<div class="pop" id="pop-'+name+'"><div class="pop-bg"></div><div class="pop-border" style="width:'+(w+20)+'px; height:'+(h+20)+'px; margin:'+-(h+20)/2+'px 0 0 '+-(w+20)/2+'px;"></div><div class="pop-bd" style="width:'+w+'px; height:'+h+'px; margin:'+-h/2+'px 0 0 '+-w/2+'px;"><div class="hd">'+title+'<a class="btn-close"></a></div><div class="bd">'+bd+'</div></div></div>';
$('#pop-' + name).remove();
$("body").append(html);
$("#pop-"+name).fadeIn();

