<% content_for :sidebar do %>
  <%= render 'pro/business/sidebar_business' %>
<% end %>

<% content_for :topbar do %>
  <%= link_to '店铺管理', business_shops_path, class: 'h1 uncurrent' %>
  <h1 class="pagecurrent">优惠信息管理</h1>
<% end %>

<div class="box-table fl tright">
  <p>
    <a class="btn btn-small btn-orange fr" onclick="popUrl(this)" data-name="name" data-w="700" data-h="600" data-title="新增优惠信息" data-url="<%= new_business_shop_business_privilege_path %>">新增</a>
  </p>
</div>

<div class="box-table">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="plugin-show" id="rows">
    <tr>
      <th width="15%">优惠名称</th>
      <th width="16%">开始时间</th>
      <th width="16%">结束时间</th>
      <th>优惠内容</th>
      <th width="10%">操作</th>
    </tr>
    <% if @business_privileges.each do |business_privilege| %>
      <%= render 'row', business_privilege: business_privilege %>
    <% end.blank? %>
      <tr id="no-records">
        <td colspan="5" class="green text-center">无记录</td>
      </tr>
    <% end %>
  </table>
  <p class="p-btn"></p>
</div>

<script>
  $.each($('td.description'), function(index, td) {
    var text = $(td).text().substring(0, 40);
    if ( text.length == 40 ) {
      text += '...';
    }
    $(td).html( text );
  });
</script>
