<% if @website_pictures.present? %>
    <header>
      <div class="box-img" id="slider">
        <ul class="box-img-list">
          <% @website_pictures.each do |w| %>
              <li><%=  w.url? ? "<a href='#{ w.url}'>#{ image_tag w.pic_url }</a>".html_safe : image_tag(w.pic_url) %></li>
          <% end %>
        </ul>
        <div class="box-text">
          <span class="box-bd ellipsis fl" id="slider-span"><%= @website_pictures.first.title %></span>
          <div id="pagenavi" class="fr box-img-page">
            <% @website_pictures.each_with_index do |w, index| %>
                <a href="#" class="<%= (index+1) == 1 ? 'active' : ' ' %>"><% index + 1 %></a>
            <% end %>
          </div>
          <div class="box-bg"></div>
        </div>
      </div>
    </header>
<% end %>
<script type="text/javascript">
    //var slider=new TouchSlider({id:'slider', speed:600, timeout:6000});
    <% if @website_pictures.present? %>


    $(function(){
        var texts=<%= @website_pictures.map(&:title).to_s.html_safe %>;
        new Swipe(document.getElementById('slider'), {
            speed:500,
            auto:3000,
            callback: function(){
                var lis = $(this.element).next("div").find("#pagenavi").children();
                lis.removeClass("active").eq(this.index).addClass("active");
                $("#slider-span").html(texts[this.index]);
            }
        });
    });
    <% end %>
</script>
<style>
    header .box-img-list a {
        width: 100%;
    }
</style>