<div class="box-form select-icon title">
<a class="btn btn-big" style="margin-left: 410px;margin-top: -14px;">图片素材</a>
<div class="icon-box title" style="display: none; margin-left: 320px; margin-top: 14px;">
<div class="icon-tab">
  <a class="active" href="javascript:;">推荐</a>
  <!-- <a href="javascript:;" class="">全部</a> -->
</div>
<div class="icon-list" style="display: block; ">
  <div class="content">
   <!--  <i class="fa fa-pagelines"></i>
    <i class="fa fa-cny"></i> -->
    <img src="/assets/default_cards/suoluetu/1.png" width="125" height="61">
    <img src="/assets/default_cards/suoluetu/2.png" width="125" height="61">
    <img src="/assets/default_cards/suoluetu/3.png" width="125" height="61">
    <img src="/assets/default_cards/suoluetu/4.png" width="125" height="61">
    <img src="/assets/default_cards/suoluetu/5.png" width="125" height="61">
    <img src="/assets/default_cards/suoluetu/6.png" width="125" height="61">
    <img src="/assets/default_cards/suoluetu/7.png" width="125" height="61">
  </div>
</div>
<div class="icon-list" style="display: none; ">
<div id="content" class="content" style="top: 0px; ">

</div>
<div class="scrollBox">
  <div class="scroll" id="scroll" style="top: 0px; "></div>
</div>
</div>

</div>
</div>


<script>
$(function(){
  $(".select-icon.title").on("click",".btn",function(){
    $(".icon-box.title").show();
    $(".icon-tab").on("click","a",function(){
    var $this =$(this),
        $index = $this.index(),
        $list = $(".icon-list");
        $this.addClass("active").siblings().removeClass("active");
        $list.not($list.eq($index)).fadeOut("200",function(){
          $list.eq($index).fadeIn("200",function(){
            yAoscroll("#scroll","#content","#scroll_bot","#scroll_top");
          });
        });
    });

  });
  $(".select-icon.title").on("click","img",function(){
    $("#preview_greet_card_title_pic").attr("src",$(this).attr("src"));
    $("#title_label").remove();
    $("#greet_card_title_pic").closest(".box-upload").find('.show_pic_advice').hide();
    $("#greet_card_title_pic").closest(".box-upload").find(".show_pic_advice_text").html('');
    $("#greet_card_recommand_title_pic").val($(this).attr("src"));
  });
})
</script>
<style>
.icon-list {
  overflow: auto;
}
</style>