<% content_for :sidebar do %>
  <%= render 'sidebar_business' %>
<% end %>

<% content_for :topbar do %>
  <h1 class="pagecurrent">微贺卡帮助手册</h1>
<% end %>

<div class="eidt-cont">
    <!-- edit cont start -->
    <h2>马年新春：语音贺卡拜大年</h2>
    <p>值此2014年新春佳节即将到来之际，微枚迪特别推出“马年贺新春，语音拜大年”微贺卡服务。Hold不住了吧，在这喜大普奔的欢聚时刻，快给小伙伴们送去惊喜吧！</p>
    <h2>微贺卡</h2>
    <p>微贺卡是由商家制作，商家可以将贺卡发送给关注自己的用户，关注商家服务号的用户也可以发送微贺卡给自己的朋友或分享在朋友圈。微贺卡功能目前只针对服务号开放。</p>
    <h2>一、基本信息</h2>
    <h3>1、首先要先对基础信息进行设置。</h3>
    <p><img src="/assets/help/greetingCards-1.png"></p>
    <h3>2、贺卡图片管理</h3>
    <p><img src="/assets/help/greetingCards-2.png"></p>
    <p>2.1贺卡顶部图片上传之后，其显示位置在手机微贺卡页面的最顶端。</p>
    <p>2.2添加贺卡：点击添加贺卡可以增加更多的贺卡模版。</p>
    <p class="text">a、在贺卡图片管理中，点击添加贺卡。</p>
    <p class="text">b、填写和贺卡标题，贺卡标题显示在模版选择界面中，可以通过标题直接找到相应的模版。</p>
    <p class="text">c、贺卡分为语音贺卡和文字贺卡两类。</p>
    <p class="text">d、上传标题图片</p>
    <p class="text">标题图片——在手机端的选择贺卡模版界面中，模版上的图片即为标题图片。</p>
    <p class="text">e、添加贺卡图片</p>
    <p class="text">贺卡图片——在手机端打开贺卡模版之后显示的图片即为贺卡图片。</p>
    <p class="text">f、填写贺卡内容，并保存。</p>
    <h2>二、手机端操作步骤：</h2>
    <h3>1、在微枚迪公众账号发送文字：微贺卡</h3>
    <p><img src="/assets/help/greetingCards-3.png"></p>
    <h3>2、发语音：收到提示：“您需要发送一条语音来激活贺卡”，作为发给好友的语音祝福</h3>
    <p>如：“马上有钱、马上有房、马上有车、马上有对象、马上有一切”</p>
    <p><img src="/assets/help/greetingCards-4.png"></p>
    <h3>3、添加语音标签，为您刚才发的语音添加文件名：如：语音马上有钱</h3>
    <p><img src="/assets/help/greetingCards-5.png"></p>
    <h3>4、都准备好了，现在可以选择语音贺卡，进行编辑：如下图所示</h3>
    <p><img src="/assets/help/greetingCards-6.png"></p>
    <h3>5、发送给微信好友，或转发到微信朋友圈</h3>
    <p><img src="/assets/help/greetingCards-7.png"></p>
    <!-- edit cont end -->
</div>