<% provide(:title, '就业保障') %>
<div class="box box-padding">
  <div class="hd college_title">就业保障</div>
  <div class="bd box-line ckeditor_content"><%= @college.security.to_s.html_safe  %></div>
</div>

