<a href="<%= prizes_mobile_waves_url(activity_id: @activity.try(:id), simulate: session[:simulate]) %>" class="music" ></a>
<a href="javascript:;" class="reload"></a>
<a href="<%= intro_mobile_waves_url(activity_id: @activity.try(:id), simulate: session[:simulate], tab: 2) %>" class="info"> </a>
<a href="<%= intro_mobile_waves_url(activity_id: @activity.try(:id), simulate: session[:simulate], tab: 1) %>" class="achievements"></a>
