<section class="content-wrap">
    <article class="content end-content">
        <img src="/assets/img/lottery/gamed_face.png" alt="活动已结束" class="end-img"/>
        <div class="end-text">
            <img src="/assets/img/lottery/gamed_txt.png" alt=""/>
        </div>
    </article>
    <%= render "operations" %>
</section>