<div class="clearfix"></div>
<div class="modal-footer">
  <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button>
  <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
</div>