<div class="warpVMS">
  <div class="vMicroShow">
    <div class="vMSHead">
      <span class="title"><%= wx_title %></span><br>
      <span class="grey"><%= Date.today %></span>
    </div>
    <!--<div class="vMSImg">-->
    <!--</div>-->
    <div class="vMSImg">
      <span id="img-1" style="display:block; width:100%; height:100%;"><%#= wx_pic %></span>
      <!--<span style="top: 38%;left: 36%; color: #999;font-size: 24px;position: absolute;font-weight: bold">封面图片</span>-->
    </div>
    <div class="vMSFoot">
      <p class="grey"><%= wx_summary %></p>
    </div>
  </div>
</div>