@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}
html,body{height:100%;}
ol, ul {
  list-style: none outside none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}
:focus {
  outline: medium none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color:#4786dc;
  outline: medium none;
  text-decoration: none;
}
a:hover{
  text-decoration:underline;
}
* {
  word-wrap: break-word;
}

img{vertical-align:top;}
body{
  background:#4e4e4e;
  margin:0 auto;
  width:100%;
  font-size: 14px;
  line-height:16px;
  font-family:"Microsoft Yahei","宋体","STHeiti","SimSun","Arail","Verdana","Helvetica","sans-serif";
}
.error{color:#ff0000;}
.tCenter{text-align:center;}
.tLeft{text-align:left;}
.tRight{text-align:right;}
.imgFix{display:block;}
.ft-14{font-size:14px;}
.vTop{vertical-align:top;}
.vMiddle{vertical-align:middle;}

h2{font-size:18px; color:#333333; font-weight:bold; line-height:30px; height:30px; border-bottom:1px solid #e5e5e5; margin-bottom:20px;}
.headline-2-no-decoration{border-bottom:none;}
.headline-main{font-size:22px; color:#070707; margin-bottom:0; line-height:50px; height:auto; border-bottom:1px solid #fff; font-family:"宋体","Microsoft Yahei","STHeiti","SimSun","Arail","Verdana","Helvetica","sans-serif";}
.headline-main span{border-bottom:1px solid #e8e8e8; display:block;}
h3{font-size:14px; font-weight:bold; padding-left:6px; line-height:38px; height:38px;}
h4{font-size:16px; font-weight:normal;}
.headline-public{padding-top:20px;}
.fl{ float:left;}
.fr{ float:right;}
.check-box{margin:0; line-height:14px; vertical-align:baseline;}
.blue-text{color:#a4cd3e;}
.gray-text{color:#888888;}
.green-text{color:#008000;}
.orange-text{color:#ff7a03;}
.burlyWood-text{color:#b7804f;}
.underline-text{text-decoration:underline;}
.blue-anchor{color:#79a8e7; text-decoration:none;}
.green-anchor{color:#97bb3e; text-decoration:none;}
.orignal-link{color:#4786dc; text-decoration:underline;}
.orange-link{color:#ff5f00;}
.old-blue-link{color:#55798c;}
.ft-12{font-size:12px;}
.big-text{font-size:16px;}
.offset{display:block; text-align:left; overflow:hidden; text-indent:-999px;}
.section{width:100%;}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.mask{height:100%; width:100%; background:#000; position:absolute; top:0; left:0; opacity:0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50);}
.coverMask { position: absolute; margin: 0; top: 0; left: 0; height: 100%; width: 100%; background-color: #e5e5e5; background: rgba(229,229,229,0.85); filter: progid:dximagetransform.microsoft.gradient(GradientType=0,startColorstr='#85E5E5E5',endColorstr='#85E5E5E5') alpha(opacity=85);}
.popup{position:fixed; top:50%; left:50%;}
.popup .icon_close_popup{position:absolute; top:20px; right:16px;}
.sprits{background-image:url(/assets/sprits.png); background-repeat:no-repeat;}

.button{display:block; text-align:left; text-indent:-9999px; overflow:hidden; cursor:pointer;}
.button:hover{text-decoration:none;}
.button-add{background-position:-11px -147px; height:27px; width:48px;}
.button-next-step{background-position:-72px -139px; height:46px; width:102px;}
.button-dashboard-edit{height:49px; width:175px; background-position:-375px -732px;}
.button-dashboard-delete{height:49px; width:175px; background-position:-375px -796px;}

.box-active-page{padding:35px 27px;}
.box-invite-form{padding:20px 30px;}
.bonous-rule p,
.bonous-rule-indent{line-height:26px;}
.bonous-rule-indent{padding-left:10px; color:#888888;}
.bonous-equal-height{height:290px;}

.invite-link{padding-top:5px; margin-bottom:25px; padding-bottom:25px; border-bottom:1px dotted #dcdcdc;}
.invite-form{padding:10px 0 0;}
.invite-form h2{padding:20px 0 20px;}
.invite-form label{color:#888888;}
.invite-form .button{position:relative; top:4px;}

.box-bar{display:block; overflow:hidden;}

.table-top-touch{margin:0;}
.table td,
.table th{padding:8px 0 8px 8px;}
.table td{vertical-align:middle; color:#888; font-size:14px; border-top:1px solid #dddddd; background:#f9f9f9;}
.table th{font-size:14px; text-align:left; color:#676867;}
.table td{line-height:16px;}
.table .txt-left-align{text-align:left;}
.table .last-row td{border-bottom:none;}
.even td{background:#f7fbee;}
.table-action{text-align:right; margin-top:20px; padding:4px 10px 4px 8px; border-bottom:1px solid #e3eff3; background:#f6f6f6;}
.table-tool .button{margin-right:4px;}
.table .ui-text-link{color:#b7804f; text-decoration:underline;}
.table-ad-copywriter td{padding-top:18px; padding-bottom:18px;}

.table2 {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table2 {
  width: 100%;
  margin-bottom: 18px;
}

.table2 th,
.table2 td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table2 th {
  font-weight: bold;
}

.table2 thead th {
  vertical-align: bottom;
}

.tablur{border-color:#dddddd; border-style:solid; border-width:1px 1px 1px;}
.tablur th,
.tablur td{border-bottom:1px solid #dddddd; border-left:1px solid #dddddd; padding:8px 8px; border-collapse:collapse; text-align:left; vertical-align:middle; color:#888;}
.tablur th{background:#f6f6f6; color:#767676; font-size:14px; border-bottom-color:#d6d6d6;}
.tablur td{line-height:16px;}
.tablur .txt-left-align{text-align:left;}
.tablur .first-col{border-left:none;}
.tablur .last-row td{border-bottom:none;}
.tablur a{color:#55798c}
.even td{background:#f7fbee;}

.error-tip{position:absolute; left:325px; top:1px; width:270px;}
.error-corner{height:27px;}
.error-c-left{width:10px; background-position:0 -821px;}
.error-c-right{width:5px; background-position:-120px -821px;}
.error-c-text{height:27px; line-height:27px; font-size:12px; padding:0 15px; background:#e1d8cf; vertical-align:top;}

.table-inner{border:none; margin:0;}
.mb-commision-balance th,
.mb-commision-balance td{padding:0 8px 0 30px; line-height:42px; text-align:left;}
.mb-commision-balance th{border-left:none;}
.mb-commision-balance .end-row th,
.mb-commision-balance .end-row td{border-bottom:none;}

.box-nav-log{padding-left:1px; padding-right:2px;}

.invite-friends{border-top: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; margin-bottom:0;}
.invite-friends th{background:#f0f0f0; font-weight:normal; font-size:14px; color:#666666; text-align:center;}
.invite-friends-main{margin:0 auto; width:910px;}
.invite-friends-main td{vertical-align:middle; border-bottom: 1px dotted #DDDDDD; border-top:none; color:#444444; text-align:center; font-size:14px;}
.invite-friends-main .date{color:#888888;}
.table .tLeft{text-align:left;}
.table .tCenter{text-align:center;}

.progress-steps{position:relative; margin-top:20px; height:110px; width:926px; background-position:0 -225px;}
.step-bubble{position:absolute; top:15px; width:91px; height:84px;}
.step-add{ display:block; height:53px; width:91px;}
.step-add-1{left:78px;}
.step-add-1 .step-add{background-position:0 -365px;}
.step-add-1 .step-add.active{background-position:-101px -365px;}
.step-add-2{left:480px;}
.step-add-2 .step-add{background-position:-202px -365px;}
.step-add-2 .step-add.active{background-position:-303px -365px;}
.step-indicator{display:block; height:22px; width:22px; position:absolute; left:50%; margin-left:-10px; bottom:0; background-position:-947px -225px}
.step-ad-reg-1,
.step-ad-reg-2,
.step-ad-reg-3{width:131px;}
.step-ad-reg{ display:block; height:53px; width:131px;}
.step-ad-reg-1{left:78px;}
.step-ad-reg-1 .step-ad-reg{background-position:-454px -365px;}
.step-ad-reg-1 .step-ad-reg.active{background-position:-595px -365px;}
.step-ad-reg-2{left:363px; width:171px;}
.step-ad-reg-2 .step-ad-reg{background-position:-736px -365px; width:171px;}
.step-ad-reg-2 .step-ad-reg.active{background-position:-423px -868px;}
.step-ad-reg-3{left:702px;}
.step-ad-reg-3 .step-ad-reg{background-position:-141px -868px;}
.step-ad-reg-3 .step-ad-reg.active{background-position:-282px -868px;}

.wrap{margin:0 auto; width:1000px;}
.top-head{width:100%; background:#1a1a1a url(/assets/bg_header_vcool.png) repeat-x; height:58px;}
.header{width:940px; background:#1a1a1a url(/assets/bg_header_vcool.png) repeat-x; margin:0 auto;}
.main{width:100%; padding-top:14px;}
.sidebar{width:320px;}
.logo{height:58px; width:137px; background:url(/assets/logo_vcoolline.jpg) no-repeat;}
.logo a{width:100%; height:100%; display:block; cursor:pointer;}
.brand{height:52px; width:350px; background-position:-105px -995px;}
.ad-brand{background-position:-485px -995px; }
.front-brand{background-position:-180px -1359px; width:430px;}
.home-brand{background-position:0 -1933px; width:500px;}
.front-mb-brand{background-position:-598px -1933px;}
.master-section{color:#c0bcb9; font-size:16px; font-weight:normal; padding:27px 0 0 30px;}
.welcome-info{color:#707070; font-size:12px; padding:42px 10px 0 0;}
.welcome-info a{color:#333333; text-decoration:none;}
.welcome-info a:hover{text-decoration:underline;}
.welcome-info .user-name{color:#ff7a03;}
.welcome-info .seprator{color:#333333; padding:0 5px;}
.welcome-info .welcome-decoration-link{padding-left:15px;}
.welcome-info .welcome-login{background:url(/assets/icon_login.png) no-repeat 0 2px;}
.welcome-info .welcome-signup{background:url(/assets/icon_signup.png) no-repeat 0 3px;}

.banner-wrap{width:100%; background:#6d9504 url(/assets/bg_banner.jpg) no-repeat center top;}
.banner{width:940px; margin:0 auto;}
.banner-home-wrap{background:#6d9504 url(/assets/bg_vcool_home_banner_wrap.jpg) no-repeat center top;}
.banner-cases-wrap{background:#049593 url(/assets/bg_banner_cases_wrap.jpg) no-repeat center top;}
.banner-dream-wrap{background:#6e8d9f url(/assets/bg_banner_dream_wrap.jpg) no-repeat center top;}
.banner-home{width:931px; height:409px; background:#6d9504 url(/assets/bg_vcool_home_banner.jpg) no-repeat center top;}
.banner-dream{width:962px;}
.banner{ position: relative;}
.banner img{vertical-align:top;}
.banner a.btn{ position: absolute; z-index: 2; left: 660px; top: 219px; border: none; padding: 0;}
.content-wrap{width:100%; background:#f2f2f2;}
.admin-login-wrap{background:#fff;}
.admin-login-wrap .common-content{background:#fff;}
.content{width:940px; margin:0 auto; padding-top:20px;}

.mybanner{position: relative; background: #86b733;}

.home-page{background:#000;}
.home-page .banner-repeat{background:#e95800 url(/assets/home_top_repeat.jpg) repeat-x left top; width:100%;}
.home-page .banner-wrap{background:url(/assets/home_top.jpg) no-repeat center top; width:100%;}
.home-page .banner{width:934px; height:554px; background:url(/assets/home_banner.jpg) no-repeat left top; margin:0 auto;}
.home-page .banner-content{padding-top:403px; width:100%;}
.home-page .bar-code{padding-left:40px; text-align:center;}
.home-page .bar-code p{padding-top:10px;}
.home-page .login-form{padding-top:35px;}
.home-page .login-form .inline-block{vertical-align:top; margin-left:10px;}
.home-page .login-form p{color:#fff; text-align:right; padding-top:10px;}
.home-page .login-form a{color:#542500;}
.outstanding-cases{width:100%; padding:20px 0 30px;}
.outstanding-cases li{float:left; margin-left:10px; width:302px;}
.outstanding-cases .case-frame{width:302px; height:193px; display:block; background:url(/assets/bg_cases_item_box.png) no-repeat left top;}
.outstanding-cases .case-body-copy{padding:5px 20px; font-size:12px; line-height:1.8em; color:#888888;}
.outstanding-cases li img{margin:18px 0 0 20px;}
.patner-lists{width:100%; padding:20px 0;}
.patner-lists ul{margin-left:-6px;}
.patner-lists li{width:108px; height:119px; float:left; background:url(/assets/bg_patner.png) no-repeat left top; margin-left:10px;}
.patner-lists li img{margin:4px 0 0 4px;}
.new-outstanding-cases{width:100%; padding:20px 0 30px;}
.new-outstanding-cases li{float:left; margin:0 25px; width:263px;}
.new-outstanding-cases .middle-pos{margin:0 25px;}
.new-outstanding-cases .case-frame{display:block; text-align:center;}
.new-outstanding-cases .case-body-copy{padding-top:10px; font-size:12px; line-height:1.8em; color:#888888;}

.home-content .content{padding-top:10px;}
.home-content .outstanding-cases{padding-bottom:10px;}
.home-content .outstanding-cases li{padding-bottom:20px;}
.home-feature{padding:20px 0 40px;}

.footer{width:940px; font-size:12px; margin:0 auto; padding:35px 0; color:#aaaaaa; text-align:center;}
.footer p{padding-top:10px;}
.footer a{color:#fff;}
.footer .sepline{padding:0 20px;}
.footer li{display:inline; padding-left:5px;}

.admin-page{background:#fff;}
.admin-content{width:980px; padding:30px 0 200px; margin:0 auto;}
.admin-logo{padding:22px 0 44px;}
.admin-login{width:307px; height:281px; margin-top:15px; background:url(/assets/bg_vcool_login.png) no-repeat left top;}
.admin-login-title{color:#555555; font-weight:normal; font-size:20px; display:block; padding:20px 0 10px;}
.admin-login-form{padding:0 0 0 40px;}
.admin-login-form a{color:#333333;}
.admin-login-form .link-sign-up{color:#d14464;}
.admin-login-form .row{padding-bottom:16px;}
.admin-login-form .horizon-label{width:77px; height:34px; line-height:34px; font-size:18px; color:#333333; padding-right:18px;}
.admin-login-form .form-capta{vertical-align:top; position:relative; top:0px; margin:0 5px;}
.admin-login-action{padding:5px 0 20px 0;}
.admin-login-action .login-btuuon{margin-right:10px; vertical-align:middle;}

.admin-forgot-psw{height:185px; width:481px; margin:75px auto 150px auto; background:#f7f7f7 url(/assets/bg_forgot_psw.png) no-repeat; padding:40px 0 0 0;}
.admin-forgot-psw p{color:#555555; font-size:20px; text-align:center; line-height:1.8em; padding-bottom:15px;}
.admin-forgot-psw .tel-number{color:#008faf;}

.home-login-form{padding:30px 0 0 588px;}

.common-template{background:#fff;}
.common-content{width:980px; margin:0 auto; background:#f2f2f2; padding-bottom:50px;}
.common-logo{padding:22px 0 15px;}
.common-main{padding-top:22px;}
.agent-basic-info .horizon-label{width:85px; height:34px; line-height:34px; font-size:16px; color:#333333; padding-right:5px;}
.agent-basic-info .select-field{background:#ffffff; border:1px solid #dddddd; width:164px; height:34px; line-height:34px;}
.agent-basic-info .st-full-width{width:352px;}
.agent-basic-info .stardard-input{border-color:#dddddd;}
.agent-extra-info{padding-left:5px; padding-top:20px; border-top:1px solid #dddddd; margin-top:5px;}
.agent-extra-info .landscape-label{font-size:14px; line-height:1.6em;}
.agent-extra-info .big-label{font-size:16px;}
.agent-extra-info .option{padding-right:15px;}
.agent-partner-info .horizon-label{width:115px;}

.common-process-step li{margin-left:16px; padding-bottom:5px; color:#555555; list-style-type:decimal;}

.customer-service{width:93px; height:249px; text-align:center; position:fixed; background:url(/assets/bg_custome_service.png) no-repeat left top; right:0; top:252px;}
.customer-service ul{text-align:left; height:95px; padding-top:8px;}
.customer-service li{padding:5px 0 0 7px;}
.customer-service li a{line-height:20px; padding-left:20px; background:url(/assets/icon_qq.png) no-repeat left bottom; color:#333333;}
.customer-hot-line{padding:5px 0 20px; font-size:12px; _font-size:11px;}

.vcool-services{top:130px;z-index: 999}

.nav li{display:inline; padding-left:60px;}
.nav a{color:#f4f4f4; font-size:14px; line-height:58px; font-weight:bold; text-decoration:none;}
.nav a:hover,
.nav .active{color:#c9fd33;}

.my-profile-nav{
  border-bottom:1px solid #b8b8b8;
  background:#d5d5d5;
  margin:0;
  padding-top:6px;
  padding-left:13px;
}
.my-profile-nav li{
  float:left;
  display:inline;
  width:115px;
}
.my-profile-nav a{
  text-decoration:none;
  display:block;
  height:31px;
  text-align:center;
  line-height:31px;
  margin-bottom:-1px;
  color:#2a586f;
  position:relative;
  background-position:5000px 5000px;
}
.my-profile-nav .active a{
  background-position:-198px -144px;
  color:#000000;
}
.my-invite-nav{
  border-bottom:none;
  padding-left:22px;
}

.help-center-link{text-align:center;}
.help-center-link a{color:#7eb43b;}
.help-center-icon{height:45px; width:45px; background-position:-116px -1360px; vertical-align:middle;}

.admin-page{background:#fff url(/assets/bg_admin_body.png) repeat-x}
.admin-page img{vertical-align:top;}
.admin-page-logo{padding-left:20px;}
.admin-page-content{width:900px; margin:0 auto;}
.admin-page-banner{padding-top:49px; text-align:center; height:171px;}
.admin-page-main{background:url(/assets/bg_admin_content.png) no-repeat center top;}
.admin-form-login{width:375px; margin:0 auto; position:relative; padding:70px 0;}
.admin-form-login .horizon-label{line-height:23px; height:23px;}
.admin-form-login .row{padding-bottom:11px;}
.admin-form-action{position:absolute; top:68px; left:290px;}
.admin-form-login .stardard-input{border-top-color:#9a9a9a; border-left-color:#9a9a9a;}

.form-helper{padding-left:0; margin:0 auto;}
.form-helper p{padding-bottom:25px; font-size:16px;}

.landing-h-group{text-align:center; background:url(/assets/bg_h4.png) repeat-x left  bottom; padding-bottom:15px;}
.landing-h-group h2{font-size:30px; padding-bottom:5px;}
.landing-copy p{padding-top:15px; line-height:18px;}
.landing-latest-news{font-size:12px; padding-top:5px;}
.landing-latest-news a{color:#555555;}
.landing-latest-news{padding-left:10px;}
.landing-latest-news li{line-height:20px; background:url(/assets/bullet.png) no-repeat 3px  10px; padding:2px 0 2px 12px;}

.left-col{width:175px; padding-bottom:50px;}
.title-card-nav{padding-right:4px; text-align:center;}
.title-help-center{padding-right:4px; text-align:center; padding-top:43px;}
.left-page-nav{background:url(/assets/bg_left_nav_bar.png) no-repeat 0  0; height:309px; width:100%;}
.left-page-nav ul{padding:16px 10px 0 16px;}
.left-page-nav li{padding-bottom:2px;}
.left-page-nav a{display:block; padding-left:12px; line-height:26px; height:26px; color:#55798c; text-decoration:none; text-align:left;}
.left-page-nav .active,
.left-page-nav a:hover{color:#fff; background:#55798c; text-decoration:none;}

.left-info-box{background:url(/assets/bg_info_main.png) repeat-y 0  0; margin-top:5px; width:170px;}
.left-info-box .top-bar{background:url(/assets/bg_info_top.png) repeat-y 0  0; height:38px;}
.left-info-box .btm-bar{background:url(/assets/bg_info_btm.png) repeat-y 0  0; height:7px;}

.common-template-box{border:1px solid #d7d7d7; background:#f5f5f5; padding:4px;}
.common-template-box .template-inner{background:#fff; padding:13px;}
.common-template-sidebar{width:158px;}
.common-template-main{background:url(/assets/bg_common_template_main.png) repeat-y 0  0; margin-top:5px; width:742px;}
.common-template-main .top-bar{background:url(/assets/bg_common_template_top.png) no-repeat 0  0; height:50px;}
.common-template-main .btm-bar{background:url(/assets/bg_common_template_btm.png) no-repeat 0  0; height:13px;}
.common-template-main h1,
.common-lite-main h1{font-size:24px; color:#333333; font-weight:normal; line-height:48px; margin:0 30px; border-bottom:1px solid #dddddd; height:48px;}
.common-lite-main h1{margin:0;}
.common-lite-main{width:742px;}
.common-lite-main p{font-size:12px; color:#888888; margin:15px 0; line-height:2em;}
.common-lite-main .sub-headline{color:#333333; font-size:16px;}
.common-template-body-copy p{padding-bottom:15px; line-height:1.8em; font-size:16px;}

.common-lite-contact{padding:20px 0 50px 0;}
.common-address{padding-left:30px; width:350px;}
.common-address p{margin:0;}
.common-address strong{font-size:18px; font-weight:normal; display:block; margin-bottom:20px;}

.common-template-nav{width:204px;}
.common-template-nav dt{font-size:18px; font-weight:bold; line-height:50px; padding:0 0 0 32px; color:#648500; height:50px; background:url(/assets/bg_vcool_sidebar_top.png) no-repeat 0 0;}
.common-template-nav dd{line-height:44px; padding:0 0 0 32px; height:44px; background:url(/assets/bg_vcool_sidebar_main.png) no-repeat 0 0;}
.common-template-nav .end{background:url(/assets/bg_vcool_sidebar_btm.png) no-repeat 0 0;}
.common-template-nav a{color:#333333;}
.common-template-nav a:hover,
.common-template-nav a.active{color:#6d9000;}
.common-form-box .common-template-body-copy h1{margin:0; padding:0 0 15px 0;}

.common-form-box{padding:15px 30px; margin-top:10px;}

.icon{overflow:hidden; font-size:0; line-height:0; background-repeat:no-repeat; background-image:url(/assets/icon_sprits.png);}
.icon_helper{background-position:0 0; width:15px; height:15px; vertical-align:text-top; margin-right:5px;}
.icon_close{position:absolute; width:18px; height:17px; background-position:0 -21px; top:11px; right:13px;}
.icon_arrow{position:absolute; width:14px; height:23px; background-position:0 -48px; top:44px; left:-13px;}
.icon_upload{width:21px; height:20px; background-position:0 -82px;}
.icon_folder{width:15px; height:14px; background-position:0 -143px;}
.icon_collapse_arrow{width:11px; height:11px; background-position:0 -126px;}
.icon_expand_arrow{width:11px; height:11px; background-position:0 -111px;}
.icon_add_menu{width:13px; height:12px; background-position:0 -160px;}
.icon_edit_menu{width:13px; height:12px; background-position:0 -176px;}
.icon_delete_menu{width:13px; height:12px; background-position:0 -195px;}
.icon_sub_menu{width:16px; height:16px; background-position:0 -215px;}
.icon_smily{height:16px; width:18px; background-position:0 -260px;}
.icon_list_arrow{height:15px; width:14px; background-position:-1px -286px;}
.icon_close_popup{height:10px; width:10px; background-position:0 -311px;}
.icon_error{height:16px; width:17px; background-position:0 -357px; position:relative; top:2px;}
.icon_validate{height:16px; width:17px; background-position:0 -330px; position:relative; top:2px;}
.icon_compose_edit{height:20px; width:20px; background-position:0 -382px;}
.icon_compose_delete{height:20px; width:20px; background-position:1px -412px;}

.icon-5-5{width:5px; height:5px; position:absolute; display:block;}

.in-tl-tb{background-position:0 -239px; left:0; top:0;}
.in-tr-tb{background-position:-10px -239px; right:0; top:0;}
.in-bl-tb{background-position:0 -249px; left:0; bottom:0;}
.in-br-tb{background-position:-10px -249px; right:0; bottom:0;}

.btn{border:1px solid #bdbdbd; padding:0 10px; line-height:24px; position:relative; margin:0; color:#555555; text-decoration:none; outline:none; text-align:center;}
.btn-mini{padding:0 5px; line-height:21px;}
.btn-small{line-height:18px;}
.btn-light-bg{background:#ffffff;}
.keyword-mark{background:#e5e5e5;}
.btn-submit{border:1px solid #1b67be; line-height:27px; color:#ffffff; background-position:0 -24px; font-size:14px;}
.btn-session{line-height:20px; vertical-align:middle; cursor:pointer; position:relative; font-size:14px;}
.btn-blue{border:1px solid #668812;  line-height:27px; color:#ffffff; background-position:0 -51px; font-size:14px;}
.btn-secondary{background:#e5e5e5;  line-height:27px; font-size:14px;}
.error-bar{
  background:#f2dedf; border:none; -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; text-align:left; color:#b96865; font-size:14px; line-height:33px; padding:0 14px;
}
.success-theme{background:#DFF0D8; color: #468847;}
.success-theme-b{background:#D9EDF7;}
.btn-min-width{width:70px;}

.inline-block{display:inline-block;}
* html .inline-block{display:inline;}
*:first-child+html .inline-block{display:inline;}

.anchor{font-size:12px; line-height:20px; vertical-align:middle; color:#999999; text-decoration:none; padding:0 8px; margin-bottom:5px; background:#f1f1f1;}
.anchor:hover{color:#ffffff; background:#4786dc;}
.premant{font-size:18px; line-height:1.5em;}
.social-network-pin{margin-bottom:10px; display:block;}
.loading-wrap{text-align:center; padding-bottom:20px;}
.loading{background:#eaeced; padding:4px; font-size:75%;}
.loading-box {background:#ffffff; border:1px solid #cccccc; padding:6px 20px;}
.load-text{padding-left:20px;}
.loading-box span{vertical-align:middle;}
.subpage{font-size:75%; line-height:1.3em;}
.post-rule strong{font-size:14px;}
.post-rule p{margin-bottom:15px; line-height:25px;}

.form-sets{padding:55px 0 0 0;}
.form-ad-profile{padding:88px 0 0 0;}
.form-add-active{width:550px; padding-left:50px;}
.form-ad-sign-up{margin:0; padding-left:30px;}
.form-action{padding:30px 0 0 100px;}
.form-input-tip{padding:0 0 5px 100px; margin-top:-5px;}
.form-options{margin-top:5px;}
.form-capta{line-height:23px; position:relative; vertical-align:top; top:5px; padding:0;}
.landscape-form-action{padding-top:25px;}

.form-ad-sign-in{width:283px; margin-top:50px; padding-left:24px; padding-bottom:100px; border-left:1px solid #ededed;}
.form-ad-sign-button{padding:25px 8px;}
.form-ad-sign-button h2{padding-bottom:15px;}
.form-ad-address{padding:25px 8px; line-height:20px;}

.form-sms-val{padding-top:5px;}

.row{padding-bottom:20px;}
.narrow-row{padding-bottom:15px;}
.column{padding-right:30px;}
.column label{line-height:24px;}
.column .data-pick-label{_float:left;}
.horizon-label{float:left; display:block; width:95px; padding-right:5px; text-align:right; line-height:30px; height:30px; font-size:14px;}
.input-prepopulated{line-height:30px; height:30px;}
.landscape-label{display:block; padding-bottom:8px;}
.landscape-label{*overflow:hidden;}
.label-tip{color:#595959; font-size:12px;}
.form-field-link{line-height:32px; font-size:12px; padding-right:60px;}
.arsk{color:#d20000; padding:0 5px;}
.block-label{display:block;}
.label-gray{color:#888888;}
.label-left-align .horizon-label{text-align:left; width:85px;}
.label-left-align-action{padding-left:90px;}
.label-right-align-action{padding-left:100px;}
.form-field{float:left; position:relative;}
.form-field .field_with_errors { display: inline; }
.form-field .message{position:absolute; top:0; width:250px; line-height:32px; padding-left:20px; color:red;}
.form-field-text{line-height:32px;}
.form-field-narrow{padding-top:6px;}
.inline-form-field{float:none;}
.form-tip{color:#808080; font-size:14px;}
.input-box{height:32px; vertical-align:middle;}

.txt-input{background:none; border:none; outline:none; color:#c2c2c2; font-size:12px; height:18px; line-height:18px; font:Arial, Helvetica, sans-serif; padding:6px;}
.txt-textarea{border:1px solid #cccccc; color:#555555; overflow:auto; padding:8px; margin:0; outline:none; font:Arial, Helvetica, sans-serif; font-size:14px; line-height:1.3em;}
.txt-input:-webkit-autofill {
  background-color: none !important;
  background-image: none !important;
  color: #c2c2c2 !important;
}
.txt-textarea-501{height:136px; width:485px; background-position:0 -1517px; border:none;}
.txt-textarea-328{height:84px; width:328px; background-position:0 -1730px; border:none;}
select{*margin-top: 6px; vertical-align:top;}
.stardard-input{border:1px solid #d3ccc3; padding:3px 6px; height:21px; line-height:21px; width:166px; background:#fff; color:#c2c2c2; font-size:12px;}
.txt-input-big{height:30px; padding:10px; line-height:30px; font-size:18px; color:#9c9c9c;}
.txt-input-mediem{height:22px; padding:6px; line-height:22px; font-size:14px; color:#9c9c9c;}
.txt-pagination{width:23px; height:16px; line-height:16px;}
.st-textarea-501{height:136px; width:485px; border:1px solid #ddd;}
.st-80{width:68px;}
.st-230{width:218px;}
.st-233{width:221px;}
.st-349{width:337px;}
.st-short{width:80px;}
.st-long{height:19px; line-height:19px; width:484px;}
.stardard-select{outline:none; padding:3px 0;}
.input-info{padding-left:10px; color:#b7804f;}
.select-field{padding:4px; height:30px; line-height:30px; font-size:14px; color:#555555; width:220px;}
.mock-select{height:24px; width:113px; line-height:22px; padding-left:5px; background-position:0 -776px; position:relative;}
.button-upload{position:absolute; top:3px; color:#000; left:5px; vertical-align:top; line-height:14px;}
.button-upload .label-upload{vertical-align:top; position:relative; left:5px; top:3px;}
.input-upload{padding-left:60px; width:428px;}
.discription{padding-top:5px; color:#cbcbcb; margin-bottom:0;}
.discription2{color:#cbcbcb;}
.popup-select-mb{height:182px; width:281px; font-size:12px; background-position:-219px 0; position:absolute; top:30px; left:0;}
.popup-select-mb-inner{padding:13px 12px;}
.popup-mb-account{padding:8px; width:240px; height:123px; overflow:auto;}
.compose-editor-menu{border:1px solid #cccccc; vertical-align:top;}
.input-compose-browser{border:1px solid #cccccc; border-top:none; overflow:auto; padding: 3px 6px; width:484px; margin:0; outline:none; height:312px;}
.input-compose-caption{border-top:1px solid #cccccc; height:35px;}
.compose-action{padding-top:20px;}
.compose-action input{margin-right:20px;}

.password {top:40px; left:20px; background:url(/assets/password2.jpg) no-repeat; height:32px; width:84px;}
.absolute {position:absolute;}
.relative {position:relative;}

.main{ background: #ebe3d8;}
.itembox{ width: 962px; margin: 0 auto; padding: 20px 0 0;}
.itembox p.topimg{ height: 18px; overflow: hidden; background: url(/assets/spread/bg_add_topimg.png) no-repeat;}
.itembox p.botimg{ height: 15px; overflow: hidden; background: url(/assets/spread/bg_add_botimg.png) no-repeat;}
.itembox .midbox{ overflow: hidden; background: url(/assets/spread/bg_add_midimg.jpg) repeat-y;}
.itembox .midbox-mid{ text-align: center; padding: 0 0 20px 0; border-bottom: 1px dashed #aaa;}
.itembox .midbox .item{ display: inline-block; margin: 0 5px; width: 284px; background: #dfdfdf; padding: 5px 8px;}
.itembox .midbox .item .intro{ padding: 5px 0; color: #444; font-size: 12px; line-height: 20px;}
.itembox .midbox .item .intro span{ color: #e8645a; font-size: 18px;}
.itembox .midbox .item .btns{ height: 44px; background: url(/assets/spread/bg_add_btn02.png); color: #fff; cursor: pointer; text-align: center; font-size: 24px; line-height: 44px;}
.itembox .midbox .title-bw{ width: 932px; margin: 0 auto; padding: 15px 0 0; font-size: 14px; color: #76caca; line-height: 26px;}
.itembox .midbox .title-bw span{ color: #333; font-size: 24px; padding: 0 5px 0 0;}
.itembox .midbox .case{ width: 932px; overflow: hidden; margin: 0 auto;}
.itembox .midbox .case ul{ overflow: hidden; width: 990px;}
.itembox .midbox .case ul li{ height: 95px; width: 95px; padding: 5px 9px 5px 0; float: left;}
.itembox .midbox .case ul li a{ display: block; height: 95px; width: 95px; background: url(/assets/spread/bg_add_bga.png) no-repeat;}
.itembox .midbox .case ul li a:hover{background: url(/assets/spread/bg_add_bgah.png) no-repeat;}
.itembox .midbox .title{ height: 40px; line-height: 40px; background: #ccc; color: #fff; overflow: hidden;}
.itembox .midbox .title p{ display: inline-block; border-left: 7px solid #999; padding: 0 0 0 10px; font-size: 20px;}
.itembox .midbox .title.title-green{ background: #86b733;}
.itembox .midbox .title.title-green p{ border-left: 7px solid #567c16;}
.itembox .midbox .title.title-green p:first-child{ width: 500px;}
.itembox .midbox .title.title-blue{ background: #76caca;}
.itembox .midbox .title.title-blue p{ border-left: 7px solid #5aa7a7;}
.itembox .midbox .title.title-red{ background: #e8645a;}
.itembox .midbox .title.title-red p{ border-left: 7px solid #a8453d;}
.itembox .midbox .title.title-lan{ background: #3b96d4;}
.itembox .midbox .title.title-lan p{ border-left: 7px solid #01538b;}

.itembox .midbox .artleft{ float: left; width: 465px; padding: 0 40px 0 15px;}
.itembox .midbox .artleft a{ display: block; margin-top: 13px; padding: 0 0 0 20px; background: url(/assets/spread/bg_add_bgb.png) no-repeat left center; height: 18px; line-height: 18px; font-size: 14px;}
.itembox .midbox .artleft a span{ display: inline-block; color: #444;}
.itembox .midbox .artleft a span.r{float: right; color: #888;}
.itembox .midbox .artleft a:hover span{ text-decoration: underline;}
.itembox .midbox .artright{ float: right; width: 350px; padding: 10px 20px 10px 50px; height: 210px; background: url(/assets/spread/bg_add_bgb.jpg) no-repeat left center;}
.itembox .midbox .artright p{ border-bottom: 1px dashed #c2c2c2; height: 62px; padding: 7px 0 0; position: relative;}
.itembox .midbox .artright p a{ line-height: 28px; font-size: 14px; color: #444; display: block;}
.itembox .midbox .artright p a:hover{ text-decoration: underline;}
.itembox .midbox .artright p span{ display: block; height: 20px; background: #fff; color: #777; width: 40px; position: absolute; right: 0; bottom: -10px; text-align: center;}
.itembox .midbox .ewm{ width: 932px; overflow: hidden; margin: 0 auto;}
.itembox .midbox .ewm ul{ overflow: hidden; text-align: center; padding: 20px 0 0;}
.itembox .midbox .ewm ul li{ height: 117px; width: 87px; padding: 5px 21px 5px; display: inline-block;}
.itembox .midbox .ewm ul li a{ display: block; height: 117px; width: 87px; }
.itembox .midbox .ewm ul li a span{ display: block; height: 18px; line-height: 18px; color: #444; font-size: 14px; padding: 10px 0 0; text-align: center;}
.itembox .midbox .areabox{ width: 289px; padding: 0 15px; float: left; border-left: 1px dashed #c6c6c6; margin: 10px 0;}
.itembox .midbox .areabox p.p-area{ position: relative; padding: 0 0 0 70px; font-size: 14px; line-height: 22px; color: #444;}
.itembox .midbox .areabox p.p-area span{ position: absolute; display: block; width: 70px; left: 0; top: 0; color: #e8645a;}

.itembox .midbox .form{ overflow: hidden;}
.itembox .midbox .form .left{ width: 480px; float: left;}
.itembox .midbox .form .right{ width: 480px; float: right;}
.itembox .midbox .form p.list{ position: relative; padding: 5px 0 5px 110px;}
.itembox .midbox .form p.list span.til{ display: block; width: 100px; text-align: right; font-size: 14px; line-height: 26px; position: absolute; left: 0; top: 5px;}
.itembox .midbox .form p.list span.tip{ display: block;font-size: 14px; line-height: 26px; }
.itembox .midbox .form p.list input{ height: 24px; line-height: 24px; border:1px solid #ccc; padding: 0 5px; width: 290px;}
.itembox .midbox .form p.list textarea{ height: 70px; line-height: 24px; border:1px solid #ccc; padding: 0 0 0 5px; width: 290px;}
.itembox .midbox .form p.source_type label{ padding: 10px 11px 0 0; white-space: nowrap; display: block; float: left; }
.itembox .midbox .form p.source_type label input{ width: auto; margin: 0; padding: 0; height: auto; vertical-align: middle;}
.itembox .midbox .form p.source_type input.inp{ margin-top: 10px; width: 200px;}
.itembox .midbox .form p.but{ padding: 10px 0 0 110px;}

.hz{ background: #ddd5c2;}
.hz .hz-t{ background: #ebe3d8;}
.hz .hz-t span{ display: block; width: 940px; margin: 0 auto; font-size: 24px; line-height: 30px; padding: 10px 0;}
.hz ul{ width: 962px; margin: 0 auto; overflow: hidden; padding: 5px 0; text-align: center;}
.hz ul li{ display: inline-block; width: 124px; height: 64px; overflow: hidden; padding: 4px;}

/*client-side-validations css style*/
.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}
