<% provide(:title, '我们的故事') %>
<div class="contxt cont-index">
  <div class="box-contxt box-story">
    <div class="hd"><%= @wedding.story_title  %></div>
    <div class="bd ckeditor_content"><%= @wedding.story_content.to_s.html_safe  %></div>
  </div>
</div>
<style>
.ckeditor_content ol,
.ckeditor_content ul{
/*float:left;*/
display:block;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 20px;
}
.ckeditor_content ul,
.ckeditor_content ol,
.ckeditor_content li{word-spacing: normal;
word-break: normal;
word-break: break-all;}
.box-contxt .ckeditor_content p{width:100%;
margin:0;
word-spacing: normal;
word-break: normal;
word-break: break-all;}
.box-contxt.ckeditor_content img{ max-width:100%;}
.ckeditor_content ol li{list-style:decimal outside none;margin-left: 30px;}
.ckeditor_content ul li{list-style:disc outside none;margin-left: 30px;}
.ckeditor_content em, em span{font-style:oblique;}
</style>
<script>
    $(".ckeditor_content img").css({"width":"auto","height":"auto"})
</script>