<% content_for :content do %>
<div class="main-container-inner">
  <div class="main-content ">
    <%= render "shared/group_breadcrumbs"%>

    <div class="page-content">
      <%= content_for?(:trip_page_content) ? yield(:trip_page_content) : yield %>
    </div>
  </div>
</div>
<% end %>

<%= render :template => 'layouts/application' %>
<% render "shared/flash"%>
