<div class="bd-share">
  <a class="btn-share first"><span class="ico-share">发送给朋友</span></a>
  <a class="btn-share last"><span class="ico-pyq">分享到朋友圈</span></a>
</div>

<div class="pop pop-share">
  <div class="pop-bg"></div>
  <div class="pop-bd">
    <p class="note-share"></p>
  </div>
</div>

<style type="text/css">
  /* 分享图标按钮样式 */
  .bd-share {
    padding: 24px 1%;
    width: 100%;
    overflow: hidden;
  }
  .btn-share {
    width: 48%;
    color: #444;
    float: left;
    border-radius: 5px;
    background: #d6d6d6;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
  }
  .first {
    margin: 0 2.5% 0 0;
  }
  .last {
    margin: 0;
  }
  .ico-share {
    display: inline-block;
    background: url(/assets/mobile/ico-share.png) no-repeat 0 center;
    background-size: 20px 19px;
    padding: 0 0 0 25px;
  }
  .ico-pyq {
    display: inline-block;
    background: url(/assets/mobile/ico-pyq.png) no-repeat 0 center;
    background-size: 20px 19px;
    padding: 0 0 0 25px;
  }
  /* 弹出悬浮层样式 */
  .pop-share{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background: rgba(0,0,0,0.5);
    top:0;
    left:0;
    display: none;
  }
  .pop-bd {
    width:100%;
    height:100%;
    padding: 0;
    border-radius: 0;
    top:0;
    right: 0px;
    position: fixed;
    background: none;
  }
  .note-share {
    background: url(/assets/mobile/text.png) no-repeat right center;
    width: 100%;
    height: 155px;
    background-size: contain;
    top: 0;
  }
</style>

<script type="text/javascript">
  //发送给朋友 & 分享到朋友圈
  $(function(){
    $(".btn-share").click(function(){
      var h=$(document).height();
      $(".pop-share").height(h);
      $(".pop-bg").height(h);
      $(".pop-share").show();
    });
    $(".pop-share").click(function(){
      $(".pop-share").hide();
    });
  });
</script>
