<% content_for :sidebar do %>
  <%= render 'sidebar_activity' %>
<% end %>

<% content_for :topbar do %>
  <h1 class="pagecurrent">图片分享帮助手册</h1>
<% end %>

<div class="eidt-cont" style="margin-top: -20px;">
	<!-- edit cont start -->
	<h2>一、基本设置</h2>
	<p><img src="/assets/share_photo_1.png" /></p>
	<p><img src="/assets/share_photo_2.png" /></p>
	<h2>二、图片触发</h2>
	<p><img src="/assets/share_photo_3.png" /></p>
	<h2>三、标签触发</h2>
	<p><img src="/assets/share_photo_4.png" /></p>
	<h2>四、查看设置</h2>
	<p><img src="/assets/share_photo_5.png" /></p>
	<!-- edit cont end -->
</div>

