<div class="body">
    <div class="package-box">
        <img src="/assets/img/package/package-1.jpg" alt="">
    </div>
    <div class="state not-start">
        <img src="/assets/img/package/state.png" alt="">
        <div class="text"><span>距离活动开始还有<%=  (Date.today .. @activity.start_at.to_date).count %>天</span></div>
    </div>
    <div class="btn-box">
        <div class="cell">
            <a href="<%= rules_mobile_unfolds_url(activity_id: @activity.id, openid: @wx_user.openid, origin_openid: params[:origin_openid]) %>" class="btn">
                <span>游戏规则</span>
            </a>
        </div>
        <%- if !@subscribed%>
            <div class="cell">
                <a href="javascript:;" class="btn" onclick="showPop('#pop-share')">
                    <span>关注我们</span>
                </a>
            </div>
        <%- end %>
    </div>
</div>
