<% content_for :sidebar do %>
  <%= render 'pro/business/sidebar_business' %>
<% end %>

<% content_for :topbar do %>
  <a href="javascript:;" class="h1 pagecurrent">文章管理</a>
<% end %>

<div class="box-table fl tright">
  <a class="btn btn-small btn-orange" onclick="popUrl(this)" data-name="new_pro_website_article" data-w="900" data-h="600" data-title="新增文章" data-url="<%= new_busine_article_url %>">新增</a>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="plugin-show">
    <thead>
      <tr>
        <th>文章标题</th>
        <th>文章分类</th>
        <th width="50">推荐</th>
        <th width="130">发布时间</th>
        <th width="80">操作</th>
      </tr>
    </thead>
    <tbody id="article-body">
      <% if @website_articles.each do |website_article| %>
        <%= render 'pro/website_articles/row', website_article: website_article %>
      <% end.blank? %>
        <tr id="null-row">
          <td colspan="5" class="green text-center">无记录</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="ft">
    <%= paginate @website_articles %>
  </div>
</div>
