<%= content_for :head do %>
<title>微枚迪服务协议_微枚迪winwemedia_微信营销推广行业领导品牌</title>
<meta name="keywords"  content="微枚迪、微枚迪服务协议"/>
<meta name="description"  content="微枚迪（winwemedia），是微信营销行业领导品牌，专注于提供微信营销、微信推广、微信运营等解决方案，助力企业微营销。"/>
<% end %>

<div class="body">

  <div class="clearfix bg-gray">
    <div class="wrap">
      <h1 style="text-align: center;border-bottom: 1px solid #e5e5e5; padding-bottom: 10px;font-size:1.5em;">微枚迪服务协议</h1>
      <h2 id="重要须知">重要须知:</h2>

<p>&nbsp;&nbsp;&nbsp;&nbsp;微枚迪公司在此特别提醒用户认真阅读、充分理解本《服务协议》（下称《协议》）— 使用本服务的所有用户应认真阅读、充分理解本《协议》中各条款，包括免除或者限制微枚迪公司责任的免责条款及对所有用户的权利限制条款。请您审慎阅读并选择接受或不接受本《协议》，除非您接受本《协议》所有条款，否则您无权申请、使用本服务。您的申请、使用、帐号获取和登录等行为将视为对本《协议》的接受，并同意接受本《协议》各项条款的约束。 </p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;本《协议》是您（下称“所有用户”或“用户”）与微枚迪公司（下称“微枚迪”）及其授权经销商（下称“单位”）之间关于所有用户申请、使用 “微枚迪服务”（下称“服务”），注册、使用、管理服务帐号，以及使用微枚迪公司相关服务所订立的协议。本《协议》描述微枚迪公司与所有用户之间关于“服务”许可使用及服务相关方面的权利义务。 </p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;本协议可视为《微枚迪（winwemedia.com）网站服务条款》的补充条款，与其构成统一整体，您对本协议的接受即受全部条款的约束，包括接受微枚迪公司对任一服务条款随时所做的任何修改。本《协议》可由微枚迪公司随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知。在微枚迪公司修改《协议》条款后，如果用户不接受修改后的条款，请立即停止使用微枚迪公司提供的微枚迪服务，用户继续使用微枚迪公司提供的微枚迪服务将被视为已接受了修改后的协议。 </p>



<h2 id="一总则">一、总则</h2>

<p>客户确认本协议前，必须（1）合法拥有和控制了需要绑定的微信公众号；（2）有全部法定权利接受或代表他人接受本协议；（3）阅读并理解了本协议。 微枚迪公司将会对上述（1）（2）项进行相关权利审查，若不符合微枚迪公司的本服务要求或存在相关权利瑕疵，微枚迪公司有权驳回客户使用本服务的申请。 </p>

<p>定义</p>

<p>客户：合法拥有和控制需要绑定的微信公众号，并有权接受本协议及使用本服务的用户，包括组织和个人。 <br>
最终用户：使用微枚迪服务的最终用户。 <br>
最终用户帐号：客户通过微枚迪服务提供给最终用户的帐号 <br>
上述客户及最终用户，均统一称为“所有用户”或“用户”，均须受到本协议约束。 </p>


<p>微枚迪服务</p>


<p>2.1 微枚迪公司向客户提供基于微信公众号的微信营销服务，客户可以使用该服务向最终用户提供相关应用功能。最终用户也是微枚迪公司服务的用户，须遵守本协议。 <br>
2.2 客户同意微枚迪可以通过电子邮件、网页或其他合法方式向用户发送商业信息和服务信息，这些信息包括但不仅限于功能升级通知信息等。 </p>



<h2 id="二知识产权声明">二、知识产权声明</h2>

<p>2.1 本“服务”是由微枚迪公司研发。“服务”的一切版权、商标权、专利权、商业秘密等知识产权，以及与“服务”相关的所有信息内容，包括但不限于：文字表述及其组合、图标、图饰、图表、色彩、界面设计、版面框架、有关数据、印刷材料、或电子文档等均受中华人民共和国著作权法、商标法、专利法、反不正当竞争法和相应的国际条约以及其他知识产权法律法规的保护，除涉及第三方授权的软件或技术外，微枚迪公司享有上述知识产权。 </p>

<p>2.2 未经微枚迪公司书面同意，所有用户不得为任何营利性或非营利性的目的自行实施、利用、转让或许可任何第三方实施、利用、转让上述知识产权，微枚迪公司保留追究上述未经许可行为的权利。 </p>



<h2 id="三使用须知">三、使用须知</h2>

<p>3.1 使用政策和限制</p>

<p>3.1.1 客户应遵守微枚迪公司为本使用服务制定的相关一切服务条款、规范、政策和限制。这些服务条款、规范、政策和限制会不时修改。这些政策和限制包括但不限于服务可以使用的具体功能、存储的空间大小等等。 </p>

<p>3.1.2 微枚迪公司保留对服务的最终批准权，包括但不限于最终帐户的建立、服务或部分服务的使用限制等等。 </p>

<p>3.1.3 客户保证必须能合法的拥有和控制微信公众号，如因国家政策法规、任何第三方原因或技术上导致客户微信公众号无法正常使用情况，微枚迪公司不承担任何责任。 </p>

<p>3.1.4 客户正确的配置微信公众号是使用微枚迪功能的必要前提。如因客户未正确配置微信公众号，而导致微枚迪无法正常使用，微枚迪公司不承担任何责任。  <br>
3.2 客户义务</p>

<p>3.2.1 客户承诺仅将服务使用于合法且符合本协议及相关规则的用途。不得发送任何妨碍社会治安或非法、虚假、骚扰性、侮辱性、恐吓性、伤害性、破坏性、挑衅性、淫秽色情性等内容的信息。 </p>

<p>3.2.2 客户有责任保守最终用户帐号、密码的机密。对于未经授权即使用或访问该服务或者其他违反安全原则的行为，一经发现应立即通知微枚迪公司。对于因客户不履行这些安全义务而引发的任何损失或损害，微枚迪公司概不负责。客户同意在任何情况下，对于客户或最终用户的任何行为或疏漏（包括因这些行为或疏漏而引发的任何类型的任何损害），微枚迪公司都不会承担任何责任。 </p>

<p>3.2.3 未经微枚迪公司许可，客户不得将本服务或者部分用于商业用途，包括但不仅限于转让、出售、转让等等。 </p>

<p>3.2.4 客户在实际运营时，应遵守《微信公众平台服务协议》及《微信公众平台运营规范》。 </p>

<p>3.3 服务的终止</p>

<p>3.3.1当出现以下情况时，微枚迪可以随时中断提供服务。</p>

 <p> &nbsp;&nbsp;1）客户及用户违反本协议及腾讯相关服务协议； </p>

 <p> &nbsp;&nbsp;2）法律、法规的要求，腾讯有权终止服务。 </p>

<p>3.3.3 对长期未使用的微枚迪试用版、免费版用户帐号，微枚迪公司有权终止其服务。 </p>

<p>3.3.4 对于未绑定任何微信公众号，或微信公众号未正确配置的用户帐号，微枚迪公司有权终止其服务。 </p>

<p>3.4 使用本“服务”必须遵守国家有关法律和政策等，维护国家利益，保护国家安全，并遵守本《协议》。对于所有用户违法或违反本《协议》的使用而引起的一切责任，由所有用户负全部责任，一概与微枚迪公司及授权经销商无关；导致微枚迪公司及授权经销商损失的，微枚迪公司及授权经销商有权要求所有用户赔偿，并有权保留相关记录。 </p>

<p>3.5 本“服务”同大多数互联网服务一样，受包括但不仅限于所有用户原因、网络服务质量、社会环境等因素的差异影响，可能受到各种安全问题的侵扰，如他人利用所有用户的资料，造成现实生活中的骚扰；用户下载安装的其它软件或访问的其他网站中含有“特洛伊木马”等病毒，威胁到所有用户的计算机信息和数据的安全，继而影响本“软件”的正常使用等等。所有用户应加强信息安全及使用者资料的保护意识，要注意加强密码保护，以免遭致损失和骚扰。 </p>

<p>3.6 本“服务”的替换、修改和升级：微枚迪公司保留并有权在任何时候不经通知通过为您提供本“服务”替换、修改、升级版本的权利以及为替换、修改或升级收取费用的权利。微枚迪公司保留因业务发展需要，单方面对服务的部分功能效果进行改变或进行限制，所有用户需承担此风险。  <br>
四、法律责任及免责</p>

<p>4.1 客户同意，对于通过本服务传送或者存储的信息，如出现被删除或者无法存储情况，微枚迪公司毋须承担责任。 </p>

<p>4.2 微枚迪公司努力维护系统正常运营，客户因系统故障而产生的任何损失包括但不仅限于经济收入、声誉等等，微枚迪公司不承担任何责任。此外，微枚迪公司保留在未经通知下因升级、维护或其他目的情况下，暂停部分或者全部服务的权利。因此而造成对客户的后果，微枚迪公司不承担任何责任。 </p>

<p>4.3 客户必须能合法的拥有和控制微信公众号，如因政策法规或技术上导致微信公众号无法正常使用情况，微枚迪公司不承担任何责任。 </p>

<p>4.4 微枚迪公司可以根据所有用户使用状态和行为，为了改善服务和体验、完善业务内容，自己或与授权代理商合作开发新的服务或者调整软件功能。 </p>

<p>4.5 微枚迪公司特别提请所有用户注意：微枚迪公司为了保障公司业务发展和调整的自主权，微枚迪公司拥有随时自行修改或中断软件授权而不需通知所有用户的权利，如有必要，修改或中断会以通告形式公布于公司网站或用户管理后台重要页面上。 </p>

<p>4.6 所有用户违反本《协议》或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，所有用户同意赔偿微枚迪公司与授权经销商使之免受损害。 </p>

<p>4.7 使用本“服务”由所有用户自己承担风险，微枚迪公司与授权经销商对本“服务”不作任何类型的担保，不论是明示的、默示的或法令的保证和条件，包括但不限于本“服务”的适销性、适用性、无病毒、无疏忽或无技术瑕疵问题、所有权和无侵权的明示或默示担保和条件，对在任何情况下因使用或不能使用本“服务”所产生的直接、间接、偶然、特殊及后续的损害及风险，微枚迪公司与授权经销商不承担任何责任。 </p>

<p>4.8 使用本“服务”涉及到互联网服务，可能会受到各个环节不稳定因素的影响，存在因不可抗力、计算机病毒、黑客攻击、系统不稳定、用户所在位置、用户关机，非法内容信息、骚扰信息屏蔽以及其他任何网络、技术、通信线路、信息安全管理措施等原因造成的服务中断、受阻等不能满足所有用户要求的风险，所有用户须明白并自行承担以上风险。 </p>

<p>4.9 所有用户因第三方如电信部门的通讯线路故障、技术问题、网络、电脑故障、系统不稳定性及其他各种不可抗力原因而遭受的一切损失，微枚迪公司与授权经销商不承担责任。 </p>

<p>4.10 因技术故障等不可抗事件影响到服务的正常运行的，微枚迪公司与授权经销商承诺在第一时间内与相关单位配合，及时处理进行修复，但用户因此而遭受的一切损失，微枚迪公司与授权经销商不承担责任。 </p>



<h2 id="五其他条款">五、其他条款</h2>

<p>5.1 本《协议》所定的任何条款的部分或全部无效者，不影响其它条款的效力。 </p>

<p>5.2 本《协议》的所有标题仅仅是为了醒目及阅读方便，本身并无实际涵义，不能作为本《协议》涵义解释之依据。 </p>

<p>5.3 本《协议》签订地为上海。本《协议》的解释、效力及纠纷的解决，适用于中华人民共和国法律。若用户和微枚迪公司之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户在此完全同意将纠纷或争议提交微枚迪所在地即上海市有管辖权的人民法院管辖。 </p>

<p>5.5 微枚迪客户服务热线：4000-365-711，服务网站：winwemedia.com，欢迎垂询。 </p>

<p>本《协议》版权由微枚迪公司所有，微枚迪公司保留一切解释权利。 </p>

<p>上海微枚迪软件技术有限公司（简称：微枚迪公司）</p>
    </div>
  </div>

</div>

<style>
h2 {
  font-size: 1.2em;
}
</style>