<%= content_for :head  do%>
  <title>联系我们_微枚迪winwemedia_微信营销推广行业领导品牌</title>
  <meta name="keywords"  content="微枚迪、联系我们"/>
  <meta name="description"  content="微枚迪（winwemedia），是微信营销行业领导品牌，专注于提供微信营销、微信推广、微信运营等解决方案，助力企业微营销。"/>
<% end %>

<div class="body">
  <div class="flash h226" style="background: url(/com/img/ad-about.jpg) no-repeat center 0 #fcfcfc;">
    <div class="wrap relative">
      <div class="mod-list">
        <a href="/about">关于我们</a>
        <a class="active" href="/contact">联系我们</a>
        <a href="/jobs">招贤纳士</a>
        <a href="/agents">代理商查询</a>
        <a target="_blank" href="http://agent.winwemedia.com">代理商登录</a>
      </div>
      <div class="ad-about">
        <p>梦达天下 因为有你</p>
        <small>社会化媒体时代商业新模式，O2O聚财新体验</small>
      </div>
    </div>
  </div>
  <div class="breadcrumb">
    <div class="wrap"><b>当前位置：</b>联系我们</div>
  </div>
  <div class="clearfix bg-gray">
    <div class="wrap">
      <h3 class="article-title">联系我们</h3>
      <div class="contactus">
        <div class="edit-main clearfix">
          <div class="part-2">
            <a href="http://map.baidu.com/?newmap=1&amp;ie=utf-8&amp;s=s%26wd%3D%E4%B8%8A%E6%B5%B7%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E9%83%AD%E5%AE%88%E6%95%AC%E8%B7%AF498%E5%BC%84%E6%B5%A6%E4%B8%9C%E8%BD%AF%E4%BB%B6%E5%9B%AD22%E5%8F%B73%E6%A5%BC" target="_blank" title="点击查询地图">
              <img src="/com/images/map.jpg">
            </a>
          </div>
          <div class="part-2">
            <h2>上海微枚迪软件技术有限公司</h2>
            <p>
              电话：4000-365-711 <br>
              邮箱：contact@winwemedia.com <br>
              网址：http://www.winwemedia.com <br>
              地址：上海市浦东新区祖冲之路2305弄人才公寓A栋1038号
            </p>
          </div>
        </div>
        <div class="edit-main clearfix">
          <div class="paybox">
            <h2>银行汇款</h2>
            <p>
              公司名称：上海微枚迪软件技术有限公司<br>
              公司银行账号：121 912 483 110 608<br>
              招商银行股份有限公司上海市张江支行
            </p>
          </div>
          <div class="paybox" style="display:none;">
            <h2>支付宝汇款</h2>
            <p>
              公司名称：上海微枚迪软件技术有限公司<br>
              公司支付宝账号：payment_account@winwemedia.com
            </p>
          </div>
          <div class="edit-main clearfix">
          </div>
        </div>
      </div>
    </div>
