<% title '忘记密码 - 微枚迪' %>

<div class="content-wrap admin-login-wrap">
  <div class="common-content">
    <div class="admin-content clearfix">
      <div class="admin-forgot-psw">
        <p>如果您忘记了密码，请联系我们客户服务电话，<br />
          将会有专线客服为您重置密码。<br />
          <!-- 客服电话：<span class="tel-number">4000-365-711</span></p> -->
        <p><a href="/"><img src="/assets/btn_back.png" /></a></p>
      </div>
    </div>
  </div>
</div>