<% provide(:head) do %>
  <link rel="stylesheet" href="/stylesheets/business.css"/>
<% end %>

<!-- banner -->
  <div class="vip-banner"></div>
  <!-- nav end -->
  <div class="b-main">
    <div class="b-title">
      <div class="wrap">
        <i>1</i>
        <h1>什么是SCRM?</h1>
      </div>
    </div>
    <div class="b-con">
      <div class="part2 text-center">
        <br><br>
        <img src="/images/home_upload/v-img-6.jpg" width="360" height="244" />
      </div>
      <div class="part2">
        <div class="b-detail">SCRM全称：Social CRM，社会化客户关系管理（以下简称SCRM）。传统的CRM更多是将客户（消费者）的各种背景资料、消费情况等整理出来，然后通过系统的方式进行持续跟踪，包括进一步消费的记录归档；而SCRM作为传统CRM的延伸，是建立微信平台上的会员管理系统，其更强调消费者的参与和双边互动，让消费者的需求和想法同品牌的定位的发展紧密结合，使品牌和消费者真正融为一体。</div>
      </div>
    </div>
    <div class="b-title">
      <div class="wrap">
        <i>2</i>
        <h1>微枚迪·微会员卡——首家移动会员管理系统</h1>
      </div>
    </div>
    <div class="b-con">
      <div class="part2">
        <div class="b-detail">商家通过微信二维码扫描吸引用户关注，并注册领取微会员卡，帮助企业建立新一代的移动会员管理系统。清晰记录企业用户的消费行为并进行数据分析;还可根据用户特征进行精细分类，从而实现微平台多样性、精准化营销。</div>
        <div class="big">
          <p>
            会员卡设置 / 会员管理 / 会员卡等级 / 站内信管理 / 会员卡特权 / 会员积分策略 / 会员营销 / 消费记录 / 交易密码设置 / 会员卡统计
          </p>
        </div>
      </div>
      <div class="part2 text-center">
        <br><br>
        <img src="/images/home_upload/v-img-1.jpg" width="363" height="242" />
      </div>
    </div>
    <div class="b-title">
      <div class="wrap">
        <i>3</i>
        <h1>微枚迪·微会员卡如何搞定你的微端核心客户群？</h1>
      </div>
    </div>
    <div class="big-img wrap">
      <img src="/images/home_upload/v-img-2.jpg" width="970" height="558" />
    </div>
    <div class="b-title">
      <div class="wrap">
        <i>4</i>
        <h1>微枚迪·微会员卡的核心功能展示</h1>
      </div>
    </div>
    <div class="big-img wrap">
      <img src="/images/home_upload/v-img-3.jpg" width="970" height="460" />
    </div>
    <div class="big-img wrap">
      <img src="/images/home_upload/v-img-4.jpg" width="970" height="465" />
    </div>
    <div class="big-img wrap">
      <img src="/images/home_upload/v-img-5.jpg" width="1000" height="465" />
    </div>
  </div>
  <!-- foot tile -->
  <div class="foot-t"></div>