<%= stylesheet_link_tag 'v5/index' %>
<%= javascript_include_tag "v5/index" %>
<div class="i-ban">
  <div class="wrapp">
    <ul class="clearfix">
      <li class="item1">
        <div class="ele1"><img width="530" height="94" src="/assets/v5/index/banner1_ele1.png" alt="" title="" /></div>
        <div class="ele2"><img width="106" height="106" src="/assets/v5/index/banner1_ele2.png" alt="" title="" /></div>
        <div class="ele3"><img width="726" height="125" src="/assets/v5/index/banner1_ele3.png" alt="" title="" /></div>
      </li>
      <li class="item1">
        <div class="ele1"><img width="530" height="94" src="/assets/v5/index/banner1_ele1.png" alt="" title="" /></div>
        <div class="ele2"><img width="106" height="106" src="/assets/v5/index/banner1_ele2.png" alt="" title="" /></div>
        <div class="ele3"><img width="726" height="125" src="/assets/v5/index/banner1_ele3.png" alt="" title="" /></div>
      </li>
      <li class="item1">
        <div class="ele1"><img width="530" height="94" src="/assets/v5/index/banner1_ele1.png" alt="" title="" /></div>
        <div class="ele2"><img width="106" height="106" src="/assets/v5/index/banner1_ele2.png" alt="" title="" /></div>
        <div class="ele3"><img width="726" height="125" src="/assets/v5/index/banner1_ele3.png" alt="" title="" /></div>
      </li>
    </ul>
  </div>
  <div class="btn btnL"></div>
  <div class="btn btnR"></div>
</div>

<div class="i-coop">
  <div class="coop-wrapp">
    <div class="coop-num circle">
      <p>我们的客户</p>
      <strong>1658750</strong>
    </div>
  </div>
  <img width="960" height="33" src="/assets/v5/index/cooperation.jpg" alt="" title="" />
</div>

<div class="i-platform">
  <div class="center960">
    <img width="960" height="400" src="/assets/v5/index/index_pending1.png" alt="" title="" />
  </div>
</div>

<div class="i-o2o">
  <div class="center960">
    <h2>移动商圈解决方案，专注O2O未来商业服务</h2>
    <ul class="clearfix o2o-list1">
      <li>
        <p class="icon"><i class="fa fa-tags"></i></p>
        <p class="tit">智慧商场</p>
        <p class="desp">实现商场终端化、移动化、互动化<br />引爆流量增长点，优化服务流程</p>
      </li>
      <li>
        <p class="icon"><i class="fa fa-globe"></i></p>
        <p class="tit">智慧城镇</p>
        <p class="desp">基于本地的生活信息服务平台<br />吃喝玩乐购，就在这个圈</p>
      </li>
    </ul>
    <ul class="clearfix o2o-list2">
      <li>
        <p class="tit">大数据</p>
        <p class="desp">优化业态配置，助力经营</p>
      </li>
      <li>
        <p class="tit">多终端覆盖</p>
        <p class="desp">App，微信，互动大屛</p>
      </li>
      <li>
        <p class="tit">智能硬件</p>
        <p class="desp">Wifi，智能POS机，Ibeacon</p>
      </li>
      <li>
        <p class="tit">支付系统</p>
        <p class="desp">微信支付，支付宝支付</p>
      </li>
    </ul>
  </div>
</div>

<div class="i-site">
  <div class="center960">
    <h2>易站，3分钟拥有自己的移动营销网站</h2>
    <div class="h2-subhead">闪电入驻百度移动搜索、百度直达号</div>
    <ul class="clearfix">
      <li>
        <p class="icon"><i class="fa fa-html5"></i></p>
        <p class="tit">全网接入</p>
        <p class="desp">拥有独属域名、二维码、搜索引擎四大流量入口，8亿移动用户触手可得。</p>
      </li>
      <li>
        <p class="icon"><i class="fa fa-html5"></i></p>
        <p class="tit">直达号名片</p>
        <p class="desp">@账号 随时随地直达，比域名好记，让新老客户更容易找到你。</p>
      </li>
      <li>
        <p class="icon"><i class="fa fa-html5"></i></p>
        <p class="tit">业务高转化</p>
        <p class="desp">一键拨号、电商、预定等丰富插件，更适合进行企业文化展示、产品展示等。</p>
      </li>
      <li>
        <p class="icon"><i class="fa fa-html5"></i></p>
        <p class="tit">零门槛搭建</p>
        <p class="desp">极简操作，拖拽组件，无需编程，国内首创，建站犹如玩拼图一般。</p>
      </li>
      <li>
        <p class="icon"><i class="fa fa-html5"></i></p>
        <p class="tit">高效管理</p>
        <p class="desp">专业的内容管理模块，再多的分类、文章和展示都能快速归类，轻松管理。</p>
      </li>
      <li>
        <p class="icon"><i class="fa fa-html5"></i></p>
        <p class="tit">HTML5酷炫视觉体验</p>
        <p class="desp">打破传统的多图切换效果，多样模板，一键换装，随时配合您的企业动态。</p>
      </li>
    </ul>
  </div>
</div>

<div class="i-circle">
  <div class="center960">
    <h2>优者工作圈，基于微信的移动OA解决方案</h2>
    <div class="h2-subhead">为您带来一种全新的移动办公模式</div>
    <div class="clearfix wrapp">
      <div class="cir-l">
        <ul class="clearfix">
          <li>
            <img width="228" height="406" src="/assets/v5/index/circle_img1.jpg" alt="" title="" />
            <p>考勤打卡</p>
          </li>
          <li>
            <img width="228" height="406" src="/assets/v5/index/circle_img2.jpg" alt="" title="" />
            <p>签到</p>
          </li>
          <li>
            <img width="228" height="406" src="/assets/v5/index/circle_img3.jpg" alt="" title="" />
            <p>指派事项</p>
          </li>
        </ul>
      </div>
      <div class="cir-r">
        <ul>
          <li>
            <p class="icon circle icon-marker"><i class="fa fa-map-marker"></i></p>
            <p class="tit">签到新功能</p>
            <p class="desp">销售外出随时汇报</p>
          </li>
          <li>
            <p class="icon circle"><i class="fa fa-calendar"></i></p>
            <p class="tit">考勤记录</p>
            <p class="desp">微信打卡</p>
          </li>
          <li>
            <p class="icon circle"><i class="fa fa-edit"></i></p>
            <p class="tit">审批</p>
            <p class="desp">让工作更有条理</p>
          </li>
          <li>
            <p class="icon circle"><i class="fa fa-newspaper-o"></i></p>
            <p class="tit">日报</p>
            <p class="desp">多总结，多记录，效率更高</p>
          </li>
          <li>
            <p class="icon circle"><i class="fa fa-newspaper-o"></i></p>
            <p class="tit">日报</p>
            <p class="desp">多总结，多记录，效率更高</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>