<%= stylesheet_link_tag 'v5.1/join' %>
<% content_for(:title) { '加入微枚迪' } %>
<%#= render 'report_nav' %>
<div class="join-bann">
<!--   <img class="join-bann-img" src="/assets/v5.1/join/join_banner.jpg" alt="加入微枚迪"> -->
    <div class="center1200">
        <h1>诚聘英才</h1>
        <h2>Recruitment</h2>
    </div>
</div>
<div class="join-main">
  <div class="clearfix join-center">
    <div class="join-left">
      <ul>
        <li><a class="join-left-link" href="#"><span class="join-left-gt">&gt;</span>Ruby开发工程师</a></li>
        <li><a class="join-left-link" href="#"><span class="join-left-gt">&gt;</span>资深文案策划</a></li>
        <li><a class="join-left-link" href="#"><span class="join-left-gt">&gt;</span>O2O平台运营经理</a></li>
        <li><a class="join-left-link" href="#"><span class="join-left-gt">&gt;</span>软件测试工程师</a></li>
        <li><a class="join-left-link" href="#"><span class="join-left-gt">&gt;</span>产品策划经理</a></li>
        <li><a class="join-left-link" href="#"><span class="join-left-gt">&gt;</span>产品经理</a></li>
        <li><a class="join-left-link" href="#"><span class="join-left-gt">&gt;</span>IOS开发工程师</a></li>
        <li><a class="join-left-link" href="#"><span class="join-left-gt">&gt;</span>Andriod开发工程师</a></li>
        <li><a class="join-left-link" href="#"><span class="join-left-gt">&gt;</span>Java高级开发工程师</a></li>
        <li><a class="join-left-link" href="#"><span class="join-left-gt">&gt;</span>客服专员</a></li>
        <li><a class="join-left-link" href="#"><span class="join-left-gt">&gt;</span>大客户经理</a></li>
      </ul>
    </div>
    <div class="join-right">
      <div class="join-desp">
        <h4 class="join-h4">关于我们</h4>
        这里是高学历、高技能、高志向的年轻人汇集地，这里的人充满激情、充满活力、充满梦想。公司一直秉承“不拘一格，有德有能者居之”的用人观来选拔人才！微枚迪即将迎来行业的爆发式增长，急需大量有志之士前来加盟，我们将为大家创造出更多的岗位和空间，期待您的加入！
      </div>
      <div class="join-mail">请发简历邮件至：hr@winwemedia.com</div>
      <div class="join-body">
        <h4 class="join-h4">招聘信息</h4>
        <h6 class="join-h6">Ruby开发工程师</h6>
        <p><strong>任职条件：</strong></p>
        <p>1、熟悉Ruby, Ruby on Rails，有一年Ruby on Rails项目开发经验；</p>
        <p>2、熟悉MySQL、Oracle数据库的开发、配置、维护、性能优化；了解mongodb、redis等Nosql数据库；</p>
        <p>3、熟悉HTM, CSS, Javascript，jQuery，JSON等Web相关技术；</p>
        <p>4、熟悉Git，SVN等版本控制工具，Linux操作系统； </p>
        <p>5、有良好的代码书写和编程习惯、非常强的学习能力，解决问题的能力； </p>
        <p>6、独立工作能力强，能够带领1-2个初级软件工程师负责具体开发项目； </p>
        <p>7、有Rails团队管理经验，能够带领团队高质量快速地完成产品研发任务。</p>

        <br />

        <p><strong>加分条件：</strong></p>
        <p>1. 有电子商务平台等相关工作经验者优先；</p>
        <p>2. 自己的blog或github链接；</p>
        <p>3. 喜欢用coffee，less，scss，mongodb，redis；</p>
        <p>4. 喜欢写测试。</p>
      </div>
      <div class="join-body">
        <h4 class="join-h4">招聘信息</h4>
        <h6 class="join-h6">资深文案策划</h6>
        <p><strong>工作职责：</strong></p>
        <p>1、负责公司品牌、产品宣传新闻和软文的撰写，软文有震撼力，且传播性广；</p>
        <p>2、通过各媒介资源和途径，将公司品牌信息、价值等进行传播；</p>
        <p>3、关注o2o以及社会化媒体发展动态，掘客户心理需求，策划创意文案和传播方式；</p>
        <p>4、能跟实时重点新闻、事件相结合， 做好及时有效推广；</p>

        <br />

        <p><strong>任职要求：</strong></p>
        <p>1. 大学本科及以上学历，中文、广告、新闻、媒体、语言等文学类专业优先；</p>
        <p>2. 具备较强的文字写作能力，对软文撰写有创新思路，具备独特的方式；</p>
        <p>3. 需具有自媒体平台运营经验；</p>
        <p>4. 有软件或互联网等高科技领域软文撰写经验优先；</p>
        <p>5. 有广告公司文案工作经验优先；</p>
        <p>6. 有微信、微博等平台科技类自媒体资源的优先；</p>
      </div>
      <div class="join-body">
        <h4 class="join-h4">招聘信息</h4>
        <h6 class="join-h6">O2O平台运营经理</h6>
        <p><strong>岗位职责：</strong></p>
        <p>1、负责区域性移动O2O门户网站的运营管理； </p>
        <p>2、挖掘本地化用户的消费习惯，进而优化网站活动、入住商家以及商品品类等；</p>
        <p>3、负责策划并且组织门户网站的互动推广活动，并且善于利用社会化媒体进行传播；</p>
        <p>4、结果导向，对访问量、活跃度等数据指标负责；</p>

        <br />

        <p><strong>任职要求：</strong></p>
        <p>1. 本科或以上学历，专业不限；</p>
        <p>2. 2年以上电商或者团购等平台运营经验；</p>
        <p>3. 以结果为导向、执行力强；</p>
        <p>4. 重度微信用户，对于基于微信的互动传播有丰富经验者优先；</p>
        <p>5. 对O2O网站运营有浓厚兴趣者优先。</p>
      </div>
      <div class="join-body">
        <h4 class="join-h4">招聘信息</h4>
        <h6 class="join-h6">软件测试工程师</h6>
        <p><strong>岗位职责：</strong></p>
        <p>1、按照测试用例，进行系统测试，寻找、提交、清除Bug；</p>
        <p>2、分析问题所在并进行准确定位和验证，填写并提交Bug报告；</p>
        <p>3、负责总结BUG出现的原因，制定各类技术规范、检验开发规范的适应性，并根据实际情况提出规范修订意见；</p>
        <p>4、负责软件系统的高级逻辑测试，产品验证测试，汇总测试报告，编写测试总结、质量检测报告等；</p>
        <p>5、协助技术总监处理其他工作事宜。</p>

        <br />

        <p><strong>任职要求：</strong></p>
        <p>1. 大专以上学历，2年专职软件测试工作经验（web测试，B/S架构）；</p>
        <p>2. 熟悉常用的软件测试方法、软件工程知识，熟悉面向对象设计的测试工作；</p>
        <p>3. 熟悉常用的软件开发环境，编程工具；</p>
        <p>4. 有丰富软件测试经验（包括单元测试、集成测试、系统测试、各种性能测试）；</p>
        <p>5. 有对微软产品测试经验者，优先考虑，做过手机端测试的优先考虑。</p>
      </div>
      <div class="join-body">
        <h4 class="join-h4">招聘信息</h4>
        <h6 class="join-h6">产品策划经理</h6>
        <p><strong>岗位职责：</strong></p>
        <p>1、市场调研分析：研究行业市场动态，了解最新资讯、技术，分析竞品信息； </p>
        <p>2、建立产品品牌：分析产品卖点，差异化，定位目标用户，建立强势品牌； 产品包装策略；</p>
        <p>3、从产品功能、特色、套餐、定价、销售策略等塑造核心产品；</p>
        <p>4、产品宣传物料：策划产品PPT、宣传册、网站、微官网运营等事宜；</p>
        <p>5、负责产品培训：产品对内、对外培训，产品操作手册文档内容制作等事宜。</p>

        <br />

        <p><strong>任职要求：</strong></p>
        <p>1. 大专及以上学历，广告学、市场营销、广告策划、传播学等相关专业优先；</p>
        <p>2. 从事过软件、互联网行业、广告公司从业经历优先； </p>
        <p>3. 为人勤奋、聪明、思维活跃、有责任心； </p>
        <p>4. 具备新产品上市策划，市场调研分析能力，精通PPT制作。</p>
      </div>
      <div class="join-body">
        <h4 class="join-h4">招聘信息</h4>
        <h6 class="join-h6">产品经理</h6>
        <p><strong>岗位职责：</strong></p>
        <p>1、负责搜集和分析微信端产品的市场热点信息,对同类型产品进行研究分析；</p>
        <p>2、定义所负责公司微信端产品的核心卖点，做出中、长期规划，融合需求进行快速迭代；</p>
        <p>3、负责围绕用户使用场景进行产品设计、配合UED设计师，把控最终用户体验细节；</p>
        <p>4、负责跟进产品全生命周期、对项目进度进行有效跟踪把控；</p>
        <p>5、负责对产品的运营数据进行分析，建立和直接用户的沟通反馈通道。</p>

        <br />

        <p><strong>任职要求：</strong></p>
        <p>1. 全日制本科或以上学历，专业不限；计算机、市场营销、经济管理等专业优先；</p>
        <p>2. 有2年以上产品经理岗位经验；</p>
        <p>3. 洞察市场发展趋势，具有宽广的视野、敏锐的市场意识和较强的信息捕捉能力；</p>
        <p>4. 良好的协调能力、分析、计划等管理能力；</p>
        <p>5. 具有良好的团队合作意识，较强的自主学习能力，表现力强。</p>

        <br />

        <p><strong>特别加分：</strong></p>
        <p>1. 有O2O产品经验 + 10</p>
        <p>2. 有平台类产品成功运营经验 + 10</p>
        <p>3. 有创业经历 + 20</p>
        <p>4. 视产品为己出，产品的第一骨灰级玩家 + 30</p>
        <p>5. 有包装、定价、市场推广及销售政策制定能力 + 50</p>
      </div>
      <div class="join-body">
        <h4 class="join-h4">招聘信息</h4>
        <h6 class="join-h6">IOS开发工程师</h6>
        <p><strong>职位描述：</strong></p>
        <p>1、独立负责完成IOS移动终端平台相关应用软件开发；</p>
        <p>2、负责公司现有IOS移动终端应用软件升级；</p>
        <p>3、负责应用软件的维护和升级；</p>
        <p>4、负责软件项目的功能模块设计及相关过程文档的编写。</p>

        <br />

        <p><strong>岗位要求：</strong></p>
        <p>1. 具备扎实的C/C++、Objective C编程能力；</p>
        <p>2. 熟悉Mac OS X操作系统和XCODE开发环境；</p>
        <p>3. 责任心强、有敬业精神，能够承担一定的项目压力；</p>
        <p>4. 具有2年工作经验，有移动系统架构设计经验和背景者优先；</p>
        <p>5. 工作认真，负责，有较强的钻研，协作能力，有良好的团队精神，能承受较大的工作压力。</p>
      </div>
      <div class="join-body">
        <h4 class="join-h4">招聘信息</h4>
        <h6 class="join-h6">Andriod开发工程师</h6>
        <p><strong>职位描述：</strong></p>
        <p>1、负责Android应用开发；</p>
        <p>2、进行产品的功能定义,程序设计；</p>
        <p>3、根据设计文档或需求说明完成代码编写，调试，测试和维护分析并解决软件开发过程中的问题；</p>
        <p>4、分析并解决软件开发过程中的问题。</p>

        <br />

        <p><strong>岗位要求：</strong></p>
        <p>1. 熟悉Java编程、熟悉Android SDK；</p>
        <p>2. 熟悉数据库编程、熟悉数据库应用（ORACLE/MYSQL/SQL SERVER等）；</p>
        <p>3. 熟悉Android网络通信机制，有android网络编程经验；</p>
        <p>4. 2年以上软件开发经验者优先，有Android实际商业项目开发经验者优先；</p>
        <p>5. 具备需求分析和系统设计能力，以及较强的逻辑分析和独立解决问题能力；</p>
        <p>6. 工作认真，负责，有较强的钻研，协作能力，有良好的团队精神，能承受较大的工作压力。</p>
      </div>
      <div class="join-body">
        <h4 class="join-h4">招聘信息</h4>
        <h6 class="join-h6">Java高级开发工程师</h6>
        <p><strong>岗位职责：</strong></p>
        <p>1、参与公司新产品研发；</p>
        <p>2、开发定制化项目；</p>
        <p>3、完善和优化现有产品；</p>
        <p>4、负责系统技术方案设计，核心代码开发和系统调优等工作；</p>
        <p>5、参与制定代码规范、测试规范，建立起开发质量控制方法；</p>
        <p>6、针对新人、初级开发人员进行有效辅导，帮助其快速成长。</p>

        <br />

        <p><strong>岗位要求：</strong></p>
        <p>1. 计算机或相关专业，专科上学历；</p>
        <p>2. 3年以上Java实际开发经历；</p>
        <p>3. 掌握至少一种J2EE开发框架（比如Spring），以及HTML、JavaScript、CSS、Ajax等前端开发技术；</p>
        <p>4. 熟悉MySQL、Oracle等数据库系统；</p>
        <p>5. 熟悉Tomcat、JBoss、Websphere等应用服务器；</p>
        <p>6. 具有一定的架构设计和软件设计经验，以及独立研发和解决问题的能力；</p>
        <p>7. 能够准确把业务需求，编写产品设计文档和开发文档；</p>
        <p>8. 热爱技术，对编程有浓厚的兴趣，踏实敬业、有很好的团队意识和沟通协作能力。</p>
      </div>
      <div class="join-body">
        <h4 class="join-h4">招聘信息</h4>
        <h6 class="join-h6">客服专员</h6>
        <p><strong>工作职责：</strong></p>
        <p>1、负责QQ在线、来电产品咨询，解答客户疑问；</p>
        <p>2、负责解决已成交客户的产品使用的问题解答。</p>

        <br />

        <p><strong>岗位要求：</strong></p>
        <p>1. 年龄22-25岁，大专以上学历；</p>
        <p>2. 有客服、在线咨询、内部销售、渠道维护等工作经验优先； </p>
        <p>3. 性格外向、耿直、诚恳、态度热情、服务意识高； </p>
        <p>4. 具备良好的语言表达能力、沟通能力、普通话良好。</p>
      </div>
      <div class="join-body">
        <h4 class="join-h4">招聘信息</h4>
        <h6 class="join-h6">大客户经理</h6>
        <p><strong>岗位职责：</strong></p>
        <p>1、通过各种途径获取意向客户信息，电话联系客户，并拜访客户；</p>
        <p>2、跟客户讲解公司产品给客户带来的商机和优势，挖掘客户需求，进行合作面谈；</p>
        <p>3、客户面谈后跟踪， 最终促成合作，完成销售目标；</p>
        <p>4、对客户合作意向性进行分析，对客户进行等级管理。</p>

        <br />

        <p><strong>岗位要求：</strong></p>
        <p>1. 大专及以上学历，市场营销等相关专业者优先；</p>
        <p>2. 具有良好的执行能力、沟通能力和学习能力； </p>
        <p>3. 能够承受较大工作压力，有较好的团队合作意识；</p>
        <p>4. 3半年以上销售工作经验，互联网销售、大客户销售或渠道招商经验优先； </p>
        <p>5. 具有较强的沟通能力和语言表达能力，较强的公关能力、应变能力和谈判能力的者优先；</p>
        <p>6. 提供良好的晋升空间，挑战高薪的机会，薪资和提成高于同行业25%；并提供“五险一金”福利待遇。</p>
      </div>
    </div>
  </div>
</div>
<%= content_for :custom_js do %>
<script>
  $(function(){
      $(".join-left li").each(function(i){
          $(this).click(function(e){
              $(".join-body").hide().eq(i).show();
              $(".join-left-link").removeClass("active").eq(i).addClass("active");
              e.preventDefault();
          });
      }).eq(0).click();
  });
</script>
<% end %>