<% provide(:head) do %>
<link rel="stylesheet" href="/stylesheets/business.css"/>
<% end %>

<!-- banner -->
<div class="kf-banner"></div>
<!-- nav end -->
<div class="b-main">
  <div class="b-title">
    <div class="wrap"> <i>1</i>
      <h1>什么是微信客服系统？</h1>
    </div>
  </div>
  <div class="big-img wrap">
    <img src="/images/home_upload/kf-img-1.jpg" width="970" height="350" />
  </div>
  <div class="b-title">
    <div class="wrap"> <i>2</i>
      <h1>微问家——微信一对一智能客服系统</h1>
    </div>
  </div>
  <div class="big-img wrap">
    <img src="/images/home_upload/kf-img-2.jpg" width="970" height="455" />
  </div>
  <div class="b-title">
    <div class="wrap">
      <i>3</i>
      <h1>微问家——微问家如何帮助你与客户互动？</h1>
    </div>
  </div>
  <div class="big-img wrap">
    <img src="/images/home_upload/kf-img-3.jpg" width="970" height="695" />
  </div>
  <div class="b-title">
    <div class="wrap">
      <i>4</i>
      <h1>微问家核心功能展示</h1>
    </div>
  </div>
  <div class="big-img wrap">
    <img src="/images/home_upload/kf-img-4.jpg" width="970" height="435" />
  </div>
</div>
<!-- foot tile -->
<div class="foot-t"></div>
