<% content_for :keywords, "微信第三方APP客户端，微信公众号移动后台" %>
<% content_for :title, "商户APP——微平台移动管家" %>
<%= stylesheet_link_tag 'v5/keeper' %>
<div class="keeper">
  <div class="topint">
    <div class="box">
      <p class="tern">
        <a href="http://www.winwemedia.com/uploads/WKLOrder.apk">
          <img src="/com/images/keeper/btn01.png">
          <img src="/com/images/keeper/android_app.png" class="ma">
        </a>
        <a href="https://itunes.apple.com/cn/app/wei-ke-lai-guan-jia/id931502732?l=en&mt=8" target="_blank">
          <img src="/com/images/keeper/btn02.png">
          <img src="/com/images/keeper/ios_app.png" class="ma">
        </a>
      </p>
    </div>
  </div>
  <div class="tags" id="tags">
    <div class="box">
      <p>
        <a href="#boxa"><img src="/assets/v5/keeper/ico01.png"><img src="/assets/v5/keeper/ico01on.png" class="on">订单实时提醒</a>
        <a href="#boxb"><img src="/assets/v5/keeper/ico02.png"><img src="/assets/v5/keeper/ico02on.png" class="on">会员快捷交易</a>
        <a href="#boxc"><img src="/assets/v5/keeper/ico03.png"><img src="/assets/v5/keeper/ico03on.png" class="on">业务核销</a>
        <a href="#boxd"><img src="/assets/v5/keeper/ico04.png"><img src="/assets/v5/keeper/ico04on.png" class="on">数据查看</a>
        <a href="#boxe"><img src="/assets/v5/keeper/ico05.png"><img src="/assets/v5/keeper/ico05on.png" class="on">微枚迪升级公告</a>
      </p>
    </div>
  </div>
  <div class="tagbox" id="boxa" style="height:540px;"><img src="/assets/v5/keeper/bg_index07.png"></div>
  <div class="tagbox tagboxa" id="boxb" style="height:560px;"><img src="/assets/v5/keeper/bg_index03.png"></div>
  <div class="tagbox" id="boxc" style="height:562px;"><img src="/assets/v5/keeper/bg_index04.png"></div>
  <div class="tagbox tagboxa" id="boxd" style="height:562px;"><img src="/assets/v5/keeper/bg_index05.png"></div>
  <div class="tagbox" id="boxe" style="height:565px;"><img src="/assets/v5/keeper/bg_index06.png"></div>
</div>