<div class="body">
<div class="banner-box">
    <img src="/images/banner/banner_01.jpg" alt="">
    <img src="/images/banner/banner_02.jpg" alt="">
    <img src="/images/banner/banner_03.jpg" alt="">
    <img src="/images/banner/banner_04.jpg" alt="">
    <img src="/images/banner/banner_05.jpg" alt="">
    <img src="/images/banner/banner_06.jpg" alt="">
    <img src="/images/banner/banner_07.jpg" alt="">
    <img src="/images/banner/banner_08.jpg" alt="">
    <div class="btn-box">
        <a href="http://www.winwemedia.com/supplier_accounts/apply" class="b-btn">立即申请</a>
    </div>
</div>
</div>
<style>
body{margin:0;background:#faf4df;}
.banner-box{width:884px;margin:0 auto;background:#fff;}
.banner-box img{display:block;margin:0;}
.btn-box{text-align:center;padding:20px 0;}
.b-btn{display:inline-block;height:38px;padding:0 25px;line-height:38px;color:#fff;text-decoration:none;font-weight:bold;background:#4182a7;}
</style>