<% content_for(:title) { '百度直达号-微枚迪' } %>

<link rel="stylesheet" type="text/css" href="/com/css/zhidahao.css">

<div class="body">
  <div class="g_ban">
    <div><img src="/com/images/zhidahao/banbg.jpg"></div>
    
    <div class="wrap">
      <div class="g_btncont ">
        <a href="/register" class="btn1">即刻开通</a>
        <a href="/spread#new_supplier_apply" class="btn2">代理商加盟</a>
      </div>
    </div>
  </div>
  <div class="g_bordb g_padv60">
    <div class="wrap">
      <div class="clearfix">
        <div class="fl">
          <a target="_blank" href="http://www.iqiyi.com/common/flashplayer/20140924/SharePlayer_4_1_8_1_c3_2_1_6.swf?vid=36b881371fc058bf3d8d3e9cda64002c&pageURL=w_19rso63rzh.swf&albumId=2527998209&tvId=2527998209&isPurchase=0&cnId=20&share_sTime=0&share_eTime=0&source="><img src="/com/images/zhidahao/ship.jpg" width="425"/></a>
        </div>
        <div class="fr g_ship_txt">
          <div class="h6"><span class="green">什么是直达号？</span><br/>
            直达号并不是一个单独的产品，而是面向用户和商家的一个
            全新连接体系，具体而言有以下两点：</div>
          <p><span class="green">探索发现：</span>用户可以在手机百度以及百度地图通过@帐号，模糊搜索等方式来主动寻找相关服务，也可以通过“发现”功能获得推荐，从而将潜在需求转变为实际消费。</p>
          <p><span class="green">全程在线：</span>移动互联网更强调及时性，连贯性，直达号引入CRM(客户关系管理）系统，商家可以实时在线，及时响应售前资讯和售后服务，通过百度大数据获得关于用户属性的深度分析。</p>
        </div>
      </div>

    </div>
  </div>
  <!--优势-->
  <div class="g_bordb g_padv60">
    <div class="wrap">

      <div class="g_youshi clearfix">
        <div align="center"><img src="/com/images/zhidahao/youshi_t1.jpg"/></div>
        <ul>
          <li>
            <div><img src="/com/images/zhidahao/youshi_icon1.jpg"> </div>
            <P align="center"><strong><span>广</span>拉新</strong></P>
            <p align="center">精准对接亿万移动用户</p>
          </li>
          <li>
            <div><img src="/com/images/zhidahao/youshi_icon2.jpg"> </div>
            <P align="center"><strong><span>高</span>运转</strong></P>
            <p align="center">高效转化用户为客户,轻松赚钱</p>
          </li>
          <li>
            <div><img src="/com/images/zhidahao/youshi_icon3.jpg"> </div>
            <P align="center"><strong><span>大</span>留存</strong></P>
            <p align="center">全方位的用户管理分析</p>
          </li>
          <li>
            <div><img src="/com/images/zhidahao/youshi_icon4.jpg"> </div>
            <P align="center"><strong><span>易</span>开通</strong></P>
            <p align="center">丰富的行业模板,一键开通</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--案例-->
  <div class="g_bordb g_padv30">
    <div align="center" class="g_padv40"><img src="/com/images/zhidahao/anli_t1.jpg"/></div>
    <div class="g_960">
      <div class="g_anli ">
        <a class="on" href="javascript:;">
          <div><img src="/com/images/zhidahao/anli_icon1.jpg"></div>
          <p>海底捞</p>
          <i class="g_dot1"></i>
        </a>
        <a href="javascript:;">
          <div><img src="/com/images/zhidahao/anli_icon2.jpg"></div>
          <p>良子健身</p>
          <i class="g_dot1"></i>
        </a>
        <a href="javascript:;">
          <div><img src="/com/images/zhidahao/anli_icon3.jpg"></div>
          <p>峨眉山</p>
          <i class="g_dot1"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="g_anlicont g_960">
    <div class="g_anlili" style="display: block">
      <div class="h1">海底捞</div>
      <p>已有二十年历史的国内知名餐饮品牌，将川味火锅带到了全国20多个城市，海底捞轻应用为百度移动搜索用户提供了预订餐位、外卖、菜品介绍等丰富的功能。通过直达号用户在搜索海底捞后即可直达海底捞轻应用官网，快速订座或点外卖，真正做到了即搜即用。在用户服务体验、企业内部管理等层面都走在餐饮行业内领先位置的海底捞，再一次在信息化层面为其他餐饮企业树立了标杆，为越来越多的移动互联网用户提供更优的用餐体验。</p>
      <div class="g_anli_pic ">
        <ul class="clearfix">
          <li><img src="/com/images/zhidahao/anli1_p1.jpg"></li>
          <li><img src="/com/images/zhidahao/anli1_p2.jpg"></li>
          <li><img src="/com/images/zhidahao/anli1_p3.jpg"></li>
          <li><img src="/com/images/zhidahao/anli1_p4.jpg"></li>
        </ul>
      </div>
    </div>
    <div class="g_anlili">
      <div class="h1">良子健身</div>
      <p>北京朱国凡良子健身技术发展有限公司创立于1997年2月，是以健身、保健、休闲、养生为主的大型连锁企业。总部设在北京，全国有400多家连锁店，员工万人。旗下拥有朱国凡良子、非凡足迹、姈泉、沐籣遇四大品牌。通过直达号，用户可以直达良子健身轻应用，为用户提供门店导航、优惠信息、服务预约等服务，用户也可以进服务行咨询、效果评价等。</p>
      <div class="g_anli_pic ">
        <ul class="clearfix">
          <li><img src="/com/images/zhidahao/anli2_p1.jpg"></li>
          <li><img src="/com/images/zhidahao/anli2_p2.jpg"></li>
          <li><img src="/com/images/zhidahao/anli2_p3.jpg"></li>
          <li><img src="/com/images/zhidahao/anli2_p4.jpg"></li>
        </ul>
      </div>
    </div>
    <div class="g_anlili">
      <div class="h1">峨眉山</div>
      <p>峨眉山，世界文化与自然遗产，中国四大佛教名山之一，国家5A级旅游景区。峨眉山旅游轻应用针对游览的景区信息获取、购票服务、景区导游这三个环节，为游客提供完整而流畅的旅游服务。通过直达号，用户搜索@峨眉山后直接到达峨眉山官方轻应用，避开了线上来源繁杂的非官方旅游信息，直接对接优质可信赖的信息和票务服务，进一步提升用户体验。</p>
      <div class="g_anli_pic ">
        <ul class="clearfix">
          <li><img src="/com/images/zhidahao/anli3_p1.jpg"></li>
          <li><img src="/com/images/zhidahao/anli3_p2.jpg"></li>
          <li><img src="/com/images/zhidahao/anli3_p3.jpg"></li>
          <li><img src="/com/images/zhidahao/anli3_p4.jpg"></li>
        </ul>
      </div>
    </div>
  </div>
  <div align="center"class="g_padv20"><a href="http://www.winwemedia.com/spread#new_supplier_apply "><img src="/com/images/zhidahao/jion.jpg"></a> </div>
  <div class="g_padv20"></div>
</div>

<%= content_for :custom_js do %>
<script>
    $(function(){
        $(".g_anli a").hover(function(){
            var ind =$(this).index();

            $(this).siblings().removeClass("on");
            $(this).addClass("on");
            $(".g_anlili").stop().hide().eq(ind).fadeIn();
            $('.g_anlicont').css("height","640px")
        })
        $(window).resize(function(){
            $('#slider-index').anythingSlider({
                theme:"cs-portfolio",
                buildStartStop:false,
                autoPlay:true,
                pauseOnHover: true,
                buildArrows:false,
                hashTags : false,
                startPanel:0
            });
        });
        $('#slider-index').anythingSlider({
            theme:"cs-portfolio",
            buildStartStop:false,
            autoPlay:true,
            pauseOnHover: true,
            buildArrows:false,
            hashTags : false,
            startPanel:0
        });
        $('#slider-note').anythingSlider({
            mode: "vertical",
            buildNavigation: false,
            theme:"cs-portfolio",
            buildStartStop:false,
            autoPlay:true,
            pauseOnHover: true,
            buildArrows:false,
            hashTags : false,
            startPanel:0
        });
        $('#slider-index-4').anythingSlider({
            theme:"minimalist-square",
            buildStartStop:false,
            autoPlay:true,
            pauseOnHover: true,
            expand : true,
            showMultiple : 5,
            hashTags : false,
            startPanel:0
        });
        $('#slider-case').anythingSlider({
            theme:"minimalist-square",
            autoPlay: false,
            buildStartStop:false,
            pauseOnHover: true,
            expand : true,
            showMultiple : 1,
            hashTags : false,
            animationTime:0
        });

        $("#page-index").affix({
            offset: {
                top: 200,
                bottom: 300
            }
        });
    });
    function showCase(id){
        $('#slider-case').anythingSlider(id);

    }
</script>
<% end %>
