html, body {
	height: 100%
}
body {
	position: relative;
	overflow-x: hidden;
	font-size: 14px;
	font-family: arial, "\5FAE\8F6F\96C5\9ED1";
	-webkit-text-size-adjust: none;
	background:#d2d1cd;
	background-size: 100%;
	margin:0;
	padding:0;
}
div, h1, h2, h3, h4, p, form, label,  textarea, img, span{margin:0; padding:0; border:none;}
a{ text-decoration:none;}
ul{	margin:0; 	padding:0; 	list-style-type:none;	font-size:0;line-height:0;}
.clear{ zoom:1;}
.clear:after{ content:"";display:block; clear:both;}
.header{ position:fixed; left: 0; top: 0; width: 100%; z-index: 1000;}
.header .topline{background: #76caca; height: 43px; position: relative; text-align: center; line-height: 43px; font-size: 18px; color: #fff; text-shadow:1px -1px 1px #60a4a4; border-bottom:1px solid #6cbbbb;}
.header .topline img{  position: absolute; max-height: 30px; top:6px;}
.header .topline img:first-child{ left:10px;}
.header .topline img:last-child{ right:10px;}
.header .search{ padding: 0 10px; background: url(/assets/shop_order/bg_top_bg.png) repeat-x; height: 47px; background-size: contain;}
.header .search .form{ float: left; width: 80%; padding: 6px 0 0 0;}
.header .search .form input{border: 1px solid #c2c2c2; background:url(/assets/shop_order/bg_ico_search.png) no-repeat 6px center #fff; background-size: 15px 15px; border-radius: 5px 5px; overflow: hidden; font-size: 54px; height: 28px;  font-size: 12px; color: #666; width:85%; padding: 0 0 0 25px; vertical-align: middle;}
.header .search a.near{ display: block; height: 18px; padding: 20px 0 0 0; background: url(/assets/shop_order/bg_ico_near.png) no-repeat center top; background-size:  14px 18px; width:20%; float: left; text-align: center; font-size: 12px; line-height: 20px; color: #888888; margin:5px 15px 0;}
.header .search a.near:active{ color: #e8645a;}
.header .search a.order{ display: block; height: 20px; padding: 20px 0 0 0; background: url(/assets/shop_order/bg_ico_order.png) no-repeat center top; background-size: 16px 16px; width:20%; float: left; text-align: center; font-size: 12px; line-height: 20px; color: #888888; margin: 5px 0 0;}
.header .search a.order:active{ color: #e8645a;}
.wrap {min-height: 100%;} 
.main {overflow:auto; 
    padding-bottom: 50px;} 
.footer {position: relative; 
    margin-top: -50px;  
    height: 50px; 
	line-height:60px;
    clear:both; 
	text-align:center; color:#888;
} 
body:before { 
content:""; 
height:100%; 
float:left; 
width:0; 
margin-top:-32767px; 
} 
.footer a{color:#888; font-size:12px;}