.about_wrapper h3{ padding:60px 0 80px; font-size: 36px; height: 36px; line-height: 36px; color: #333;}
.about_wrapper p{ width: 980px; margin:0 auto 35px; line-height: 2; font-size: 16px; color: #666;}
.banner{ width: 100%; height: 260px; color: #fff; background: url(/assets/v5.1/about/banner.jpg) no-repeat center; }
.banner h1{ padding: 80px 0 28px; height: 48px; line-height: 48px; font-size: 48px; }
.banner h1 span{ padding-left: 30px;}
.banner h2{ font-size: 30px; line-height: 30px; height: 30px; }
.summary{ height: 953px; background: url(/assets/v5.1/about/summary.jpg) no-repeat bottom center;}

.backdrop{ height: 983px; background: url(/assets/v5.1/about/backdrop.jpg) no-repeat center;}
.backdrop p{ width: 832px; margin:0 auto 73px;}

.strength{ height: 985px;}
.Influence{ height: 820px; }
.Influence img { margin:0 30px 30px 0;}
.Influence img.last{ margin-right: 0;}
.culture{ height: 1066px; background-color: #f5f5f5;}