@charset "utf-8";
/*base*/
body, select, input, textarea {color: #666666; font-family: "\5FAE\8F6F\96C5\9ED1",arial; font-size: 13px;}
a{color: #666666; text-decoration: none; -webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear; -o-transition:all 0.2s linear; -ms-transition:all 0.2s linear; transition:all 0.2s linear;}
a:hover {color: #3396d1;}
.transition{-webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear; -o-transition:all 0.2s linear; -ms-transition:all 0.2s linear; transition:all 0.2s linear;}
::-moz-selection{background: #3396d1; color: #fff; text-shadow: none;}
::selection {background: #3396d1; color: #fff; text-shadow: none;}
a:link {-webkit-tap-highlight-color: #fcd700;}
ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}
input:-moz-placeholder,textarea:-moz-placeholder{ color:#a9a9a9;}
input:focus, textarea:focus{-webkit-outline: none;-moz-outline: none;-o-outline: none;outline: none;}
/*global*/
body{padding-top: 50px; min-width: 1200px; background-color: #fff;}
.center960{width: 960px; margin: 0px auto;}
.center1200{width: 1200px; margin: 0px auto;}
.pointer{ cursor:pointer;}
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.bc{ margin-left:auto;margin-right:auto;}
.fl{ float:left;}
.fr{ float:right;}
.cb{ clear:both;}
.cl{ clear:left;}
.cr{ clear:right;}
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.clearfix{zoom:1;}
.pr{ position:relative;}
.pa{ position:absolute;}
.zoom{ zoom:1;}
.hidden{ visibility:hidden;}
.block{ display:block;}
.inline{ display:inline;}
.in_b {display:inline-block;}
.in_b{ *display:inline;}
.hide{ display:none;}
.oh{ overflow:hidden;}
.ov{ overflow:visible;}
.w1200{ width: 1200px;}

/*header*/
.header{width: 100%; height: 49px; border-bottom:1px solid #027c9c; position: fixed; left: 0px; top: 0px; z-index: 9000; background-color: #fff; -webkit-transform: translateZ(0);/*修复chrome下抖动*/}
.header .center960{position: relative;}
.header .center1200{position: relative;}
.header h1{position: absolute; left: 0px; top: 10px;}
.header h1 img{ height: 32px;}
.header .header-link{position: absolute; right: 0; top: 12px; overflow: hidden; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;}
.header .header-link a{float: left; line-height: 28px; text-align: center; color: #00708c; width: 74px;}

.header .header-link .header-reg{border: 1px #e5e2eb solid;}
.header nav{position: absolute; right: 180px; height: 49px; top: 0px; line-height: 49px;}
.header nav li{float: left; position: relative;}
.header nav li > a{display: block; width: 97px; height: 49px; line-height: 49px;  text-align:center; color: #333333; font-weight: bold;}
.header nav li > a i{font-style: normal;}
.header nav li > a:hover, .header nav li.active > a{ color: #00708c; }
.nav-son{display: none; position: absolute; width: 169px; top:50px; left: 0; font-size: 14px; }
.nav-item{ display: block; cursor: pointer; height: 40px; background-color: #f9f9f9; color: #666; line-height: 40px; }
.nav-item:hover,
.nav-item.active{ color: #037c9d; }

.nav-txt{font-weight: normal; padding-left: 20px;}
.nav-item:hover, .nav-item.active{background-color: #5baada;}
.nav-item:hover .nav-txt, .nav-item.active .nav-txt{color: #fff;}

.arrow-down{ position:absolute; left: 50%; margin-left:-2px; bottom:5px;  width:0; height:0;  border-left:4px solid transparent; border-right:4px solid transparent; border-bottom:4px solid #ccc;}
.header li:hover .arrow-down{  border-top:4px solid #ccc; border-bottom: 0 none;}

/*header-m*/
.header-m{width: 100%; height: 80px; position: absolute; left: 0px; top: 0px; border-bottom: 1px #77c04b solid; background: url(/assets/v5.1/member_header_bg.jpg) 0px 0px repeat-x;}
.header-m .center1200{position: relative;}
.header-m-logo{position: absolute; left: 0px; top: 18px;}
.header-m-link{height: 80px; line-height: 80px; text-align: right; color: #333333;}
.header-m-s{margin-left: 20px;}


.footer-fixed{width: 100%; position: absolute; left: 0px; bottom: 0px;}
/*fnav*/
.fnav{background-color: #303437;}
.fnav .center1200{overflow: hidden; padding: 36px 0px;}
.fnav dl.footer_logo{ margin:0 110px 0 0;}
.fnav dl.first{ margin-left:0;}
.fnav dl{ margin-left: 140px; float: left;}
.fnav dl dt{height: 22px; line-height: 22px; margin-bottom: 12px; font-size: 16px; color: #77c04b;}
.fnav dl dd li{height: 24px; line-height: 24px; color: #767f93; font-size: 12px;}
.fnav dl dd li a{color: #b4b9c2;}
.fnav dl dd li a:hover{color: #3396d1;}
/*footer*/
.footer{background-color: #282c2f; color: #767f93; line-height: 24px;}
.footer .center1200{padding: 17px 0px; position: relative;}
.footer a{color: #767f93;}
.footer a:hover{color: #3396d1;}
.footer .f-sns{height: 42px; position: absolute; right: 0px; top: 50%; margin-top: -21px;}
.footer .f-sns a{width: 42px; height: 42px; position: relative; float: left; margin-left: 16px; font-size: 26px; line-height: 42px; text-align: center; color: #fff; background-color: #393c3f;}
.footer .f-sns a:hover{color: #3396d1;}
.footer .f-wechat span{display: none; position: absolute; width: 146px; padding: 8px 8px 0px; bottom: 52px; left: 50%; margin-left: -81px; background-color: #fff; -webkit-border-radius: 0px 0px 5px 5px; -moz-border-radius: 0px 0px 5px 5px; -o-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px;}
.footer .f-wechat span img{display: block;}
.footer .f-wechat span em{display: block; font-style: normal; font-size: 13px; color: #767f93; line-height: 26px;}
.footer .f-wechat:hover span{display: block;}
/*返回顶部*/
#backto-top{ position:fixed; right:5px; bottom:5px; display: none; z-index:999999;}
#backto-top i{ background-color: #037c9d; width:40px; height:40px; line-height: 38px; font-size: 30px; color: #fff;}

/*tools*/
.foot_circle{-webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;}
.gc-3396d1{color: #3396d1;}
.gc-77c04b{color: #77c04b;}
.gc-3a8fb6{color: #3a8fb6;}

.toolsbar{position:fixed;width:177px;right:0;top:100px;z-index:999;}
.toolsbar:after{display:table;content:"";clear:both;}
.tools-left{width:16px;height:160px;padding:20px 10px;float:left;background:#009dd9;color:#fff;font-size:16px;border-radius:5px 0 0 5px;}
.tools-item{border-bottom:1px solid #d7d7d7;}
.tools-main{width:140px;height:198px;list-style:none;border-top:1px solid #d7d7d7;border-right:1px solid #d7d7d7;float:left;background:#fff;}
.tools-item .box{display:block;padding:16px 13px;}
.tools-item .box:hover{background:#f2f2f2;color:#1694bd;}
.tools-name{font-weight:bold;margin-left:10px;}
.tools-item .fa{width:24px;height:24px;text-align:center;line-height:24px;font-size:14px;color:#1694bd;border-radius:10000px;border:1px solid #1694bd;}
.tools-phone{font-weight:bold;color:#f60;font-size:16px;line-height:22px;}

/*dialog layer*/
.dialog{width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; z-index: 99999999999999;}
.dialog-bg{width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; background-color: #000; opacity: 0.6;}
.dialog-layer{width: 750px; height: 486px; background-color: #fff; position: fixed; left: 50%; top: 50%; margin-left: -375px; margin-top: -243px; -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;}
.dialog-layer-cnt{width: 620px; height: 430px; margin: 28px auto 0px; background: #fff url(/assets/v5.1/loading.gif) center center no-repeat;}
.dialog-layer-close{width: 28px; height: 28px; position: absolute; right: 24px; top: 24px; cursor: pointer; background: url(/assets/v5.1/micro_channel/platform_icon.png) -160px -160px no-repeat; -moz-user-select: none; -webkit-user-select: none;  -ms-user-select: none;   -khtml-user-select: none; user-select: none;}
.dialog-layer-close:hover{background-position: -200px -160px;}

/*alert layer*/
.alert{width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; z-index: 99999999999999;}
.alert-bg{width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; background-color: #000; opacity: 0.6;}
.alert-layer{width: 380px; background-color: #fff; position: fixed; left: 50%; top: 50%; margin-left: -190px; -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;}
.alert-layer-tit{width: 332px; height: 44px; margin: 20px auto 0px; line-height: 44px; border-bottom: 1px #CCC solid; font-size: 18px;}
.alert-layer-cnt{width: 332px; margin: 12px auto 30px; font-size: 14px; line-height: 1.6em;}
.alert-layer-close{width: 28px; height: 28px; position: absolute; right: 24px; top: 24px; cursor: pointer; background: url(/assets/v5.1/micro_channel/platform_icon.png) -160px -160px no-repeat; -moz-user-select: none; -webkit-user-select: none;  -ms-user-select: none;   -khtml-user-select: none; user-select: none;}
.alert-layer-close:hover{background-position: -200px -160px;}