@charset "utf-8";
/*iTranslate*/
@keyframes iTranslate{
    0% {transform: translateY(-40px); opacity: 0;}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px); opacity: 1;}
}
@-moz-keyframes iTranslate{
    0% {-moz-transform: translateY(-40px); opacity: 0;}
    50% {-moz-transform: translateY(10px);}
    100% {-moz-transform: translateY(0px); opacity: 1;}
}
@-webkit-keyframes iTranslate{
    0% {-webkit-transform: translateY(-40px); opacity: 0;}
    50% {-webkit-transform: translateY(10px);}
    100% {-webkit-transform: translateY(0px); opacity: 1;}
}
@-o-keyframes iTranslate{
    0% {-o-transform: translateY(-40px); opacity: 0;}
    50% {-o-transform: translateY(10px);}
    100% {-o-transform: translateY(0px); opacity: 1;}
}
/*iRotate*/
@keyframes iRotate{
    0% {transform: translateX(-80px); opacity: 0;}
    50% {transform: translateX(-30px);}
    100% {transform: translateX(0px); opacity: 1;}
}
@-moz-keyframes iRotate{
    0% {-moz-transform: translateX(-80px); opacity: 0;}
    50% {-moz-transform: translateX(-30px);}
    100% {-moz-transform: translateX(0px); opacity: 1;}
}
@-webkit-keyframes iRotate{
    0% {-webkit-transform: translateX(-80px); opacity: 0;}
    50% {-webkit-transform: translateX(-30px);}
    100% {-webkit-transform: translateX(0px); opacity: 1;}
}
@-o-keyframes iRotate{
    0% {-o-transform: translateX(-80px); opacity: 0;}
    50% {-o-transform: translateX(-30px);}
    100% {-o-transform: translateX(0px); opacity: 1;}
}

/*banner*/
.i-ban{height: 640px; overflow: hidden; position: relative;}
.i-ban .wrapp{width: 1920px; position: relative; left: 50%; margin-left: -960px;}
.wrapp ul{width: 1920px; height: 640px; position: relative;}
.wrapp li{width: 1920px; height: 640px; position: absolute; left: 0px; top: 0px; display: none; -webkit-perspective: 500;
-moz-perspective: 500;
-o-perspective: 500;
perspective: 500;}
.wrapp .item1{background: url(/assets/v5.1/index/banner1_bg.jpg) center center no-repeat;}

.wrapp .item1 img{display: block;}
.wrapp .ele1{ margin-right: 106px; margin-top: 230px;}
.wrapp .ele2{margin-top: 34px;margin-left: 73px; opacity: 0;}
.banner_btn{ margin-top: 32px; width: 341px; height: 50px;}
.banner_btn a{ text-align: center; }
.banner_btn a:hover{ color: #fff;}

.register{ font-size: 18px; color: #fff; width: 144px; height: 50px; line-height: 50px; background-color: #0091ea; border-radius: 3px; }
.register:hover{ background-color:#0081D0; -webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear; -o-transition:all 0.2s linear; -ms-transition:all 0.2s linear; transition:all 0.2s linear;}
.agrent_box{ width: 172px; height: 48px; border-radius: 3px; border: 1px solid #fff;}
    .agent{ width: 172px; height: 50px; background-color:#fff; filter:alpha(opacity=25); opacity:0.25;  }
    .agrent_box:hover .agent{ filter:alpha(opacity=50); opacity:0.5; -webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear; -o-transition:all 0.2s linear; -ms-transition:all 0.2s linear; transition:all 0.2s linear;}
    .btn_text{ left:0; top:0; width: 174px; height: 50px; line-height: 49px; text-align: center; color: #fff; font-size:18px;}

.wrapp li.active .ele1{-webkit-animation: iTranslate 0.5s ease-out forwards;
-moz-animation: iTranslate 0.5s ease-out forwards;
-o-animation: iTranslate 0.5s ease-out forwards;
animation: iTranslate 0.5s ease-out forwards}
.wrapp li.active .ele2{-webkit-animation: iRotate 0.5s ease-out 0.3s forwards;
-moz-animation: iRotate 0.5s ease-out 0.3s forwards;
-o-animation: iRotate 0.5s ease-out 0.3s forwards;
animation: iRotate 0.5s ease-out 0.3s forwards}

.i-btns{height: 6px; position: absolute; right: 50%; bottom: 30px;}
.i-btns-item{width: 47px; height: 6px; background-color: #000; filter:alpha(opacity=50); opacity:0.5; float: left; margin-left: 7px; cursor: pointer;}
.i-btns-item.active{ background-color: #0091ea;}
/*index_notice*/
.i-center{ width: 1200px; margin: 0 auto;}
.i-notice{width: 100%; height: 70px; position: absolute; left: 0px; bottom: 0px;}
.i-notice-bg{width: 100%; height: 100%; position: absolute; left: 0px; left: 0px; background-color: #000; opacity: 0.35; filter:alpha(opacity=35);}
.i-notice-wrapp{height: 40px; line-height: 40px; margin-top: 15px; position: relative; overflow: hidden;}
.i-notice-icon{width: 40px; height: 40px; font-size: 26px; color: #fff; position: absolute; top: 0px; left: 10px; text-align: center; line-height: 40px;}
.i-notice-scroll{padding-left: 58px; position: relative;}
.i-notice-item{height: 40px; line-height: 40px; color: #fff;}
.i-notice-link{color: #fff;}

/*product center*/
.internet_product{ height:610px; background:url(/assets/v5.1/index/mediabg.jpg) no-repeat center; }
    .item_title h1{ padding-top: 56px; height: 36px; line-height: 36px; font-size: 36px; color: #00708c;}
    .item_title h6{ margin: 17px 0 32px; font-size: 14px; height: 14px; line-height: 14px; color: #666;}
    .item_title .line{ width: 62px; height: 1px; background-color: #037c9d; margin: 0 auto 44px;}
    .product_list{ width: 1200px; height: 469px;}
        .productImg{ width: 394px; height: 420px; overflow: hidden;}
            .productImg img{ display: block; position: absolute; left: 0; top:0; width: 394px; height: 469px;}
            .platfotm{ left: 0; bottom: 0; width: 394px; height: 84px;  background: url(/assets/v5.1/index/probg1.png) no-repeat center;}
            .market{ left: 0; top:0; width: 394px; height: 84px; background: url(/assets/v5.1/index/probg2.png) no-repeat center;}
            .pasword{ left: 0; bottom: 0; width: 394px; height:84px; background: url(/assets/v5.1/index/probg3.png) no-repeat center;}
            .product_list h2{ margin:19px 0 9px 24px; height: 24px; line-height: 24px; font-size: 24px; color:#fff;}
            .product_list h5{ margin:2px 0 0 24px; font-size: 14px; height: 14px; line-height: 14px; color: #fff;}

/*@keyframes pRotate{
    0% {transform: rotateX(80deg); opacity: 0;}
    50% {transform: rotateX(-30deg);}
    100% {transform: rotateX(0deg); opacity: 1;}
}
@-moz-keyframes pRotate{
    0% {-moz-transform: rotateX(80deg); opacity: 0;}
    50% {-moz-transform: rotateX(-30deg);}
    100% {-moz-transform: rotateX(0deg); opacity: 1;}
}
@-webkit-keyframes pRotate{
    0% {-webkit-transform: rotateX(80deg); opacity: 0;}
    50% {-webkit-transform: rotateX(-30deg);}
    100% {-webkit-transform: rotateX(0deg); opacity: 1;}
}
@-o-keyframes pRotate{
    0% {-o-transform: rotateX(80deg); opacity: 0;}
    50% {-o-transform: rotateX(-30deg);}
    100% {-o-transform: rotateX(0deg); opacity: 1;}
}

@keyframes circle
{   0%{visibility:visible;transform:scale(.4);opacity:1;}
    50%{transform:scale(1);opacity:0;}
    100%{transform:scale(1.5);opacity:0;}
}
@-webkit-keyframes circle
{   0%{visibility:visible;-webkit-transform:scale(.4); opacity:1;}
    50%{-webkit-transform:scale(1);opacity:0;}
    100%{-webkit-transform:scale(1.5);opacity:0;}
}
@-moz-keyframes circle{
    0%{visibility:visible;-moz-transform:scale(.4); opacity:1;}
    50%{-moz-transform:scale(1);opacity:0;}
    100%{-moz-transform:scale(1.5);opacity:0;}
}
@-o-keyframes circle{
    0%{visibility:visible;-o-transform:scale(.4); opacity:1;}
    50%{-o-transform:scale(1);opacity:0;}
    100%{-o-transform:scale(1.5);opacity:0;}
}

@keyframes show_p2
{   0%{ transform:rotate(1deg) scale(.1);opacity:.1;}
    100%{ transform:rotate(360deg) scale(.9);visibility:visible;}
}
@-webkit-keyframes show_p2
{   0%{-webkit-transform:rotate(1deg) scale(.1);opacity:.1;}
    100%{-webkit-transform:rotate(360deg) scale(.9);visibility:visible;}
}
@-moz-keyframes show_p2{
    0%{-moz-transform:rotate(1deg) scale(.1);opacity:.1;}
    100%{-moz-transform:rotate(360deg) scale(.9);visibility:visible;}
}
@-o-keyframes show_p2{
    0%{-o-transform:rotate(1deg) scale(.1);opacity:.1;}
    100%{-o-transform:rotate(360deg) scale(.9);visibility:visible;}
}

@-webkit-keyframes scale
{   0%{-webkit-transform:scale(.9);opacity:.6;}
    100%{-webkit-transform:scale(1.1);opacity:1;}
}
@keyframes scale
{   0%{transform:scale(.9);opacity:.6;}
    100%{transform:scale(1.1);opacity:1;}
}
@-moz-keyframes scale
{   0%{-moz-transform:scale(.9);opacity:.6;}
    100%{-moz-transform:scale(1.1);opacity:1;}
}
@-o-keyframes scale
{   0%{-o-transform:scale(.9);opacity:.6;}
    100%{-o-transform:scale(1.1);opacity:1;}
}
.product_info{ height: 800px; overflow: hidden; }
    .pro_title{ height: 99px; z-index: 99; }
    .pro_title ul{ width: 600px; height: 99px; color:#fff;}
        .pro_title li{ width: 200px; height: 99px; cursor: pointer;}
            .icon1{ background: url(/assets/v5.1/index/iconbg1.png) no-repeat center;}
            .icon2{ background: url(/assets/v5.1/index/iconbg2.png) no-repeat center;}
            .icon3{ background: url(/assets/v5.1/index/iconbg3.png) no-repeat center;}
            .pro_cur{  border-bottom: 2px solid #fff;}
        .pro_title dt{ margin:18px auto 12px;}
        .pro_title dd{ font-size: 14px;}


    .pro_item{ height: 800px; top:-99px;}
        .pro_item li{ width:100%; height: 800px; position: absolute; -webkit-perspective: 500;-moz-perspective: 500;-o-perspective: 500;perspective: 500;}
        .section1{ display: none; background: url(/assets/v5.1/index/proinfobg.jpg) center center no-repeat;}
        .section2{ background: url(/assets/v5.1/index/proinfobg.jpg) center center no-repeat;}
        .section_box{ height: 800px;}
        .text{ opacity: 0;}
            .text h1{ padding-top:165px; font-size:36px; color:#fff; height: 36px; line-height: 36px;}
            .text p{ margin:21px 0 34px; font-size:14px; color: #fff; }
            .learn{ width: 169px; height: 52px;}
                .learn a{ width: 167px; height: 50px; background-color:#fff; filter:alpha(opacity=10); opacity:0.1;}
                .learn span{ top:15px; left:49px; font-size: 18px; color: #fff;}
        .store{ width: 666px; height: 443px; bottom:-4px; left:0; margin-left:287px; opacity: 0;}
        .pro_animation{}
            .circle1,.circle2,.circle3{ width:828px;height:828px;border:1px solid #fff; border-radius:50%;opacity:.3; left:45%; bottom:-298px; margin:0 0 0 -414px;z-index:0;}
            .circle1{ -webkit-animation: circle 3s ease-in 1s infinite; -webkit-animation-play-state: initial;
                -moz-animation: circle 3s ease-in 1s infinite; -moz-animation-play-state: initial;
                -o-animation: circle 3s ease-in 1s infinite; -o-animation-play-state: initial;
                animation: circle 3s ease-in 1s infinite; animation-play-state: initial;
            }
            .circle2{ -webkit-animation: circle 3s ease-in 1.5s infinite; -webkit-animation-play-state: initial;
                -moz-animation: circle 3s ease-in 1.5s infinite; -webkit-animation-play-state: initial;
                -o-animation: circle 3s ease-in 1.5s infinite; -o-animation-play-state: initial;
                animation: circle 3s ease-in 1.5s infinite; animation-play-state: initial;
            }
            .circle3{ -webkit-animation: circle 3s ease-in 2s infinite; -webkit-animation-play-state: initial;
                -moz-animation: circle 3s ease-in 2s infinite; -moz-animation-play-state: initial;
                -o-animation: circle 3s ease-in 2s infinite; -o-animation-play-state: initial;
                animation: circle 3s ease-in 2s infinite; animation-play-state: initial;
            }
    .circle1, .circle2, .circle3, .circle4, .p2_icon1_wrap, .p2_icon2_wrap, .p2_icon3_wrap, .p2_icon4_wrap, .p2_icon5_wrap{
        visibility:hidden;
    }
    .p2_icon1_wrap, .p2_icon2_wrap, .p2_icon3_wrap, .p2_icon4_wrap, .p2_icon5_wrap{
        left: 50%; top:50%; position: absolute;
    }
    .p2_icon1_wrap{  width: 63px; height: 98px; margin: -129px 0 0 -383px;
        animation: show_p2 1.5s ease-in 2s forwards; animation-play-state: initial;
        -webkit-animation: show_p2 1.5s ease-in 2s forwards; -webkit-animation-play-state: initial;
        -moz-animation: show_p2 1.5s ease-in 2s forwards; -moz-animation-play-state: initial;
        -o-animation: show_p2 1.5s ease-in 2s forwards; -o-animation-play-state: initial;
    }
        .p2_icon1 { background-image: url(/assets/v5.1/index/p2_icon1.png);height: 100%;
            animation: scale 1.5s ease-in 2s infinite alternate; animation-play-state: initial;
            -webkit-animation: scale 1.5s ease-in 2s infinite alternate; -webkit-animation-play-state: initial;
            -moz-animation: scale 1.5s ease-in 2s infinite alternate; -moz-animation-play-state: initial;
            -o-animation: scale 1.5s ease-in 2s infinite alternate; -o-animation-play-state: initial;
        }
    .p2_icon2_wrap{ width: 46px;height: 60px;margin: -76px 0 0 -234px;
        animation: show_p2 1.5s ease-in 0.8s forwards; animation-play-state: initial;
        -webkit-animation: show_p2 1.5s ease-in 0.8s forwards; -webkit-animation-play-state: initial;
        -moz-animation: show_p2 1.5s ease-in 0.8s forwards; -moz-animation-play-state: initial;
        -o-animation: show_p2 1.5s ease-in 0.8s forwards; -o-animation-play-state: initial;
    }
        .p2_icon2{  background-image: url(/assets/v5.1/index/p2_icon2.png); height: 100%;
            animation: scale 1.5s ease-in 0.8s infinite alternate; animation-play-state: initial;
            -webkit-animation: scale 1.5s ease-in 0.8s infinite alternate; -webkit-animation-play-state: initial;
            -moz-animation: scale 1.5s ease-in 0.8s infinite alternate; -moz-animation-play-state: initial;
            -o-animation: scale 1.5s ease-in 0.8s infinite alternate; -o-animation-play-state: initial;
        }
    .p2_icon3_wrap{ width: 84px;height: 90px;margin: 74px -317px;
        animation: show_p2 1.5s ease-in 1s forwards; animation-play-state: initial;
        -webkit-animation: show_p2 1.5s ease-in 1s forwards; -webkit-animation-play-state: initial;
        -moz-animation: show_p2 1.5s ease-in 1s forwards; -moz-animation-play-state: initial;
        -o-animation: show_p2 1.5s ease-in 1s forwards; -o-animation-play-state: initial;
    }
        .p2_icon3{ background-image: url(/assets/v5.1/index/p2_icon3.png); height: 100%;
            animation: scale 1.5s ease-in 1s infinite alternate; animation-play-state: initial;
            -webkit-animation: scale 1.5s ease-in 1s infinite alternate; -webkit-animation-play-state: initial;
            -moz-animation: scale 1.5s ease-in 1s infinite alternate; -moz-animation-play-state: initial;
            -o-animation: scale 1.5s ease-in 1s infinite alternate; -o-animation-play-state: initial;
        }
    .p2_icon4_wrap{ width: 52px;height: 66px;margin: 164px -437px;
        animation: show_p2 1.5s ease-in 1.8s forwards; animation-play-state: initial;
        -webkit-animation: show_p2 1.5s ease-in 1.8s forwards; -webkit-animation-play-state: initial;
        -moz-animation: show_p2 1.5s ease-in 1.8s forwards; -moz-animation-play-state: initial;
        -o-animation: show_p2 1.5s ease-in 1.8s forwards; -o-animation-play-state: initial;
    }
        .p2_icon4{ background-image: url(/assets/v5.1/index/p2_icon4.png);height: 100%;
            animation: scale 1.5s ease-in 1.8s infinite alternate; animation-play-state: initial;
            -webkit-animation: scale 1.5s ease-in 1.8s infinite alternate; -webkit-animation-play-state: initial;
            -moz-animation: scale 1.5s ease-in 1.8s infinite alternate; -moz-animation-play-state: initial;
            -o-animation: scale 1.5s ease-in 1.8s infinite alternate; -o-animation-play-state: initial;
        }
    .p2_icon5_wrap{ width: 45px;height: 78px;margin: 320px 0 0 -439px;
        animation: show_p2 1.5s ease-in 1.4s forwards; animation-play-state: initial;
        -webkit-animation: show_p2 1.5s ease-in 1.4s forwards; -webkit-animation-play-state: initial;
        -moz-animation: show_p2 1.5s ease-in 1.4s forwards; -moz-animation-play-state: initial;
        -o-animation: show_p2 1.5s ease-in 1.4s forwards; -o-animation-play-state: initial;
    }
        .p2_icon5{ background-image: url(/assets/v5.1/index/p2_icon5.png); height: 100%;
            animation: scale 1.5s ease-in 1.4s infinite alternate; animation-play-state: initial;
            -webkit-animation: scale 1.5s ease-in 1.4s infinite alternate; -webkit-animation-play-state: initial;
            -moz-animation: scale 1.5s ease-in 1.4s infinite alternate; -moz-animation-play-state: initial;
            -o-animation: scale 1.5s ease-in 1.4s infinite alternate; -o-animation-play-state: initial;
        }
.store{ -webkit-transform-origin: center bottom;
-moz-transform-origin: center bottom;
-o-transform-origin: center bottom;
transform-origin: center bottom;}
    .pro_item .active .text{ -webkit-animation: iTranslate 0.5s ease-out forwards;
-moz-animation: iTranslate 0.5s ease-out forwards;
-o-animation: iTranslate 0.5s ease-out forwards;
animation: iTranslate 0.5s ease-out forwards}
 .pro_item .active .store{ -webkit-animation: pRotate 0.5s ease-out forwards;
-moz-animation: pRotate 0.5s ease-out forwards;
-o-animation: pRotate 0.5s ease-out forwards;
animation: pRotate 0.5s ease-out forwards;
}*/

/*media report*/
.media_report{ height: 600px; background: url(/assets/v5.1/index/mediabg.jpg) no-repeat center;}
.media_content{ width: 1182px; height: 368px; }
    .media_left{ width: 580px; height: 368px; border: 1px solid #ddd; }
    .media_left{ background-color: #fff;}
        .media_title{ height: 42px; border-bottom: 1px solid #eee; }
        .media_title ul{ margin-left: 14px;}
        .media_title li{ width: 103px; margin-right: 34px; height: 43px; line-height: 43px; font-size: 14px; text-align: center; cursor:pointer; color: #99a0a6;}
        .media_title li:hover,.media_title li.main_cur{ color:#037c9d; }
        .case-hd-line{ left: 14px; bottom: -1px; height: 1px; width: 103px; background-color: #3a8fb6;}
        .media_item li{ display: none; height: 325px;}
            .report_list{ padding: 20px 29px 13px 18px; width: 533px; height: 130px; cursor:pointer;}
            .reportList{ padding: 10px 29px 22px 18px;}
                .report_list:hover{background-color: #f9f9f9;}
            .report_left{ width: 188px; height: 128px; border-top:2px solid #037c9d;}
                .report_date{ left: 7px; top:0; width: 50px; height: 49px; background-color: #037c9d; color: #fff;}
                    .report_date h1{ margin-top:5px; height: 30px; line-height: 30px; font-size: 30px; }
                    .report_date h5{ font-size: 12px; height: 12px; line-height: 12px;}
            .report_right{ height: 130px; width: 330px;}
                .report_right .title{ font-size: 16px; color: #037c9d;}
                .report_right .detail{ margin-top: 3px; height: 38px; overflow: hidden; font-size: 14px; color: #95a3b0; }
                .report_right a{ color: #037c9d; font-size: 14px; text-decoration: underline;}

    .media_right{ width: 582px; height: 370px; cursor: pointer; background: url(/assets/v5.1/index/video.jpg) no-repeat center; }
    .cover_video { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 900; background-color: #000; opacity: 0.5; filter:alpha(opacity=50);display: none;}
        .videopeak-dialog{ display: none;}
        span.videopeak-close {width: 30px;height: 30px;top: -15px;right: -15px;background:url(/assets/v5.1/index/close.png) no-repeat 0px 0px;position:absolute; cursor:pointer;}
        .videopeak-dialog { background: #FFF; width: 875px; height: 500px; position: fixed; z-index: 1000; left: 50%; top: 55%; margin: -250px -440px;}
        .videopeak-content{padding: 6px;}
        .play-button{ width: 163px; height: 55px; background-image: url(/assets/v5.1/index/play_button.png); background-repeat: no-repeat; background-position: 0 0; display: inline-block; position: absolute; left: 38px; top: 143px; vertical-align: middle;}
        .media_right:hover .play-button{background-position:0 -56px}

/*classic case*/
.classic_case{ height: 689px; background-color: #f0f3f5;}
    .case_item{ display: block; width: 282px; height: 124px; margin:0 9px 16px 9px; overflow: hidden;}
    .case_item .baseImage{ top:0; left: 0; }
    .case_item:hover .overImage{ -webkit-transform:scale(1.2);-moz-transform:scale(1.2); -o-transform:scale(1.2); transform:scale(1.2);}
    .case_item span{ display: none; top:13px; left: 86px; z-index: 11;}
    .case_item em{ display: none; top:0; left: 0; width: 282px; height: 124px; background-color: #296682; opacity: 0.7; filter:alpha(opacity=70);}
    .case_item:hover span,
    .case_item:hover em{ display: block}
    .case_item:hover .baseImage{ opacity:0; filter:alpha(opacity=0);}

/*首页解决方案开始*/
.koss-module{width: 100%;height:620px;background-image: url(/assets/v5.1/index/koss-bg.jpg);background-position:center;}
.koss-content{width: 1200px;height: 723px;margin: 0px auto;}
.koss-content h1{padding-top: 60px; width: 100%;height: 40px;line-height: 40px;font-size: 36px;color: #fff;text-align: center;}
.koss-content h6{ margin: 17px 0 23px; font-size: 14px; height: 14px; line-height: 14px; color:#fff;text-align: center;}
.koss-line{width: 62px;height: 1px;background-color:#fff;margin: 0 auto 44px;}
.list-module{ min-height: 200px;height: auto;padding-top:20px;}
.list-module dl dd{position: relative;height: 438px; margin: 0px;padding: 0px;width: 285px;float: left;margin-right: 20px;}
.list-module dl dd.last{ margin-right: 0;}

.sign-ico{display: block;width: 180px;height: 180px;background-image: url(/assets/v5.1/index/kosslist.png);background-size: 100% 100%;margin:0px auto 20px auto;}
.sign-ico a{color: #fff;font-size: 98px !important; text-align: center;line-height:165px; display: block;width:101%;height:101%;border-radius:50%;background-size: 100% 100%;}
.sign-ico a:hover{text-decoration: none;}
.kosslist-one{background-image: url(/assets/v5.1/index/kosslist-one.png);}
.kosslist-two{background-image: url(/assets/v5.1/index/kosslist-two.png);}
.kosslist-three{background-image: url(/assets/v5.1/index/kosslist-three.png);}
.kosslist-four{background-image: url(/assets/v5.1/index/kosslist-four.png);}
.sign-name{font-size: 24px;color:#037c9d;line-height:25px;text-align: center;}
.sign-hint{width: 78%;padding-top: 10px;font-size: 14px;color: #333;text-align: center;margin: 0px auto;}
.btn-module{display:none; position: absolute;bottom: 25px;color: #fff;font-size: 18px;text-align: center; line-height: 65px; left: 0px;width: 100%;height:65px;background-color:#146D83; }
.btn-module:hover{color: #fff;text-decoration: none;}
.list-content{padding-top: 45px; width: 100%;height: 336px;background-color:#fff; opacity: 0.75; filter:alpha(opacity=75);}
.active-kosslist{background-image: url(/assets/v5.1/index/active-kosslist.png);}

.sign-ico a i{position: absolute;width: 100%;height: 100%;top: 0px;line-height: 2.8;display: block;text-align: center;left: 0px;}
.list-module dd:hover a i{-webkit-animation: tada 1s .2s ease both;-moz-animation: tada 1s .2s ease both;-o-animation: tada 1s .2s ease both;animation: tada 1s .2s ease both;}
@-webkit-keyframes tada{
    0%{-webkit-transform:scale(1);}
    10%, 20%{-webkit-transform:scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90%{-webkit-transform:scale(1.1) rotate(3deg);}
    40%, 60%, 80%{-webkit-transform:scale(1.1) rotate(-3deg);}
    100%{-webkit-transform:scale(1) rotate(0);}
}
@-moz-keyframes tada{
    0%{-moz-transform:scale(1);}
    10%, 20%{-moz-transform:scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90%{-moz-transform:scale(1.1) rotate(3deg);}
    40%, 60%, 80%{-moz-transform:scale(1.1) rotate(-3deg);}
    100%{-moz-transform:scale(1) rotate(0);}
}
@-o-keyframes tada{
    0%{-o-transform:scale(1);}
    10%, 20%{-o-transform:scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90%{-o-transform:scale(1.1) rotate(3deg);}
    40%, 60%, 80%{-o-transform:scale(1.1) rotate(-3deg);}
    100%{-o-transform:scale(1) rotate(0);}
}
@keyframes tada{
    0%{transform:scale(1);}
    10%, 20%{transform:scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90%{transform:scale(1.1) rotate(3deg);}
    40%, 60%, 80%{transform:scale(1.1) rotate(-3deg);}
    100%{transform:scale(1) rotate(0);}
}

.list-module dd:hover .btn-module{ display: block;}