.topint{ height: 589px; width: 100%; background: url(/assets/v5.1/keeper/bg_index01.jpg) no-repeat center;}
.topint img{ font-size: 0; line-height: 0;}
.topint .box{ position: relative; width: 1000px; height: 589px; background: url(/assets/v5.1/keeper/bg_index02.png) no-repeat center; margin: 0 auto;}
.topint .box p.tern{ position: absolute; left: 0; bottom: 106px; margin: 0;}
.topint .box p a{ position: relative; margin: 0 17px 0 0; display: block; float: left;}
.topint .box p a img.ma{display: none; position: absolute; left: 0; top: 100px; width: 200px;}
.topint .box p a:hover img.ma{display: block; position: absolute; left: 0; bottom: 75px; top:auto;}
.tags{ width: 100%; height: 80px; background: #fafafa;}
.tags .box{ width: 100%;  height: 80px; margin: 0 auto;background: #fafafa;}
.tags.fixed .box{ position: fixed; top: 70px; left:0;  width: 100%;}
.tags .box p{ width: 1000px; height: 80px; margin: 0 auto;}
.tags .box a{ display: block; height: 80px; width: 200px; float: left; text-align: center; line-height: 80px; color: #333; font-size: 16px; text-decoration: none;}
.tags .box a img{ vertical-align: middle; margin-right: 5px;}
.tags .box a img.on{ display: none;}
.tags .box a.active{ background: #fff; color: #2cc7b8;}
.tags .box a.active img{ display: none;}
.tags .box a.active img.on{ display: inline;}
.tagbox{ text-align: center;}
.tagboxa{ background: #00c3b5;}
.tagboxb{ background: #4ab7e0;}