*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*gloable*/
*:focus {outline: none;}
html{background:#e3e6eb;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
body{margin:0;padding:0;font:normal 14px/1.5 "microsoft yahei";color:#8f9094;}
a{color:#fff;text-decoration:none;}
button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}
html,body{height:100%;max-width:640px;margin:0 auto;}
header{padding:15px 0;color:#fff;font-size:16px;text-shadow:0 1px 2px #4d8230;text-align:center;border-bottom:2px solid #41842a;background:linear-gradient(#69b53f,#58a23a);background:-webkit-linear-gradient(#69b53f,#58a23a);background:-moz-linear-gradient(#69b53f,#58a23a);position:relative;}
.main{min-height:100%;background:#e3e6eb;padding:56px 0 110px;margin:-56px 0 -96px;}
.clear{clear:both;}
.regedit{display:inline;padding:5px 30px;border:2px solid #4f9531;border-radius:5px;background:linear-gradient(#75c34b,#60ab3c);background:-webkit-linear-gradient(#75c34b,#60ab3c);background:-moz-linear-gradient(#75c34b,#60ab3c);position:absolute;right:2%;top:12px;}
.back{display:block;width:12px;height:20px;position:absolute;left:2%;top:16px;background:url(/mobile/img/ico-left.png);background-size:100%;}
.wrap{margin:0 3%;}
.btn{display:block;width:100%;text-align:center;padding:10px 0;font-size:16px;color:#fff;border:1px solid #327b00;border-radius:10px;box-shadow:0 3px 3px #929295; background:linear-gradient(#8acb4b,#62af23);background:-webkit-linear-gradient(#8acb4b,#62af23);background:-moz-linear-gradient(#8acb4b,#62af23);cursor:pointer;}
.btn-c{border:1px solid #828282;background:linear-gradient(#bfbfbf,#7f7f7f);background:-webkit-linear-gradient(#bfbfbf,#7f7f7f);background:-moz-linear-gradient(#bfbfbf,#7f7f7f);}
.input-tips{margin:20px 0;position:relative;}
.input-left{float:left;width:48%;}
.input-right{float:right;width:48%;}
.input-tips span{position:absolute;left:12px;top:10px;}
.input{display:inline-block;width:100%;padding:10px;border:2px solid #bec5ce;border-radius:10px;box-shadow:0 1px 2px #f4f5f7;}
.title{text-align:center;}


.tip{margin:20px 0;color:#333;}
.forget{text-align:right;}
.forget a{color:#7ab966;text-shadow:0 1px 1px #fff;margin-right:5px;}
.foot{margin-top:20px;}

.order-tab{margin:0 -3%;}
.order-tab ul{height:40px;margin:0;padding:0;*zoom:1;list-style:none;background:#eaeaea;}
.order-tab ul:after{display:table;content:"";clear:both;}
.order-tab li{height:40px;padding:10px 0;float:left;width:33.333%;text-align:center;}
.order-tab a{color:#333;font-size:16px;line-height:20px;}
.order-tab .active{background: #fff;}

.table-title{margin-top:10px;text-align:left;font-size:16px;color:#333;}
.table{width:100%;margin-top:10px;border-collapse:collapse;border:1px solid #ccc;color:#333;}
.table td{padding:10px;background:#eaeaea;}
.table th{text-align:left;font-weight:normal;padding:10px;background:#fff;}
.table a{display:block;}
.table-left{width:80px;white-space:nowrap;}
.table-col{width:120px;white-space:nowrap;}
.table-bordered td{border:1px solid #ccc;background:#fff;}

.success,.table a{color:#58a23a;}
.orange{color:#f50;}
.gray{color:#999;}
.red{color:#f00;}
.num{line-height:1;padding:2px 7px;margin:0 5px;color:#fff;border-radius:3px;font-family:tahoma;background:#ff7b84;}

footer{text-align:center;width:100%;position:relative;}
footer img{max-width:40%;margin:15px auto 45px;}

/*user center*/
.user{width:100%;height:165px;padding-top:30px;background:url(/mobile/img/user-bg.jpg) no-repeat;-webkit-background-size:100% 100%;background-size:100% 100%;}
.user-img{width:84px;height:84px;float:left;margin:0 10px;border:4px solid #fff;border-radius:50%;}
.user-img img{width:76px;height:76px;border-radius:50%;}
.user-info{float:left;color:#fff;}
.user-info h1{margin:0;padding:0;}
/*i-list*/
.i-list{margin:10px;border:1px solid #ccc;border-radius:5px;background:#fff;}
.i-list a{display:block;height:40px;padding:0 10px;line-height:40px;border-bottom:1px dashed #ccc;color:#333;font-size:16px;}
.i-list a:hover{background:#fafafa;}
.i-list a:last-child{border-bottom:none;}
.i-list .icon{display:inline-block;width:25px;height:25px;vertical-align:middle;color:#4d8230;font-size:23px;}
.i-list .fa-chevron-right{display:inline-block;width:20px;height:20px;float:right;margin:10px 0;color:#999;font-size:20px;}

.photo-title{text-align:center;margin-top:10px;color:#000;font-size:18px;}
/*photo index*/
.photo-list{padding: 5px 0;}
.photo-list ul{list-style:none;margin:0;padding:0;}
.photo-list li{padding: 10px 5px;}
.photo-list a{display:block;color:#333;border-radius:5px;padding:5px 10px;border:1px solid  #ccc;background: #fff;}
.photo-list h1{font-size:16px;line-height:25px;margin:0;}
.photo-list p{font-size:16px;line-height:20px;margin:0;}
.photo-img{width:100%;height:200px;overflow:hidden;}
.photo-list img{display:block;max-width: 100%;min-height:100%;margin:5px auto;}

/*phot list*/
.photo-list-1 ul{list-style:none;padding:0 5px;margin:0;}
.photo-list-1 ul:after{display:table;content:"";clear:both;}
.photo-list-1 li{ width: 50%; float: left; overflow: hidden; padding: 10px 5px 0 5px; text-align: center;}
.photo-list-1 .img{width: 100%;padding:10px; overflow: hidden;border-radius: 5px;border:1px solid  #ccc; background: #fff;}
.img a{display:block;width:100%;height:100%;overflow:hidden;}
.autoW{min-width: 100%; height: 100%;}
.autoH{width: 100%; min-height: 100%;}
.footer{position:fixed;display:table;table-layout:fixed;bottom:0;left:0;width:100%;height:40px;border-top:1px solid #cfc8bc;z-index:2;background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#e5e1d8),to(#f5f3f0)); background:-webkit-linear-gradient(top,#f5f3f0,#e5e1d8); background:-moz-linear-gradient(top,#f5f3f0,#e5e1d8); background:-ms-linear-gradient(top,#f5f3f0,#e5e1d8); background:-o-linear-gradient(top,#f5f3f0,#e5e1d8); box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;}
.footer a{display:table-cell;text-align:center;color:#333;vertical-align:middle;}
.footer .cur{color:#c40000;background-repeat:repeat-x; background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f5f3f0),to(#e5e1d8)); background:-webkit-linear-gradient(top,#e5e1d8,#f5f3f0); background:-moz-linear-gradient(top,#e5e1d8,#f5f3f0); background:-ms-linear-gradient(top,#e5e1d8,#f5f3f0); background:-o-linear-gradient(top,#e5e1d8,#f5f3f0); box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset; border-right:1px solid #cfc8bc; border-left:1px solid #cfc8bc;}
.footer .fa{width:20px;text-align:center;}