body{ background:#f1f1ef;}
body.article{ background:#000;}
.article .main {overflow-y:auto; overflow-x:hidden;
padding-bottom: 0;}
.box-index{ text-align:center; color:#fff;height:160px;display: table; float:left; margin:0 0 1% 0;}
.box-index span{width: 100%;
	display: table-cell;
	vertical-align: middle;}
.box-index img{ max-height:70px;}
.box-fw{ width:100%; font-size:36px;}
.box-fw span{ background-position:15% center; background-repeat:no-repeat; background-size:auto 70px; padding:0 0 0 20%; width:70%;}
.box-fw img{padding:0 10px 0 0;}
.box-fw b{ font-size:24px; font-weight:normal;}
.box-fw i{ font-size:18px;}
.box-fl{ width:49.5%;}
.box-fr{ width:49.5%; float:right;}
.box-fl,
.box-fr{ font-size:18px; padding:5px 0 0 0;}
header{ height:44px; line-height:44px; position:fixed; top:0; left:0; background:#3598db; box-shadow:0 0 5px rgba(0,0,0,0.5); z-index:100;}
header a{ width:25%; text-align:center; float:left;}
header h1{ line-height:44px; float:left; width:50%; text-align:center; color:#fff; font-size:18px; font-weight:bold;}
header img{ max-height:30px; vertical-align:middle;}
header .ico{ padding:0 2%; width:21%;}
header .ico img{ max-height:20px;}
header .ico-list{ background:none;}
.list section{ padding:44px 0 0 0;}
.article section{ padding:44px 0 0 0;}
.box-list{ border:1px solid #ccc; background:#fff; padding:2%; width:92%; box-shadow:0 2px 2px rgba(0,0,0,0.25)}
.box-list b,
.box-list span{ width:100%;}
.box-list b{ font-size:15px; line-height:20px; color:#000; padding:5px 0;}
.box-list span{ font-size:12px; color:#999; padding:0 0 5px 0;}
.box-list img{ max-width:100%;}
.box-arrow.box{ border-radius:0; background:#fff; box-shadow:0 0 5px rgba(0,0,0,0.25);}
.box-arrow .arrow-li{ border-bottom:1px solid #ececec;}
.box-arrow .hd{ background:url(/mobile/img/wbuild/ico-right.png) no-repeat right center; background-size:auto 20px; margin:10px 5%; width:90%; line-height:20px; color:#666;}
.arrow-li.active .hd{ background:url(/mobile/img/wbuild/ico-down.png) no-repeat right center; background-size:20px auto;}
.arrow-li.active .bd{ display:block;}
.box-arrow .hd b{ color:#000;}
.box-arrow .hd span{ color:#32b5e3;}
.box-arrow .bd{ background:#f9f6f8; border:1px solid #ececec; position:relative; padding:10px 5%; width:90%; text-align:center; display:none;}
.box-arrow .bd i{
    position:absolute;
    width:20px;
    height:9px;
    background:url(/mobile/img/wbuild/11.png) no-repeat;
    background-size:auto 9px;
    left:50%;
    top:-8px;
    margin:0 0 0 -10px;
}
.box-arrow .bd a{ width:49%; height:20px; line-height:20px; color:#666;}
.box-arrow .bd a:last-child{ border-left:1px solid #e8e5e7;}
.box-arrow .bd a img{ max-height:20px; vertical-align:middle; padding:0 5px 0 0;}
.box-article{ padding:10px 2%; width:96%; line-height:20px;}
.box-article img{ max-width:100%;}
.box-form p{ padding:5px 5%; width:90%; overflow:hidden;}
input,
textarea,
select{-webkit-appearance:none; font-size:15px;}
input,
select{ border:0;}
textarea{border:1px solid #999; padding:2%; width:96%; line-height:20px; border-radius:5px;}
.box-form span{ width:100%; line-height:30px; color:#333; font-size:15px;}
.box-form p.box-number span{ width:auto; float:left;}
.box-form p.box-number input{ width:30px;}
.box-form p.box-number i{ background:#bbbbbb; font-size:40px;}
.box-form p.box-number .number-minus{ line-height:25px;}
.box-form span.form-input{ height:28px; border:1px solid #999; border-radius:5px; background-color:#fff; background-position:10px center; background-repeat:no-repeat; background-size:auto 20px; overflow:hidden; overflow:hidden;}
.input-name{ background-image:url(/mobile/img/wbuild/14.png);}
.input-phone{ background-image:url(/mobile/img/wbuild/15.png);}
.box-form span.input-date{width:52.5%; margin:0 5% 0 0;}
.box-form span.input-select{width:40%;}
.box-form .form-input i{ width:20%; height:28px; line-height:28px; border-left:1px solid #999; text-align:center; float:right;}
.box-form .form-input i img{ vertical-align:middle;}
.box-form .input-date i img{ max-height:25px;}
.box-form .input-select i img{ max-height:10px;}
.box-form .form-input input,
.box-form .form-input select{ float:left; margin:0 0 0 10%; width:89%;  height:28px; border-radius:0; background:#fff;}
.box-form .input-date input,
.box-form .input-date select,
.box-form .input-select input,
.box-form .input-select select{width:69%; }
.box-form input[type="submit"]{border:0; box-shadow:0 2px 5px rgba(0,0,0,0.25); border-radius:0; height:30px; line-height:30px; background:#3598db; text-shadow:0 0 2px rgba(0,0,0,0.25); color:#fff; width:100%; text-align:center; font-size:18px;}
.list .box-img-page,
.article .box-img-page{ width:100%; height:30px; bottom:0; left:0;}
.article .box-img-page{ position:fixed; bottom:10px;}
/*pop*/
.pop-list .hd{ background:#3598db; color:#fff; height:44px; line-height:44px;}
.pop-list .hd span{ margin:0 0 0 5%;}
.pop-list .arrow:after{ border-color:#3598db;}
.pop-list dt b{color:#3598db;}
.pop-list dt span{ color:#666; font-size:12px;}
.box-list-saler{border:1px solid #ccc; background:#fff; padding:2%; width:92%; box-shadow:0 2px 2px rgba(0,0,0,0.25)}
.box-list-saler img{max-width:40%; margin:2%; float:left;}
.box-list-saler p{ float:left; width:56%; margin:2% 0; color:#666;}
.box-list-saler b,
.box-list-saler span{display:inline-block; padding:0 0 5px 0;}
.box-list-saler b{ width:30%; vertical-align:top;}
.box-list-saler span{ width:70%;}
.box-list-saler .btn-tel{ background:url(/mobile/img/wbuild/ico-phone.png) no-repeat 10% center #3598db; background-size:auto 20px; height:30px; line-height:30px; color:#fff; width:100%; border-radius:5px; margin:10px auto; text-align:center;}