body{ background:#000;}
body.order{ background: #ebebeb;}
.main{padding-bottom: 46px;}
.main-index{ padding-bottom: 0;}
.body{ background: none; padding: 0;}
.body-top{ padding: 44px 0 0 0;}
.wrap-body{background: none;}
.btn{
    background-color:#fffe8b;
    background-repeat:repeat-x;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#8d6936),to(#fffe8b));
    background:-webkit-linear-gradient(top,#fffe8b,#8d6936);
    background:-moz-linear-gradient(top,#fffe8b,#8d6936);
    background:-ms-linear-gradient(top,#fffe8b,#8d6936);
    background:-o-linear-gradient(top,#fffe8b,#8d6936);
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #2b0400;
}
.btn.active{opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;}
/*box*/
/*box-slider*/
.box-slider{ height: 170px;}
.box-slider img{max-height: 170px;}
/*box-car*/
.box-car{ position: absolute; top:100%; left: 0; width: 100%; height: 80%; overflow: hidden; z-index: 2000;-webkit-transition: -webkit-transform .2s ease-in; margin: -102px 0 0 0;}
.box-car.active{-webkit-transform: translate(0,-100%); margin: 0;}
.box-car .hd{ height: 102px; position: relative; background: url(/mobile/img/wcar/bg-car-hd.png) no-repeat center bottom; background-size:auto 103px; overflow: hidden; z-index: 3000;}
.box-car .hd p{ width: 40%;}
.box-car .hd a{ width: 100%; height: 51px; display: block;}
.box-car .car-btn{ position: absolute; top:0; left: 40%; width: 20%; height: 102px; line-height: 102px; text-align: center;}
.box-car .car-btn img{ max-width: 100%; max-height: 100%; vertical-align: middle;}
.box-car .bd{ background: url(/mobile/img/wcar/bg-car-bd.jpg) no-repeat center top; background-size:100% auto; background-origin: content-box; height:100%; position: absolute; bottom: 0; left: 0; padding: 102px 0 5% 0;}
.box-car .car-list{width:100%; height: 100%; overflow: auto;}
/*box-nav*/
.box-nav{ height: 35px; color: #fff; overflow: hidden; width: 100%; font-size: 12px;}
.box-nav li{ height: 35px; float: left; width: 100%;}
.box-nav a{ width: 20%; height: 25px; line-height: 20px; padding: 5px; margin: 10px 0 0 0; text-align: center; display: block; float: left; color: #fff;}
.box-nav a.active{background: url(/mobile/img/wcar/nav-active.png); background-size: 100% auto; color: #382e00; }
/*box-list*/
.box-list{ background: #1e1f22; box-shadow: 0 1px 1px #43434f inset; color: #fff; font-size: 15px; padding: 0; line-height: 20px; position: relative;}
.box-list dl{}
.box-list dt{ padding: 15px 10px; border-bottom:1px solid #000; height: 61px; line-height: 30px;}
.box-list dt img{ max-height: 30px; vertical-align: middle; margin:-4px 10px 0 0;}
.box-list dd{background: #2e3033; }
.box-list dd a{ width: 100%; color:#fff; padding: 15px 10px; background-image: url(/mobile/img/wcar/ico-arrow.png); background-size: auto 20px; background-repeat: no-repeat; background-position: 98% center;}
.box-list dd a:nth-child(2n){background-color: #1e1f22; border: 1px solid #000; border-left: 0; border-right:0;}
.box-list dd a:active,
.box-list dd a.active{opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;}
.box-list dd a b,
.box-list dd a small{ width: 100%; padding: 0 5% 0 0; font-weight: normal;}
.box-list dd a small{color: #949494;}
/*box-detail*/
.box-detail{ padding: 0; margin: 0 2%;background: url(/mobile/img/wcar/detail-bg.png) repeat-y 10px top; background-size: 4px auto; }
.detail-row .hd,
.detail-btn{ height: 40px;}
.detail-row .bd{ background: #fff; padding: 10px; color: #888; line-height: 20px; overflow: hidden;}
.detail-row .bd b{ color: #333;}
.detail-row .ft-more{ height:35px; line-height: 35px; background: #e7e7e7; text-align: center; color: #005061;}
.ft-more a{ width: 100%; height: 100%;}
.ft-more span{ background: url(/mobile/img/wcar/li-more.png) no-repeat right center; background-size: auto 20px; padding: 0 30px 0 0;}
.detail-name{ height: 60px; padding: 20px 0 0 0;}
.detail-name p{box-shadow: 0 1px 1px #43434f inset,0 5px 5px rgba(0,0,0,0.25); height: 35px; line-height: 35px; padding: 0 10px; margin: 5px 0 0 0;background: #303039; color: #fff; font-size: 18px; float: left; width: 100%;}
.detail-name .fr{font-size: 24px;color: #fff600;}
.detail-name .fr small{ font-size: 12px;}
.detail-title p{font-size: 18px; color: #fff; background: url("/mobile/img/wcar/detail-title.png") no-repeat left center; background-size: 20px auto; height: 35px; line-height: 35px;padding: 0 0 0 25px; margin: 5px 0 0 0;}
.detail-btn{ height: auto;}
.detail-btn .btn{ width: 40%; margin: 20px 0 20px 15px;}
.btn-fw .btn{ width: 92%; margin: 20px 0 20px 8%;}
.detail-row .bd.detail-row .bd.detail-owner{ color: #333;}
.detail-row .bd.detail-owner p{ padding: 5px 0; width: 100%; float: left; overflow: hidden;}
.detail-row .bd.detail-owner b{ background: #ffa400; color: #fff; padding: 0 10px; border-radius: 5px; margin: 0 10px 0 0; float: left;}
.detail-row .bd.detail-owner span{color: #888; float: right; width: 75%;}
.detail-row .bd.detail-owner-list{ background: #000; margin: 10px 0; padding: 0;}
.detail-owner-list p{ width: 33.3333%; float: left; color: #fff; border:2px solid #fff; height: 150px; overflow: hidden; padding: 10px;}
.detail-owner-list b,
.detail-row .bd.detail-owner-list b{ color: #fff; font-size: 18px;}
.detail-owner-list small{ color: #888; font-size: 14px;}
.detail-owner-list b,
.detail-owner-list span,
.detail-owner-list small{width:100%; text-align: center; display: inline-block;}
.detail-owner-list img{ max-height:90px; vertical-align: middle; padding: 10px 0;}
/*box-footer*/
.box-footer{ padding:0; height: 46px; line-height: 46px; overflow: hidden; text-align: center; margin:0; width: 100%; position: fixed; left:0; bottom: -2px; border-radius: 0;}
.box-footer a{ width: 25%; background: #2f2f37; display: inline-block; float: left; height: 44px; line-height: 39px; border: 1px solid #000;}
.box-footer img{ max-height: 20px; vertical-align: middle;}
.box-footer a:active,
.box-footer a.active{ box-shadow:0 0 5px #000 inset;}
.box-footer a:first-child{}
.box-footer a:last-child{}
/*car-list*/
.car-list{ overflow: hidden;}
.car-list li{ width: 50%; float: left; text-align: center; padding:10px 0;}
.car-list li a{ width: 80%; border:1px solid #fff; overflow: hidden;}
.car-list li span{ width: 100%;}
.car-list li img{ max-width: 100%; vertical-align: middle;}
.car-list li .car-img{ height: 70px; line-height:70px; overflow: hidden;}
.car-list li .car-name{ text-align: left; padding:5px; line-height: 20px; background: #242424; color: #fff;text-overflow:ellipsis; white-space:nowrap; overflow: hidden;}
/*detail-list*/
.detail-list li{ border-bottom: 1px solid #ddd; padding:5px 0;}
.detail-list li:last-child{border:0;}
.detail-list li a{ width:100%; height: 100%;}
.detail-list li .car-img{}
.car-info{color:#333;}
.detail-list li .fl{ width: 40%;}
.detail-list li .fr{ padding:0 0 0 10px; margin-top: -3px; width:60%;}
.detail-list li img{ max-width: 100%; vertical-align: middle;}
.detail-list li span{ width: 100%;}
/*box-order*/
.box-order dt{ color: #fff;}
.order-row .fr{ width: 65%;}
.order .box-order dt{ color: #333;}
.order .box-order dd{ border:0;}
.box-order .order-row{ border:0;}
.order .btn{
    background-color:#ff7d7e;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(#ff7d7e),to(#fd6566));
    background:-webkit-linear-gradient(top,#fd6566,#ff7d7e);
    background:-moz-linear-gradient(top,#fd6566,#ff7d7e);
    background:-ms-linear-gradient(top,#fd6566,#ff7d7e);
    background:-o-linear-gradient(top,#fd6566,#ff7d7e);
    width:100%;
    margin:10px auto;
    color: #fff;
    font-size: 20px;
}
/*header*/
header{height:42px;
    line-height:42px;
    background-color:#30b8e7;
    background-repeat:repeat-x;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#30b8e7), to(#138bcc));
    background:-webkit-linear- gradient(top, #138bcc, #30b8e7);
    background:-moz-linear-gradient(top, #138bcc, #30b8e7);
    background:-ms-linear-gradient(top, #138bcc, #30b8e7);
    background:-o-linear-gradient(top, #138bcc, #30b8e7);
    color:#fff;
    border:1px solid #21736e;
    border-top:#278f9e;
    border-left:0;
    border-right:0;
    position:fixed;
    left:0;
    top:0;
    z-index:100;}
header a,
header h1{ width:33%; height:44px; line-height:44px; display:block; float:left; text-align:center;text-overflow: ellipsis;white-space:nowrap; overflow: hidden; color:#fff8ec;}
header h1{width:34%; font-size:16px;}
header a{ font-size:16px;}
header a.tleft{ padding:0 0 0 2%;}
header a.tright{ padding:0 2% 0 0;}
header a:active,
header a.active,
header a.ico-edit{background:rgba(0,0,0,0.22);}
header a img{ max-height:20px; vertical-align:top; margin: 12px 0 0 0;}
@media screen and (orientation:landscape) {
    .detail-owner span{width: 85%;}
}
