<div class="row">
	<div class="col-sm-12">
		<form class="form width-800" role="form">
			<div class="modal-body no-padding-left">
				<div class="col-md-4 no-padding-left">
					<div class="temporary-div " style="width: 200px;height: 200px;float: left">会员卡</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label>
							<input name="form-field-checkbox" type="checkbox" class="ace">
							<span class="lbl">是否启用会员卡</span>
						</label>
					</div>

					<div class="form-group">
						<label>会员卡名称<span class="required-star">*</span></label>

						<div class="clearfix">
							<input type="text" class="col-md-8">
						</div>

					</div>
					<div class="form-group">
						<label>上传背景</label>

						<div class="clearfix">
							<button class="btn btn-sm btn-primary">选择背景</button>
						</div>

					</div>
					<div class="form-group">
						<label>会员卡号颜色</label>

						<div class="clearfix">
							<input type="text">
						</div>

					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary btn-sm" value="保存">
						<a href="/vbusiness/shop" class="btn btn-primary btn-sm">返回</a>
					</div>

				</div>
				<div class="clearfix"></div>
			</div>

		</form>
	</div>
</div>
