<% content_for :keywords, "微信第三方APP客户端，微信公众号移动后台" %>
<% content_for :title, "微枚迪--商站" %>
<%= stylesheet_link_tag 'v5/business' %>
<div class="banner">
    <div class="bn"></div>
</div>
<div class="nav">
    <div class="navbar"></div>
</div>
<div class="main">
    <div class="detail"></div>
    <div class="pic"></div>
</div>