<h1>Listing api_wmall_shop_pictures</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_wmall_shop_pictures.each do |api_wmall_shop_picture| %>
  <tr>
    <td><%= link_to 'Show', api_wmall_shop_picture %></td>
    <td><%= link_to 'Edit', edit_api_wmall_shop_picture_path(api_wmall_shop_picture) %></td>
    <td><%= link_to 'Destroy', api_wmall_shop_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shop picture', new_api_wmall_shop_picture_path %>
