<div class="pop">
  <div class="inner">
    <div class="pophd">友情提示</div>
    <div class="popbd" id="alert_message"></div>
    <div class="popft"> <a href="javascript:void(0);" class="btn btn-violet ">确定</a></div>
  </div> 
</div>
<div class="block"></div>
