.mod-top{height: 40px; line-height: 40px; background: #986605; color: #fff; font-size:20px; text-align: center; padding: 0 20px; overflow: hidden;}
.mod-top span{ width: 1005; height: 100%; display: block;overflow: hidden;}
.box{overflow: hidden;display: inline-block; padding: 10px; margin: 0.5%;}
.box,
.box a{color:#fff;}
.index{text-align:center;overflow: hidden; margin:1%;}
.index a{ float: left; position: relative; height: 120px; text-align: center;}
.index .hd,
.index .bd,
.index .ft{overflow: hidden;}
.index .ft{ background: #e5e5e5; padding: 10px 10px 10px 15%; background-position: 0 center; background-size: 15% auto; background-repeat: no-repeat; text-align: left; margin: 1% 0 0 0;}
.index .ft p{ width: 100%; height: 100%; border-left: 1px solid #b7b7b7; padding: 0 20px; line-height: 20px; color: #333;}
.index .ft span{ display: block; padding: 10px 0;}
.index .ft .btn{ border-radius: 5px; background: #ce9831; color: #fff; height:30px; line-height: 30px; padding: 0 10px; font-weight:bold; width: 100%;}
.index .ft .fa:before{ margin: 0 5px 0 0;}

.index .hd{ height: 100px; margin: 0 auto;}
.index .hd .mod-index{ width: 49.5%; margin: 0 0 1% 1%; background: #b0b0b0; height: 48%;}
.index .hd .mod-index:first-child{width: 49.8%;}
.index .hd .mod-index:last-child{ margin-bottom: 0;}

.index .hd .mod-index .fa,
.index .hd .mod-index small{height: 30px; overflow: hidden; line-height: 30px; text-align: left; display: inline-block;}
.index .hd .mod-index .fa{ font-size: 20px;}
.index .hd .mod-index small{font-size: 14px; padding:0 10px; width: 70%;}
.index .hd .mod-index:first-child{background: #ce9831; height: 100%; margin: 0;}
.index .hd .mod-index:first-child .fa{font-size: 50px; height:50px; line-height: 50px; margin: 0;}
.index .hd .mod-index:first-child small{ display: block; width: 100%;}

.index .hd .mod-index:first-child .fa{ font-size: 50px;}
.index .bd{margin: 0 0 0.5% 0;}
.index .bd .mod-index{ margin:1% 1% 0 1%; float: left;}
.index .bd .mod-index:nth-child(12n+1),
.index .bd .mod-index:nth-child(12n+8){background: #b0b0b0; height: 100px; color: #452a0d;width:33.5%; text-align: justify;}
.index .bd .mod-index:nth-child(12n+2),
.index .bd .mod-index:nth-child(12n+7){height: 100px; background:#ce9831; position: relative;width:65.8%; padding: 0;}
.index .bd .mod-index:nth-child(12n+3),
.index .bd .mod-index:nth-child(12n+4),
.index .bd .mod-index:nth-child(12n+5),
.index .bd .mod-index:nth-child(12n+6),
.index .bd .mod-index:nth-child(12n+9),
.index .bd .mod-index:nth-child(12n+10),
.index .bd .mod-index:nth-child(12n+11),
.index .bd .mod-index:nth-child(12n+12){background: #ce9831; color: #fff; height: 80px; width: 24.5%;}
.index .bd .mod-index:nth-child(12n+1),
.index .bd .mod-index:nth-child(12n+3),
.index .bd .mod-index:nth-child(12n+7),
.index .bd .mod-index:nth-child(12n+9){ margin-left: 0;}
.index .bd .mod-index:nth-child(12n+1),
.index .bd .mod-index:nth-child(12n+2),
.index .bd .mod-index:nth-child(12n+3),
.index .bd .mod-index:nth-child(12n+4),
.index .bd .mod-index:nth-child(12n+5),
.index .bd .mod-index:nth-child(12n+6),
.index .bd .mod-index:nth-child(12n+7),
.index .bd .mod-index:nth-child(12n+8),
.index .bd .mod-index:nth-child(12n+9),
.index .bd .mod-index:nth-child(12n+10),
.index .bd .mod-index:nth-child(12n+11),
.index .bd .mod-index:nth-child(12n+12){margin-right: 0;}
.index .bd .mod-index:nth-child(12n+3),
.index .bd .mod-index:nth-child(12n+12){width: 24.8%;}
.index .bd .mod-index >*{ }
.index .bd .mod-index:nth-child(12n+1) .fa,
.index .bd .mod-index:nth-child(12n+8) .fa{ font-size: 20px; height: auto; line-height: 20px; margin-right: 5px;}
.index .bd .mod-index:nth-child(12n+1) small,
.index .bd .mod-index:nth-child(12n+8) small{ line-height: 20px; height: 80px; overflow: hidden; display: inline-block; float: left;}
.index .bd .mod-index:nth-child(12n+2) .fa,
.index .bd .mod-index:nth-child(12n+7) .fa{ height: 70px; line-height: 70px; font-size: 50px; color: #fff;}
.index .bd .mod-index:nth-child(12n+2) small,
.index .bd .mod-index:nth-child(12n+7) small{position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,0.8); height: 30px; line-height: 30px;text-overflow:ellipsis; white-space:nowrap; padding: 0 10px; width: 100%;}
.index .bd .mod-index:nth-child(12n+3) >*,
.index .bd .mod-index:nth-child(12n+4) >*,
.index .bd .mod-index:nth-child(12n+5) >*,
.index .bd .mod-index:nth-child(12n+6) >*,
.index .bd .mod-index:nth-child(12n+9) >*,
.index .bd .mod-index:nth-child(12n+10) >*,
.index .bd .mod-index:nth-child(12n+11) >*,
.index .bd .mod-index:nth-child(12n+12) >*{ height: 30px; display: block; line-height: 30px;}
.index .bd .mod-index:nth-child(12n+3) .fa,
.index .bd .mod-index:nth-child(12n+4) .fa,
.index .bd .mod-index:nth-child(12n+5) .fa,
.index .bd .mod-index:nth-child(12n+6) .fa,
.index .bd .mod-index:nth-child(12n+9) .fa,
.index .bd .mod-index:nth-child(12n+10) .fa,
.index .bd .mod-index:nth-child(12n+11) .fa,
.index .bd .mod-index:nth-child(12n+12) .fa{font-size: 30px;}
.mod-index small{overflow: hidden;word-spacing:normal; word-break:normal; word-break:break-all; font-size: 14px;}

.mod-index img{ width: 100%; min-height: 100%; vertical-align: top;}
.btn-up-1{ background: #999;}
.btn-up-1 .fa{ background: #fff; color: #999;}
.navPop-1 .navPop-btn{ background: #999;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #999;}
.navPop-wrap>div a{
    background: #999;
    color: #fff;
}
@media screen and (orientation:landscape) {
    .index .bd .mod-index:nth-child(12n+3),
    .index .bd .mod-index:nth-child(12n+4),
    .index .bd .mod-index:nth-child(12n+5),
    .index .bd .mod-index:nth-child(12n+6),
    .index .bd .mod-index:nth-child(12n+9),
    .index .bd .mod-index:nth-child(12n+10),
    .index .bd .mod-index:nth-child(12n+11),
    .index .bd .mod-index:nth-child(12n+12){width: 24.5%;}
}
@media only screen and (max-width:320px){
    .index .hd .mod-index{ width: 49.5%; margin: 0 0 1% 1%; height: 48%;}
    .index .hd .mod-index:first-child{width: 49.5%;}
    .index .bd .mod-index:nth-child(12n+2),
    .index .bd .mod-index:nth-child(12n+7){width:65.5%;}
    .index .bd .mod-index:nth-child(12n+3),
    .index .bd .mod-index:nth-child(12n+4),
    .index .bd .mod-index:nth-child(12n+5),
    .index .bd .mod-index:nth-child(12n+6),
    .index .bd .mod-index:nth-child(12n+9),
    .index .bd .mod-index:nth-child(12n+10),
    .index .bd .mod-index:nth-child(12n+11),
    .index .bd .mod-index:nth-child(12n+12){width: 24.25%;}
}
@media only screen and (min-width:1224px){
    .index .hd .mod-index{ width: 49.5%; margin: 0 0 1% 1%; height: 48%;}
    .index .hd .mod-index:first-child{width: 49.5%;}
    .index .bd .mod-index:nth-child(12n+2),
    .index .bd .mod-index:nth-child(12n+7){width:65.5%;}
    .index .bd .mod-index:nth-child(12n+3),
    .index .bd .mod-index:nth-child(12n+4),
    .index .bd .mod-index:nth-child(12n+5),
    .index .bd .mod-index:nth-child(12n+6),
    .index .bd .mod-index:nth-child(12n+9),
    .index .bd .mod-index:nth-child(12n+10),
    .index .bd .mod-index:nth-child(12n+11),
    .index .bd .mod-index:nth-child(12n+12){width: 24.25%;}
}
@media only screen and (max-width:1080px){
    .index .hd .mod-index{ width: 49.5%; margin: 0 0 1% 1%; height: 48%;}
    .index .hd .mod-index:first-child{width: 49.5%;}
    .index .bd .mod-index:nth-child(12n+2),
    .index .bd .mod-index:nth-child(12n+7){width:65.5%;}
    .index .bd .mod-index:nth-child(12n+3),
    .index .bd .mod-index:nth-child(12n+4),
    .index .bd .mod-index:nth-child(12n+5),
    .index .bd .mod-index:nth-child(12n+6),
    .index .bd .mod-index:nth-child(12n+9),
    .index .bd .mod-index:nth-child(12n+10),
    .index .bd .mod-index:nth-child(12n+11),
    .index .bd .mod-index:nth-child(12n+12){width: 24.25%;}
}