body{background: #d2d1cd;}
.index-goods{width:100%;margin-top:10px;background:#fff;}
.goods-img{width:20%;height:100%;float:left;}
.goods-info{width:70%;height:100%;padding:0 5px;float:left;font-size:1.2em;line-height:1.8;overflow:hidden;}
.table{display:table;width:100%;height:100%;}
.td{display:table-cell;vertical-align:middle;text-align:left;}
.goods-info >*{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.g-type{font-weight:bold;color:#d12d48;}
.g-title{color:#525252;}
.goods-link{width:10%;height:100%;float:left;text-align:center;}
.goods-link i{display:block;font-size:2.5em;color:#ccc;margin-top:-25%;}
.box{padding: 10px;height:100%; overflow: hidden; display: block;}
.index{margin-top:10px;}
.index:after{display:table;content:"";clear:both;}
.mod-index{width: 25%; display:block; background: #fff; color: #666; float:left;border-left:1px solid #dfdfe1;border-bottom:1px solid #dfdfe1;}
.mod-index > *{vertical-align: middle; display: table-cell; width: 100%; text-align: center; overflow: hidden;}
.mod-index small{ font-size: 14px;margin:5px 0; line-height: 20px; display: block; height: 20px;}
.mod-index i{display:block;height: 50px; width: 50px;margin:0 auto; border-radius:100%; overflow: hidden;text-align: center; line-height:50px;background:#4b6179;}
.mod-index img{width: 100%; height: 100%; border-radius: 100%; float: left;}
.mod-index .fa{ font-size: 40px;color:#fff;}
/*rank*/
.rank{width:100%;margin-top:10px;}
.rank:after{display:table;content:"";clear:both;}
.rank .box{padding:0;}
.rank .box img{width:100%;min-height:100%;}
.rank-l{width:50%;height:100%;padding-right:5px;float:left;text-align:center;overflow:hidden;}
.rank-r{width:50%;height:100%;padding-left:5px;float:left;overflow:hidden;}
.ranking{margin:0;padding:0;list-style:none;}
.ranking li{background:#fff;border:1px solid #e5e5e5;padding:10px;}
.ranking li:nth-child(2){margin-top:10px;}
.img{width:45%;height:100%;padding-right:5px;float:left;}
.rank-goods{width:55%;height:100%;padding-left:5px;float:left;line-height:1.8;}
.rank-goods span{display:block;color:#373737;white-space:nowrap;overflow:hidden;}
.rank-goods b{color:#e0385c;overflow:hidden;white-space:nowrap;}
/*rank-list*/
.rank-list{height:100%;}
.rank-list li{width:50%;height:50%;float:left;}
.rank-list li:nth-child(1){padding:0 5px 5px 0;}
.rank-list li:nth-child(2){padding:0 0 5px 5px;}
.rank-list li:nth-child(3){padding:5px 5px 0 0;}
.rank-list li:nth-child(4){padding:5px 0 0 5px;}
.rank-list li .box{display:block;text-align:center;line-height:20px;color:#373737;padding-bottom:20px;background:#fff;border:1px solid #e5e5e5;}
/**/
.goods-img i,.rank-l i,.img i,.rank-list i{display:block;width:100%;height:100%;text-align:center;color:#4b6179; overflow: hidden;}
.goods-img img,.rank-l img,.img img,.rank-list img{display:block;width:100%;min-height:100%;}

.mod-btn .fa{ margin:0 5px 0 0;}
.btn-up-1{ background: #e8645a;}
.btn-up-1 .fa{ background: #fff; color: #e8645a;}
.navPop-1 .navPop-btn{ background: #e8645a;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #e8645a;}
.navPop-wrap>div a{
    background: #e8645a;
    color: #fff;
}
@media screen and (max-width:320px) {
	body{font-size:12px;}
	.index-goods{height:120px;}
	.goods-img i{font-size:40px;line-height:100px;}
	.goods-link{padding:50px 0;}
	.rank{height:180px;}
	.rank-l i{font-size:60px;line-height:180px;}
	.ranking li{height:85px;}
	.img i,.rank-list i{font-size:30px;line-height:63px;}
}
@media screen and (min-width:320px) and (max-width:480px) {
	body{font-size:12px;}
	.index-goods{height:150px;}
	.goods-img i{font-size:50px;line-height:130px;}
	.goods-link{padding:65px 0;}
	.rank{height:180px;}
	.rank-l i{font-size:60px;line-height:180px;}
	.ranking li{height:85px;}
	.img i,.rank-list i{font-size:30px;line-height:63px;}
}
@media screen and (min-width:480px) and (max-width:640px) {
	body{font-size:14px;}
	.index-goods{height:180px;}
	.goods-img i{font-size:60px;line-height:160px;}
	.goods-link{padding:80px 0;}
	.rank{height:250px;}
	.rank-l i{font-size:80px;line-height:250px;}
	.ranking li{height:120px;}
	.img i,.rank-list i{font-size:40px;line-height:98px;}
}
@media screen and (min-width:640px) {
	body{font-size:14px;}
	.index-goods{height:180px;}
	.goods-img i{font-size:60px;line-height:160px;}
	.goods-link{padding:80px 0;}
	.rank{height:250px;}
	.rank-l i{font-size:80px;line-height:250px;}
	.ranking li{height:120px;}
	.img i,.rank-list i{font-size:40px;line-height:98px;}
}
@media only screen and (max-width:1080px){
}
@media only screen and (min-width:1224px){
}
@media only screen and (max-width:320px){
}