body{background: #fff;}
.box{overflow: hidden;display: block;}
.box,
.box a{color:#fff; color: #666;}
.index{ border-bottom: 1px solid #ececec; overflow: hidden; padding: 0 0 5px 0;}
.index .mod-index:nth-child(2n){ margin-left: 0;}
.mod-index{width: 47.2%; display: inline-block;text-align: center; height: 100px; float:left;margin: 10px 2% 0 2%;}
a.mod-index i{height: 100px; width: 100%; line-height: 100px; font-size: 60px; display: block;}
a.mod-index img{ max-height: 100%; margin-top: -5px;}
div.mod-index{text-align: center;}
div.mod-index,
div.mod-index .hd,
div.mod-index .bd{overflow: hidden;}
div.mod-index .bd .box{ width: 48.7%; border:1px solid #ececec; background: #fff; height: 30px; line-height: 30px;float: left; margin: 5px 3% 0 0;}
div.mod-index .hd .box{ background: #ff7171; height: 30px; line-height: 30px; color: #fff; width: 100%; margin: 0;}
div.mod-index .hd .fa{ margin-left: 5px;}
div.mod-index .bd .box:nth-child(2n){ margin-right: 0;}
div.mod-index .bd .box:active,
div.mod-index .bd .box.active{background: #eee;}

.btn-up-1{ background: #999;}
.btn-up-1 .fa{ background: #fff; color: #999;}
.navPop-1 .navPop-btn{ background: #999;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #999;}
.navPop-wrap>div a{
    background: #999;
    color: #fff;
}
@media screen and (orientation:landscape) {
    div.mod-index .bd .box{ width: 48.5%;}
}
@media only screen and (max-width:1080px){
    .mod-index{width:47%;}
    .mod-search{ width: 96%;}
}
@media only screen and (min-width:1224px){
   .mod-index{width:47%;}
   .mod-search{ width: 96%;}
}
@media only screen and (max-width:320px){
   .mod-index{width:46.95%;} 
}
