/*.stage,.body,#sec-index{display:block;height:100%;position:static;}*/
.html{ background-image: url(../../../img/vweisiteV01/52/bg.jpg);background-position:center top;background-size: 100% auto; background-repeat: no-repeat;overflow:auto;}
.box{display:block;width:100%;height:100%;color:#fff;}
.box:active{opacity:1;}
.box:active small{color:#f00;}
.box:after{display:table;content:"";clear:both;}
.index{width: 260px;height:100%;padding-left:10px;overflow:hidden;position:absolute;right:0;}
.index ul{padding-bottom:50px;list-style:none;}
.index li{margin-top:15px;line-height:70px;}
.mod-index{position:relative;}
.mod-index:before{display:block;position:absolute;width:6px;height:6px;content:"";background:#fff;border-radius:50%;right:108px;top:32px;}
.mod-index small{ display: block;width:90px; height: 56px;font-size: 14px;float:left;word-spacing:normal;overflow:hidden;}
.mod-index i{display: block;width:125px;height:70px;float:left;line-height:60px;padding:5px;text-align:center;border-radius:5px;background:rgba(242,241,240,.75);position:relative;box-shadow:0px 0px 5px 5px rgba(0,0,0,0.35);}
.mod-index i:after{display:block;width:0;height:0;content:"";overflow:hidden;border-left:8px solid rgba(242,241,240,0.75);border-top:8px solid transparent;border-bottom:8px solid transparent;position:absolute;right:-8px;top:27px;}
.mod-index img{width:100%;height:100%;}
.mod-index small{margin-left:30px;}
.mod-index .fa{ font-size: 40px;}

.line{width:0px;height:100%;overflow:hidden;border-right:2px dotted #fff;position:absolute;top:0;right:110px;}
.btn-up-1{display: none;}
.navPop-1 .navPop-btn{ background: #999;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #999;}
.navPop-wrap>div a{
    background: #999;
    color: #fff;
}