body{background: #f4f4f4;}
.box{overflow: hidden; display: block;}
.index{ width: 100%; background:#fff; overflow: hidden;}
.index a{ padding:9px 10px 9px 0; border-bottom:1px solid #dadada;background:#f9f9f9;}
.index a:hover{background:#eee;}
.mod-index{width: 100%; float: left; display:block; color: #666; text-align: left;}
.index-img{width:75px;height:55px;display:table-cell;vertical-align:top;}
.index-img .fa{ width: 75px; height: 55px; line-height: 55px; display: block;color:#bd2124;font-size:30px; overflow: hidden;text-align: center;}
.index-text{width:100%;display:table-cell;vertical-align:middle;padding:0 10px;}
.index-text b{display:block;height:20px; font-weight: 100;font-weight: 100;color:#2f2f2f;line-height:20px;overflow:hidden;}
.index-text small{display:block; font-size: 12px;height:32px;line-height:16px; color: #9c9c9c;overflow:hidden;}
.mod-index img{ max-height: 55px;max-width:75px;}
.mod-index>.fa{width:20px;height:20px;display:table-cell;vertical-align:middle;font-size: 20px; color:#c8c8c8;}
.btn-up-1{ background: #999;}
.btn-up-1 .fa{ background: #fff; color: #999;}
.navPop-1 .navPop-btn{ background: #999;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #999;}
.navPop-wrap>div a{
    background: #999;
    color: #fff;
}