body{background:#eaebeb;}
.box{overflow: hidden; display: block; text-align: center;}
.box,
.box a{color:#333;}
.navLine-img{margin-top:10px;list-style:none;width:100%;text-align:center;}
.navLine-img:after{display:table;content:"";clear:both;}
.navLine-img li{width:25%;margin:5px 0;float:left;}
.navLine-img a{width:100%;height:70px;overflow:hidden;}
.mod-index-img i{display:block;width:50px;height:50px;margin:0 auto;}
.mod-index-img img{width:50px;height:50px;border-radius:5px;}
.mod-index-img small{font-size:14px;line-height:20px;}
.mod-index-img .fa{border-radius:5px;font-size:40px;line-height:50px;color:#fff;background:#5087cf;}

.index-title{ height:30px; line-height: 30px; border-bottom:1px solid #c5c7cb; color: #000; margin: 10px 0 0 0;background:#f4f4f4;background-image:linear-gradient(#f4f4f4, #e1e3e4);}
.index-title i,
.index-title b{display: inline-block; float: left; font-weight: 100;}
.index-title i{ border-radius: 5px; width: 20px;  background: #5087cf;  text-align: center; color: #fff;  overflow: hidden; height: 20px;line-height: 20px;margin: 5px 5px 0 0;}
.index-title img{ vertical-align: top;width:20px;height:20px;}

.ul-text{width:100%;background:#f9f8f8;}
.ul-text:after{display:table;content:"";clear:both;}
.ul-text li{width:25%;float:left;border-right:1px solid #dfe0e1;border-bottom:1px solid #dfe0e1;}
.mod-index{width:100%;overflow: hidden;}
.mod-index{ height:38px;line-height:38px;}
.ul-text .mod-index i{ height: 30px; line-height: 30px; padding: 0 5px;}

.mod-btn .fa{margin:0 5px 0 0;}
.btn-up-1{ background: #999;}
.btn-up-1 .fa{ background: #fff; color: #999;}
.navPop-1 .navPop-btn{ background: #999;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #999;}
.navPop-wrap>div a{
    background: #999;
    color: #fff;
}
@media screen and (orientation:landscape) {
    .mod-index .fa,
    .mod-index .index-img{ height: 80px; line-height: 80px;}
    .mod-index .index-img{ line-height: 70px;}
}
@media only screen and (max-width:1080px){

}
@media only screen and (min-width:1224px){

}
@media only screen and (max-width:320px){

}