<h2 style="text-align: center">要使用WiFI模块，请验证您的手机号：</h2>
<form>
    <div class="box-form form-col">
        <div class="p">
            <span>手机号：</span>
            <input type="text" class="input-text"/> <i>不能超过30个字</i>
        </div>
        <div class="p">
            <span>验证码：</span>
            <input type="text" class="input-text"/> <i>不能超过500个字</i>
        </div>
        <p class="tcenter">
            <input type="submit" class="btn btn-big btn-orange" value="保存"/>
            <input type="reset" class="btn btn-big" value="取消"/>
        </p>
    </div>
</form>