<div class="row">
	<div class="col-sm-12">
		<div class="alert alert-block alert-info">
			<strong class="pull-left">提示：</strong>
			<ul class="vwebsiteHeadAlert">
				<li> 1、你可以创建当前商铺独立的登录账号;</li>
				<li> 2、商铺后台登录地址:http://shangpu.winwemedia.com.</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-12">
		<form class="form width-800">
			<div class="form-group">
				<label>
					<input name="form-field-checkbox" type="checkbox" class="ace">
					<span class="lbl" data-toggle="enable-input" data-target="[#input-1,#input-2]">开启权限</span>
				</label>
			</div>
			<div class="form-group">
				<label>
					商铺编号
				</label>

				<div class="clearfix">
					<input type="text" id="input-1" class="col-md-8">
				</div>
			</div>
			<div class="form-group">
				<label>
					商铺密码
				</label>

				<div class="clearfix">
					<input type="password" id="input-2" class="col-md-8">
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-sm">保存</button>
				<a href="/vbusiness/shop" class="btn btn-primary btn-sm">返回</a>
			</div>
		</form>
	</div>
</div>
