<div class="row">
	<div class="col-sm-12">
		<form class="form width-800" role="form">
			<div class="form-group">
				<label>优惠名称<span class="required-star">*</span></label>

				<div class="clearfix">
					<input type="text" class="col-md-8">
				</div>
			</div>
			<div class="form-group">
				<label>时间设置<span class="required-star">*</span></label>

				<div class="clearfix">
					<div class="input-group input-group col-md-8 no-padding-left no-padding-right">
						<span class="input-group-addon">
							<i class="icon-calendar bigger-110"></i>
						</span>
						<input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>选择角标</label>

				<div class="clearfix">
					<div class="col-md-8 no-padding-left radio-group">
						<label>
							<input name="form-field-radio" type="radio" class="ace">
							<span class="lbl">1折优惠</span>

							<span class="badge badge-danger">1折</span>

						</label>
						<label>
							<input name="form-field-radio" type="radio" class="ace">
							<span class="lbl">2折优惠</span>
							<span class="badge badge-danger">2折</span>
						</label>
						<label>
							<input name="form-field-radio" type="radio" class="ace">
							<span class="lbl">3折优惠</span>
							<span class="badge badge-danger">3折</span>
						</label>
						<label>
							<input name="form-field-radio" type="radio" class="ace">
							<span class="lbl">1折优惠</span>

							<span class="badge badge-danger">1折</span>

						</label>
						<label>
							<input name="form-field-radio" type="radio" class="ace">
							<span class="lbl">2折优惠</span>
							<span class="badge badge-danger">2折</span>
						</label>
						<label>
							<input name="form-field-radio" type="radio" class="ace">
							<span class="lbl">3折优惠</span>
							<span class="badge badge-danger">3折</span>
						</label>
						<label>
							<input name="form-field-radio" type="radio" class="ace">
							<span class="lbl">1折优惠</span>

							<span class="badge badge-danger">1折</span>

						</label>
						<label>
							<input name="form-field-radio" type="radio" class="ace">
							<span class="lbl">2折优惠</span>
							<span class="badge badge-danger">2折</span>
						</label>
						<label>
							<input name="form-field-radio" type="radio" class="ace">
							<span class="lbl">3折优惠</span>
							<span class="badge badge-danger">3折</span>
						</label>
						<label>
							<input name="form-field-radio" type="radio" class="ace">
							<span class="lbl">1折优惠</span>

							<span class="badge badge-danger">1折</span>

						</label>
						<label>
							<input name="form-field-radio" type="radio" class="ace">
							<span class="lbl">2折优惠</span>
							<span class="badge badge-danger">2折</span>
						</label>
						<label>
							<input name="form-field-radio" type="radio" class="ace">
							<span class="lbl">3折优惠</span>
							<span class="badge badge-danger">3折</span>
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>优惠详情<span class="required-star">*</span></label>

				<div class="clearfix">
					<textarea class="col-md-8" rows="5"></textarea>
				</div>
			</div>
			<div class="form-group">

				<input type="submit" class="btn btn-primary btn-sm" value="保存">
				<a href="/vbusiness/shop" class="btn btn-primary btn-sm">返回</a>
			</div>


		</form>
	</div>
</div>
