<% content_for :header do %>
    <header></header>
<% end %>
<div class="list" id="list">
  <ul class="list-wrap">
    <% count = @bulletins.count %>
    <% @bulletins.each_with_index do |child, index| %>
        <li>
          <%= link_to bulletin_mobile_wx_plot_url(supplier_id: @supplier.id, id: child.id, anchor: 'mp.weixin.qq.com') do %>
              <% if count % 2 == 1 && index == 0 %>
                  <img src="/assets/mobile/vweisiteV01/42/img-null.png"/>
              <% elsif child.pic.present? %>
                  <%= image_tag child.pic %>
              <% else %>
                  <i class="<%= child.font_icon %>"></i>
              <% end %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>

<%= render "mobile/websites/iscroll", {:selector => "#list"} %>