<% if @hospital_department.save %>
  $("#department_lable").append('<div class="badge active"><button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button><span><%= @hospital_department.name %></span></div>');                               
<% end %>