.cases body{background-color: #fcfcfc;}
.cases{height: 741px;background: #fff;position: relative;}
.case-main{height: 740px; position: relative;}
.mod-nav{width:160px;height: 100%;background:#f9f9f9;color: #fff;position: absolute; left: 0px; top: 0px; position: relative;}
.mod-nav-h3{font-size: 16px;height: 54px;line-height: 54px;background: #eeeeee;padding-left: 18px;display: block; color: #017d9d;}
.mod-nav ul{height: 100%; position: relative; z-index: 100;}
.mod-nav li{height: 35px;line-height:35px;padding-left: 18px;font-size: 14px;}
.mod-nav i{width: 14px;text-align: center;margin-right: 18px;}
.mod-nav li > a{color:#777777;text-decoration:none;display: block; -webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
transition-duration: 0.4s;}
.mod-nav li > a:hover{color: #fff;}
.mod-nav .nav-cur a{color: #fff;}
.mod-nav-hover{position: absolute; width: 156px; height: 35px; right: 0px; top: 54px; background-color: #00a0e9; -webkit-border-top-left-radius: 4px;
-moz-border-top-left-radius: 4px;
-o-border-top-left-radius: 4px;
border-top-left-radius: 4px; -webkit-border-bottom-left-radius: 4px;
-moz-border-bottom-left-radius: 4px;
-o-border-bottom-left-radius: 4px;
border-bottom-left-radius: 4px;}
.case-main-group{width: 800px;height:100%;background: #fff;position: absolute; right: 0px; top: 0px;}
.case-hd-group{height: 133px;width: 773px;float: left;overflow: hidden;padding-left: 27px;background: #fcfcfc; position: relative;}
.case-hd-group li{width: 102px;height: 109px;float: left;margin-right: 6px;padding-top: 24px;cursor: pointer;}
.case-hd-line{position: absolute; left: 27px; bottom: 0px; height: 2px; width: 102px; background-color: #3a8fb6;}
.com-logo{width: 65px;height: 56px;background: #fff;border-radius: 5px;margin: 0 auto;text-align: center;padding-top: 9px; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray;}
.com-logo img{width: 47px;height: 47px;}
.com-name{text-align: center;margin-top: 12px;font-size: 14px;line-height: 15px;}
.case-bd-group{height: 608px;width: 800px;overflow: hidden; position: relative;}
.case-bd-group li{display: none;}
.cases .main-img{width: 285px; height: 548px; float: left;margin-top: 25px;margin-left: 27px; position: relative; background: url(/assets/v5/cases/case_list_bg.png) 0 0 no-repeat;}
.cases .main-img img{width: 255px; height: 454px; position: absolute; left: 15px; top: 38px;}
.case-qrcode{width: 166px;height:260px;position: absolute;top: 125px;right:11px;background: url(/assets/v5/cases/case_qrcode_bg.png) 0 0 no-repeat;}
.case-qrcode-img{position: absolute; left: 29px; top: 11px;}

.case-hd-group li:hover, .case-hd-group .main-cur{color: #3a8fb6; height: 107px;}
.case-hd-group li:hover .com-logo, .case-hd-group .main-cur .com-logo{-webkit-filter:none; -moz-filter:none; -ms-filter:none; -o-filter:none; filter:none; color: #fff;}
/*.grayscale{-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; }*/