@charset "utf-8";

.index body{background-color: #f9f9f9;}

/*index_tools*/
.i-center{width: 960px; margin: 0px auto;}
.i-division{height: 18px; background-color: #fafafa; position: relative; margin-top: 40px;}
.i-division-line{width: 100%; height: 1px; background-color: #ebebeb; position: absolute; left: 0px; top: 9px;}
.i-division-circle{width: 18px; height: 18px; background: url(/assets/v5/index2/index2_icon.png) -40px -40px no-repeat; position: absolute; left: 50%; margin-left: -9px;}
.i-header{text-align: center;}
.i-header-line{margin: 0px auto; width: 50px; height: 3px; margin-top: 10px; background-color: #e0e0e0;}
.i-h2{height: 32px; line-height: 32px; font-size: 24px; color: #cccccc;}
.i-h3{height: 32px; line-height: 32px; font-size: 28px; color: #3396d1;}
.i-h4{height: 32px; line-height: 32px; font-size: 14px;}
.i-circle{-webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;}
.i-transition{-webkit-transition: all 0.4s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; transition: all 0.5s ease-out;}

/*index_banner*/
.i-ban{height: 530px; overflow: hidden; position: relative;}
.i-ban-wrapp{width: 1920px; position: relative; left: 50%; margin-left: -960px;}
.i-ban-scroll{width: 1920px; height: 530px; position: relative;}
.i-ban-item{display: none; width: 1920px; height: 530px; position: absolute; left: 0px; top: 0px;}
.i-ban .item1 > div{position: absolute; left: 50%;}
.i-ban .item1 img{display: block;}
.i-ban .ele1{margin-left: -265px; top: 92px;}
.i-ban .ele2{margin-left: -53px; top: 202px; cursor: pointer;}
.i-btns{height: 7px; position: absolute; margin-right: 50%; right: -468px; bottom: 30px;}
.i-btns-item{width: 50px; height: 7px; background-color: #98908e; float: left; margin-left: 7px; cursor: pointer;}
.i-btns-item.active{background-color: #3396d1;}

/*index_notice*/
.i-notice{width: 100%; height: 70px; position: absolute; left: 0px; bottom: 0px;}
.i-notice-bg{width: 100%; height: 100%; position: absolute; left: 0px; left: 0px; background-color: #000; opacity: 0.35; filter:alpha(opacity=35);}
.i-notice-wrapp{height: 40px; line-height: 40px; margin-top: 15px; position: relative; overflow: hidden;}
.i-notice-icon{width: 40px; height: 40px; font-size: 26px; color: #fff; position: absolute; top: 0px; left: 10px; text-align: center; line-height: 40px;}
.i-notice-scroll{padding-left: 58px; position: relative;}
.i-notice-item{height: 40px; line-height: 40px; color: #fff;}
.i-notice-link{color: #fff;}

/*index_cooperation*/
.i-coop{height: 87px; background-color: #fff; overflow: hidden;}
.i-coop-center{height: 87px; position: relative;}
.i-coop-list{width: 901px; border-right: 1px #cccccc solid;}
.i-coop-list-wrapp{position: relative;}
.i-coop-item{width: 223px; height: 87px; float: left; margin-right: 1px;}
.i-coop-link{opacity: 0.5; display: block; cursor: default;}
.i-coop-link:hover{opacity: 1;}
.i-coop-arrow{width: 40px; height: 40px; position: absolute; right: 0px; background: #cccccc url(/assets/v5/index2/index2_icon.png) 0px -40px no-repeat;}
.i-coop-arrow:hover{background-color: #3396d1;}
.i-coop-arrow-t{top: 2px;}
.i-coop-arrow-b{bottom: 2px; background-position: 0px 0px;}

/*index_platform*/
.i-platform{margin-top: 50px;}
.i-platform-list{overflow: hidden; margin-top: 50px; border: 1px #eeeeee solid;}
.i-platform-warpp{width: 980px;}
.i-platform-item{width: 199px; padding: 22px 20px 36px; float: left; border-right: 1px #eeeeee solid; text-align: center;}
.i-platform-img{display: block; margin: 0px auto; padding-bottom: 8px;}
.i-platform-tit{height: 30px; line-height: 30px; font-size: 16px; font-weight: bold;}
.i-platform-dsp{font-size: 13px; line-height: 24px; height: 48px; color: #999999;}
.i-platform-more{display: block; width: 126px; height: 18px; line-height: 18px; text-align: center; margin: 26px auto 0px; color: #666666; font-size: 12px; border: 1px #cccccc solid;}
.i-platform-more:hover{border-color: #3396d1;}
.i-platform-item:hover{background-color: #ffffff;}
.i-platform-item:hover .i-platform-tit{color: #3396d1;}
.i-platform-item:hover .i-platform-more{color: #3396d1; border-color: #3396d1;}

/*index_experience*/
.i-exp{border-bottom: 1px #eeeeee solid; position: relative;}
.i-exp-center{position: relative;}
.i-exp-list{height: 199px; overflow: hidden; position: relative; margin-top: 26px;}
.i-exp-list-warpp{position: relative;}
.i-exp-item{display: none; width: 700px; height: 199px; padding: 0px 130px; overflow: hidden; position: absolute; left: 0px; top: 0px;}
.i-exp-img{width: 254px; height: 199px; float: left; margin-right: 30px;}
.i-exp-tit{height: 30px; line-height: 30px; font-size: 16px; color: #3396d1; font-weight: bold; padding-top: 12px;}
.i-exp-dsp{line-height: 1.6em; color: #999999; height: 48px; margin-top: 4px;}
.i-exp-more{display: block; margin-left: 284px; width: 126px; height: 18px; line-height: 18px; text-align: center; color: #666666; font-size: 12px; border: 1px #cccccc solid;}
.i-exp-more:hover{border-color: #3396d1;}
.i-exp-arrow{width: 21px; height: 40px; position: absolute; top: 100px; background: url(/assets/v5/index2/index2_icon.png) -40px 0px no-repeat; cursor: pointer;  -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -khtml-user-select: none; user-select: none;}
.i-exp-arrow-l{left: 0px;}
.i-exp-arrow-l:hover{background-position: -80px 0px;}
.i-exp-arrow-r{right: 0px; background-position: -120px 0px;}
.i-exp-arrow-r:hover{background-position: -160px 0px;}
.i-exp-arrow.active{background-color: #3396d1;}
.i-exp-btns{position: absolute; margin-left: 620px; bottom: 22px;}
.i-exp-btns-wrapp{position: absolute;}
.i-exp-btn{width: 6px; height: 6px; float: left; cursor: pointer;}
.i-exp-btns-dot{width: 6px; height: 6px; float: left; margin: 0px 5px; background-color: #fff; border: 2px #cccccc solid;}
.i-exp-btns-dot:hover, .i-exp-btns-dot.hover{color: #3396d1; background-color: #3396d1; border-color: #3396d1; cursor: pointer;}
.i-exp-btns-txt{height: 30px; line-height: 30px; text-align: center;}
.i-exp-line{position: absolute; width: 100%; left: 0px; top: 5px; height: 1px; background-color: #eeeeee;}

/*index_o2o*/
.i-o2o{padding-top: 70px; padding-bottom: 42px; border-bottom: 1px #eeeeee solid; background-color: #fbfbfb;}
.i-o2o-body{height: 390px; margin-top: 40px; background: url(/assets/v5/index2/index2_o2o_bg.png) center 0px no-repeat; position: relative;}
.i-o2o-item{width: 376px; height: 260px; cursor: pointer; position: absolute;}
.i-o2o-item1{top: 64px; left: 130px;}
.i-o2o-item2{top: 94px; right: 130px;}
.i-o2o-item-up{width: 376px; height: 233px; position: absolute; left: 0px; top: 0px;}
.i-o2o-item-bg{position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.14)}
.i-o2o-item-img{width: 368px; height: 225px; position: absolute; left: 4px; top: 4px;}
.i-o2o-item-txt{height: 24px; font-size: 12px; text-align: center; position: absolute; width: 100%; bottom: 0px; left: 0px;}
.i-o2o-item-mask{background-color: #000; opacity: 0.5; filter: alpha(opacity=50); width: 368px; height: 225px; position: absolute; left: 4px; top: 4px;}
.i-o2o-item-circle{width: 112px; height: 112px; position: absolute; left: 50%; top: 50%; margin-left: -56px; margin-top: -56px; opacity: 0px; background-color: #fff; opacity: 0.4;}
.i-o2o-item-subcircle{width: 80px; height: 94px; padding: 18px 16px 0px; position: absolute; left: 50%; top: 50%; margin-left: -56px; margin-top: -56px; background-color: #f25b22; background-color: rgba(242, 91, 34, 0.78); font-size: 30px; color: #fff; font-weight: bold; text-align: center; line-height: 36px;}
.i-o2o-item-link{position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;}
.i-o2o-hover .i-o2o-item-mask, .i-o2o-item:hover .i-o2o-item-mask{opacity: 0; filter: alpha(opacity=1);}
.i-o2o-hover .i-o2o-item-circle, .i-o2o-item:hover .i-o2o-item-circle{width: 120px; height: 120px; margin-left: -60px; margin-top: -60px; opacity: 0.4;}
.i-o2o-hover .i-o2o-item-subcircle, .i-o2o-item:hover .i-o2o-item-subcircle{background-color: #087187; background-color: rgba(8, 113, 135, 1);}
.i-o2o-attr{overflow: hidden; margin-top: 34px;}
.i-o2o-attr-wrapp{width: 1200px; padding-left: 13px;}
.i-o2o-attr-item{width: 260px; float: left;}
.i-o2o-attr-tit{height: 18px; line-height: 18px; border-left: 2px #3396d1 solid; padding-left: 11px; color: #3396d1; font-size: 16px; position: relative; left: -13px;}
.i-o2o-attr-dsp{color: #999999; margin-top: 12px;}
.i-o2o-attr-more{display: block; width: 126px; height: 18px; margin-top: 24px; line-height: 18px; text-align: center; color: #666666; font-size: 12px; border: 1px #cccccc solid;}
.i-o2o-attr-more:hover{border-color: #3396d1;}

/*index_yeahsite*/
.i-yeahsite{padding-top: 70px; padding-bottom: 42px; border-bottom: 1px #eeeeee solid;}
.i-yeahsite-body{margin-top: 52px;}
.i-yeahsite-slider{width: 340px; height: 514px; float: left; overflow: hidden; margin-left: 20px;}
.i-yeahsite-list{width: 290px; float: left;}
.i-yeahsite-item{height: 98px; position: relative; padding: 4px 0px 0px 124px; margin-bottom: 86px;}
.i-yeahsite-icon{width: 96px; height: 96px; position: absolute; top: 0px; color: #3396d1; border: 1px #3396d1 solid; font-size: 32px; line-height: 96px; text-align: center;}
.i-yeahsite-tit{color: #767f93; font-size: 16px; font-weight: bold;}
.i-yeahsite-dsp{color: #999999; line-height: 1.6em; margin-top: 10px;}

.i-yeahsite-list-l .i-yeahsite-icon{left: 0px;}
.i-yeahsite-list-r{float: right;}
.i-yeahsite-list-r .i-yeahsite-icon{right: 0px;}
.i-yeahsite-list-r .i-yeahsite-item{padding: 4px 118px 0px 0px;}

/*index_cases*/
.i-cases{padding-top: 70px; background-color: #fafafa;}
.i-cases-list{margin: 64px 0px; overflow: hidden;}
.i-cases-wrapp{width: 1200px; padding-left: 4px;}
.i-cases-item{width: 220px; height: 414px; position: relative;  overflow: hidden; float: left; margin-right: 24px;}
.i-cases-up{width: 220px; height: 378px; position: relative; overflow: hidden;}
.i-cases-img{position: absolute; left: 0px; top: 0px;}
.i-cases-mask{display: none; width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; background-color: #000; opacity: 0.6; filter: alpha(opacity=60);}
.i-cases-qrcode{opacity: 0; filter: alpha(opacity=0); width: 117px; height: 117px; padding: 7px; background-color: #fff; position: absolute; left: 46px; /*top: 81px;*/ top: -117px;}
.i-cases-dsp{width: 200px; padding: 0px 10px; height: 106px; position: absolute; left: 0px; /*bottom: 0px;*/ bottom: -70px; background-color: #fff;}
.i-cases-dsp-tit{font-size: 14px; color: #666666; margin-top: 9px;}
.i-cases-item:hover .i-cases-dsp-tit{color: #5ba5d7;}
.i-cases-dsp-txt{color: #999999; margin-top: 6px; line-height: 1.6em;}
.i-cases-tit{height: 36px; line-height: 36px; padding: 0px 10px; color: #666666;}