@charset "utf-8";

/*input focus*/
.select-focus, .input-focus{border: 1px #d7d7d7 solid; -webkit-border-radius: 6px;
-moz-border-radius: 6px;
-o-border-radius: 6px;
border-radius: 6px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
-moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.select-focus:focus, .select-focus.focus, .input-focus:focus, .input-focus.focus{border-color: #66afe9; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
-o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}

/*select simulation*/
.m-select{width: 420px; margin-bottom: 12px;}
.m-select-real{display: none;}
.m-select-simu{width: 140px; margin-right: 11px; float: left; height: 48px; line-height: 48px; position: relative; cursor: default; -moz-user-select: none; /*火狐*/ -webkit-user-select: none;  /*webkit浏览器*/ -ms-user-select: none;   /*IE10*/ -khtml-user-select: none; /*早期浏览器*/ user-select: none;}
.m-select-simu-index0{width: 97px;}
.m-select-simu-dt{height: 100%; font-size: 16px; text-indent: 20px; position: relative; background-color: #fff;}
.m-select-simu-dtxt{display: block; height: 100%; overflow: hidden; margin-right: 26px;}
.m-select-simu-trip{position: absolute; right: 9px; top: 50%; margin-top: -5px; width: 0px; height: 0px; overflow: hidden; border: 11px transparent solid; border-top-color: #767f93; border-width: 10px 6px;}
.m-select-simu-dd{display: none; min-width: 100%; line-height: 40px; position: absolute; left: 0px; top: 100%; background-color: #fff; font-size: 14px;}
.m-select-simu-item{padding: 0px 20px; white-space: nowrap;}
.m-select-simu-item:hover{background-color: #999999; color: #fff;}


.radius-tl0{-webkit-border-top-left-radius: 0; -moz-border-top-left-radius: 0; -o-border-top-left-radius: 0; border-top-left-radius: 0;}
.radius-tr0{-webkit-border-top-right-radius: 0; -moz-border-top-right-radius: 0; -o-border-top-right-radius: 0; border-top-right-radius: 0;}
.radius-bl0{-webkit-border-bottom-left-radius: 0; -moz-border-bottom-left-radius: 0; -o-border-bottom-left-radius: 0; border-bottom-left-radius: 0;}
.radius-br0{-webkit-border-bottom-right-radius: 0; -moz-border-bottom-right-radius: 0; -o-border-bottom-right-radius: 0; border-bottom-right-radius: 0;}

.member body{background: url(../img/member_bg.png) 0 0 repeat;}
.m-main{width: 960px; padding: 46px 0px; margin: 90px auto; position: relative; background-color: #fff; -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25); -o-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);}
.m-form{width: 400px; margin: 0px auto;}


.m-input-text{height: 50px; margin-bottom: 12px; position: relative;}
.input-focus{width: 358px; height: 24px; padding: 12px 20px; line-height: 24px; font-size: 16px;}
.m-input-btn{width: 400px; height: 50px;}
.m-input-btn-ps{position: absolute; left: 50%; margin-left: -200px; bottom: -25px;}
.m-input-btn-s{width: 100%; height: 50px; line-height: 50px; background-color: #777f94; cursor: not-allowed; color: #fff; font-size: 16px; border: none;}
.m-input-btn-active{background-color: #3396d1; cursor: pointer;}
.m-input-btn-active:hover, .m-input-btn-active:focus{background-color: #2a81b4;}
/*.m-input-btn-s*/
.m-title{text-align: center; height: 40px; line-height: 40px; padding: 10px 0px 20px; color: #6bb93f; font-weight: bold; font-size: 24px;}
.m-icon{width: 80px; height: 80px; position: absolute; left: 50%; top: -40px; margin-left: -40px; font-size: 48px; background-color: #77c04b; color: #fff; text-align: center; line-height: 80px;}
.m-link-login{text-align: right;}
.m-link-tip{overflow: hidden; padding: 0px 18px; height: 15px; line-height: 15px; min-height: 15px;}
.m-link-tip-rg{float: right;}

/*login, findReset, find*/
.m-input-join-d{margin-top: -13px;}
.input-focus:focus{position: relative; z-index: 100;}

.m-successful{width: 830px;position: relative; left: 50%; margin-left: -408px; padding: 20px 0px; font-size: 16px; line-height: 1.6em; text-align: center;}

/*findChange*/
.m-input-disable .input-focus{background-color: #e5e5e5; color: #505050; cursor: not-allowed;}
.m-input-check{position: relative;}
.m-input-check .input-focus{width: 215px; position: absolute; left: 0px; top: 0px;}
.input-check{width: 143px; height: 100%; position: absolute; right: 0px; top: 0px; color: #fff; font-size: 16px; border: none; background-color: #3396d1; -webkit-border-top-right-radius: 6px; -moz-border-top-right-radius: 6px; -o-border-top-right-radius: 6px; border-top-right-radius: 6px; -webkit-border-bottom-right-radius: 6px; -moz-border-bottom-right-radius: 6px; -o-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px;}
.input-check-forbid{cursor: not-allowed; background-color: #767f93;}

.m-tips{height: 50px; line-height: 50px; position: absolute; top: 0px; left: 410px; color: #767f93; font-size: 16px; white-space:nowrap;}
/*fixed 2015/04/18 by Lei +++++start*/
.m-tips{
    background-color: #fff; height: 30px; line-height: 30px; font-size: 12px; top: 10px; padding: 0px 5px;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25); -o-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
}
.m-tips:before{content: ''; position: absolute; width: 0px; height: 0px; border: 4px transparent solid; border-right-color: #fff; left: -8px; top: 11px;}
/*fixed 2015/04/18 by Lei +++++end*/
.m-tips-error{color: #FD5050;}
.m-tips-success{color: #77c04b;}

.m-check-num{width: 90px; height: 40px; position: absolute; right: 10px; top: 50%; margin-top: -20px; z-index: 100;}

.fa-refresh{cursor: pointer;}


/*fixed*/
.m-input-btn-ps{bottom: 44px;}
.m-main{padding: 46px 0px 116px;}
