.oa .oa-banner{width: 100%;height: 450px;border-top: 1px solid #77c04b;}
.oa .banner1{width:100%;height: 450px; background: url(/assets/v5/oa/banner1.jpg) no-repeat center center;}
.oa .banner1 .center960{position: relative;height: 450px;margin: 0 auto;}
.oa .banner1-iphone{position: absolute;bottom:0;left:60px;}
.oa .banner1-iphone img{margin: 0;padding: 0;display: block;}
.oa .banner1-right{position: absolute;left:397px;top:130px}
.oa .banner1-right p{font-size: 18px;color: #5b5b5b;margin-top: 55px;}
.oa .official-btn{display: block;width: 178px;height: 50px;background: #3396d1;border-radius: 3px;
	margin-top:27px; font-size: 18px;color: #fff;line-height: 50px;text-align: center;}
.oa .official-btn:hover{background: #767f93;color: #fff;}
.oa .oa-main{width: 100%;height:589px;background: url(/assets/v5/oa/main_bg.jpg) no-repeat center center;}
.oa .oa-main h3{color: #767f93;font-size: 30px;line-height: 130px;text-align: center;}
.oa .menu-box{padding:0 50px 50px;}
.oa .menu-box li{width:199px;height: 199px;border-radius: 8px;float:left;margin:0 14px 11px 0;position: relative;}
.oa .menu1,.menu5{margin-left: 11px;} 
.oa .menu4,.menu8{margin-right: 11px;} 

.oa .menu-box1{text-align: center;display: block;background: #fff;border-radius: 8px; height: 154px;padding-top: 45px;
	font-size: 26px;line-height: 26px;position: absolute;top:0px;left:0px;z-index: 1;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	transition:all 1s ease 0s;
}
.oa .menu-box2{display: block;width:171px;height: 119px;border-radius: 8px;background: #e1766b;color: #fff;font-size: 18px;
	padding-left: 28px;padding-top: 80px;position: absolute;top:0px;left:0px;z-index: 0;
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	transition:all 1s ease 0s;}
.oa .menu:hover .menu-box1{-webkit-transform:rotateY(180deg);transform:rotateY(180deg);color: #666; z-index: 0;}
.oa .menu:hover .menu-box2{-webkit-transform:rotateY(0deg);transform:rotateY(0deg);color: #fff; z-index: 1;}
.oa .menu2:hover .menu-box2{background: #ffb341;}
.oa .menu3:hover .menu-box2{background: #41b27b;}
.oa .menu4:hover .menu-box2{background: #c88c8d;}
.oa .menu5:hover .menu-box2{background: #948fca;}
.oa .menu6:hover .menu-box2{background: #c8a58a;}
.oa .menu7:hover .menu-box2{background: #f17751;}
.oa .menu8 .menu-box8{text-align: center;display: block;background: #b3d1e3;border-radius: 8px; height: 154px;padding-top: 45px;
	font-size: 26px;line-height: 26px;position: absolute;top:0px;left:0px;z-index: 1;}
.oa .menu8:hover .menu-box8{background: #fff;color: #666;}
.oa .menu-img{display: block;margin-bottom: 46px;font-size: 44px;line-height: 42px;}
.oa .menu-name{width: 199px;display:block;line-height: 26px;}
.c-e1766b{color:#e1766b;}
.c-ffb341{color:#ffb341;}
.c-41b27b{color:#41b27b;}
.c-c88c8d{color:#c88c8d;}
.c-948fca{color:#948fca;}
.c-c8a58a{color:#c8a58a;}
.c-f17751{color:#f17751;}
.c-767f93{color:#767f93;}
