<section id="sec-index">
    <div class="body">
        <div class="result">
            <%- unless @order.persisted? %>
                <div class="hd result-fail">
                    <i class="fa fa-times"></i>预定失败
                </div>
             <%- else %>
                <div class="hd result-success">
                    <i class="fa fa-check"></i>预定成功
                </div>
                <div class="bd mod-form form-hor">
                    <%- @reservation.custom_fields.normal.visible.order(:position).each do |field|%>
                      <div class="form-li">
                        <div class="li-l"><b><%= field.name %>：</b></div>
                         <%- value = @order.custom_values.where(custom_field_id: field.id).first.value rescue '' %>
                        <div class="li-r"><%= value %></div>
                       </div>
                    <%- end %>
                </div>
              <%- end %>
            <a href="<%= mobile_reservations_url(activity_id: @reservation.id) %>" class="ft">返回</a>
        </div>
    </div>
</section>