 <div class="body">
  <div class="text-box topic-list">
    <ul class="topic-ul">
      <%- @survey_questions.each do |question| %>
        <%- question_url = questions_mobile_survey_url(qid: question.id) %>
        <li class="item" onclick="location.href='<%= question_url %>'" style="cursor:pointer"><a href="<%= question_url %>" class="box"><%= question.name %></a></li>
      <%- end %>
    </ul>
  </div>
</div>
