<div class="sec-start" id="sec-start">
  <div class="table">
    <p class="td">
      <em><%= @activity.start_at.year %>年<%= @activity.start_at.month %>月<%= @activity.start_at.day %>日</em>正式开始...<br/>敬请关注！<br/>
      <span>离活动开始还有</span><br/>
      <b>
      <b id="remainTime"></b>
      <br/>
    </p>
  </div>
</div><!--#scene-start end-->
<script type="text/javascript">
$(function(){
  var sysSecond = <%= @activity.start_at - Time.now %>;
  var countdownTimer = null;
  //将时间减去1秒，计算天、时、分、秒
  function SetRemainTime() {
    if (sysSecond > 1) {
      sysSecond = sysSecond - 1;
      var second = Math.floor(sysSecond % 60);             // 计算秒
      var minite = Math.floor((sysSecond / 60) % 60);      //计算分
      var hour = Math.floor((sysSecond / 3600) % 24);      //计算小时
      var day = Math.floor((sysSecond / 3600) / 24);        //计算天
      $("#remainTime").html(day + "天" + hour + "小时" + minite + "分" + second + "秒");
    } else {//剩余时间小于或等于0的时候，就停止间隔函数
      window.clearInterval(countdownTimer);
      window.setTimeout(function() {
        window.location.reload();
      }, 1000);
     //这里可以添加倒计时时间为0后需要执行的事件
    }
  }
  if (sysSecond > 0) {
    countdownTimer = window.setInterval(SetRemainTime, 1000);
  }
})
</script>