<div class="html theme-<%= @vip_card.template_id %>" id="html">
  <div class="stage" id="stage">
    <%= form_tag('/app/vips/edit_passwd', method: :post) do %>
      <%= hidden_field_tag :password, nil %>
      <section id="sec-index">
        <div class="top-tips">
          请输入旧密码以确认身份
        </div>
        <div class="password">
          <div class="password-box">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <input type="password" class="psw"/>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
<script>
  $(".password").on("keyup", '.psw', function(){
    var password=$('.psw').val();
    if(password.length == 6){
      $('#password').val(password);
      $('form').submit();
    }
  });
</script>