<% content_for :tab do %>
  <div id="tab3" class="tab-pane fade active in">
    <div class="col-sm-12 no-padding">
      <div class="alert alert-block alert-info">
        <strong class="pull-left">提示：</strong>
        <ul class="vwebsiteHeadAlert">
          <li>1、请确保在微门店的分店中设置好手机号码后再开启此开关，否则无法接收短信提醒；</li>
          <li>2、如果关闭短信发送，则用户的订单完成和预定成功后系统将不再发送短信提醒。</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 no-padding">
      <form class="form">
        <div class="form-group">
          <label>接收短信开关：</label>
          <label>
            <input name="switch-field-1" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" <%= 'checked' if current_site.is_open_sms? %>>
            <span class="lbl"></span>
          </label>
        </div>
      </form>

      <%= link_to '', toggle_sms_messages_path, method: :post, remote: true, id: 'ace-switch' %>
    </div>
  </div>
<% end %>

<%= render 'sms/expenses/main_content' %>

<% content_for :custom_js do %>
  <script type="text/javascript">
    $(function(){
        $('.ace-switch').click(function(){
          $('#ace-switch').trigger('click');
        });
    });
  </script>
<% end %>