<% provide(:title, '专业介绍') %>
<div class="box box-padding">
  <div class="hd college_title">专业介绍</div>
  <div class="bd list-major">
    <% if @college_majors.present? %>
        <% @college_majors.each do  |m| %>

        <p class="table">
          <a class="tleft td" href="<%= app_college_major_url(m, anchor: "mp.weixin.qq.com") %>"><%= m.name%></a>
          <!--a class=" td btn btn-small" href="tel:<%#= m.try(:college).try(:tel) %>">咨询</a-->
          <a class="td" href="tel:<%= m.try(:college).try(:tel) %>"><span class="tright btn btn-small">咨询</span></a>
        </p>
        <% end %>
    <% else %>
    <p>
      <a class="tleft">没有专业！</a>
    </p>
    <% end %>
  </div>
</div>