<% content_for(:sidebar) do %>
  <%= render 'sidebar_business' %>
<% end %>

<%= content_for :topbar do %>
  <%= link_to '微信墙操作手册', help_wx_walls_path, class: 'h1 pagecurrent' %>
<% end %>

        <div class="eidt-cont">
            <h2>一、基本操作步骤</h2>

            <h3>Step1【新建微信墙】设置（业务管理 → 微信墙 → 微信墙管理）</h3>

            <p>作用：设置微信墙在PC端的展示效果和用户通过微信参与的方式和有效时间。</p>

            <p>
                操作功能：可设置触发微信墙活动的关键字，微信墙活动的起始时间，活动参与规则，活动主题、说明，主办方名称、logo，与用户互动的微信公众号二维码，微信墙模板，背景音乐，是否审核用户的留言，是否滚动播出用户的留言。</p>

            <p>背景音乐请先上传至&lt;基础服务 → 素材管理 → 语音素材&gt;，再在此选择。</p>

            <p><img src="/assets/help/wallHelpf.jpg"></p>

            <p>用户通过扫描大屏幕上的二维码关注公众号，然后向公众号回复设置的触发关键字，根据公众号提示分别回复姓名和头像，即可进入微信墙刷屏模式。</p>

            <h3>Step2【互动设置】</h3>

            <p>1、会员卡卡片设置</p>

            <p>作用：设置展示在大屏幕上的图片和与现场用户互动的抽奖和投票活动。</p>

            <p>操作功能：可批量上传图片，选择投票活动，设置抽奖活动。这三项功能若不设置，则微信墙PC端不会显示。</p>

            <p>批量上传图片：</p>

            <p><img src="/assets/help/wallHelp1.png"></p>

            <p>微信墙PC端图片展示效果：</p>

            <p><img src="/assets/help/wallHelp2.png"></p>

            <p>投票活动请先在&lt;业务管理 → 微投票&gt;里设置，再在此选择。</p>

            <p><img src="/assets/help/wallHelp3.png"></p>

            <p>微信墙PC端投票活动效果：</p>


            <p><img src="/assets/help/wallHelp4.png"></p>

            <p>抽奖活动设置：</p>

            <p><img src="/assets/help/wallHelp5.png"></p>

            <p>微信墙抽奖活动PC端展示效果：

            <p><img src="/assets/help/wallHelp6.png"></p>


            <h3>Step3【开始微信墙活动】</h3>

            <p>作用：通过微信墙大屏幕与现场观众互动。</p>

            <p>操作功能：</p>

            <p>打开微信墙PC端，修改微信墙设置，互动设置，留言管理，中奖管理，暂停微信墙活动，删除微信墙活动。</p>

            <p><img src="/assets/help/wallHelp7.png"></p>

            <p>微信墙PC端：</p>

            <p><img src="/assets/help/wallHelp8.png"></p>

            <p>活动期间，（通过审核的）微信留言会自动在微信墙大屏幕上</p>

            <h3>Step4【留言管理】</h3>


            <p>1、会员等级设置</p>

            <p>作用：管理用户在微信墙刷屏模式回复的留言，保证大屏幕上的展示效果。</p>

            <p>操作功能：</p>

            <p>可将已上墙的微信消息删除，可将已上墙的微信用户拉黑（拉黑后该用户不能发送的消息不再上墙），若微信墙设置时勾选了留言审核，则可在&lt;待审核&gt;页通过或拒绝该留言和拉黑发送该留言的微信用户，可在&lt;拉黑&gt;页点击允许上墙取消拉黑。可通过微信墙活动名称和用户名称筛选留言。
            </p>

            <p>已上墙消息管理：</p>

            <p><img src="/assets/help/wallHelp9.png"></p>

            <p>待审核消息管理：</p>

            <p><img src="/assets/help/wallHelp10.png"></p>

            <p>已拉黑消息管理：</p>

            <p><img src="/assets/help/wallHelp11.png"></p>

            <h3>Step5【中奖管理】</h3>

            <p>操作功能：</p>

            <p>用户首先在微信手机端输入领奖关键词获得领奖SN码，后台通过中奖管理的奖品兑换查询用户提供的SN码对应的奖品，匹配则可成功兑换奖品。</p>

            <p><img src="/assets/help/wallHelp12.png"></p>


            <p><img src="/assets/help/wallHelp13.png"> <img src="/assets/help/wallHelp14.png"></p>




            <h3>微信墙其他操作</h3>

            <p>1、暂停微信墙活动</p>

            <p>微信墙活动可在结束之前停止或开启。</p>


            <p>2、删除微信墙活动</p>

            <p>删除操作不可恢复，请谨慎操作。</p>


        </div>
