<form>
<div class="modal-body ">
  <p class="text-center"><img alt="" src="/assets/wx_wall/template/template<%= params[:id] %>.jpg"></p>
</div>
<div class="clearfix"></div>
  <div class="modal-footer">
    <button type="reset" class="btn btn-sm btn-default" data-dismiss="modals">返回</button>
  </div>
</form>
<% content_for :custom_js do %>
<% end %>