<header>
  <a href="<%= @url.present? ? @url : "javascript:void(0);" %>"></a>
  <a href="javascript:window.history.back();"></a>
  <a href="javascript:window.history.forward();"></a>
  <a href="javascript:location.reload();"></a>
</header>