<section id="sec-index">
  <header>
    <a href="javascript:void(0);"></a>
    <h1>全部优惠券</h1>
    <%- if @wx_user.present? %>
      <%= link_to image_tag('/mobile/img/coupons/ico-user.png'), my_mobile_coupons_path, class: 'tright' %>
    <%- else %>
      <a href="javascript:;" class="tright"></a>
    <%  end %>
  </header>
  <div class="body">
    <div class="coupons-list">
      <% @coupons.each do |coupon| %>
        <%= render 'coupon', coupon: coupon  %>
      <%- end %>
    </div>
  </div>
</section>

