<div class="badge active" data-job_title_id="<%= hospital_job_title.id %>">
  <button type="button" class="close" data-dismiss="alert">
    <i class="icon-remove"></i>
  </button>
  <span><%= hospital_job_title.name %></span>
</div>