body{ background:#ffe59e;}
/*box-page*/
.box-page .hd{background:#fbc225; }
.box-page .btn-back{ background:#fff;}
/*btn*/
.btn{
    background-color:#5fb40b;
    background-repeat:repeat-x;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(#5fb40b),to(#7ec234));
    background:-webkit-linear-gradient(top,#7ec234,#5fb40b);
    background:-moz-linear-gradient(top,#7ec234,#5fb40b);
    background:-ms-linear-gradient(top,#7ec234,#5fb40b);
    background:-o-linear-gradient(top,#7ec234,#5fb40b);
    box-shadow:0 0 2px #4e9b01 inset, 0 2px 5px rgba(0,0,0,0.25);
}
/*sec-list*/
.sec-list a{ background:#fffde6; color:#5fb40b; text-align:center;}
/*sec-text*/
.sec-text{ background:#fffde6; color:#a2a2a2; position:relative; padding:10% 2% 2% 2%;}
/*.sec-text b{ font-weight:normal; color:#5fb40b;}*/
.sec-text i{ position:absolute; background:url(/assets/tiger/sec-text.png) no-repeat left top; width:131px; height:25px; background-size:contain; top:-4px; left:-8px; padding:15px 0 0 10px; color:#fff; font-weight:bold;}
/*sec-info*/
.sec-info{background:#fffde6;color:#a2a2a2; position:relative; padding:2%; width:90%;}
.sec-info p{ padding:5px 0;}
.sec-info b{ color:#454545;}
.sec-info i{ position:absolute; background:url(/assets/tiger/sec-info.png) no-repeat right bottom; width:51px; height:55px; background-size:contain; right:-5px; bottom:-5px;}
/*sec-game*/
.sec-game{ height:262px; background:#fbc224; background-size:100% auto;}
.game-clound,
.game-shine,
.game-text,
#scene-index{position:absolute;}
.game-shine{ width:100%; height:100%; left:0; top:0; background:url(/assets/tiger/bg-shine.png) no-repeat center top;background-size:100% auto; z-index:0;}
.game-clound{left:0; bottom:-1px; height:26px; width:100%; background:url(/assets/tiger/bg-cloud.png) repeat-x 0 0; background-size:contain;}
.game-text{ width:100%; left:0; top:20px; /*top:-1000px;*/ background-position:center center; background-repeat:no-repeat; position:absolute; z-index:20;}
#scene-index{z-index:10; width:98%; height:80%; top:50%; left:50%; margin:-40% 0 0 -49%; text-align:center; display:none;}
#scene-index .btn{ padding:0 15%; margin:5% 0 0 0;}
.game-box{ width:23%; height:60%; padding:2%; background:#fff; display:inline-block; margin:7px; overflow:hidden; border-radius:5px; box-shadow:5px 5px 5px rgba(0,0,0,0.25),0 0 5px rgba(224,95,0,0.8) inset; background:#ff890a; text-align:center;}
.game-wrap{ background:#ea6e00;border-radius:5px; height:90%; width:90%; overflow:hidden; padding:5%;}
.game-wrap .game-p{ border-radius:5px; width:100%; height:100%; overflow:hidden; position:relative; border-radius:5px;}
.game-wrap p{ width:100%; height:100%; overflow:visible; position:absolute; top:0; left:0;}
.game-wrap span{ width:100%; height:50px; line-height:45px; background:#fff; margin:0 0 2px 0;}
.game-wrap img{ max-height:40px; vertical-align:middle;}
#text-end{ height:70px;background-image:url(/assets/tiger/text-4.png); /*top:50%;*/ top:-3000px;margin:-35px 0 0 0;background-size:auto 70px;}
#text-start{color:#2e2e2e; text-align:center; line-height:30px; font-weight:bold; /*top:50%;*/ top:-3000px; height:100%;margin:-50% 0 0 0; font-size:16px; background:url(/assets/tiger/text-5.png) no-repeat 5% 40%; background-size:auto 70px;}
#text-start em{
    color:#f17100;
    font-size:25px;
    text-shadow:1px 1px 2px rgba(0,0,0,0.25);
}
#text-start span{ font-size:20px; font-weight:bold; padding:0 0 0 18%;}
#text-start b{background:#2e2e2e; font-size:30px; color:#9eee42; padding:5px; border-radius:2px;}
/*pop*/
.pop-bd .hd{background:#fbc225; text-shadow:none;}
.pop-bd b{color:#5fb40b;}
.pop-bd .hd b{ color:#fff;}
.result-success .box-pop span{ background-image:url(/assets/tiger/bg-success.png); }
.result-fail .box-pop span{ background-image:url(/assets/tiger/bg-fail.png); }
@media screen and (orientation:landscape) {
    #text-start{ background-position:20% 40%;}
    #scene-index .btn{margin:2% 0 0 0;}
    #scene-index{height:90%; margin:-45% 0 0 -49%;}
}
