<%= render "slider", {:has_slider_text => :yes} %>

<div class="index">
  <% website_menus.in_groups_of(4, false).each do |sub_menus| %>
      <ul class="navLine-ul">
        <% sub_menus.each do |menu| %>
            <li>
              <%= link_to menu_url(menu), class: 'box mod-index' do %>
                  <%= menu.pic_or_icon :has_title => true, :pic_type => "custom" %>
              <% end %>
            </li>
        <% end %>
      </ul>
  <% end %>
</div>

<% content_for :document_ready_js do %>
    fade6("#animate-6");
<% end %>