<%= render :partial => "slider", :locals => {:has_slider_text => :yes} %>

<%= render :partial => "telphone", :locals => {:website => website} %>

<div class="index">
  <% website_menus.each do |menu| %>
    <%= link_to menu_url(menu), :class => 'box mod-index' do %>
      <%= menu.pic_or_icon :has_title => true, :pic_type => "thumb" %>
    <% end %>
  <% end %>
</div>
