<%= render "slider" %>

<div class="index">
  <ul>
    <% website_menus.each do |menu| %>
        <li>
          <%= link_to menu_url(menu), class: "box mod-index" do %>
              <h1><small><%= menu.title %></small></h1>
              <%= menu.pic_or_icon has_title: false, pic_type: "custom" %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>