<%= render :partial => "slider" %>

<div class="index">
  <% website_menus.in_groups_of(4, false).each do |menus|%>
    <% menus.each_with_index do |menu, index| %>
        <%= link_to menu_url(menu), class: 'box mod-index' do %>

            <% if index == 1 || index == 2 %>
                <%= menu.pic_or_icon has_title: false, pic_type: "custom" %>
            <% else %>
                <small><%= menu.title %></small>
                <i class="fa fa-chevron-right"></i>
            <% end %>

        <% end %>
    <% end %>
  <% end %>
</div>