<%= stylesheet_link_tag 'site/about' %>
<%= content_for(:title) { '关于我们' }  %>

<%#= render 'report_nav' %>
<div class="about_wrapper">
  <div class="banner">
    <div class="center1200 tc">
      <h1 class="fb">因为专注<span></span>所以专业</h1>
      <h2>追求卓越，成就客户</h2>
    </div>
  </div>
  <div class="summary1 center1200">
    <h3 class="tc">领先的O2O行业解决方案提供商</h3>
    <p>湖北微枚迪传媒技术有限公司，是国内领先的O2O行业解决方案提供商，垂直打通线上与线下，链接流量与效果，致力为企业提供移动信息化整体解决方案。</p>
    <p>微枚迪荟萃微信营销系列、H5营销工具、社区通三大强势产品，以创新的商业模式，提升国内企业市场竞争力和客户关系管理能力。</p>
    <p>微枚迪目前全国合作伙伴已达800家，微枚迪的品牌商高达80万。微枚迪专注中国O2O行业解决方案，将以领先的技术创新，更强的市场应变能力，更快的产品迭代速度和更完善的服务体系，建设新型商业模式，打破企业营销常规，助力企业高效益发展。
    </p>
  </div>
  <div class="backdrop">
    <div class="center1200">
      <h3 class="tc">微枚迪研发实力</h3>
      <p>湖北微枚迪传媒技术有限公司，坐落于以技术、研发为主的上海市高科技软件园。微枚迪聚集一批高精尖的网络技术精英，致力于社会化网络行业智能匹配方案与系统SNBIMMS的研发与开发，并以此为基础开发移动商务行业解决方案。</p>
      <!-- <img src="/assets/site/about/photo.jpg" class="block" height="526" width="1200"> -->
    </div>
  </div>
  <div class="strength center1200">
    <h3 class="tc">微枚迪品牌影响力</h3>
    <div class="Influence clearfix">
      <img class="block fl" src="/assets/site/about/influence1.jpg" height="340" width="380">
      <!-- <img class="block fl" src="/assets/site/about/Influence2.jpg" height="340" width="380"> -->
      <!-- <img class="block fl last" src="/assets/site/about/influence3.jpg" height="340" width="380"> -->
      <img class="block fl" src="/assets/site/about/Influence4.jpg" height="340" width="380">
      <img class="block fl last" src="/assets/site/about/Influence5.jpg" height="340" width="380">
      <!-- <img class="block fl last" src="/assets/site/about/Influence6.jpg" height="340" width="380"> -->
    </div>
  </div>
<!--   <div class="culture">
    <div class="center1200">
      <h3 class="tc">企业文化</h3>
      <img class="block" src="/assets/site/about/culture.jpg" height="792" width="1200">
    </div>
  </div> -->
</div>