<%= stylesheet_link_tag 'site/about' %>
<%= content_for(:title) { '关于我们' }  %>

<%#= render 'report_nav' %>
<div class="about_wrapper">
  <div class="banner">
    <div class="center1200 tc">
      <h1 class="fb">因为专注<span></span>所以专业</h1>
      <h2>追求卓越，成就客户</h2>
    </div>
  </div>
  <div class="summary1 center1200">
    <h3 class="tc">领先的O2O行业解决方案提供商</h3>
    <p>湖北微枚迪传媒技术有限公司，是国内领先的O2O行业解决方案提供商，垂直打通线上与线下，链接流量与效果，致力为企业提供移动信息化整体解决方案。</p>
    <p>微枚迪荟萃微信营销系列、H5营销工具、社区通三大强势产品，以创新的商业模式，提升国内企业市场竞争力和客户关系管理能力。</p>
    <p>微枚迪目前全国合作伙伴已达800家，微枚迪的品牌商高达80万。微枚迪专注中国O2O行业解决方案，将以领先的技术创新，更强的市场应变能力，更快的产品迭代速度和更完善的服务体系，建设新型商业模式，打破企业营销常规，助力企业高效益发展。
    </p>
  </div>
  <div class="backdrop">
    <div class="center1200">
      <h3 class="tc">微枚迪研发实力</h3>
      <p>湖北微枚迪传媒技术有限公司——一华中地区最大的微信第三方开发商，通过近2年的系统开发并拥有全行业的移动端行业软件及营销解决方案。公司在社区O2O及社群管理运用方向，面向大众创业和电视台等媒体合作运营众多的智慧城市O2O平台，面向大学生就创业自营系列的掌上大学综合服务O2O平台，移动端产品和地方广告公司合作运营城市微生活和城市微商圈平台，在地方垂直细分行业如生鲜水果鲜花、送水送气、家电修理修配、汽车4S店综合服务、旅游景区等都有成功的平台运作案例。公司产品不限于微信客户端、APP等移动端，基于客户、商户和运营方的管理需要也开发了相应的PC端管理软件。公司通过一年多的努力，移动端和PC端的产品已经成型，并已经积累了大量的商圈平台运作及垂直行业平台运作的经验。公司不仅提供O2O的移动互联网软件平台，同时也为客户提供具体的托管运营方案并代客户运营。</p>
      <!-- <img src="/assets/site/about/photo.jpg" class="block" height="526" width="1200"> -->
    </div>
  </div>
  <div class="strength center1200">
    <h3 class="tc">微枚迪品牌影响力</h3>
    <div class="Influence clearfix">
      <img class="block fl" src="/assets/site/about/influence1.jpg" height="340" width="380">
      <!-- <img class="block fl" src="/assets/site/about/Influence2.jpg" height="340" width="380"> -->
      <!-- <img class="block fl last" src="/assets/site/about/influence3.jpg" height="340" width="380"> -->
      <img class="block fl" src="/assets/site/about/Influence4.jpg" height="340" width="380">
      <img class="block fl last" src="/assets/site/about/Influence5.jpg" height="340" width="380">
      <!-- <img class="block fl last" src="/assets/site/about/Influence6.jpg" height="340" width="380"> -->
    </div>
  </div>
<!--   <div class="culture">
    <div class="center1200">
      <h3 class="tc">企业文化</h3>
      <img class="block" src="/assets/site/about/culture.jpg" height="792" width="1200">
    </div>
  </div> -->
</div>