<%= stylesheet_link_tag 'site/search' %>
<% content_for(:title) { '代理商资质查询' } %>

<div class="search_wrapper pr">
  <div class="search_box pa">
    <h1 class="tc">代理商资质查询</h1>

    <div class="search_bg pa"></div>
    <form class="pa">
      <div class="search_content clearfix">
        <input type="text" class="txt fl" value="请输入代理商全称" id="agent_name" />
        <input type="button" class="btn fl search-sub" value="搜索"  />
      </div>
      <p class="result">

      </p>
    </form>
  </div>
</div>

<% content_for :custom_js do %>
    <script>
        $.fn.setDefauleValue = function (defaultColor, textColor) {
            return this.each(function () {
                $(this).val(this.defaultValue).css("color", defaultColor);
                $(this).focus(function () {
                    if ($(this).val() == this.defaultValue) {
                        $(this).val("").css("color", textColor);
                        ;
                    }
                }).blur(function () {
                    if ($(this).val() == "") {
                        $(this).val(this.defaultValue).css("color", defaultColor);
                    }
                });
            });
        }
        $(function () {
            $(".search_content .txt").setDefauleValue("#999", "#000");

            var headerH = $(".header").outerHeight(),
                    footerH = $(".footer-wrapp").outerHeight(),
                    winH = $(window).height();
            $(".search_wrapper").outerHeight(winH - headerH - footerH);
        })

        $(".search-sub").click(function(){
            var url = "<%= agents_inquiry_path %>";
            if ($("#agent_name").val() == $("#agent_name")[0].defaultValue) {
                $(".result").html("查询结果：请输入代理商全称");
                return false;
            }else{
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {name: $("#agent_name").val()},
                    dataType: "json",
                    success: function(data){
                         if(data["code"] == 1){
                             $(".result").html("查询结果：<span>代理商名称 </span><em>" + data["name"] +"</em>");
                         }else{
                            $(".result").html("查询结果：没有符合条件的结果");
                         }
                    }
                });
            }
        });
    </script>
<% end %>