<%= stylesheet_link_tag 'v5.1/h5', 'v5.1/iconfont' %>
<%= javascript_include_tag 'v5.1/h5' %>
<% content_for(:title) { 'H5营销工具' } %>

<div class="container">
  <div class="section1">
    <div class="w1200 bc pr section1_content">
      <h1 class="tc">品牌H5营销，轻应用，强关系</h1>
      <p class="tc bc">H5营销工具是当下最流行的移动传播方式，通过丰富的图片、音乐、视频及特色动画交互，将企业活动、画册、品牌形象等打造成更具参与感的手机体验场景，能将企业的品牌和产品文化快速传达给您的潜在客户群体并产生共鸣，通过独特的社交人脉传播，达到0费用的推广裂变效果。</p>
      <div class="section1_btn bc cleafix">
        <a href="<%= register_path %>" class="fl reg">免费注册</a>
        <a href="/spread?#new_supplier_apply" class="fr agent">成为代理商</a>
      </div>
      <div class="app1 pa"><img src="/assets/v5.1/h5/app1.png" height="102" width="103"></div>
      <div class="app2 pa"><img src="/assets/v5.1/h5/app2.png" height="108" width="108"></div>
      <div class="app3 pa"><img src="/assets/v5.1/h5/app3.png" height="225" width="225"></div>
      <div class="app4 pa"><img src="/assets/v5.1/h5/app4.png" height="367" width="367"></div>
      <div class="app5 pa "><img src="/assets/v5.1/h5/app5.png" height="160" width="160"></div>
      <div class="app6 pa"><img src="/assets/v5.1/h5/app6.png" height="124" width="124"></div>
    </div>

  </div>
  <div class="section2">
    <div class="w1200 bc pr">
      <div class="tc item_title">
        <h1>HTML5移动官网</h1>
        <h6>掀起品牌轻营销时代</h6>
        <div class="line"></div>
      </div>
      <div class="clearfix h5_case">
        <div class="fl h5_item pr">
          <div class="h5_layer pa transition"></div>
          <strong class="h5_code pa transition"><img src="/assets/v5.1/h5/pic1.gif" height="140" width="140"></strong>
          <a href="#" class="block"><img class="block" src="/assets/v5.1/h5/pic1.jpg" width="292" height="239" /></a>
          <div class="clearfix h5_title">
            <em class="fl">Dior</em>
            <i class="fa fa-qrcode fr"></i>
          </div>
          <div class="h5_text">
            <p class="transition">Dior一直是华丽与高雅的代名词。不论是时装、化妆品或是其他产品，在时尚殿堂一直雄踞顶端。
              迪奥品牌一直是华丽女装的代名词,而作工更是以精美细致见长。
            </p>
          </div>
        </div>
        <div class="fl h5_item pr">
          <div class="h5_layer pa transition"></div>
          <strong class="h5_code pa transition"><img src="/assets/v5.1/h5/pic2.gif" height="140" width="140"></strong>
          <a href="#" class="block"><img class="block" src="/assets/v5.1/h5/pic2.jpg" width="292" height="239" /></a>
          <div class="clearfix h5_title">
            <em class="fl">巴黎婚纱</em>
            <i class="fa fa-qrcode fr"></i>
          </div>
          <div class="h5_text">
            <p class="transition">上海巴黎婚纱以时尚、大胆的色系贯穿整体视觉，为上海新人带来婚纱摄影的新纪元。
              巴黎具备更敏锐的创意，将自已定位在世界的顶尖潮流上，引领巴黎婚纱与世界接轨。
            </p>
          </div>
        </div>
        <div class="fl h5_item pr">
          <div class="h5_layer pa transition"></div>
          <strong class="h5_code pa transition"><img src="/assets/v5.1/h5/pic3.gif" height="140" width="140"></strong>
          <a href="#" class="block"><img class="block" src="/assets/v5.1/h5/pic3.jpg" width="292" height="239" /></a>
          <div class="clearfix h5_title">
            <em class="fl">花妍丽</em>
            <i class="fa fa-qrcode fr"></i>
          </div>
          <div class="h5_text">
            <p class="transition">花妍丽，韩国专业花卉彩妆品牌，以“悦享健康，悦享美丽” 为品牌核心理念，现已迅速成为时尚彩妆界的新宠儿。让消费者充分感受快捷上妆和时尚色彩所带来的乐趣！</p>
          </div>
        </div>
        <div class="fl h5_item pr last">
          <div class="h5_layer pa transition"></div>
          <strong class="h5_code pa transition"><img src="/assets/v5.1/h5/pic4.gif" height="140" width="140"></strong>
          <a href="#" class="block"><img class="block" src="/assets/v5.1/h5/pic4.jpg" width="292" height="239" /></a>
          <div class="clearfix h5_title">
            <em class="fl">膜法伊人</em>
            <i class="fa fa-qrcode fr"></i>
          </div>
          <div class="h5_text">
            <p class="transition">膜法伊人JQUEEN“浸、深、纯”的未来面膜技术，带来“嫩、透、弹”的女王级肌肤状态。
              美丽教主伊能静亲研创新“高机能面膜品牌”，定义“女王级的复元面膜”！
            </p>
          </div>
        </div>
      </div>
      <div class="h5_nav clearfix">
        <dl class="tc fl h5_icon h5icon1">
          <dt class="transition"><i class="iconfont icon-svgmoban65"></i></dt>
          <dd class="txt transition">移动官网</dd>
          <dd class="txt_more transition">轻松建站，企业形象展示移动化</dd>
        </dl>
        <dl class="tc fl h5_icon h5icon2">
          <dt class="transition"><i class="iconfont icon-chanpinzhanshi1"></i></dt>
          <dd class="txt transition">案例展示</dd>
          <dd class="txt_more transition">展示公司实力，品牌影响力</dd>
        </dl>
        <dl class="tc fl h5_icon h5icon3">
          <dt class="transition"><i class="iconfont icon-zaixiankefu"></i></dt>
          <dd class="txt transition">客服工具</dd>
          <dd class="txt_more transition">在线客服服务实时咨询</dd>
        </dl>
        <dl class="tc fl h5_icon h5icon4">
          <dt class="transition"><i class="iconfont icon-iconyuyue"></i></dt>
          <dd class="txt transition">预约报名</dd>
          <dd class="txt_more transition">在线预约试驾、洗车等</dd>
        </dl>
        <dl class="tc fl h5_icon h5icon5">
          <dt class="transition"><i class="iconfont icon-liuyan"></i></dt>
          <dd class="txt transition">留言板</dd>
          <dd class="txt_more transition">商家与用户零距离沟通</dd>
        </dl>
        <dl class="tc fl h5_icon h5icon6">
          <dt class="transition"><i class="iconfont icon-yingxiaozhongxin"></i></dt>
          <dd class="txt transition">营销渠道</dd>
          <dd class="txt_more transition">社会化媒体、SEO推广、百度知道号</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="section3">
    <div class="w1200 bc pr">
      <div class="tc item_title">
        <h1>HTML5微场景</h1>
        <h6>更参与感的手机体验场景</h6>
        <div class="line"></div>
      </div>
      <div class="clearfix h5_case">
        <div class="fl h5_item pr">
          <div class="h5_layer pa transition"></div>
          <strong class="h5_code pa transition"><img src="/assets/v5.1/h5/pic5.gif" height="140" width="140"></strong>
          <a href="#" class="block"><img class="block" src="/assets/v5.1/h5/pic5.jpg" width="292" height="239" /></a>
          <div class="clearfix h5_title">
            <em class="fl">特斯拉</em>
            <i class="fa fa-qrcode fr"></i>
          </div>
          <div class="h5_text">
            <p class="transition">Tesla以颠覆的产品理念和思维进入中国市场，四个轮子+一台电脑+一块电池，是Tesla极致用户体验的核心。
              可通过手机远程锁车、关天窗等，再也不用担心忘记锁车了。</p>
          </div>
        </div>
        <div class="fl h5_item pr">
          <div class="h5_layer pa transition"></div>
          <strong class="h5_code pa transition"><img src="/assets/v5.1/h5/pic6.gif" height="140" width="140"></strong>
          <a href="#" class="block"><img class="block" src="/assets/v5.1/h5/pic6.jpg" width="292" height="239" /></a>
          <div class="clearfix h5_title">
            <em class="fl">都市丽人</em>
            <i class="fa fa-qrcode fr"></i>
          </div>
          <div class="h5_text">
            <p class="transition">《都市丽人》致力于为中国新一代女性创造美好生活，她追踪都市流行，而且深入到她的心灵世界。
              台湾第一名模林志玲演绎全新百变都市丽人形象，成功实现品牌华丽升级。
            </p>
          </div>
        </div>
        <div class="fl h5_item pr">
          <div class="h5_layer pa transition"></div>
          <strong class="h5_code pa transition"><img src="/assets/v5.1/h5/pic7.gif" height="140" width="140"></strong>
          <a href="#" class="block"><img class="block" src="/assets/v5.1/h5/pic7.jpg" width="292" height="239" /></a>
          <div class="clearfix h5_title">
            <em class="fl">多听科技</em>
            <i class="fa fa-qrcode fr"></i>
          </div>
          <div class="h5_text">
            <p class="transition">车听宝——车载网络电台，收听从未从未如此简单。用一款汽车智能硬件，颠覆电台行业格局，再造弄不消逝的电波。
              静默更新、智能同步、顶级HIFI音质，车内娱乐神器。
            </p>
          </div>
        </div>
        <div class="fl h5_item pr last">
          <div class="h5_layer pa transition"></div>
          <strong class="h5_code pa transition"><img src="/assets/v5.1/h5/pic8.gif" height="140" width="140"></strong>
          <a href="#" class="block"><img class="block" src="/assets/v5.1/h5/pic8.jpg" width="292" height="239" /></a>
          <div class="clearfix h5_title">
            <em class="fl">BMW 3系</em>
            <i class="fa fa-qrcode fr"></i>
          </div>
          <div class="h5_text">
            <p class="transition">自1975，比王者更早出现的，是王者精神。四十年未改变的灵魂，成就了六代运动王者：BMW3系列。
              BMW 3系40周年庆典在各大城市狂热启幕。
            </p>
          </div>
        </div>
      </div>
      <div class="h5_nav clearfix">
        <dl class="tc fl h5_icon h5icon5">
          <dt class="transition"><i class="iconfont icon-icon105"></i></dt>
          <dd class="txt transition">HTML5场景</dd>
          <dd class="txt_more transition">无需下载，快速制作展示画报</dd>
        </dl>
        <dl class="tc fl h5_icon h5icon5">
          <dt class="transition"><i class="iconfont icon-llshowcardicon"></i></dt>
          <dd class="txt transition">产品展示</dd>
          <dd class="txt_more transition">创新型体验，极速传播你的新品</dd>
        </dl>
        <dl class="tc fl h5_icon h5icon6">
          <dt class="transition"><i class="iconfont icon-pinpai"></i></dt>
          <dd class="txt transition">品牌推广</dd>
          <dd class="txt_more transition">酷炫阅读体验，让用户过目不忘</dd>
        </dl>
        <dl class="tc fl h5_icon h5icon6">
          <dt class="transition"><i class="iconfont icon-xuanchuanhuodong"></i></dt>
          <dd class="txt transition">活动宣传</dd>
          <dd class="txt_more transition">海报、邀请函等有效汇集目标客户</dd>
        </dl>
        <dl class="tc fl h5_icon h5icon3">
          <dt class="transition"><i class="iconfont icon-yingxiaohuodong1"></i></dt>
          <dd class="txt transition">活动促销</dd>
          <dd class="txt_more transition">提升移动销售量，轻松转化</dd>
        </dl>
        <dl class="tc fl h5_icon h5icon7">
          <dt class="transition"><i class="iconfont icon-weimendian"></i></dt>
          <dd class="txt transition">展会展示</dd>
          <dd class="txt_more transition">减少纸质印刷，随时随地移动宣传</dd>
        </dl>
      </div>
    </div>
  </div>

</div>