<%= stylesheet_link_tag 'v5.1/largecustomer' %>
<%= javascript_include_tag 'v5.1/largecustomer' %>
<% content_for(:title) { '大客户定制开发' } %>

<div class="i-ban">
  <div class="wrapp">
    <ul class="clearfix">
      <ul class="clearfix">
        <li class="item1">
          <div class="w1200 bc">
            <div class="ele1">
              <img width="620" height="229" src="/assets/v5.1/largecustomer/banner2_ele1.png" alt="" title="" />
            </div>
          </div>
        </li>
        <li class="item2">
          <div class="w1200 bc cleargix">
            <div class="ele1 fr">
              <img width="398" height="141" src="/assets/v5.1/largecustomer/banner1_ele1.png" alt="" title="" />
            </div>
            <div class="ele2 fl">
              <img width="559" height="560" src="/assets/v5.1/largecustomer/banner1_ele3.png" alt="" title="" />
            </div>
          </div>
        </li>
      </ul>
    </ul>
  </div>
  <div class="i-btns">
    <span class="i-btns-item"></span>
    <span class="i-btns-item"></span>
  </div>
</div>
<div class="service_box">
  <div class="w1200 bc">
    <div class="tc item_title">
      <h1>我们的服务</h1>
      <h6>our service</h6>

      <div class="line"></div>
    </div>
    <div class="clearfix service_info">
      <div class="fl service_left">
        <img class="block" src="/assets/v5.1/largecustomer/ser1.png" height="280" width="420">

        <div class="service_text">
          <h1 class="tc">微信服务定制开发</h1>

          <div class="line bc"></div>
          <p class="bc">专注微信品牌公众号的定制与深度开发服务，打造精品公众号，把用户体验做到极致。</p>
        </div>
      </div>
      <div class="fr service_right">
        <img class="block" src="/assets/v5.1/largecustomer/ser2.png" height="280" width="420">

        <div class="service_text">
          <h1 class="tc">移动APP端定制开发</h1>

          <div class="line bc"></div>
          <p class="bc">为客户提供各类移动平台的APP开发服务（包括但不限于Android、iOS、个性化定制开发等），以及企业传统业务系统在移动端的延伸，我们均能为您提供完美的解决方案。</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="case_box">
  <div class="w1200 bc">
    <div class="tc item_title">
      <h1>我们的作品，客户的成就</h1>
      <h6>our work,theri success</h6>

      <div class="line"></div>
    </div>
    <div class="case_content">
      <div class="case_tab pr">
        <ul class="clearfix">
          <li class="fl case1"></li>
          <li class="fl case2"></li>
          <li class="fl case3"></li>
          <li class="fl case4"></li>
          <li class="fl case5"></li>
          <li class="fl case6"></li>
        </ul>
        <div class="case_line pa"></div>
      </div>
      <div class="case_detail">
        <ul>
          <li>
            <div class="case_info">
              <div class="case_section1">
                <h1>客户痛点诊断</h1>
                <dl class="clearfix">
                  <dd>被动式销售</dd>
                  <dd>数据无法统计</dd>
                  <dd>信息推送单一</dd>
                  <dd>客户使用率低</dd>
                  <dd>产品推送受限</dd>
                </dl>
              </div>
              <div class="case_section2">
                <h1>解决方案</h1>

                <p>抓好内控、改善经验、强练内功，打造“市民身边首选超市”。</p>
                <img class="block" src="/assets/v5.1/largecustomer/content1.jpg" height="414" width="965">
              </div>
              <div class="case_section3">
                <h1>项目成果</h1>

                <div class="case_result">
                  <p>1、会员对接，线上线下会员管理一体化；</p>

                  <p>2、积分查询，积分数据统一管理；</p>

                  <p>3、LBS服务，获取家利得超市附近门店信息，保障用户粘性；</p>

                  <p>4、手机商城，商品的上架、下架、商品管理、分类管理、订单查询、微信端用户查看商品、购买商品、家利得后端查看订单并发货。</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="case_info">
              <div class="case_section1">
                <h1>客户痛点诊断</h1>
                <dl class="clearfix">
                  <dd>移动端不能与PC端网站数据对接</dd>
                  <dd>难以实现会员CRM管理</dd>
                  <dd>会员数据无法实现同步</dd>
                  <dd>信息推送不及时</dd>
                </dl>
              </div>
              <div class="case_section2">
                <h1>解决方案</h1>

                <p>移动端与PC端形成对接，会员及企业更快捷掌握讯息。</p>
                <img class="block" src="/assets/v5.1/largecustomer/content2.jpg" height="414" width="965">
              </div>
              <div class="case_section3">
                <h1>项目成果</h1>

                <div class="case_result">
                  <p>1、会员可以直接查询信息，实现会员在线订购产品及续订行业专家分析数据，实时掌控个人信息管理；</p>

                  <p>2、选择性关注讯息，由移动端会员订购直接收款；</p>

                  <p>3、精准讯息推送与提醒；</p>

                  <p>4、会员后台管理，直接推送会员续订提醒，节省人工。</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="case_info">
              <div class="case_section1">
                <h1>客户痛点诊断</h1>
                <dl class="clearfix">
                  <dd>官网只能提供给客户被动的资讯、查询以及PC端购买产品的服务</dd>
                  <dd>旅游产品的交易量越来越向移动端倾斜</dd>
                  <dd>销量下滑严重</dd>
                  <dd>移动端不能与PC网站数据对接，导致会员数据无法实现同步，不利于会员管理</dd>
                </dl>
              </div>
              <div class="case_section2 case_sec3">
                <h1>解决方案</h1>

                <p>搭建多功能微信公众平台，并将PC端和移动端的对接，实现了会员在移动端的数据同步，有助于加强对会员信息的管理，以及用户体验。</p>
                <img class="block" src="/assets/v5.1/largecustomer/content3.jpg" height="414" width="965">
              </div>
              <div class="case_section3">
                <h1>项目成果</h1>

                <div class="case_result">
                  <p>1、实现线上、线下酒店预定，旅游线路覆盖可选直接线上支付；</p>

                  <p>2、提供疯狂秒杀、锦币抵用、锦币返现等活动，支持用户使用折扣券；</p>

                  <p>3、在B2C 业务中，锦江旅游接入微信支付，利用微信模板消息实现订单付款成功和订单详情的消息告知。</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="case_info">
              <div class="case_section1">
                <h1>客户痛点诊断</h1>
                <dl class="clearfix">
                  <dd>无移动系统，客户无法实现在线预订产品及服务</dd>
                  <dd>移动端会员数据与PC端数据不同步</dd>
                  <dd>无法实现新品精准推荐及引流</dd>
                </dl>
              </div>
              <div class="case_section2">
                <h1>解决方案</h1>

                <p>搭建多功能微信公众平台，并将PC端和移动端的对接，实现了会员在移动端的数据同步。 </p>
                <img class="block" src="/assets/v5.1/largecustomer/content4.jpg" height="414" width="965">
              </div>
              <div class="case_section3">
                <h1>项目成果</h1>

                <div class="case_result">
                  <p>1、满足移动端市场需求，优化产品销售及配送方式；</p>

                  <p>2、直接面向销售员、消费者，实现精准营销，实现“一对一”营销，实现利润的最大化；
                  </p>

                  <p>3、收集遍布在全国各地的司机、卡车信息收集常跑的路线信息。通过销售员返利，吸引销售员销售员解决配送及服务的问题为司机提供最大的便利。
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="case_info">
              <div class="case_section1">
                <h1>客户痛点诊断</h1>
                <dl class="clearfix">
                  <dd>传统酒水专卖店亏损严重</dd>
                  <dd>店铺租金增加</dd>
                  <dd>陈列成本过高</dd>
                  <dd>销量下滑严重</dd>
                  <dd>白酒行业面临转型</dd>
                </dl>
              </div>
              <div class="case_section2">
                <h1>解决方案</h1>

                <p>建立一套完整的洋河1号O2O的业务模式：移动商城（线上）、配送酒行（线下）。 </p>
                <img class="block" src="/assets/v5.1/largecustomer/content5.jpg" height="414" width="965">
              </div>
              <div class="case_section3">
                <h1>项目成果</h1>

                <div class="case_result">
                  <p>1、南京运行成功，7天销售额400万元；</p>

                  <p>2、助力洋河1号大力发展线下合作商，已在浙江、广东等10余省市上线；</p>

                  <p>3、“线上下单，30分钟到货付款”项目至上线以来，获得注册会员10万名。</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="case_info">
              <div class="case_section1">
                <h1>客户痛点诊断</h1>
                <dl class="clearfix">
                  <dd>协助国大决策者引用互联网思维</dd>
                  <dd>转变传统销售模式</dd>
                  <dd>提升国大会员数量</dd>
                  <dd>增强会员黏性</dd>
                  <dd>服务有效提升</dd>
                  <dd>企业会员有效管理</dd>
                  <dd>会员情况专业分析</dd>
                  <dd>为行销方向提供依据</dd>
                </dl>
              </div>
              <div class="case_section2">
                <h1>解决方案</h1>

                <p>建立一套完整的洋河1号O2O的业务模式：移动商城（线上）、配送酒行（线下）。</p>
                <img class="block" src="/assets/v5.1/largecustomer/content6.jpg" height="414" width="965">
              </div>
              <div class="case_section3">
                <h1>项目成果</h1>

                <div class="case_result">
                  <p>1、庞大的会员体系，拥有近1000万的会员数据和信息；</p>

                  <p>2、国大药房糖友荟成为典型的社区服务交流平台；</p>

                  <p>3、国大药房在会员卡、优惠券、红包等全部打通，未来在整合现有门店资源的基础上，开发国药微电商，加强国大药房线下服务。
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>