<%= stylesheet_link_tag 'v5.1/store', 'v5.1/iconfont' %>
<%= javascript_include_tag 'v5.1/store', 'v5.1/lib_jq/jquery.mousewheel.min', 'v5.1/lib_jq/jquery.easing.1.3.min' %>
<% content_for(:title) { '互联网+门店营销解决方案' } %>

<div class="rolling">
  <ul class="rolling-inner">
    <li class="page-nav rolling-cur"></li>
    <li class="page-nav"></li>
    <li class="page-nav"></li>
    <li class="page-nav"></li>
    <li class="page-nav"></li>
    <li class="page-nav"></li>
  </ul>
</div>
<div class="container" id="container">
  <div class="page page1">
    <div class="logo-img bc pr">
      <img src="/assets/v5.1/store/pageitme1.png" class="block bc"/>
      <i class="iconfont icon-weimendian pa"></i>
    </div>
    <div class="page_box1 tc">
      <h2>互联网+门店营销解决方案</h2>
      <div class="text_animation">
        <p>融合移动互联网和传统商业实体门店，触达用户，最终提升门店业绩转化</p>
        <h3>咨询热线：4000-365-711</h3>
        <div class="page_btn bc">
          <div class="check_bg pa"></div>
          <a href="javascript:;" class="block pa" id="launch_qq_store1"><span>点击查询</span></a>
        </div>
      </div>
    </div>
    <div class="page-circle tc">
      <div class="pageitem2 bc clearfix">
        <div class="fl circle circle1 transition" data-scroll="2">
          <i class="block iconfont icon-fensi1"></i>
          <span class="block">吸引粉丝</span>
        </div>
        <div class="fl circle circle2 transition" data-scroll="3">
          <i class="block iconfont icon-fensi"></i>
          <span class="block">留存用户</span>
        </div>
        <div class="fl circle circle3 transition" data-scroll="4">
          <i class="block iconfont icon-kehujigongyingshangguanli"></i>
          <span class="block">沉淀客源</span>
        </div>
        <div class="fl circle circle4 oh tc transition" data-scroll="5">
          <i class="block iconfont icon-yingxiaozhongxin"></i>
          <span class="block">二次营销</span>
        </div>
      </div>
    </div>
  </div>
  <div class="page page2">
    <div class="page_box1 tc">
      <h2>吸引粉丝</h2>
      <div class="text_animation">
        <p>线下涂层二维码引导关注消费者关注微信公众账号即可领现金优惠</p>
        <div class="page_btn bc">
          <div class="check_bg pa"></div>
          <a href="javascript:;" class="block pa" id="launch_qq_store2"><span>点击查询</span></a>
        </div>
      </div>
    </div>
    <div class="page_img">
      <img src="/assets/v5.1/store/page2.png" >
    </div>
  </div>
  <div class="page page3">
    <div class="page_box1 tc">
      <h2>留存用户</h2>
      <div class="text_animation">
        <p>接受到店邀请，创新性互动营销活动黏住用户，转化成会员</p>
        <div class="page_btn bc">
          <div class="check_bg pa"></div>
          <a href="javascript:;" class="block pa" id="launch_qq_store3"><span>了解详情</span></a>
        </div>
      </div>
    </div>
    <div class="page_img">
      <div class="main_img">
        <img src="/assets/v5.1/store/page3.png" >
      </div>
    </div>
  </div>
  <div class="page page4">
    <div class="page_box1 tc">
      <h2>沉淀客源</h2>
      <div class="text_animation">
        <p>接受到店邀请，创新性互动营销活动黏住用户，转化成会员</p>
      </div>
    </div>
    <div class="page_img">
      <img src="/assets/v5.1/store/page4.png" >
    </div>
  </div>
  <div class="page page5">
    <div class="page_box1 tc">
      <h2>二次营销</h2>
      <div class="text_animation">
        <p>高效互动沟通，获取用户画像，精准满足需求</p>
        <a href="javascript:;" class="block bc tc" id="launch_qq_store4"><span>点击咨询</span></a>
      </div>
    </div>
    <div class="page_img">
      <img src="/assets/v5.1/store/page5.png" >
    </div>
  </div>
  <div class="page page6"></div>
</div>

<% content_for :custom_js do %>
<!--[if lt IE 10]>
<script type="text/javascript">
    $(function(){
        $(".page h2,.text_animation").css({"opacity":"1"});
    })
</script>
<![endif]-->
<script>
    BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 4000365711, selector: 'launch_qq_store1'});
    BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 4000365711, selector: 'launch_qq_store2'});
    BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 4000365711, selector: 'launch_qq_store3'});
    BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 4000365711, selector: 'launch_qq_store4'});
</script>
<% end %>
