<p class="tleft">
  <% if action_name != 'show' %>
    <input type="submit" class="btn btn-big btn-orange form-submit submit-keep" value="保存"/>　 　 
    <input type="reset" class="btn btn-big" value="重置"/>
  <% end %>
</p>