.html{background: url(../../../img/vweisiteV01/42/bg.gif); background-size: auto 10px;}
#sec-index,
#stage{ position: absolute; min-height: 100%; width: 100%;}
header{ height: 40px; background: url(../../../img/vweisiteV01/42/bg.png) no-repeat center bottom,url(../../../img/vweisiteV01/42/bg2.png) no-repeat center center,url(../../../img/vweisiteV01/42/bg.gif); background-size: 100% auto, auto 90%,auto 10px; position: absolute; bottom:-1px; left:0; box-shadow: 0 -5px 5px rgba(0,0,0,0.25); width: 100%; z-index: 10;}
#sec-index{ background: url(../../../img/vweisiteV01/42/list.png) no-repeat center bottom; background-size: 100% auto;}
.body{background: url(../../../img/vweisiteV01/42/bg.gif); background-size: auto 10px; margin: 10px 2% 0 2%; border: 2px solid #ffd785; border-radius: 5px; min-height: 100%; position: absolute; top:10px; bottom: 0; padding-bottom: 120px; width: 96%;}
.body:before,
.body:after{ content: " "; position: absolute; top:-10px; width:30px; height: 30px; background: url(../../../img/vweisiteV01/42/bg-list.png) no-repeat center top; background-size:contain; z-index: 10;}
.body:before{left: -10px; }
.body:after{right: -10px;-webkit-transform: rotate(90deg);}
.article{background:rgba(219,34,9,0.4); width: 100%; height: 100%; position: absolute; overflow:hidden; word-spacing:normal; word-break:normal; word-break:break-all;}
.article .hd,
.article .bd{ line-height: 20px;color: #666; margin:0 10px;}
.article .hd{ padding: 10px 5px 10px 5px;border-bottom: 1px solid #8b0a00; color: #8b0a00;}
.article .hd h1{ font-size:18px; font-weight: normal;}
.article .hd small{font-size: 12px; color: #999;}
.article .bd{padding: 10px 0px 30px 0px;}
.article img{ max-width: 100%;}
.article .bd ul,
.article .bd ol{-webkit-padding-start:20px;}
.article-wrap{
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 96%;
    margin:2%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background:#ffeeca;
    border-radius: 10px;
}
.btn-up-1{ background: #4a5068;}
.btn-up-1 .fa{ background: #fff; color: #4a5068;}
.navPop-1 .navPop-btn{ background: #4a5068;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #4a5068;}
.navPop-wrap>div a{
    background: #4a5068;
    color: #fff;
}
@media screen and (orientation:landscape) {
    header{ height: 80px;}
    .body{bottom: 75px; min-height: 75%;}
}