<% content_for :sidebar do %>
  <%= render 'sidebar_vip' %>
<% end %>

<% content_for :topbar do %>
  <a class="h1 pagecurrent">会员卡操作手册</a>
<% end %>
<div class="eidt-cont">
  <h2>一、基本操作步骤</h2>
  <h3>Step1【基本信息】设置（微会员卡 → 会员卡设置）</h3>
  <p>这是让用户进入会员卡的前提条件，只有完成了这步才能开始接下来的会员卡设置以及等级、特权、积分等的操作。</p>
  <p><img src="/assets/help/vip_img_1.png"></p>
  <h3>Step2【会员卡设置】</h3>
  <p>1、会员卡卡片设置</p>
  <p>作用：用于会员卡微信手机端的展示，包括（卡片颜色、会员卡名称、会员卡号）</p>
  <p>操作功能：</p>
  <p>可以编辑会员卡<span class="fred">背景图片</span>、<span class="fred">会员卡名称</span>（字体颜色选择）、<span class="fred">会员图标</span>（如果背景图片中已包含会员名称和图标可以不填）以及会员卡相关说明；</p>
  <p>在此编辑的信息将在会员领卡后进入会员卡第一个界面时呈现给用户；</p>
  <p><img src="/assets/help/vip_img_2.png"></p>
  <p>2、会员资料设置</p>
  <p>作用：用于申请会员卡时的个人资料填写；</p>
  <p>操作功能：（微会员卡 → 会员卡设置 → 会员资料设置 → 新增）</p>
  <p>点击“新增”进入新增会员资料：这里有“常用字段”和“自定义字段”可供选择，“常用字段”和“自定义字段”的区别在于，前者不能自由编辑字段类型和字段名称，而后者可以自由编辑；</p>
  <p><img src="/assets/help/vip_img_3.png"></p>
  <p>字段列表页中的姓名和手机号码是默认字段，不可删除；表中可以设置每个字段是否为必填，是否可修改（选为可修改，会员在手机端的“个人资料”中可以修改提交的个人信息），还可以通过“上移”、“下移”调整字段的排列顺序，在微信手机端会按照字段排列的先后来显示。</p>
  <p><img src="/assets/help/vip_img_4.png"></p>
  <p>编辑完成后手机端的展现形式如下；</p>
  <p><img src="/assets/help/vip_img_5.png"></p>
  <h3>Step3【积分策略】</h3>
  <p>作用：积分策略是面向所有持卡会员的，所有等级的会员都能享受积分策略，不分等级；</p>
  <p>操作功能：</p>
  <p>点击“新增”新增积分策略，可选择积分类型添加，选定积分类型后填入对应的积分内容，其中签到送积分只能添加一条，如果需要修改可在原有的基础上编辑修改；</p>
  <p><img src="/assets/help/vip_img_6.png"></p>
  <p>积分策略可进行“停用”操作，并且停用的积分策略还能再次“启用”，微信手机端只显示“启用”的并且有效的积分策略（积分策略“停用”后，会员不能享受到相对应的积分政策，请谨慎操作）；</p>
  <p><img src="/assets/help/vip_img_7.png"></p>
  <h3>Step4【等级、特权设置】</h3>
  <p>等级和特权是密切关联的，等级是界定会员级别高低的标志，特权是达到特定等级所能享有的权限；</p>
  <p>1、会员等级设置</p>
  <p>作用：用于区分不同会员权限；</p>
  <p>操作功能：</p>
  <p>点击“新增”进入等级添加：标“<span class="fred">*</span>”的字段为必填项，其中“等级定义”是决定会员卡等级高低的标志，数字越大等级级别越高；“等级条件”是判断会员是否达到指定等级的依据；“等级说明”是非必填项，用于补充说明等级的相关事项；</p>
  <p><img src="/assets/help/vip_img_8.png"></p>
  <p>说明：删除等级时，会员等级下没有所属会员是可删除的，但如果会员等级下有所属会员则不允许删除。</p>
  <p>2、会员特权设置</p>
  <p>作用：用于关联会员等级，关联后的会员卡等级下的会员可以享受相应的特权，特权可创建多条；</p>
  <p>功能操作：</p>
  <p>点击“新增”进入特权添加页面，页面中“*”为必填项，特权条件编辑后可选定适用的会员卡等级，然后设置特权的适用次数、有效期；</p>
  <p><img src="/assets/help/vip_img_9.png"></p>
  <p>添加的特权可进行“停用”操作，并且停用的特权还能再次“启用”，微信手机端只显示“启用”的并且有效的特权；</p>
  <p><img src="/assets/help/vip_img_10.png"></p>
  <h3>Step5【交易密码设置】</h3>
  <p>作用：交易密码用于会员管理中的充值、消费、金额调节，积分调节，等级调节的操作，这些操作必须通过输入交易密码才能进行。</p>
  <p>操作功能：</p>
  <p>初次设置密码时需要输入一个常用邮箱、密码、设置密保问题，邮箱号必须填写，这将用于日后交易密码的找回，密保问题建议填写，万一邮箱忘记也可使用密保问题来找回交易密码。</p>
  <h2>二、其他功能介绍</h2>
  <h3>1、会员管理</h3>
  <p>【微会员管理】管理所有会员的会员卡使用情况，包括金额、积分、等级的调整，以及会员卡的冻结、解冻等操作，还能通过查询条件查找到指定会员，查看会员的详细信息，会员详细信息的查看可点击卡号进入。</p>
  <p><img src="/assets/help/vip_img_11.png"></p>
  <p>【待审核信息】在会员卡设置中如果勾选“审核“则所有会员申请后需要在此进行审核（”通过“或”拒绝“）后才能确认会员领卡是否成功。</p>
  <p>【已拒绝】中是对拒绝用户的信息汇总，可以查看用户的详细信息。</p>
  <h3>2、会员营销</h3>
  <p>会员营销包括礼品管理、会员关怀两部分。</p>
  <p>2.1.礼品管理</p>
  <p>作用：礼品管理用于会员系统发放的礼品券创建，创建礼品时，礼品名称请控制在12个字以内，这样能确保微信手机端的展示效果达到最佳；</p>
  <p>操作功能：点击“新增”进入新增礼品，所有“<span class="fred">*</span>”为必填项请务必认真填写；礼品图片：请按照提示的尺寸上传，以便达到微信手机端的最佳浏览效果；使用门店限制：勾选后可选择礼品的使用门店，如果不勾选则表示所有门店通用。</p>
  <p>可兑换次数：是指的一个会员可兑换这一个礼品的次数，-1为不限制兑换次数，若需要限制，请输入限制的数字；</p>
  <p>有效兑换时间：指的是礼品兑换的有效时间，超过有效时间范围的礼品为“已过期”状态不能兑换；</p>
  <p>有效领取时间：指的是礼品兑换后的领取有效时间，同样超过有效期天数限制的礼品商家有权不予以发放；</p>
  <p><img src="/assets/help/vip_img_12.png"></p>
  <p>2.1.1.礼品兑换管理（会员营销 → 礼品管理 → 礼品兑换管理）</p>
  <p>用于兑换后的礼品领取，可点击“礼品领取”输入会员礼品券的SN码完成领取，或者在会员的手机上输入你的交易密码完成领取。</p>
  <p><img src="/assets/help/vip_img_13.png"></p>
  <p>2.2.会员关怀</p>
  <p>作用：会员关怀用于如：中秋节、国庆节、生日等节日对会员的一些关怀，包括礼品券、优惠券、积分的发放。</p>
  <p>操作功能:</p>
  <p>【节日名称】为达到微信手机端的最佳浏览效果，请控制在6个字以内；</p>
  <p>【节日类型】分为节日、生日；</p>
  <p>赠送类型】中赠送礼品券、赠送优惠券的有效期为礼品券和优惠券中原本的有效期时间，赠送积分的有效期默认是当月使用才有效的，所以请在站内信内容中告知会员；</p>
  <p>【消息发送时间】非必填项，不填则是即时发送的；</p>
  <p>站内信内容】会员关怀需要对会员说的一些话，以及发放的优惠使用说明；动态参数用于站内信编辑时的变量替代（如，尊敬的<span class="fred">{会员姓名}</span>，<span class="fred">{商户姓名}</span>在春节来临之际赠送您<span class="fred">{礼品券}</span>一张，快去使用吧！；消息发送后会员收到的站内信内容为：尊敬的<span class="fred">张三</span>，<span class="fred">微枚迪</span>在春节来临之际赠送您<span class="fred">电影票</span>一张，快去使用吧！）</p>
  <p><img src="/assets/help/vip_img_14.png"></p>
  <p>3、站内信管理</p>
  <p>包括会员分组管理、站内信管理、站内信发送。</p>
  <p>3.1.会员分组管理</p>
  <p>作用：用于区分不同性质不同群体的会员。</p>
  <p>操作功能：</p>
  <p>先新建会员的分组名称，然后根据筛选条件或通过查询框搜索指定的会员加入创建的分组中；</p>
  <p><img src="/assets/help/vip_img_15.png"></p>
  <p>分组后的会员可以移入其他分组，移入后原来的分组中不会包含此会员，若将某分组中的会员删除，则该会员会回到未分组的会员中去。</p>
  <p>3.2.站内信管理</p>
  <p>作用：商家如有新品上架或其他活动消息，可通过站内信的形式通知会员，会员可在手机端的【会员通知】中查看。</p>
  <p>操作功能：</p>
  <p>站内信管理表中记录的是每条站内信的发送详情。</p>
  <p><img src="/assets/help/vip_img_16.png"></p>
  <p>点击“新增”可新增站内信，新增站内信时，为达到手机端的最佳浏览效果，标题不要超过12个字。</p>
  <p><img src="/assets/help/vip_img_17.png"></p>
  <p>4、会员卡统计</p>
  <p>趋势图中通过标签查看会员卡的最新趋势图，统计报表中还有【导出EXCEL】功能，用以导出会员卡的领用数据。</p>
  <p><img src="/assets/help/vip_img_18.png"></p>
  <p>5、消费记录</p>
  <p>记录的是整个会员卡体系的会员消费以及积分情况，同时能够【导出EXCEL】得到消费和积分数据，趋势图中通过标签可以查看不同时间范围内的消费和积分情况。</p>
  <p><img src="/assets/help/vip_img_19.png"></p>
</div>
