.cases body{background-color: #f9f9f9;}
.cases_wrapper{ min-height: 700px; margin:30px 0 43px;}
.cases{ background: #fff;position: relative;}
.case-main{height: 677px; position: relative; }
.mod-nav{ border:1px solid #eee; border-right:0; width:256px;height: 675px; background:#fff;color: #fff;position: relative;}

.mod-nav ul{height: 100%; position: relative; z-index: 100;}
.mod-nav li{height: 47px;line-height:47px;padding-left: 18px;font-size: 14px;}
.mod-nav i{width: 14px;text-align: center;margin-right: 18px;}
.mod-nav li > a{color:#999;text-decoration:none;display: block; -webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
transition-duration: 0.4s;}
.mod-nav li > a:hover{color: #027d9c;}
.mod-nav .nav-cur a{color: #027d9c;}
.mod-nav-hover{position: absolute; width: 255px; height: 47px; right: 0px; top: 54px; border-left: 2px solid #027d9c; background-color: #f9f9fa; }
.case-main-group{width: 943px;height:100%;background: url(/assets/site/cases/casebg.jpg) no-repeat;}
.wrapp{width: 943px; }
.wrapp li{width: 943px; height: 677px;  display: none; }
.cases1{ top:137px; left: 77px;}
.cases2{ top:137px; left: 363px;} 

.casesBg{ top:107px; right: 64px; z-index: 0; width: 242px; height: 300px; background-color: #fff; opacity: 0.8; filter:alpha(opacity=80);}
.cases_content{ top:107px; right: 64px; z-index: 9; padding-top: 18px; width: 242px; height: 300px;}
.cases_content h1{ margin:15px 0 14px; font-size: 18px; height: 18px; line-height: 18px; color: #333;}
.cases_content h4{ margin-bottom: 12px; font-size: 12px; height: 12px; line-height: 12px; color: #999;}
.sildebtn_box{ width: 242px; height: 16px; right: 64px; bottom: 228px;}

.i-btns{height: 16px; }
.i-btns-item{width: 16px; height: 16px; float: left; margin-right: 16px; cursor: pointer;}
.i-btns-item em{ display: block; width: 10px; height: 10px; margin:3px; border-radius: 100%; background-color: #000; filter:alpha(opacity=30); opacity:0.3; }
.i-btns-item.last{ margin-right: 0;}
.i-btns-item.active em{ margin:0; width: 16px; height: 16px;  margin-top:0; background-color: #0091ea; filter:alpha(opacity=100); opacity:1;
-webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear; -o-transition:all 0.2s linear; -ms-transition:all 0.2s linear; transition:all 0.2s linear;}
 
.btn{width: 8px; height: 16px; background: url(/assets/site/cases/btn.png) 0px 0px no-repeat; cursor: pointer;}
.btnL{ background-position: 0 0; margin-right: 20px;}
.btnR{ background-position: -8px 0; margin-left: 20px;}