@charset "utf-8";
.report body{background-color: #f1f1f1;}
.rep-c-3396d1{color: #3396d1;}

.rep-header{padding: 42px 0px 24px; border-bottom: 1px #e1e1e1 solid; background: url(/assets/site/report/report_detail_header_bg.png) center center no-repeat;}
.rep-tit{font-size: 36px; color: #77c04b; text-align: center;}
.rep-nav{height: 24px; line-height: 24px; margin-top: 25px; text-align: center; font-size: 0;}
.rep-nav-item{display: inline-block; margin: 0px 4px;}
.rep-nav-link{display: block; padding: 0px 18px; font-size: 13px; -webkit-border-radius: 7px;
-moz-border-radius: 7px;
-o-border-radius: 7px;
border-radius: 7px; color: #fff;}
.rep-nav-link:hover, .rep-nav-link.active{background-color: #024c6f; color: #fff; -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 37, 56, 0.75) inset;
-moz-box-shadow: 0px 1px 3px 0px rgba(0, 37, 56, 0.75) inset;
-o-box-shadow: 0px 1px 3px 0px rgba(0, 37, 56, 0.75) inset;
box-shadow: 0px 1px 3px 0px rgba(0, 37, 56, 0.75) inset;}
.rep-bread{height: 48px; line-height: 48px; background-color: #ffffff; border-bottom: 1px #ddd solid;}
.rep-center{width: 1200px; margin: 0px auto;}
.rep-bread-txt{padding-left: 21px; background: url(/assets/site/report/report_icon_home.png) 0px center no-repeat;}
.rep-bread-link{color: #505050;}
.rep-bread-curr{color: #999999;}

.rep-art{width: 1200px; min-height: 395px; margin: 0px auto 30px; padding: 46px 0px;  background-color: #fff;}
.rep-art-center{width: 1120px; margin: 0px auto; overflow: hidden;}
.rep-art-tit{font-size: 30px; text-align: center; color: #767f93;}
.rep-art-stit{color: #999999; text-align: center; margin-top: 12px;}
.rep-art-sitem{padding: 0px 6px;}
.rep-art-body{width: 1000px; margin: 34px auto 0px; font-size: 14px; line-height: 1.6em;}

.rep-list{width: 1200px; margin: 30px auto; position: relative;}
.rep-list-item{display: none; width: 390px; position: absolute; margin-bottom: 14px; border-bottom: 2px #dfdfdf solid; background-color: #fff; line-height: 1.6em;}
.rep-list-wrapp{padding: 0px 18px 30px 22px;}
.rep-list-tit{font-size: 16px; color: #767f93; font-weight: bold; margin-top: 28px;}
.rep-list-desp{margin-top: 12px;}
.rep-list-detail{margin-top: 12px;}
.rep-list-item img{width: 390px; height: auto; display: block;}
.rep-loading{opacity: 1; width: 1200px; height: 40px; line-height: 40px; text-align: center; margin: 0px auto 30px; background: url(/assets/site/loading.gif) center center no-repeat;}

.join-bann{height: 260px; background: url(/assets/site/report/banner.jpg) no-repeat center;}
.join-bann .center1200{ height: 260px;}
.join-bann h1{ padding:90px 0 14px 16px; font-size: 46px; line-height: 46px; color: #057c9c;}
.join-bann h2{ padding:0 0 0 16px; font-size: 24px; line-height: 24px; color: #666;}



.rep_title{ width: 400px; height: 48px; }
.rep_title li{ width: 80px; margin-right: 80px; height: 47px; line-height: 47px; border-bottom: 1px solid #fff; font-size: 14px; text-align: center; cursor:pointer; color: #333;}
.rep_title li.last{ margin-right: 0;}
.rep_title li:hover{ color:#057c9c;}
.rep_title li.mainCurrent{ color:#057c9c; border-bottom: 1px solid #057c9c; }

/*.case-hd-line{ left: 0; bottom: -1px; height: 1px; width: 80px; background-color: #057c9c;}*/