<% if Rails.env.production? %>
<div style="display: none;">
  <script type="text/javascript">
  // var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  // document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F76f8c2fa38a1d873556989e436a19488' type='text/javascript'%3E%3C/script%3E"));
  </script>
</div>

<script type="text/javascript">
/* <![CDATA[ */
// var google_conversion_id = 980334950;
// var google_custom_params = window.google_tag_params;
// var google_remarketing_only = true;
/* ]]> */
</script>

<!-- <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script> -->

<!-- WPA Button Begin -->
<!-- <script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzkzODAxMDc5Ml83MjQ3OF80MDAwMzY1NzExXw"></script> -->
<!-- WPA Button END -->

<noscript>
<!-- <div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/980334950/?value=0&amp;guid=ON&amp;script=0"/>
</div> -->
</noscript>
<% end %>