<div id="backto-top" class="none pointer">
  <i class="fa fa-angle-up tc"></i>
</div>
<div class="footer-wrapp">
  <nav class="fnav">
    <div class="center1200 clearfix">
      <dl class="footer_logo">
        <dt>
          <!-- <img src="/assets/site/footer_logo.png" /> -->
        </dt>
      </dl>
      <dl class="first">
        <dt>联系方式</dt>
        <dd>
          <ul>
            <!-- <li>电话：4000-365-711</li> -->
            <li>邮箱：contact@winwemedia.com</li>
            <li>地址：上海市浦东新区祖冲之路2305弄A栋10楼</li>
          </ul>
        </dd>
      </dl>
      <dl>
        <dt>关于我们</dt>
        <dd>
          <ul>
            <li><a href="/about">关于微枚迪</a></li>
            <li><a href="/joins">诚聘英才</a></li>
            <li> <a href="/news">媒体报道</a></li>
          </ul>
        </dd>
      </dl>
      <dl>
        <dt>友情链接</dt>
        <dd>
          <ul>
            <li><a href="https://mp.weixin.qq.com/" target="_blank">微信公众平台</a></li>
            <li><a href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=business/faq_operation_tmpl&type=info&lang=zh_CN&token=" target="_blank">微信公众平台运营规范</a></li>
          </ul>
        </dd>
      </dl>
      <dl>
        <dt>使用指南</dt>
        <dd>
          <ul>
            <li><a href="http://www.winwemedia.com/help_menus">微枚迪产品使用指南</a></li>
          </ul>
        </dd>
      </dl>


    </div>
  </nav>
  <footer class="footer">
    <div class="center1200">
      <div class="f-copyright">Copyright © 2014-2014 <a href="http://www.winwemedia.com">www.winwemedia.com</a>All Rights Reserved 湖北微枚迪技术有限公司<br />鄂ICP备15018372号</div>
      <div class="f-sns">
<!--         <a href="javascript:;" class="f-wechat foot_circle">
          <i class="fa fa-qrcode"></i>
          <span><img src="/assets/site/global_qrcode.jpg" alt="微枚迪公众账号" /><em>微信扫描关注公共账号</em></span>
        </a>
        <a href="http://weibo.com/winwemedia"  class="foot_circle" target="_blank"><i class="fa fa-weibo"></i></a>
        <a href="http://t.qq.com/winwemedia"  class="foot_circle" target="_blank"><i class="fa fa-tencent-weibo"></i></a> -->
      </div>
    </div>
  </footer>
</div>
<!-- 
<div class="toolsbar">
  <div class="tools-left">在线客服</div>
  <ul class="tools-main">
    <li class="tools-item">
      <a href="javascript:;" class="box" id="launch_qq">
        <i class="fa fa-qq"></i>
        <span class="tools-name">在线答疑</span>
      </a>
    </li>
    <li class="tools-item">
      <a href="/spread" class="box">
        <i class="fa fa-group"></i>
        <span class="tools-name">招商加盟</span>
      </a>
    </li>
    <li class="tools-item">
      <a href="tel:13918004151" class="box">
        <p>
          <i class="fa fa-phone"></i>
          <span class="tools-name">服务热线</span>
        </p>
        <p class="tools-phone">
          13918004151(上海)，13367271297(武汉) 
        </p>
      </a>
    </li>
  </ul>
</div>

<script src="/javascripts/kf.js"></script>
<script src="http://vcl-assets.qiniucdn.com/vcl_log_stats.0.0.2.js"></script>
<script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
<script>
    BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 1515463778, selector: 'launch_qq'});
</script>
-->