<div class="mod-page-circle page-index" id="page-index">
    <ul class="nav">
        <li class="active">
            <a href="#index-0">0</a>
        </li>
        <li>
            <a href="#index-1">
                1
                <span>V-领先服务</span>
            </a>
        </li>
        <li>
            <a href="#index-2">
                2
                <span>经典案例</span>
            </a>
        </li>
    </ul>
</div>
<div class="mod-tools" id="tools">
    <a class="tools-qq">QQ交谈</a>
    <a class="tools-phone">400-200-200</a>
    <a class="tools-spread">申请代理</a>
    <a class="tools-qrd"></a>
</div>
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body modal-qq">
                <h4>尊敬的用户：</h4>
                <small>您好，请问有什么可以帮到您？</small>
                <p>
                    <a class="btn btn-red">qq交谈</a>
                    <a class="btn btn-gray">下次再说</a>
                </p>
            </div>
        </div>
    </div>
</div>