<script src="/javascripts/kf.js"></script>
<script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
<script>
  BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 18621632985, selector: 'launch_qq'});
  BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 18621632985, selector: 'launch2_qq'});
</script>
<style>
  .mod-tools {
      position: fixed;
      right: 0;
      top: 200px;
      width: 41px;
      overflow: visible;
  }

  .mod-tools > * {
      height: 38px;
      color: #fff;
      line-height: 38px;
      padding: 0 0 0 8px;
      background-image: url(/com/img/winwemedia.png);
      background-repeat: no-repeat;
      background-color: #8e8e87;
      border-left: 3px solid #c6c6c2;
      display: block;
      margin-top: 1px;
      width: 0;
      padding-left: 38px;
      overflow: hidden;
      float: right;
      cursor: pointer;
  }
</style>
<div class="mod-tools" id="tools">
  <a class="tools-qq" id="launch_qq" style="background-position: 0 -1390px">QQ交谈</a>
</div>