<% if false %>

	<a href="http://union.winwemedia.com" style="background: #ff5000; padding: 05px 10px; border-radius: 0px 0 0 0px; position: fixed; bottom: 150px; right: 0; z-index:100; color: #fff;opacity:0.7;display: block;">
		<img src="/mobile/img/wlife/back.png" height="16" style="margin-right: 5px;" />
		微客生活
	</a>

<% end %>
