<%= stylesheet_link_tag 'v5/oa' %>
<%= content_for(:title) { '移动OA' } %>

<div class="oa-banner">
    <div class="banner1">
        <div class="center960">
            <div class="banner1-iphone"><img src="/assets/v5/oa/iphone1.png" alt=""></div>
            <div class="banner1-right">
                <img src="/assets/v5/oa/oa_1.png" alt="">
                <p>移动办公好助手，致力于中小企业，开启微型移动化办公时代！</p>
                <a href="http://uzhe.com" target="_blank" class="official-btn">进入官网</a>
            </div>
        </div>
    </div>
</div>
<div class="oa-main">
    <div class="center960">
        <h3>优者工作圈微信OA系统</h3>
        <ul class="menu-box">
            <li class="menu menu1">
                <div class="menu-box1">
                    <span class="menu-img">
                        <i class="fa fa-map-marker c-e1766b"></i>
                    </span>
                    <span class="menu-name">签到</span>
                </div>
                <div class="menu-box2">
                    <p>随时随地，</p>
                    <p>记录真实位置。</p>
                </div>
            </li>
            <li class="menu menu2">
                <div class="menu-box1">
                    <span class="menu-img">
                        <i class="fa fa-newspaper-o c-ffb341"></i>
                    </span>
                    <span class="menu-name">日报</span>
                </div>
                <div class="menu-box2">
                    <p>记录每日工作，</p>
                    <p>汇报最新计划。</p>
                </div>
            </li>
            <li class="menu menu3">
                <div class="menu-box1">
                    <span class="menu-img">
                        <i class="fa fa-star-half-empty c-41b27b"></i>
                    </span>
                    <span class="menu-name">指派事项 </span>
                </div>
                <div class="menu-box2">
                    <p>快速发起指派事项，</p>
                    <p>及时跟踪任务进展。</p>
                </div>
            </li>
            <li class="menu menu4">
                <div class="menu-box1">
                    <span class="menu-img">
                        <i class="fa fa-check-square-o c-c88c8d"></i>
                    </span>
                    <span class="menu-name">调研</span>
                </div>
                <div class="menu-box2">
                    <p>轻松创建调研问卷，</p>
                    <p>高效整理员工意见。</p>
                </div>
            </li>
            <li class="menu menu5">
                <div class="menu-box1">
                    <span class="menu-img">
                        <i class="fa fa-book c-948fca"></i>
                    </span>
                    <span class="menu-name">通讯录</span>
                </div>
                <div class="menu-box2">
                    <p>共享通讯录，</p>
                    <p>联系方式一键查询。</p>
                </div>
            </li>
            <li class="menu menu6">
                <div class="menu-box1">
                    <span class="menu-img">
                        <i class="fa fa-pie-chart c-c8a58a"></i>
                    </span>
                    <span class="menu-name">投票</span>
                </div>
                <div class="menu-box2">
                    <p>投票形式自由选择，</p>
                    <p>统计结果一目了然。</p>
                </div>
            </li>
            <li class="menu menu7">
                 <div class="menu-box1">
                    <span class="menu-img">
                        <i class="fa fa-edit c-f17751"></i>
                    </span>
                    <span class="menu-name">申请审批</span>
                </div>
                <div class="menu-box2">
                    <p>随时随地审批，</p>
                    <p>轻松实现移动办公。</p>
                </div>
            </li>
            <li class="menu menu8">
                 <a href="#" class="menu-box8">
                    <span class="menu-img">
                        <i class="fa fa-ellipsis-h c-767f93"></i>
                    </span>
                    <span class="menu-name">查看更多</span>
                </a>
            </li>
        </ul>
    </div>
</div>
