<% @no_footer = true %>
<% content_for(:title) { '微枚迪--移动建站专家' } %>
<% content_for :keywords, "移动建站--移动平台" %>
<% content_for :description, "3分钟创建你的手机站，闪电入驻百度移动搜索、百度直达号，零门槛搭建移动平台。" %>
<%= stylesheet_link_tag "yeahsite", media: "all" %>
<%= javascript_include_tag "yeahsite" %>


<div class="yeah-sc yeah-sc1">
  <img class="yeah-sc1-img" src="assets/v5/yeahsite-new/banner.jpg" height="558" width="1920" alt="">
  <div class="yeah-txt yeah-txt-sc1">
    <h2 class="yeah-h2">创造无限商机的移动建站平台</h2>
    <p class="yeah-h2-desp">一处建站，全网营销高效盈利，为企业带来更多咨询量和成交量</p>
    <p class="yeah-tel">咨询热线：4000-365-711</p>
    <div class="yeah-btns">
      <a class="yeah-btn yeah-btn-sc11" href="http://www.yeahsite.com/register" target="_blank">免费试用</a>
      <a class="yeah-btn yeah-btn-sc12" href="/spread#part-anchor1" target="_blank">申请为服务商</a>
    </div>
  </div>
</div>

<div class="yeah-sc yeah-sc2">
  <div class="yeah-txt yeah-txt-sc2">
    <h2 class="yeah-h2">企业为什么需要手机网站？</h2>
    <p class="yeah-h2-desp">想要天使投资、贷款、订单、商机……？<br />但，你敢想象客户在手机上浏览你网站时的样子吗？</p>
    <div class="yeah-btns">
      <a class="yeah-btn yeah-btn-sc21" href="http://www.yeahsite.com/register" target="_blank">免费试用</a>
    </div>
  </div>
  <img class="yeah-sc2-img" src="assets/v5/yeahsite-new/section2_pic1.png" height="697" width="596" alt="">
</div>

<div class="yeah-sc yeah-sc3">
  <div class="yeah-txt yeah-txt-sc3">
    <h2 class="yeah-h2">3分钟创建你的手机网站</h2>
    <p class="yeah-h2-desp">商场如战场，竞争无处不在，手机网站已成为移动互联网时代的敲门砖</p>
  </div>
  <div class="yeah-sc3-nav">
    <ul class="yeah-sc3-nav-list">
      <li class="yeah-sc3-nav-item">零门槛建站</li>
      <li class="yeah-sc3-nav-item">绑定域名</li>
      <li class="yeah-sc3-nav-item">HTML5体验</li>
      <li class="yeah-sc3-nav-item">全网营销</li>
      <li class="yeah-sc3-nav-item">赢订单</li>
    </ul>
  </div>
  <div class="yeah-sc3-list">
    <div class="yeah-sc3-wp">
      <div class="yeah-sc3-item">
        <div class="yeah-sc3-item-pic yeah-sc3-item-pic1"><img src="assets/v5/yeahsite-new/section3_pic1.png" height="274" width="476" alt=""></div>
        <div class="yeah-sc3-item-txt yeah-sc3-item-txt1">
          <h3 class="yeah-h3">零门槛建站</h3>
          <p class="yeah-h3-subtit">拖拽式生成页面</p>
          <p class="yeah-h3-desp">无需技术基础，简单拖拽即可生成漂亮页面，提供强大的功能组件，包括组图、文章列表、二维码等。</p>
          <a class="yeah-btn yeah-btn-sc31" href="http://www.yeahsite.com/register" target="_blank">立即体验</a>
        </div>
      </div>
      <div class="yeah-sc3-item">
        <div class="yeah-sc3-item-pic yeah-sc3-item-pic2"><img src="assets/v5/yeahsite-new/section3_pic2.png" height="383" width="493" alt=""></div>
        <div class="yeah-sc3-item-txt yeah-sc3-item-txt2">
          <h3 class="yeah-h3">绑定域名</h3>
          <p class="yeah-h3-subtit">域名始终如一</p>
          <p class="yeah-h3-desp">页面响应式布局，适配各平台终端。支持绑定PC端域名，让您的品牌如一。</p>
          <a class="yeah-btn yeah-btn-sc31" href="http://www.yeahsite.com/register" target="_blank">立即体验</a>
        </div>
      </div>
      <div class="yeah-sc3-item">
        <div class="yeah-sc3-item-pic yeah-sc3-item-pic3"><img src="assets/v5/yeahsite-new/section3_pic3.png" height="473" width="581" alt=""></div>
        <div class="yeah-sc3-item-txt yeah-sc3-item-txt3">
          <h3 class="yeah-h3">HTML5体验</h3>
          <p class="yeah-h3-subtit">酷炫视觉体验</p>
          <p class="yeah-h3-desp">打破传统的多图切换效果，多模板，一键切换，随时配合您的企业动态，优化用户体验。</p>
          <a class="yeah-btn yeah-btn-sc31" href="http://www.yeahsite.com/register" target="_blank">立即体验</a>
        </div>
      </div>
      <div class="yeah-sc3-item">
        <div class="yeah-sc3-item-pic yeah-sc3-item-pic4"><img src="assets/v5/yeahsite-new/section3_pic4.png" height="318" width="519" alt=""></div>
        <div class="yeah-sc3-item-txt yeah-sc3-item-txt4">
          <h3 class="yeah-h3">全网营销</h3>
          <p class="yeah-h3-subtit">一网建站，全网营销</p>
          <p class="yeah-h3-desp">网站可投放至百度、360、腾讯、支付宝服务窗、直达号等移动搜索引擎，10亿用户滚滚而来</p>
          <a class="yeah-btn yeah-btn-sc31" href="http://www.yeahsite.com/register" target="_blank">立即体验</a>
        </div>
      </div>
      <div class="yeah-sc3-item">
        <div class="yeah-sc3-item-pic yeah-sc3-item-pic5"><img src="assets/v5/yeahsite-new/section3_pic5.png" height="374" width="624" alt=""></div>
        <div class="yeah-sc3-item-txt yeah-sc3-item-txt5">
          <h3 class="yeah-h3">赢订单</h3>
          <p class="yeah-h3-subtit">第一时间锁定商机</p>
          <p class="yeah-h3-desp">入驻全国领先的供求信息商贸平台，覆盖181个行业、企业会员1500多万，买家资源1200多万，日访问量860多万PV，并提供在线客服，实时沟通，随时随地管理订单。</p>
          <a class="yeah-btn yeah-btn-sc31" href="http://www.yeahsite.com/register" target="_blank">立即体验</a>
        </div>
      </div>
    </div>
  </div>

  <div class="yeah-sc3-cloud"><img class="yeah-sc3-cloud-img" src="assets/v5/yeahsite-new/section3_cloud.png" height="100" width="1920" alt=""></div>
</div>

<div class="yeah-sc yeah-sc4">
  <div class="yeah-txt yeah-txt-sc4">
    <h2 class="yeah-h2">一个创造无限商机的移动建站平台</h2>
    <p class="yeah-h2-desp">您将拥有一个视觉力冲击强的营销网站，不仅能提升企业形象和综合实力，还能吸引访客，提高销售成交量</p>
  </div>
  <div class="yeah-sc4-list">
    <div class="clearfix yeah-sc4-wp">
      <div class="yeah-sc4-item">
        <div class="yeah-sc4-tit">标准版</div>
        <div class="yeah-sc4-desp">解决企业移动建站的问题</div>
        <ul class="yeah-sc4-links">
          <li>移动建站平台</li>
          <li>在线电商</li>
          <li>微海报</li>
          <li>在线沟通</li>
          <li>SEO优化</li>
          <li class="yeah-sc4-links-no">/</li>
          <li class="yeah-sc4-links-no">/</li>
          <li class="yeah-sc4-links-no">/</li>
        </ul>
        <a class="yeah-btn yeah-btn-sc41" href="http://www.yeahsite.com/register" target="_blank">马上开通</a>
        <div class="yeah-sc4-icon"><i class="iconfont icon-diannao"></i></div>
      </div>
      <div class="yeah-sc4-item">
        <div class="yeah-sc4-tit">标准版+商贸平台+金融贷款</div>
        <div class="yeah-sc4-desp">解决企业金融贷款的问题</div>
        <ul class="yeah-sc4-links">
          <li>移动建站平台</li>
          <li>电商</li>
          <li>微海报</li>
          <li>在线沟通</li>
          <li>SEO优化</li>
          <li>全国领先的供求信息商贸平台</li>
          <li>PC端营销网站</li>
          <li>全网最低信贷利率，免抵押担保</li>
        </ul>
        <a class="yeah-btn yeah-btn-sc41" href="http://www.yeahsite.com/register" target="_blank">马上开通</a>
        <div class="yeah-sc4-icon"><i class="iconfont icon-caiwutouzi"></i></div>
      </div>
      <div class="yeah-sc4-item">
        <div class="yeah-sc4-tit">标准版+商贸平台</div>
        <div class="yeah-sc4-desp">解决企业业务订单的问题</div>
        <ul class="yeah-sc4-links">
          <li>移动建站平台</li>
          <li> 在线电商</li>
          <li>微海报</li>
          <li>在线沟通</li>
          <li>SEO优化</li>
          <li>全国领先的供求信息商贸平台</li>
          <li>PC端营销网站</li>
          <li class="yeah-sc4-links-no">/</li>
        </ul>
        <a class="yeah-btn yeah-btn-sc41" href="http://www.yeahsite.com/register" target="_blank">马上开通</a>
        <div class="yeah-sc4-icon"><i class="iconfont icon-kehujigongyingshangguanli"></i></div>
      </div>
    </div>
  </div>
</div>

<div class="yeah-sc yeah-sc5">
  <div class="yeah-txt yeah-txt-sc5">
    <h2 class="yeah-h2">成功案例</h2>
    <p class="yeah-h2-desp">海量模板，行业细分，打造精美网站，全国10万企业和个人的共同选择</p>
  </div>
  <div class="yeah-sc5-list">
    <ul class="clearfix yeah-sc5-wp">
      <li class="yeah-sc5-item yeah-sc5-type1">
      <img src="assets/v5/yeahsite-new/section4-type1-1.jpg" height="506" width="586" alt="">
      <div class="yeah-sc5-qrcode"><img src="assets/v5/yeahsite-new/section4-qrcode1-1.png" height="280" width="280" alt=""></div>
      </li>
      <li class="yeah-sc5-item yeah-sc5-type2">
      <img src="assets/v5/yeahsite-new/section4-type2-1.jpg" height="253" width="575" alt="">
      <div class="yeah-sc5-qrcode"><img src="assets/v5/yeahsite-new/section4-qrcode2-1.png" height="280" width="280" alt=""></div>
      </li>
      <li class="yeah-sc5-item yeah-sc5-type3">
      <img src="assets/v5/yeahsite-new/section4-type3-1.jpg" height="253" width="575" alt="">
      <div class="yeah-sc5-qrcode"><img src="assets/v5/yeahsite-new/section4-qrcode3-1.png" height="280" width="280" alt=""></div>
      </li>

      <li class="yeah-sc5-item yeah-sc5-type1">
      <img src="assets/v5/yeahsite-new/section4-type1-2.jpg" height="506" width="586" alt="">
      <div class="yeah-sc5-qrcode"><img src="assets/v5/yeahsite-new/section4-qrcode1-2.png" height="280" width="280" alt=""></div>
      </li>
      <li class="yeah-sc5-item yeah-sc5-type2">
      <img src="assets/v5/yeahsite-new/section4-type2-2.jpg" height="253" width="575" alt="">
      <div class="yeah-sc5-qrcode"><img src="assets/v5/yeahsite-new/section4-qrcode2-2.png" height="280" width="280" alt=""></div>
      </li>
      <li class="yeah-sc5-item yeah-sc5-type3">
      <img src="assets/v5/yeahsite-new/section4-type3-2.jpg" height="253" width="575" alt="">
      <div class="yeah-sc5-qrcode"><img src="assets/v5/yeahsite-new/section4-qrcode3-2.png" height="280" width="280" alt=""></div>
      </li>

      <li class="yeah-sc5-item yeah-sc5-type1">
      <img src="assets/v5/yeahsite-new/section4-type1-3.jpg" height="506" width="586" alt="">
      <div class="yeah-sc5-qrcode"><img src="assets/v5/yeahsite-new/section4-qrcode1-3.png" height="280" width="280" alt=""></div>
      </li>
      <li class="yeah-sc5-item yeah-sc5-type2">
      <img src="assets/v5/yeahsite-new/section4-type2-3.jpg" height="253" width="575" alt="">
      <div class="yeah-sc5-qrcode"><img src="assets/v5/yeahsite-new/section4-qrcode2-3.png" height="280" width="280" alt=""></div>
      </li>
      <li class="yeah-sc5-item yeah-sc5-type3">
      <img src="assets/v5/yeahsite-new/section4-type3-3.jpg" height="253" width="575" alt="">
      <div class="yeah-sc5-qrcode"><img src="assets/v5/yeahsite-new/section4-qrcode3-3.png" height="280" width="280" alt=""></div>
      </li>
    </ul>
  </div>
  <div class="yeah-sc5-msg">
    <p class="yeah-sc5-slogn">轻松建站，链接客户零距离</p>
    <a class="yeah-btn yeah-btn-sc51" href="http://www.yeahsite.com/register" target="_blank">免费体验</a>
  </div>

</div>

<%= render 'footer_v5' %>
