html, body {
	height: 100%
}
body {
	font-size: 12px;
	font-family: arial, "\5FAE\8F6F\96C5\9ED1";
	-webkit-text-size-adjust: none;
	background-size: 100%;
	background: #e7e7e7;
}
body, p, form, h1, h2, h3, h4, h5, h6, ul, ol, li, section, div, * {
	padding: 0;
	margin: 0
}
ul, ol, li {
	list-style: none
}
img {
	border: 0
}
a {
	text-decoration: none;
	display: inline-block;
	cursor:pointer;
}
video {
	display: inline-block;
}
em,i{
	font-style: normal;
}
img {
	-ms-interpolation-mode: bicubic;
}
h1,h2,h3{ color:#333;}
h1 {
	/*-webkit-text-stroke: 1px #fff;*/
	font: 18px "\5FAE\8F6F\96C5\9ED1";
}
h2 {
	/*-webkit-text-stroke: 1px #fff;*/
	font: 15px "\5FAE\8F6F\96C5\9ED1";
}
h3 {
	/*-webkit-text-stroke: 1px #fff;*/
	font: 12px "\5FAE\8F6F\96C5\9ED1";
}
i,em,b,span{ display:inline-block; font-style:normal;}
a.font-red{color:#d14464;}
.hide{ display:none;}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.break {
	word-spacing: normal;
	word-break: normal;
	word-break: break-all;
}
.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
}
.fixed-top {
	position: fixed;
	bottom: auto;
	top: 0px;
}
.fixed-bottom {
	position: fixed;
	bottom: 0px;
	top: auto;
}
.fixed-left {
	position: fixed;
	right: auto;
	left: 0px;
}
.fixed-right {
	position: fixed;
	right: 0px;
	left: auto;
}
.tleft {
	text-align: left;
}
.tright {
	text-align: right;
}
.tcenter {
	text-align: center;
}
.fl{ float:left;}
.fr{ float:right;}
/*table*/
.table {
	height: 100%;
	width: 100%;
	display: table;
	text-align: center;
}
.td {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
/*layout*/
.header,.body,.footer{
	width: 100%;
	float: left;
}
.warp{ width:1004px; margin: 0 auto; overflow: hidden;}
/*box*/
.box{ border-radius:5px; border:1px solid #bdbdbd; background:#fff; box-shadow:0 0 1px #ccc;}
.box textarea{ border:0;}
/*input*/
.input-text,
.input-date,
select{ border:1px solid #ccc; height:28px; line-height:28px;border-radius:5px; padding:0 10px;}
.input-text{}
select{ padding:5px 0;}
textarea{ padding:5px; line-height:20px; width:98%; overflow-x:hidden;resize:none;}
/*.btn*/
.btn{ height:29px; line-height:29px; color:#fff; background:url(/assets/bg.png) no-repeat; text-align:center;}
.btn-small{ width:54px; background-position:0 -376px;}
.btn-big{ width:87px; background-position:0 -318px;}
.btn-gray{ background-position:0 -434px;}
/*pluin-btn*/
.pluin-btn{ width:56px; height:34px; background:url(/assets/business.png) no-repeat;}
.pluin-open{ background-position:0 -807px;}
.pluin-close{background-position:0 -736px;}
/*header*/
.header{ background:#323436; height:59px; border-bottom:1px solid #19191a; overflow:hidden; box-shadow:0 0 5px #000;}
.logo{ background:url(/assets/bg.png) no-repeat 0 0; width:230px; height:51px; margin:9px 0 0 0; float:left;}
.nav-header{float:left; height:60px; margin:0 10px 0 0;}
.nav-header a,
.box-user{color:#888;line-height:60px;}
.nav-header a{ display:block; float:left; width:95px; text-align:center; font-size:16px;}
.nav-header a:hover,
.nav-header a.current{background:url(/assets/bg.png) no-repeat 0 -196px; color:#fff;}
.box-user{ float:right; height:59px; font-size:14px;}
.box-user a{ color:#8ebd3d;}
/*body*/
.body,
.header,
.footer{ float:left; width:100%;}
.body{ padding:13px 0;}
.wl{ width:207px;float:left; }
.wr{ width:774px;float:right; }
.wl,
.wr{ overflow:hidden;}
.wl .box{ margin:0 0 20px 0; width:197px; float:right;}
/*box-nav*/
.box-nav{ background:#f4f4f4; padding:10px 0;}
.box-nav li{ position:relative; background:url(/assets/bg.png) no-repeat 0 -728px; border-top:1px solid #d7d7d7; height:48px; line-height:48px; text-align:center;font-size:16px;}
.box-nav li:first-child{ border:0;}
.box-nav li a,
.box-nav li a span{width:100%; height:100%; display:block;color:#818181; text-align:left;}
.box-nav li a{ position:absolute; top:0; left:0;}
.box-nav li a span{background:url(/assets/bg.png) no-repeat right -540px; padding:0 0 0 30px; width:78%;}
.box-nav li:hover a,
.box-nav li.current a{ color:#fff; background:url(/assets/bg.png) no-repeat 0 -826px; left:-9px; top:-6px; width:207px; padding:6px 0 0 0;}
.box-nav li:hover a span,
.box-nav li.current a span{background-position:right -634px;color:#fff;padding:0 0 0 40px; width:70%;}
/*box-help*/
.box-help{ background:#fff;}
.box-help dt{ padding:0 25px; height:30px; line-height:30px; border-bottom:1px solid #bdbdbd; background:url(/assets/bg.png) no-repeat 0 -78px #f2f2f2;}
.box-help dd a{ background:url(/assets/point.png) no-repeat 10px 17px; padding:10px 10px 10px 20px;border-bottom:1px dashed #bdbdbd; width:160px; color:#666;}
.box-help dd a:last-child{ border:0;}
/*main*/
.main{ padding:24px 20px 25px 20px; height:auto; overflow:hidden; margin:0 0 10px 0;}
.main .hd{ position:relative; border-bottom:5px solid #323436; padding:0 10px; height:40px;}
.main .hd h1{color:#1883a6;background:url(/assets/title.png) no-repeat center bottom;  position:absolute; height:55px; line-height:55px; bottom:-5px; font-size:18px; padding:0 10px; cursor:pointer;}
.main .hd h1.uncurrent{ color:#3b3b3b; background:none;}
.main .bd{ padding:20px 0;}
.main .ft{ padding:20px 0;}
/*box-form*/
.box-form{ font-size:14px; color:#333;}
.box-form em{ color: #ff0000; padding:0 3px;}
.box-form p{ line-height:30px; padding:10px 0; overflow: hidden;}
.box-form p span{ width:100%;}
.box-form p .input-text{ width:50%;}
.box-form p .input-code{ width: 10%; margin: 0 10px 0 0;}
.box-form p select,
.box-form p .input-date{ width:20%; margin:0 10px 0 0;}
.box-form p.box{ height:300px; overflow-x:hidden; overflow-y:auto; margin:0 0 10px 0; width:97%; padding:10px;}

/*box-light*/
.box-light{ border:0; background:#e7e7e7; padding:10px; width:97%;}
/*box-upload*/
.box-upload{ width:100%; overflow:hidden;}
.upload-img,
.upload-btn{ float:left;}
.upload-img {width:160px; text-align:center;}
.upload-img span{ background:#55798c; height:89px; line-height:89px; width:100%; overflow:hidden;}
.upload-img img{ max-width:100%; vertical-align:middle;}
.upload-img i{ line-height:30px; color:#0087a0;}
.upload-btn{ padding:50px 0 0 20px;}
.box-file{ width:87px; height:29px; overflow:hidden; float:left; position:relative;}
.box-file input{ position:absolute; width:100%; height:100%; top:0; left:0;opacity:0;
filter:alpha(opacity=0);
-moz-opacity:0;
-khtml-opacity:0;}
.p-file{ line-height:29px; padding:0 10px;}
/*box-list*/
.box-list{}
.box-list ul{ width:100%; overflow:hidden;}
.box-list p{ padding:5px 0;}
/*box-table*/
.box-table table{border-radius:5px; border:1px solid #bdbdbd; text-align:center; font-size:14px;}
.box-table th,
.box-table td{ height:30px; line-height:30px;}
.box-table th{ background:#d4d4d4; color:#444444;}
.box-table td{border:1px solid #bdbdbd; color:#666; border-left:0; border-bottom:0; font-size:12px;}
.box-table td:last-child{ border-right:0;}
.box-table table a{ color:#79ac20; font-size:12px;}
.box-table p{ padding:0 0 10px 0; width:100%; float:left;}
.box-table p.p-btn{ padding:10px 0;}
/*poto-list*/
.poto-list li{ width:23%; margin:1%; float:left; text-align:center; font-size:14px;}
.poto-list .list-img{ width:100%; height:200px; background:#000; text-align:center; vertical-align:middle; overflow:hidden;}
.poto-list .list-img img{ max-height:100%; vertical-align:middle;}
.poto-list .list-txt{ padding:5px 0; line-height:20px;}
.poto-list a{ color:#8ebd3d;}
/*box-article*/
.box-article{color: #333;}
.box-article p{ line-height: 30px;color: #666; font-size: 14px;}
/*box-title*/
.box-title{ padding:0 0 15px 0; position: relative; width: 100%; height: auto; overflow: hidden; margin: -10px 0 0 0;}
.box-title span,
.box-title i{ width: 95%; display: block; float: left;}
.box-title b{ font-size: 20px; padding-bottom: 10px; font-weight: normal; float: left;}
.box-title span b:first-child{ width: 10%;}
.box-title span b:last-child{ width: 90%;}
.box-title i{ font-size: 14px;}
.box-title a{ position: absolute; right: 0; bottom: 15px; color: #ff0000; text-decoration: underline;}
/*plugin*/
.p-plugin{ height:34px; line-height:34px; color:#217a8b; font-weight:bold;}
.p-plugin.fl{ margin:0 10px 0 0;}
/*page*/
.page{text-align:right; float:right;}
.page .page-li a{ padding:0 10px; height:28px; line-height:28px; background:#fff; border:1px solid #ddd; display:inline-block; margin:0 -3px;}
.page .page-li a.first{ border-radius:5px 0 0 5px;}
.page .page-li a.last{ border-radius:0 5px 5px 0;}
.page .page-li a:hover,.page a.current{ background:#f5f5f5; color:#55798c}
.page span{ padding:0 5px;}
.page .input-text{ width:20px; margin:0 5px;}
/*footer*/
.footer{ background:#424242; border-top:1px solid #4e4e4e; border-bottom:1px solid #4b4b4b;}
.footer p{ line-height: 20px; color: #949393; float:right;height:70px; line-height:70px;}
.footer p.nav-ft{ float:left;}
.footer .nav-ft a{padding: 0 20px;color: #949393;}
/*pop*/
.pop{ position:fixed; z-index:100; display:none;}
.pop,
.pop-bg{width:100%; height:100%; top:0; left:0;}
.pop-bg{ position:absolute; background:#000;opacity:0.5;
filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity:0.5;}
.pop-bd{ z-index:200; width:20%; height:500px; top:50%; left:50%; margin:-260px 0 0 -15%; background:#eeeeee; position:absolute; border-radius:5px; padding:10px 5%; overflow:hidden;}
.pop-bd .box-form p .input-text{ width:100%;}
.pop .btn{ margin:0 20px 0 0;}
.pop .hd{ border-bottom:5px solid #323436; height:50px; background:url(/assets/bg.png) no-repeat 0 -492px;}