.menu_content {
	padding: 10% 0 0 0;
}
/*.success_content{padding: 100px 0 0;}*/
.success_content {
	padding: 20% 0 0;
}
.success_content .mess {
	width: 80%;
	background: #fff;
	border-radius: 5px 5px;
	margin: 0 auto;
	padding: 10px;
	position: relative;
}
.success_content .mess p.name {
	font-size: 12px;
	color: #444;
	line-height: 12px;
	vertical-align: middle;
	border-bottom: 2px dotted #c2c2c2;
	padding: 0 0 10px 0;
}
.success_content .mess p.name span {
	font-size: 16px;
	color: #e8645a;
	line-height: 16px;
}
.success_content .mess p.use {
	font-size: 12px;
	color: #888;
	line-height: 16px;
	vertical-align: middle;
	border-bottom: 2px dotted #c2c2c2;
	padding: 15px 0;
}
.success_content .mess p.rule {
	font-size: 12px;
	color: #888;
	line-height: 16px;
	vertical-align: middle;
	border-bottom: 2px dotted #c2c2c2;
	padding: 15px 0;
}
.success_content .mess p.rule span {
	display: block;
	color: #444;
}
.success_content .mess p.bot {
	position: absolute;
	left: 0;
	bottom: -7px;
	width: 100%;
	height: 7px;
	background: url(/assets/menu/bg_but_bgf.png) repeat-x;
	padding: 0;
	border: none;
	background-size:contain;
}
.success_content .mess p.map {
	width: 100%;
	padding: 15px 0 0;
}
.success_content .but {
	padding: 30px 0 0;
	width: 96%;
	margin: 0 auto;
	text-align:center;
}
.success_content .but input{ max-width:100%;}
.success_content {
	position: relative;
}
.success_content .arrow_right {
	display: block;
	width: 60px;
	height: 50px;
	background: url(/assets/menu/arrow_right.png) no-repeat;
	position: absolute;
	right: -20px;
	top: -20px;
	background-size:contain;
}
.menu_content .mess2 {
	width: 90%;
	background: #fff;
	border-radius: 5px 5px;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 10px;
}
.jiazai {
	width: 75%;
	margin: 0 auto;
	padding: 6px;
	text-align: center;
}
.jiazai p span {
	position: relative;
	top: -5px;
	color: #b0b0b0;
	font-size: 12px;
	padding-left: 5px;
}
.jiazai p ing{ max-height:14px;}
.menu_list2 div.outer {
	border-bottom: 1px dashed #c2c2c2;
	padding: 10px 0;
}
.menu_list2 div .c_img {
	float: left;
	width: 40%;
}
.menu_list2 div .c_img img {
	float: left;
	max-width: 100%;
}
.menu_list2 div .c_info {
	float: right;
	width: 60%;
	text-indent: 0;
	padding-left: 0;
	color: #666;
	display: block;
}
.menu_list2 div.c_info h1 {
	text-indent: 0;
	color: #444444;
	font-size: 12px;
	line-height: 14px;
	padding-left: 10px;
	margin-bottom: 5px;
}
.menu_list2 div.c_info p {
	text-indent: 0;
	color: #888;
	font-size: 12px;
	line-height: 18px;
	padding-left: 10px;
}
.menu_list2 div.c_info p strong {
	font-weight: normal;
	color: #444;
}
.menu_list2 div.c_info p strong.price_a {
	font-weight: normal;
	text-decoration: line-through;
}
.menu_list2 div.c_info p strong.price_b {
	font-weight: normal;
	color: #e8645a;
}
.menu_list2 div.outer h1 {
	position: relative;
	font-weight: normal;
	padding:0 10% 0 0;
}
.menu_list2 div.outer h1 .close-ico {
	position: absolute;
	right: -5px;
	top: 0px;
	display: block;
	height: 21px;
	width: 60px;
}
.menu_list2 div.outer h1 .close-ico a {
	display: block;
	width: 20px;
	height: 20px;
	float: right;
	padding-left: 6px;
	text-indent: -99999em;
	overflow:hidden;
}
.menu_list2 div.outer h1 .close-ico a.ico_a {
	background: url(/assets/menu/cai_no.jpg) no-repeat;
	background-size:contain;
}
.menu_list2 div.outer h1 .close-ico a.ico_b {
	background: url(/assets/menu/cai_ok.jpg) no-repeat;
	background-size:contain;
}
.e8645a {
	color: #e8645a;
}
.c888 {
	color: #888;
}
.c444 {
	color: #444;
}
.btn_c {
	position: absolute;
	right: 0;
	top: 50%;
	display: block;
	width: 60px;
	height: 23px;
	line-height: 23px;
	background: url(/assets/menu/btn_bg3.png) no-repeat;
	font-size: 14px;
	color: #fff;
	text-shadow: 1px 1px 1px #999;
	text-align: center;
	background-size:60px 23px;
	margin:-12px 0 0 0;
}
.mess2 .f_left {
	float: left;
	background: url(/assets/menu/ico_4.png) no-repeat left center;
	height: 30px;
	position: relative;
	text-indent: 35px;
	position: relative;
	left: -10px;
	background-size:contain;
	width:35%;
}
.mess2 .f_left h1 {
	color: #888;
	font-size: 12px;
	padding-top: 10px;
}
.mess2 .f_left p {
	text-align: center;
}
.mess2 .f_left .sub_nav_a {
	position: absolute;
	width:100px; text-align:center;
}
.mess2 .f_left img{ max-height:20px; margin:5px 0 0 0;}
.mess2 .r_right {
	float: right;
	position: relative;
	padding-left: 5px;
	width: 63%;
	border-left: 1px dashed #c2c2c2;
	overflow:hidden;
}
.mess2 .r_right .t_b {
	font-size: 12px;
	line-height: 70px;
	color: #888;
}
.mess2 .r_right .gwc {
	display: block;
	background: url(/assets/menu/che.png) no-repeat left center;
	width: 30px;
	height: 32px;
	float: left;
	margin-top: 25px;
	margin-right: 4px;
	position: relative;
	background-size:contain;
}
.mess2 .r_right .gwc .num {
	display: block;
	color: #fff;
	text-align: center;
	background: url(/assets/menu/che2.png) no-repeat;
	width: 23px;
	height: 28px;
	line-height:24px;
	position: absolute;
	right: 0px;
	top: -18px;
	background-size:contain;
}
.mess2 .f_left {
	position: relative;
}
.sub_nav_a {
	background: #76caca;
	border: 1px solid #6cbbbb;
	padding: 4px;
	border-radius: 5px 5px;
	position: absolute;
	left: 0;
	top: 50px;
}
.sub_nav_a p a {
	color: #888;
}
.sub_nav_a p {
	background: #fff;
	border: 1px solid #6cbbbb;
	border-radius: 5px 5px;
	padding: 3px 3px;
	text-align: center;
	color: #888;
	font-size: 12px;
	width: 95%;
	padding-left: 0;
	text-indent: 0;
	margin-bottom: 6px;
}
